Repository 3liz/lizmap-web-client, pull requests merged in 2019-10, with the labels that each got.

#1339 Service - Add WWW-Authenticate header on 401 for external clients
  lizmap/modules/lizmap/controllers/service.classic.php
Labels: authentication, enhancement

#1336 Editor: Split tool
  lizmap/modules/lizmap/controllers/edition.classic.php
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/modules/view/locales/en_US/edition.UTF-8.properties
  lizmap/modules/view/locales/fr_FR/dictionnary.UTF-8.properties
  lizmap/modules/view/locales/fr_FR/edition.UTF-8.properties
  lizmap/modules/view/templates/edition_form.tpl
  lizmap/modules/view/templates/map_edition.tpl
  lizmap/www/css/images/qgis_sprite.png
  lizmap/www/css/map.css
  lizmap/www/js/edition.js
Labels: data editor, enhancement

#1350 Get layer by typename to filter data by user/group. Fix #1328
  lizmap/modules/lizmap/controllers/service.classic.php
Labels: bug

#1351 Improve the edition of parent feature
  lizmap/www/js/attributeTable.js
  lizmap/www/js/edition.js
Labels: bug, data editor

#1358 Custom html projects page
  lizmap/modules/admin/classes/config.listener.php
  lizmap/modules/admin/controllers/landing_page_content.classic.php
  lizmap/modules/admin/forms/landing_page_content.form.xml
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/landing_page_content.tpl
  lizmap/modules/view/controllers/default.classic.php
  lizmap/modules/view/templates/main.tpl
  lizmap/var/config/mainconfig.ini.php
  lizmap/www/js/ckeditor5/ckeditor_ckfullandmedia.js
Labels: doc-needed, new feature
