Repository 3liz/lizmap-web-client, pull requests merged in 2019-04, with the labels that each got.

#1170 Fix various bug on qgisform upload
  lizmap/modules/lizmap/classes/qgisForm.class.php
Labels: bug

#1179 CSS - Images: use exif data to display correct orientation
  lizmap/www/css/map.css
Labels: enhancement

#1178 Validation using the keyboard
  lizmap/install/qgis/media/js/montpellier/displayMessageAtStartup.js.example
Labels: enhancement

#1175 Better display of top menu bar on mobile
  lizmap/modules/lizmap/templates/user_menu.tpl
Labels: mobile, user interface

#1180 UI: add an item 'administration' on the top menu
  lizmap/modules/lizmap/templates/user_menu.tpl
  lizmap/modules/view/locales/en_US/default.UTF-8.properties
  lizmap/www/css/images/sprite_20_tools.png
  lizmap/www/themes/default/css/images/sprite_20_tools.png
  lizmap/www/themes/default/css/main.css
Labels: enhancement, user interface

#1183 Update jQuery File Upload v9.28.0
  lizmap/www/js/fileUpload/jquery.fileupload.js
  lizmap/www/js/fileUpload/jquery.iframe-transport.js
Labels: data editor

#1203 Replace date.js by moment.js Fix #593
  lizmap/modules/view/controllers/lizMap.classic.php
  lizmap/www/js/date.js
  lizmap/www/js/moment.js
  lizmap/www/js/timemanager.js
Labels: user interface

#1206 More compact print UI Fix #1151
  lizmap/modules/view/templates/map_print.tpl
  lizmap/www/css/map.css
  lizmap/www/js/map.js
Labels: user interface

#1207 [BUGFIX] Unique values indicate wrong column values
  lizmap/www/js/edition.js
Labels: data editor

#1208 Edition: Add color widget
  lizmap/modules/lizmap/classes/qgisForm.class.php
Labels: data editor

#1202 QGIS Project 3 Edition config compatibility
  lizmap/modules/lizmap/classes/qgisForm.class.php
  lizmap/modules/lizmap/classes/qgisFormControl.class.php
Labels: data editor

#1187 [FEATURE] Filter - search among a db layer with a form
  lizmap/install/qgis/edition/events.gpkg
  lizmap/install/qgis/events.qgs
  lizmap/install/qgis/events.qgs.cfg
  lizmap/modules/filter/classes/filter.listener.php
  lizmap/modules/filter/classes/filterConfig.class.php
  lizmap/modules/filter/classes/filterDatasource.class.php
  lizmap/modules/filter/classes/filterDockable.listener.php
  lizmap/modules/filter/controllers/default.classic.php
  lizmap/modules/filter/controllers/service.classic.php
  lizmap/modules/filter/events.xml
  lizmap/modules/filter/install/install.php
  lizmap/modules/filter/install/upgrade.php
  lizmap/modules/filter/locales/en_US/filter.UTF-8.properties
  lizmap/modules/filter/locales/fr_FR/filter.UTF-8.properties
  lizmap/modules/filter/module.xml
  lizmap/modules/filter/templates/filter_dock.tpl
  lizmap/modules/filter/urls.xml
  lizmap/modules/lizmap/classes/lizmapProject.class.php
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/var/config/mainconfig.ini.php
  lizmap/www/css/filter-icon-dark.png
  lizmap/www/css/filter-icon-white.png
  lizmap/www/css/filter.css
  lizmap/www/js/attributeTable.js
  lizmap/www/js/filter.js
Labels: enhancement

#1213 allow setting the layers opacity levels in custom JS
  lizmap/www/js/switcher-layers-actions.js
Labels: enhancement
