Repository 3liz/lizmap-web-client, pull requests merged in 2019-12, with the labels that each got.

#1410 [Bugfix] Add HTTP code in service controller responses
  lizmap/modules/lizmap/controllers/service.classic.php
Labels: bug

#1398 Allow multiple atlas definition
  lizmap/modules/lizmap/classes/lizmapProject.class.php
  lizmap/www/js/atlas.js
Labels: enhancement

#1415 Test JSON mime type correctly
  lizmap/modules/lizmap/classes/qgisServer.class.php
Labels: bug

#1420 Add div to ease override of geobookmark text
  lizmap/modules/view/templates/map_geobookmark.tpl
Labels: enhancement

#1421 Add missing dollars for some variables
  lizmap/modules/proj4php/classes/proj4phpCommon.php
  lizmap/modules/proj4php/classes/proj4phpDatum.php
  lizmap/modules/proj4php/classes/proj4phpProj.php
  lizmap/modules/proj4php/classes/projCode/aea.php
  lizmap/modules/proj4php/classes/projCode/aeqd.php
  lizmap/modules/proj4php/classes/projCode/cass.php
  lizmap/modules/proj4php/classes/projCode/gnom.php
  lizmap/modules/proj4php/classes/projCode/gstmerc.php
  lizmap/modules/proj4php/classes/projCode/krovak.php
  lizmap/modules/proj4php/classes/projCode/laea.php
  lizmap/modules/proj4php/classes/projCode/merc.php
  lizmap/modules/proj4php/classes/projCode/nzmg.php
  lizmap/modules/proj4php/classes/projCode/omerc.php
  lizmap/modules/proj4php/classes/projCode/ortho.php
  lizmap/modules/proj4php/classes/projCode/stere.php
Labels: bug

#1426 Fix #1386
  lizmap/www/css/map.css
Labels: bug

#1433 Add image upload in landing page content
  .gitignore
  lizmap/modules/admin/controllers/upload_image.classic.php
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/www/css/main.css
  lizmap/www/js/ckeditor5/ckeditor_ckfullandmedia.js
  lizmap/www/live/images/home/.empty
Labels: enhancement

#1419 Fix error in qgisVectorLayer when geometrytype contain parenthesis
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
Labels: bug

#1436 Fix project cache with windows
  lizmap/modules/lizmap/classes/lizmap.class.php
  lizmap/modules/lizmap/classes/lizmapProject.class.php
  lizmap/modules/lizmap/classes/qgisProject.class.php
Labels: map viewer, windows

#1440 Fix #1434
  lizmap/www/js/view.js
Labels: bug
