Repository 3liz/lizmap-web-client, pull requests merged in 2020-07, with the labels that each got.

#1706 Vector layer datasource - Add dedicated datasource parser covered by unit tests
  Makefile
  lizmap/modules/filter/classes/filterDatasource.class.php
  lizmap/modules/lizmap/classes/lizmapProject.class.php
  lizmap/modules/lizmap/classes/qgisProject.class.php
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/classes/qgisVectorLayerDatasource.class.php
  lizmap/modules/lizmap/module.xml
  tests/units/edition/qgisVectorLayerDatasourceTest.php
Labels: tests

#1709 Tests - Add php unit test in Makefile
  Makefile
Labels: tests

#1718 Use QGIS project CRS for mouse position only when output format is 'm'
  lizmap/www/OpenLayers-2.13/lib/OpenLayers/Control/lizmapMousePosition.js
Labels: bug

#1715 Fix 3.2: Wrong UPDATE query sent to PostgreSQL, data loss
  lizmap/install/qgis/media/pdf/transport_map.pdf
  lizmap/modules/lizmap/classes/qgisForm.class.php
Labels: High priority, bug, data editor

#1716 Fix 3.3: Wrong UPDATE query sent to PostgreSQL, data loss
  lizmap/modules/lizmap/classes/qgisAttributeEditorElement.class.php
  lizmap/modules/lizmap/classes/qgisForm.class.php
Labels: High priority, bug, data editor

#1703 Better digitizing + redlining
  assets/src/components/Digitizing.js
  assets/src/components/SelectionTool.js
  assets/src/images/svg/edit.svg
  assets/src/images/svg/eraser.svg
  assets/src/images/svg/file-download.svg
  assets/src/images/svg/file-upload.svg
  assets/src/images/svg/freehand.svg
  assets/src/images/svg/line.svg
  assets/src/images/svg/mActionSelectLine.svg
  assets/src/images/svg/mActionSelectPoint.svg
  assets/src/images/svg/pencil.svg
  assets/src/images/svg/point.svg
  assets/src/images/svg/polygon.svg
  assets/src/images/svg/radius.svg
  assets/src/images/svg/rectangle.svg
  assets/src/modules/Digitizing.js
  assets/src/modules/SelectionTool.js
  lizmap/modules/lizmap/classes/lizmapProject.class.php
  lizmap/modules/lizmap/controllers/service.classic.php
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/modules/view/locales/en_US/map.UTF-8.properties
  lizmap/modules/view/templates/map_draw.tpl
  lizmap/www/assets/css/map.css
  lizmap/www/assets/js/map.js
Labels: enhancement, new feature, printing, sponsored development

#1741 Fix regression in upload files: file path loss
  lizmap/modules/lizmap/classes/qgisAttributeEditorElement.class.php
Labels: data editor, regression
