Repository 3liz/lizmap-web-client, pull requests merged in 2020-10, with the labels that each got.

#1811 fixing custom dates bug
  lizmap/modules/lizmap/classes/qgisForm.class.php
  lizmap/modules/lizmap/classes/qgisFormControl.class.php
Labels: bug

#1821 Map menu UI more mobile friendly (hamburger menu)
  lizmap/modules/view/templates/map.tpl
  lizmap/modules/view/templates/map_menu.tpl
  lizmap/modules/view/templates/map_switcher.tpl
  lizmap/modules/view/templates/view.tpl
  lizmap/www/assets/css/map.css
  lizmap/www/assets/css/media.css
  lizmap/www/assets/js/map.js
  lizmap/www/assets/js/switcher-layers-actions.js
Labels: enhancement, mobile, user interface

#1822 Log system refactor
  lizmap/modules/lizmap/classes/lizmap.class.php
  lizmap/modules/lizmap/classes/lizmapLog.listener.php
  lizmap/modules/lizmap/classes/lizmapLogConfig.class.php
  lizmap/modules/lizmap/classes/lizmapLogItem.class.php
  lizmap/modules/lizmap/lib/App/AppContextInterface.php
  lizmap/modules/lizmap/lib/App/JelixContext.php
  lizmap/modules/lizmap/lib/Logger/Config.php
  lizmap/modules/lizmap/lib/Logger/Item.php
  tests/units/classes/Log/ConfigForTests.php
  tests/units/classes/Log/ConfigTest.php
  tests/units/classes/Log/ItemTest.php
  tests/units/classes/Project/TestContext.php
Labels: tests

#1855 Load CSS common to repositories in same directory
  lizmap/modules/view/controllers/lizMap.classic.php
  lizmap/modules/view/controllers/media.classic.php
Labels: bug, doc-needed

#1791 Optimization : cache translate query
  lizmap/modules/view/controllers/lizMap.classic.php
  lizmap/modules/view/controllers/translate.classic.php
Labels: enhancement

#1854 Don't display filter when no data
  lizmap/www/js/filter.js
Labels: bug

#1870 Filter button hidden when no filter in the config
  lizmap/www/assets/js/filter.js
  lizmap/www/assets/js/map.js
  lizmap/www/assets/js/timemanager.js
Labels: bug

#1861 QgisFormControl tests
  lizmap/modules/lizmap/lib/App/AppContextInterface.php
  lizmap/modules/lizmap/lib/App/JelixContext.php
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  lizmap/modules/lizmap/lib/Form/QgisFormControl.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  tests/units/classes/Form/QgisFormControlForTests.php
  tests/units/classes/Form/QgisFormControlTest.php
  tests/units/classes/Form/QgisFormForTests.php
  tests/units/classes/Form/QgisFormTest.php
  tests/units/classes/Form/QgisLayerForTests.php
  tests/units/classes/Form/forms/attributeEditorTest.qgs
  tests/units/classes/Form/forms/montpellier.line.form.json
  tests/units/classes/Form/forms/test.date.form.json
  tests/units/classes/Project/ProjectForTests.php
  tests/units/classes/Project/ProjectTest.php
  tests/units/classes/Project/QgisProjectTest.php
  tests/units/classes/Project/TestContext.php
Labels: tests

#1877 [Bugfix] Get form modified controls
  lizmap/modules/lizmap/classes/qgisForm.class.php
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/controllers/edition.classic.php
Labels: bug, data editor

#1878 [Bugfix] Edition: On insert failed keep the geometry
  lizmap/www/js/edition.js
Labels: bug, data editor, sponsored development

#1882 fixing repo creation bug
  lizmap/modules/lizmap/classes/lizmap.class.php
  lizmap/modules/lizmap/classes/lizmapServices.class.php
Labels: administration pages, bug

#1869 [Feature] Filter by user on edition only - use in edition
  lizmap/modules/lizmap/classes/lizmapProject.class.php
  lizmap/modules/lizmap/classes/qgisExpressionUtils.class.php
  lizmap/modules/lizmap/classes/qgisForm.class.php
  lizmap/modules/lizmap/classes/qgisFormValueRelationDynamicDatasource.class.php
  lizmap/modules/lizmap/controllers/edition.classic.php
  lizmap/modules/view/locales/en_US/edition.UTF-8.properties
Labels: data editor, new feature, sponsored development

#1865 adding autocompletion for jAuthdb
  .php_cs.dist
  lib/jelix-admin-modules/jauthdb_admin/controllers/default.classic.php
  lib/jelix-admin-modules/jauthdb_admin/templates/crud_list.tpl
  lib/jelix-admin-modules/jauthdb_admin/urls.xml
  lib/jelix-www/js/authdb_admin.js
  lizmap/var/themes/default/jauthdb_admin/crud_list.tpl
  lizmap/www/assets/jelix/js/authdb_admin.js
Labels: administration pages, enhancement, jelix

#1894 Edition, manage children: Do not activate combobox or autocomplete on disabled select
  lizmap/install/qgis/montpellier.qgs
  lizmap/www/js/edition.js
Labels: bug, data editor

#1876 [Bugfix] Use form check in Ajax Save new feature
  lizmap/modules/lizmap/controllers/edition.classic.php
Labels: bug, data editor

#1897 Setting non-editable field ReadOnly in Services config
  lizmap/modules/admin/controllers/config.classic.php
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/locales/fr_FR/admin.UTF-8.properties
Labels: administration pages, bug

#1895 Fix edition manage children value
  extra-modules/lizmapdemo/qgis-projects/demoqgis/montpellier.qgs
  lizmap/www/assets/js/edition.js
Labels: bug, data editor

#1893 Fix: Track fields changes for creation
  lizmap/modules/lizmap/classes/qgisForm.class.php
  lizmap/modules/lizmap/controllers/edition.classic.php
Labels: bug, data editor
