Repository 3liz/lizmap-web-client, pull requests merged in 2020-06, with the labels that each got.

#1651 Add env variable for customising php
  docker/README.md
  docker/lizmap-entrypoint.sh
Labels: docker

#1664 [Bugfix] Return empty GetFeatureInfoHtml when bad xml or empty layer
  lizmap/modules/lizmap/controllers/service.classic.php
Labels: bug

#1669 Fix some PHP notices and warnings
  lizmap/modules/lizmap/controllers/service.classic.php
  lizmap/modules/lizmap/templates/user_menu.tpl
  lizmap/modules/view/classes/popup.class.php
Labels: bug

#1667 Fix: Wrong UPDATE query sent to PostgreSQL, data loss
  lizmap/modules/lizmap/classes/qgisForm.class.php
Labels: High priority, bug, data editor

#1677 Add OL2 build for Lizmap. Remove overloaded files
  lizmap/responses/myHtmlMapResponse.class.php
  lizmap/www/assets/js/OpenLayers-2.13/OpenLayers.js
  lizmap/www/assets/js/OpenLayers-2.13/lib/OpenLayers/Control/Attribution.js
  lizmap/www/assets/js/OpenLayers-2.13/lib/OpenLayers/Control/HighlightFeature.js
  lizmap/www/assets/js/OpenLayers-2.13/lib/OpenLayers/Control/Scale.js
  lizmap/www/assets/js/OpenLayers-2.13/lib/OpenLayers/Control/ScaleBar.js
  lizmap/www/assets/js/OpenLayers-2.13/lib/OpenLayers/Control/ScaleLine.js
  lizmap/www/assets/js/OpenLayers-2.13/lib/OpenLayers/Control/lizmapMousePosition.js
  lizmap/www/assets/js/OpenLayers-2.13/lib/OpenLayers/Events.js
  lizmap/www/assets/js/OpenLayers-2.13/lib/OpenLayers/Format/SLD/v1_1_0.js
  lizmap/www/assets/js/OpenLayers-2.13/lib/OpenLayers/Format/WKT.js
  lizmap/www/assets/js/OpenLayers-2.13/lib/OpenLayers/Format/XML.js
  lizmap/www/assets/js/OpenLayers-2.13/lib/OpenLayers/Geometry/Polygon.js
  lizmap/www/assets/js/OpenLayers-2.13/lib/OpenLayers/Lang/en.js
  lizmap/www/assets/js/OpenLayers-2.13/lib/OpenLayers/Lang/fr.js
  lizmap/www/assets/js/OpenLayers-2.13/lib/OpenLayers/Lang/it.js
  lizmap/www/assets/js/OpenLayers-2.13/lib/OpenLayers/Popup/lizmapAnchored.js
Labels: enhancement

#1685 [Bugfix] lizmapOGCRequest::process check request is a method
  lizmap/modules/lizmap/classes/lizmapOGCRequest.class.php
Labels: bug

#1687 [Bugfix] Lizmap service controller: protect unpublic method
  lizmap/modules/lizmap/controllers/service.classic.php
Labels: bug

#1682 Move wms request part 1
  lizmap/modules/lizmap/classes/lizmapWMSRequest.class.php
  lizmap/modules/lizmap/controllers/service.classic.php
Labels: enhancement

#1684 Move DescribeFeatureType to lizmapWFSRequest
  lizmap/modules/lizmap/classes/lizmapWFSRequest.class.php
  lizmap/modules/lizmap/controllers/service.classic.php
Labels: enhancement

#1686 Parse WFSCapabilities w/o jQuery.
  assets/src/modules/Lizmap.js
  assets/src/modules/SelectionTool.js
  lizmap/www/assets/js/attributeTable.js
  lizmap/www/assets/js/map.js
  lizmap/www/assets/js/switcher-layers-actions.js
Labels: bug

#1690 [Bugfix] Request not supported: code and message
  lizmap/modules/lizmap/classes/lizmapOGCRequest.class.php
  lizmap/modules/lizmap/controllers/service.classic.php
Labels: bug

#1692 [Geolocation] Let user set bind interval
  assets/src/components/Geolocation.js
  assets/src/modules/Geolocation.js
  lizmap/www/assets/css/map.css
Labels: enhancement

#1689 Move wms request part 2
  lizmap/modules/lizmap/classes/lizmapOGCRequest.class.php
  lizmap/modules/lizmap/classes/lizmapWMSRequest.class.php
  lizmap/modules/lizmap/controllers/service.classic.php
Labels: enhancement

#1640 Make digitizing a web component
  assets/src/components/Digitizing.js
  assets/src/components/SelectionTool.js
  assets/src/index.js
  assets/src/modules/Digitizing.js
  assets/src/modules/Lizmap.js
  assets/src/modules/SelectionTool.js
  extra-modules/lizmapdemo/qgis-projects/demoqgis/montpellier.qgs
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/www/assets/css/map.css
  lizmap/www/assets/js/dataviz/dataviz.js
Labels: enhancement, sponsored development

#1695 Display mouse position in QGIS project's projection
  lizmap/www/OpenLayers-2.13/lib/OpenLayers/Control/lizmapMousePosition.js
  lizmap/www/js/map.js
Labels: enhancement

#1696 Use Lizmap OGC Request builder in lizmap service controller
  lizmap/modules/lizmap/classes/lizmapOGCRequest.class.php
  lizmap/modules/lizmap/classes/lizmapWFSRequest.class.php
  lizmap/modules/lizmap/classes/lizmapWMSRequest.class.php
  lizmap/modules/lizmap/controllers/service.classic.php
Labels: enhancement

#1698 Fix lizmapWFSRequest parameters access
  lizmap/modules/lizmap/classes/lizmapWFSRequest.class.php
Labels: enhancement
