Repository 3liz/lizmap-web-client, pull requests merged in 2020-02, with the labels that each got.

#1494 Patch filter
  lizmap/www/js/filter.js
Labels: bug

#1471 Add angle measurement tool
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/modules/view/locales/en_US/map.UTF-8.properties
  lizmap/modules/view/templates/map_measure.tpl
  lizmap/www/js/map.js
Labels: new feature

#1497 Set as maximal date the max date of the features
  lizmap/www/js/filter.js
Labels: bug

#1496 [BUGFIX] Hide header with parameter h=0 in landing page & use it for maps url
  lizmap/modules/view/controllers/default.classic.php
  lizmap/modules/view/templates/view.tpl
  lizmap/modules/view/zones/main_view.zone.php
Labels: enhancement

#1515 [Bugfix] Test QGIS Server in view/app/metatdata
  lizmap/modules/view/controllers/app.classic.php
Labels: QGIS Server

#1540 Image compression to save bandwidth
  icon.png
  lizmap/modules/view/controllers/media.classic.php
  lizmap/www/assets/css/images/123_click.png
  lizmap/www/assets/css/images/glyphicons-halflings.png
  lizmap/www/assets/css/images/qgis_sprite.png
  lizmap/www/assets/css/images/sprite_18.png
  lizmap/www/assets/css/images/sprite_20.png
  lizmap/www/assets/css/images/sprite_20_tools.png
  lizmap/www/assets/css/images/sprite_30.png
  lizmap/www/assets/css/images/sprite_menu.png
  lizmap/www/assets/css/images/sprite_menu_tools.png
  lizmap/www/assets/css/main.css
  lizmap/www/assets/css/map.css
  lizmap/www/themes/default/css/images/123_click.png
  lizmap/www/themes/default/css/images/sprite_18.png
  lizmap/www/themes/default/css/images/sprite_20.png
  lizmap/www/themes/default/css/images/sprite_20_tools.png
  lizmap/www/themes/default/css/images/sprite_menu.png
  lizmap/www/themes/default/css/images/sprite_menu_tools.png
  lizmap/www/themes/default/css/img/250x250_mappemonde.jpg
  lizmap/www/themes/default/css/img/250x250_mappemonde.png
  lizmap/www/themes/default/css/img/header-background-medium.jpg
  lizmap/www/themes/default/css/img/header-background-medium.png
  lizmap/www/themes/default/css/img/loading.gif
  lizmap/www/themes/default/css/img/logo.png
  lizmap/www/themes/default/css/img/logo_footer.png
  lizmap/www/themes/default/css/img/overview_replacement.png
  lizmap/www/themes/default/css/main.css
Labels: enhancement

#1498 GeolocationSurvey component for Permagro
  assets/package.json
  assets/src/components/Geolocation.js
  assets/src/components/GeolocationSurvey.js
  assets/src/index.js
  assets/src/modules/Edition.js
  assets/src/modules/Geolocation.js
  assets/src/modules/GeolocationSurvey.js
  assets/src/modules/Lizmap.js
  assets/src/utils/EventDispatcher.js
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/modules/view/templates/map_edition.tpl
  lizmap/www/assets/css/map.css
  lizmap/www/assets/css/media.css
  lizmap/www/assets/js/edition.js
Labels: new feature

#1536 [Bugfix] Read only form control cannot be required
  lizmap/modules/lizmap/classes/qgisForm.class.php
  lizmap/modules/lizmap/classes/qgisFormControl.class.php
Labels: bug, data editor
