Repository 3liz/lizmap-web-client, pull requests merged in 2020-04, with the labels that each got.

#1573 Snapping while editing
  assets/src/components/GeolocationSurvey.js
  assets/src/components/Snapping.js
  assets/src/images/svg/refresh.svg
  assets/src/index.js
  assets/src/modules/Edition.js
  assets/src/modules/Lizmap.js
  assets/src/modules/Map.js
  assets/src/modules/Snapping.js
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/modules/view/locales/en_US/edition.UTF-8.properties
  lizmap/modules/view/templates/map_edition.tpl
  lizmap/www/assets/css/map.css
  lizmap/www/assets/js/edition.js
Labels: new feature

#1582 Fix support of boolean values in qgis form properties with Qgis 3
  lizmap/modules/lizmap/classes/qgisFormControl.class.php
Labels: bug, data editor

#1585 Fetch init queries in parallel
  lizmap/www/assets/js/map.js
Labels: enhancement

#1600 Add an hidden table to popup with children
  lizmap/modules/lizmap/controllers/service.classic.php
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/modules/view/templates/popup.tpl
  lizmap/modules/view/templates/popup_all_features_table.tpl
  lizmap/www/assets/css/map.css
  lizmap/www/assets/js/map.js
Labels: enhancement

#1611 move close button in right dock
  lizmap/www/css/map.css
Labels: user interface
