Repository 3liz/lizmap-web-client, pull requests merged in 2020-09, with the labels that each got.

#1795 fixing getXmlLayer2
  lizmap/modules/lizmap/classes/lizmapProject.class.php
Labels: bug

#1781 AppContextInterface update
  lizmap/modules/lizmap/lib/App/AppContextInterface.php
  lizmap/modules/lizmap/lib/App/JelixContext.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/ProjectCache.php
Labels: enhancement

#1731 Use QGIS expression in Lizmap edition
  CHANGELOG-3.4.md
  lizmap/modules/lizmap/classes/lizmapWkt.class.php
  lizmap/modules/lizmap/classes/qgisAttributeEditorElement.class.php
  lizmap/modules/lizmap/classes/qgisExpressionUtils.class.php
  lizmap/modules/lizmap/classes/qgisForm.class.php
  lizmap/modules/lizmap/classes/qgisForm.listener.php
  lizmap/modules/lizmap/classes/qgisFormControl.class.php
  lizmap/modules/lizmap/classes/qgisFormValueRelationDynamicDatasource.class.php
  lizmap/modules/lizmap/classes/qgisProject.class.php
  lizmap/modules/lizmap/classes/qgisServer.class.php
  lizmap/modules/lizmap/controllers/edition.classic.php
  lizmap/modules/lizmap/events.xml
  lizmap/modules/lizmap/module.xml
  lizmap/modules/view/locales/en_US/edition.UTF-8.properties
  lizmap/modules/view/templates/edition_form.tpl
  lizmap/modules/view/templates/edition_form_container.tpl
  lizmap/plugins/formwidget/htmlbootstrap/htmlbootstrap.formwidget.php
  lizmap/www/assets/js/edition.js
  tests/units/classes/lizmapWktTest.php
  tests/units/classes/qgisExpressionUtilsTest.php
  tests/units/edition/qgisAttributeFormTest.php
Labels: data editor, enhancement, new feature, sponsored development

#1780 LizmapProject refactor
  lizmap/modules/lizmap/classes/lizmap.class.php
  lizmap/modules/lizmap/classes/lizmapProject.class.php
  lizmap/modules/lizmap/classes/lizmapRepository.class.php
  lizmap/modules/lizmap/classes/lizmapServices.class.php
  lizmap/modules/lizmap/classes/qgisProject.class.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/ProjectConfig.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  lizmap/modules/lizmap/module.xml
  tests/units/classes/lizmapRepositoryTest.php
  tests/units/classes/lizmapServicesTest.php
Labels: enhancement

#1712 Update attributeTable.js
  lizmap/www/assets/js/attributeTable.js
Labels: enhancement

#1808 Add UI to let user define custom labels before printing atlas feature from popups
  CHANGELOG-3.4.md
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/www/assets/css/map.css
  lizmap/www/assets/js/popupQgisAtlas.js
Labels: enhancement, printing, sponsored development

#1786 Test ProjectConfig
  lizmap/modules/lizmap/lib/Project/ProjectConfig.php
  tests/units/classes/Project/ProjectConfigTest.php
  tests/units/classes/Project/Ressources/events.qgs.cfg
  tests/units/classes/Project/Ressources/montpellier.qgs.cfg
  tests/units/composer.json
Labels: tests

#1806 adding missing methods in appContext
  lizmap/modules/lizmap/lib/App/AppContextInterface.php
  lizmap/modules/lizmap/lib/App/JelixContext.php
  lizmap/modules/lizmap/lib/Project/Project.php
Labels: enhancement, jelix

#1800 Lizmap\Project\Repository
  lizmap/modules/lizmap/classes/lizmapRepository.class.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/Repository.php
Labels: enhancement

#1814 Project tests
  lizmap/modules/lizmap/classes/lizmapProject.class.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/ProjectConfig.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  lizmap/modules/lizmap/lib/Project/Repository.php
  tests/units/classes/Project/ProjectForTests.php
  tests/units/classes/Project/ProjectTest.php
  tests/units/classes/Project/Ressources/montpellier_filtered.qgs.cfg
  tests/units/classes/Project/Ressources/readProject.qgs.cfg
  tests/units/classes/Project/TestContext.php
  tests/units/classes/Project/qgisProjectForTests.php
Labels: tests

#1742 Improve mobile ui
  lizmap/www/assets/css/media.css
Labels: enhancement, mobile, user interface

#1825 adding php-cs-fixer ghAction
  .github/workflows/lint.yml
Labels: enhancement

#1831 fixing CS for the GitHub Action
  lizmap/modules/action/classes/action.listener.php
  lizmap/modules/action/classes/actionConfig.class.php
  lizmap/modules/action/classes/actionDatasource.class.php
  lizmap/modules/action/classes/actionDockable.listener.php
  lizmap/modules/action/controllers/default.classic.php
  lizmap/modules/action/controllers/service.classic.php
  lizmap/modules/action/install/install.php
  lizmap/modules/action/install/upgrade.php
  lizmap/modules/admin/controllers/landing_page_content.classic.php
  lizmap/modules/admin/controllers/upload_image.classic.php
  lizmap/modules/dataviz/classes/dataviz.listener.php
  lizmap/modules/dataviz/classes/datavizPlot.class.php
  lizmap/modules/filter/classes/filter.listener.php
  lizmap/modules/filter/classes/filterConfig.class.php
  lizmap/modules/filter/classes/filterDatasource.class.php
  lizmap/modules/filter/classes/filterDockable.listener.php
  lizmap/modules/filter/controllers/default.classic.php
  lizmap/modules/filter/controllers/service.classic.php
  lizmap/modules/filter/install/install.php
  lizmap/modules/filter/install/upgrade.php
  lizmap/modules/lizmap/classes/lizmapWkt.class.php
  lizmap/modules/lizmap/classes/qgisAttributeEditorElement.class.php
  lizmap/modules/lizmap/classes/qgisExpressionUtils.class.php
  lizmap/modules/lizmap/classes/qgisForm.class.php
  lizmap/modules/lizmap/classes/qgisForm.listener.php
  lizmap/modules/lizmap/classes/qgisFormControl.class.php
  lizmap/modules/lizmap/classes/qgisFormValueRelationDynamicDatasource.class.php
  lizmap/modules/lizmap/classes/qgisProject.class.php
  lizmap/modules/lizmap/classes/qgisServer.class.php
  lizmap/modules/lizmap/controllers/ban.classic.php
  lizmap/modules/lizmap/controllers/edition.classic.php
  lizmap/modules/lizmap/controllers/locale.cmdline.php
  lizmap/modules/lizmap/controllers/service.classic.php
  lizmap/modules/lizmap/install/upgrade_logip.php
  lizmap/modules/lizmap/lib/App/AppContextInterface.php
  lizmap/modules/lizmap/lib/App/JelixContext.php
  lizmap/modules/proj4php/classes/proj4php.class.php
  lizmap/modules/view/controllers/default.classic.php
  lizmap/modules/view/controllers/lizMap.classic.php
Labels: CI & packages

#1829 Fix qgisForm listener
  lizmap/modules/lizmap/classes/qgisForm.listener.php
Labels: bug, data editor

#1832 Edition - Fix form field visibility test
  lizmap/www/assets/js/edition.js
Labels: bug, data editor

#1827 Feature : component to display mouse position or center to given coordinates
  assets/src/components/MousePosition.js
  assets/src/index.js
  assets/src/modules/Lizmap.js
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/modules/view/locales/en_US/map.UTF-8.properties
  lizmap/modules/view/templates/map.tpl
  lizmap/www/assets/css/map.css
  lizmap/www/assets/js/OpenLayers-2.13/OpenLayers.js
  lizmap/www/assets/js/map.js
Labels: enhancement, new feature, sponsored development

#1841 Fix regular expression to get current_value() and @current_geometry in QGIS expression
  lizmap/modules/lizmap/classes/qgisExpressionUtils.class.php
  lizmap/modules/lizmap/classes/qgisForm.class.php
  tests/units/classes/qgisExpressionUtilsTest.php
Labels: bug, data editor

#1839 [Edition] Upload choice update locale: Add/Update
  lizmap/modules/view/locales/en_US/edition.UTF-8.properties
Labels: data editor, localization, sponsored development

#1823 Command line to load QGIS project
  CHANGELOG-3.4.md
  lizmap/modules/lizmap/controllers/project.cmdline.php
Labels: QGIS Server, doc-needed, new feature, sponsored development

#1840 QgisForm* namespace + Jelix uncontextualization
  lizmap/modules/lizmap/classes/qgisAttributeEditorElement.class.php
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  lizmap/modules/lizmap/lib/Form/QgisFormControl.php
  lizmap/modules/lizmap/lib/Form/QgisFormControlsInterface.php
  lizmap/modules/lizmap/lib/Form/QgisFormValueRelationDynamicDatasource.php
  tests/units/edition/qgisAttributeFormTest.php
Labels: enhancement
