Repository 3liz/lizmap-web-client, pull requests merged in 2020-03, with the labels that each got.

#1537 [Bugfix] Form: Use checkbox for boolean field and display labels
  lizmap/modules/lizmap/classes/qgisFormControl.class.php
  lizmap/plugins/formbuilder/htmlbootstrap/htmlbootstrap.formbuilder.php
  lizmap/plugins/formwidget/checkbox_htmlbootstrap/checkbox_htmlbootstrap.formwidget.php
Labels: bug, data editor

#1488 Editor: new event lizmapeditionfeatureinit to customize edition layers
  lizmap/www/assets/js/edition.js
Labels: data editor, enhancement

#1553 End2end tests js with Cypress
  .gitignore
  tests/js/cypress.json
  tests/js/cypress/fixtures/getProjectConfig.json
  tests/js/cypress/integration/selectionTool_spec.js
  tests/js/cypress/plugins/index.js
  tests/js/cypress/support/commands.js
  tests/js/cypress/support/index.js
  tests/js/jsconfig.json
  tests/js/package-lock.json
  tests/js/package.json
Labels: enhancement
