Repository 3liz/lizmap-web-client, pull requests merged in 2020-12, with the labels that each got.

#1950 Fix notice project
  CHANGELOG-3.2.md
  lizmap/modules/lizmap/classes/lizmapProject.class.php
Labels: bug

#1952 defining undefined variables in lizmapWMSRequest
  lizmap/modules/lizmap/classes/lizmapOGCRequest.class.php
  lizmap/modules/lizmap/classes/lizmapWMSRequest.class.php
Labels: bug

#1872 fix table regex
  lizmap/modules/lizmap/classes/qgisVectorLayerDatasource.class.php
  tests/units/edition/qgisVectorLayerDatasourceTest.php
Labels: data editor, tests

#1959 Fix form init modified controls list management
  lizmap/modules/lizmap/classes/qgisForm.class.php
  lizmap/modules/lizmap/controllers/edition.classic.php
Labels: data editor, regression

#1961 Cherry picking 4 nboisteault's fixes made in master but to be put in release_3_4
  assets/src/components/SelectionTool.js
  assets/src/modules/SelectionTool.js
  lizmap/modules/lizmap/classes/lizmapProject.class.php
  lizmap/modules/view/templates/view.tpl
  lizmap/www/assets/js/attributeTable.js
Labels: bug

#1966 fixing parameters issue in qgisExpressionUtils
  lizmap/modules/lizmap/classes/qgisExpressionUtils.class.php
Labels: bug

#1969 Update required value
  lizmap/modules/lizmap/classes/qgisForm.class.php
Labels: bug, data editor

#1920 adding admin user account setup at installation
  docker/README.md
  docker/lizmap-entrypoint.sh
  lizmap/modules/lizmap/install/defaultusers.json
  lizmap/var/config/cmdline/script.ini.php
  tests/README.md
  tests/docker-compose.yml
  tests/docker-conf/phpfpm/admin.conf
  tests/docker-conf/phpfpm/appctl.sh
  tests/run-docker
Labels: authentication, enhancement, security

#1947 [Refactor] Proxy/Request namespace and context
  lizmap/modules/admin/controllers/maps.classic.php
  lizmap/modules/dataviz/classes/datavizPlot.class.php
  lizmap/modules/dynamicLayers/controllers/map.classic.php
  lizmap/modules/lizmap/classes/lizmapTiler.class.php
  lizmap/modules/lizmap/classes/qgisExpressionUtils.class.php
  lizmap/modules/lizmap/classes/qgisServer.class.php
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/controllers/ban.classic.php
  lizmap/modules/lizmap/controllers/edition.classic.php
  lizmap/modules/lizmap/controllers/osm.classic.php
  lizmap/modules/lizmap/controllers/project.cmdline.php
  lizmap/modules/lizmap/controllers/service.classic.php
  lizmap/modules/lizmap/controllers/wmts.cmdline.php
  lizmap/modules/lizmap/lib/App/AppContextInterface.php
  lizmap/modules/lizmap/lib/App/JelixContext.php
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  lizmap/modules/lizmap/lib/Request/OGCRequest.php
  lizmap/modules/lizmap/lib/Request/Proxy.php
  lizmap/modules/lizmap/lib/Request/WFSRequest.php
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  lizmap/modules/lizmap/lib/Request/WMTSRequest.php
  lizmap/modules/lizmap/module.xml
  lizmap/modules/view/controllers/app.classic.php
  tests/units/classes/Project/TestContext.php
Labels: refactorisation

#1948 [refactor] Proxy and XXXRequest Refactorisation
  lizmap/modules/dataviz/classes/datavizPlot.class.php
  lizmap/modules/lizmap/controllers/project.cmdline.php
  lizmap/modules/lizmap/lib/Request/OGCRequest.php
  lizmap/modules/lizmap/lib/Request/Proxy.php
  lizmap/modules/lizmap/lib/Request/WFSRequest.php
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  lizmap/modules/lizmap/lib/Request/WMTSRequest.php
Labels: refactorisation

#1982 [BUGFIX] qgisVectorLayerDatasource: Improve parsing for layers with or without sql
  lizmap/modules/lizmap/classes/qgisExpressionUtils.class.php
  lizmap/modules/lizmap/classes/qgisVectorLayerDatasource.class.php
  tests/units/edition/qgisVectorLayerDatasourceTest.php
Labels: High priority, bug, data editor, regression

#1984 [BUGFIX] Time manager - correct max slider value
  lizmap/www/assets/js/timemanager.js
Labels: bug

#1988 Fix scale values to match those defined in plugin
  assets/src/components/Scaleline.js
  assets/src/modules/Lizmap.js
  assets/src/modules/Map.js
Labels: bug

#1989 Timemanager improvements
  lizmap/modules/view/templates/map_timemanager.tpl
  lizmap/www/assets/js/timemanager.js
  lizmap/www/themes/default/css/map.css
Labels: enhancement

#1991 Lint with PHP-CS-Fixer 2.17.1
  lizmap/modules/admin/controllers/config.classic.php
  lizmap/modules/admin/controllers/theme.classic.php
  lizmap/modules/admin/controllers/upload_image.classic.php
  lizmap/modules/filter/controllers/service.classic.php
  lizmap/modules/lizmap/classes/lizmap.class.php
  lizmap/modules/lizmap/classes/lizmapLog.listener.php
  lizmap/modules/lizmap/classes/lizmapOGCRequest.class.php
  lizmap/modules/lizmap/classes/lizmapProject.class.php
  lizmap/modules/lizmap/classes/lizmapProxy.class.php
  lizmap/modules/lizmap/classes/lizmapServices.class.php
  lizmap/modules/lizmap/classes/lizmapTiler.class.php
  lizmap/modules/lizmap/classes/lizmapWMSRequest.class.php
  lizmap/modules/lizmap/classes/lizmapWMTSRequest.class.php
  lizmap/modules/lizmap/classes/qgisAttributeEditorElement.class.php
  lizmap/modules/lizmap/classes/qgisExpressionUtils.class.php
  lizmap/modules/lizmap/classes/qgisForm.class.php
  lizmap/modules/lizmap/classes/qgisForm.listener.php
  lizmap/modules/lizmap/classes/qgisFormControl.class.php
  lizmap/modules/lizmap/classes/qgisFormValueRelationDynamicDatasource.class.php
  lizmap/modules/lizmap/classes/qgisProject.class.php
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/controllers/database.cmdline.php
  lizmap/modules/lizmap/controllers/edition.classic.php
  lizmap/modules/lizmap/controllers/locale.cmdline.php
  lizmap/modules/lizmap/controllers/repository.cmdline.php
  lizmap/modules/lizmap/controllers/service.classic.php
  lizmap/modules/lizmap/controllers/wmts.cmdline.php
  lizmap/modules/view/controllers/app.classic.php
  lizmap/modules/view/controllers/lizMap.classic.php
  lizmap/modules/view/controllers/media.classic.php
  lizmap/modules/view/zones/main_view.zone.php
  lizmap/modules/view/zones/map_menu.zone.php
  lizmap/plugins/formbuilder/htmlbootstrap/htmlbootstrap.formbuilder.php
Labels: CI & packages

#1996 Improve performance of QGIS project parsing for edition and attribute
  lizmap/modules/lizmap/classes/lizmapProject.class.php
Labels: performance

#1962 [tests] Proxy/XXXRequest
  lizmap/modules/lizmap/lib/App/AppContextInterface.php
  lizmap/modules/lizmap/lib/App/JelixContext.php
  lizmap/modules/lizmap/lib/Request/Proxy.php
  lizmap/modules/lizmap/lib/Request/WFSRequest.php
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  lizmap/modules/lizmap/lib/Request/WMTSRequest.php
  tests/units/classes/Project/TestContext.php
  tests/units/classes/Request/ClassesForTests.php
  tests/units/classes/Request/OGCRequestTest.php
  tests/units/classes/Request/ProxyTest.php
  tests/units/classes/Request/WFSRequestTest.php
  tests/units/classes/Request/WMSRequestTest.php
  tests/units/classes/Request/WMTSRequestTest.php
Labels: tests

#1999 Remove warning about lizmap_search
  lizmap/modules/lizmap/classes/lizmapFtsSearch.listener.php
Labels: bug

#1998 Fix foreach warning in getLoginFilters()
  lizmap/modules/lizmap/classes/lizmapProject.class.php
  lizmap/modules/lizmap/classes/lizmapWFSRequest.class.php
  lizmap/modules/lizmap/classes/lizmapWMSRequest.class.php
Labels: bug

#2000 Custom Wms headers
  lizmap/modules/lizmap/classes/lizmapProxy.class.php
  lizmap/modules/lizmap/classes/lizmapServices.class.php
Labels: enhancement
