Repository 3liz/lizmap-web-client, pull requests merged in 2020-11, with the labels that each got.

#1883 [Feature] Get editable features based on login filter
  lizmap/modules/lizmap/classes/qgisExpressionUtils.class.php
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/controllers/edition.classic.php
  lizmap/www/assets/js/attributeTable.js
  lizmap/www/assets/js/edition.js
Labels: changelog, data editor, new feature

#1899 [Bugfix] Impossible to upload a file in edition mode
  lizmap/modules/lizmap/classes/qgisForm.class.php
Labels: bug, data editor

#1902 Digitizing tools ui improved
  assets/src/components/Digitizing.js
  assets/src/images/svg/box.svg
  assets/src/images/svg/circle.svg
  assets/src/modules/Digitizing.js
  lizmap/www/assets/css/map.css
Labels: user interface

#1903 Use new config param 'allow_without_geom'
  lizmap/modules/lizmap/controllers/edition.classic.php
  lizmap/www/js/edition.js
Labels: bug

#1916 Add 'filter layer by user' manual tests
  .gitignore
  tests/qgis-projects/.empty
  tests/qgis-projects/tests/README.md
  tests/qgis-projects/tests/filter_layer_by_user.md
  tests/qgis-projects/tests/filter_layer_by_user.qgs
  tests/qgis-projects/tests/filter_layer_by_user.qgs.cfg
  tests/qgis-projects/tests/filter_layer_by_user.sql
Labels: tests

#1921 [Bugfix] With lizmap plugin server side, override login by filter is not respected
  lizmap/modules/lizmap/classes/lizmapOGCRequest.class.php
  lizmap/modules/lizmap/classes/lizmapProxy.class.php
Labels: bug

#1889 adding ISO Date Format handling + seconds in datetimepicker
  lizmap/modules/lizmap/classes/qgisForm.class.php
  lizmap/modules/lizmap/classes/qgisFormControl.class.php
Labels: bug, data editor

#1925 [Bugfix] With lizmap plugin server side, override login by filter is not respected in Headers
  lizmap/modules/lizmap/classes/lizmapOGCRequest.class.php
Labels: bug

#1891 Project - Add public method checkAclByUser for lizmap based API backend
  lizmap/modules/lizmap/classes/lizmapProject.class.php
Labels: authentication, enhancement

#1923 [Bugfix] Admin export logs - No output with big logs table
  lizmap/modules/admin/controllers/logs.classic.php
Labels: administration pages, bug

#1946 [refactor] Moving Proxy/Request classes
  lizmap/modules/lizmap/lib/Request/OGCRequest.php
  lizmap/modules/lizmap/lib/Request/Proxy.php
  lizmap/modules/lizmap/lib/Request/WFSRequest.php
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  lizmap/modules/lizmap/lib/Request/WMTSRequest.php
Labels: refactorisation
