Repository 3liz/lizmap-web-client, pull requests merged in 2021-05, with the labels that each got.

#2256 Fix potential issues when calling OGC requests with unexpected method
  lizmap/modules/dataviz/classes/datavizPlot.class.php
  lizmap/modules/lizmap/controllers/edition.classic.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Request/OGCRequest.php
  lizmap/modules/lizmap/lib/Request/WFSRequest.php
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  lizmap/modules/lizmap/lib/Request/WMTSRequest.php
  tests/units/classes/Request/ClassesForTests.php
  tests/units/classes/Request/OGCRequestTest.php
Labels: backport release_3_3, backport release_3_4, bug, map viewer

#2268 Backup and restore composer modules installed with lizmap
  lizmap/install/backup.sh
  lizmap/install/restore.sh
Labels: CI & packages, backport release_3_4, bug

#2170 Fix Pre generated cache not used
  CHANGELOG-3.4.md
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  lizmap/modules/lizmap/lib/Request/WMTSRequest.php
  tests/qgis-projects/tests/test_cache.md
  tests/qgis-projects/tests/test_cache.qgs.cfg
Labels: backport release_3_4, bug

#2205 [Fix] datasource w/o geom w/ service w/o sql (QGIS >= 3.16)
  CHANGELOG-3.4.md
  lizmap/modules/lizmap/classes/qgisVectorLayerDatasource.class.php
  tests/units/edition/qgisVectorLayerDatasourceTest.php
Labels: backport release_3_4, bug, regression, tests

#2274 Small language cleanups.
  docker/README.md
Labels: backport release_3_4

#2272 [Backport release-3_4] Fix Pre generated cache not used
  lizmap/modules/lizmap/classes/lizmapProxy.class.php
  lizmap/modules/lizmap/classes/lizmapWMTSRequest.class.php
  tests/qgis-projects/tests/test_cache.md
  tests/qgis-projects/tests/test_cache.qgs.cfg
Labels: bug

#2136 Dataviz resizePlot on docks opened or closed
  lizmap/www/assets/js/dataviz/dataviz.js
Labels: backport release_3_4, dataviz, user interface

#2133 Run refreshDatatableSize after button Refresh was pressed or when a dock is oppened or closed
  lizmap/www/assets/js/attributeTable.js
Labels: backport release_3_4, user interface

#2287 Fix: Call to undefined method lizmapWMSRequest::parameters()
  lizmap/modules/lizmap/classes/lizmapOGCRequest.class.php
Labels: bug

#2278 Dataviz - Add romanian localization JS file
  lizmap/modules/dataviz/classes/dataviz.listener.php
  lizmap/www/assets/js/dataviz/plotly-locale-ro-latest.js
Labels: backport release_3_4, user interface

#1871 add postgresql geography type to geometryDatatypeMap
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
Labels: data editor

#2290 Drop-in support for profiles configuration
  Makefile
  docker/lizmap-entrypoint.sh
  docker/update-config.php
Labels: docker, enhancement

#2291 Docker: configure log metrics
  dev/Makefile
  docker/update-config.php
Labels: backport release_3_4, docker, enhancement

#2295 Support module install in container
  Makefile
  docker/Dockerfile
  docker/README.md
  docker/lizmap-entrypoint.sh
  docker/scripts/lizmap-install-module
  docker/update-config.php
Labels: backport release_3_4, docker, enhancement

#2302 Allow new OpenLayers Map to be used on top of OL2 one
  CHANGELOG-3.5.md
  assets/src/components/MousePosition.js
  assets/src/modules/Layers.js
  assets/src/modules/Lizmap.js
  assets/src/modules/Map.js
  assets/src/modules/interaction/Draw.js
Labels: enhancement, javascript, refactorisation, sponsored development
