Repository 3liz/lizmap-web-client, pull requests merged in 2021-07, with the labels that each got.

#2371 Fix form multiple selection
  CHANGELOG-3.4.md
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  tests/js/cypress/integration/form_edition_all_field_type_spec.js
  tests/qgis-projects/tests/form_edition_all_field_type.md
  tests/qgis-projects/tests/form_edition_all_field_type.qgs
  tests/qgis-projects/tests/form_edition_all_field_type.qgs.cfg
  tests/qgis-projects/tests/form_edition_all_field_type.sql
Labels: backport release_3_4, backport release_3_5, bug, regression

#2370 Resurrect lizmapProxy and lizmapOGCRequest classes for modules compatibility
  CHANGELOG-3.5.md
  lizmap/modules/lizmap/classes/lizmapOGCRequest.class.php
  lizmap/modules/lizmap/classes/lizmapProxy.class.php
  lizmap/modules/lizmap/module.xml
Labels: backport release_3_5, bug

#2377 Fix: Add hash in custom assets querystring
  lizmap/modules/view/controllers/lizMap.classic.php
Labels: backport release_3_4, backport release_3_5, bug

#2381 Add Romanian translation for dataTables
  CHANGELOG-3.4.md
  lizmap/www/assets/js/dataTables/ro_RO.json
Labels: backport release_3_4, backport release_3_5, localization

#2390 [Tests] Enhance WKT parser tests
  tests/units/classes/lizmapWktTest.php
Labels: backport release_3_4, backport release_3_5, tests

#2382 Fix some log messages about XML loading
  CHANGELOG-3.4.md
  lizmap/modules/lizmap/classes/lizmapTiler.class.php
  lizmap/modules/lizmap/classes/qgisProject.class.php
  lizmap/modules/lizmap/lib/App/XmlTools.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  lizmap/modules/lizmap/lib/Request/OGCRequest.php
  lizmap/modules/lizmap/lib/Request/Proxy.php
  tests/units/classes/App/XmlToolsTest.php
  tests/units/classes/Project/Ressources/WMSInfotest_invalid.qgs
Labels: backport release_3_4, backport release_3_5, bug

#2394 Fix regressions in the Project class
  lizmap/modules/lizmap/lib/Project/Project.php
Labels: backport release_3_5, bug

#2389 Update dataTables to 1.10.25
  lizmap/responses/myHtmlMapResponse.class.php
  lizmap/www/assets/css/dataTables.bootstrap.min.css
  lizmap/www/assets/css/jquery.dataTables.bootstrap.css
  lizmap/www/assets/css/jquery.dataTables.css
  lizmap/www/assets/css/jquery.dataTables.min.css
  lizmap/www/assets/images/sort_asc_disabled.png
  lizmap/www/assets/images/sort_desc_disabled.png
  lizmap/www/assets/js/dataTables.bootstrap.min.js
  lizmap/www/assets/js/jquery.dataTables.bootstrap.js
  lizmap/www/assets/js/jquery.dataTables.min.js
Labels: backport release_3_5, dependencies, javascript, security

#2398 Replace getData() methods by getter methods
  .php_cs.dist
  lizmap/modules/admin/classes/listProjectDatasource.class.php
  lizmap/modules/admin/classes/listRepositoryDatasource.class.php
  lizmap/modules/admin/classes/lzmAuth.listener.php
  lizmap/modules/admin/controllers/maps.classic.php
  lizmap/modules/admin/templates/maps.tpl
  lizmap/modules/lizmap/classes/lizmap.class.php
  lizmap/modules/lizmap/classes/lizmapRepository.class.php
  lizmap/modules/lizmap/classes/qgisProject.class.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/ProjectConfig.php
  lizmap/modules/lizmap/lib/Project/ProjectMetadata.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  lizmap/modules/lizmap/lib/Project/Repository.php
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  lizmap/modules/view/controllers/default.classic.php
  lizmap/modules/view/controllers/lizAjax.classic.php
  lizmap/modules/view/controllers/lizMap.classic.php
  lizmap/modules/view/zones/ajax_view.zone.php
  lizmap/modules/view/zones/main_view.zone.php
  tests/units/classes/Project/ProjectConfigTest.php
  tests/units/classes/Project/ProjectTest.php
  tests/units/classes/lizmapServicesTest.php
Labels: backport release_3_5, enhancement, refactorisation

#2404 [tests] move some classes for tests into a testslib directory
  tests/units/README.md
  tests/units/bootstrap.php
  tests/units/classes/Form/QgisFormControlTest.php
  tests/units/classes/Form/QgisFormTest.php
  tests/units/classes/Log/ConfigTest.php
  tests/units/classes/Log/ItemTest.php
  tests/units/classes/Project/ProjectTest.php
  tests/units/classes/Project/QgisProjectTest.php
  tests/units/classes/Request/ClassesForTests.php
  tests/units/classes/Request/OGCRequestTest.php
  tests/units/classes/Request/ProxyTest.php
  tests/units/classes/Request/WFSRequestTest.php
  tests/units/classes/Request/WMSRequestTest.php
  tests/units/classes/Request/WMTSRequestTest.php
  tests/units/testslib/ConfigForTests.php
  tests/units/testslib/ContextForTests.php
  tests/units/testslib/LayerWFSForTests.php
  tests/units/testslib/LizmapTilerForTests.php
  tests/units/testslib/OGCRequestForTests.php
  tests/units/testslib/ProjectForOGCForTests.php
  tests/units/testslib/ProjectForTests.php
  tests/units/testslib/ProxyForTests.php
  tests/units/testslib/QgisForm2ForTests.php
  tests/units/testslib/QgisFormControlForTests.php
  tests/units/testslib/QgisFormForTests.php
  tests/units/testslib/QgisLayerForTests.php
  tests/units/testslib/QgisProjectForTests.php
  tests/units/testslib/WFSRequestForTests.php
  tests/units/testslib/WMSRequestForTests.php
  tests/units/testslib/WMTSRequestForTests.php
  tests/units/testslib/jDbConnectionForTests.php
  tests/units/testslib/jTplForTests.php
Labels: backport release_3_5, enhancement, tests

#2409 [tests] upgrade PHPUnit to 9.5.7
  lizmap/modules/lizmap/lib/Project/Project.php
  tests/units/bootstrap.php
  tests/units/classes/App/XmlToolsTest.php
  tests/units/classes/Form/QgisFormTest.php
  tests/units/classes/Log/ConfigTest.php
  tests/units/classes/Log/ItemTest.php
  tests/units/classes/Project/ProjectConfigTest.php
  tests/units/classes/Request/ProxyTest.php
  tests/units/classes/lizmapRepositoryTest.php
  tests/units/classes/lizmapServicesTest.php
  tests/units/classes/lizmapWktTest.php
  tests/units/classes/qgisExpressionUtilsTest.php
  tests/units/composer.json
  tests/units/edition/qgisAttributeFormTest.php
  tests/units/edition/qgisVectorLayerDatasourceTest.php
Labels: backport release_3_5, enhancement

#2402 Fix and add tests for advanced forms
  lizmap/modules/lizmap/controllers/edition.classic.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  lizmap/www/assets/js/edition.js
  tests/js/cypress/integration/form_advanced_spec.js
  tests/js/cypress/integration/form_edition_all_field_type_spec.js
  tests/qgis-projects/tests/form_advanced.qgs
  tests/qgis-projects/tests/form_advanced.qgs.cfg
  tests/qgis-projects/tests/form_advanced.sql
Labels: backport release_3_5, bug, refactorisation

#2400 Fix: QGIS Form Control construct for Checkbox
  lizmap/modules/lizmap/lib/Form/QgisFormControl.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  tests/units/classes/Form/QgisFormControlTest.php
  tests/units/classes/Project/QgisProjectTest.php
  tests/units/testslib/QgisProjectForTests.php
Labels: backport release_3_5, bug, data editor
