Repository 3liz/lizmap-web-client, pull requests merged in 2021-04, with the labels that each got.

#2230 Fix: tabs in anchored popup were not toggling
  CHANGELOG-3.3.md
  lizmap/www/assets/js/map.js
  tests/qgis-projects/tests/popup.md
  tests/qgis-projects/tests/popup.qgs
  tests/qgis-projects/tests/popup.qgs.cfg
  tests/qgis-projects/tests/popup.sql
Labels: backport release_3_4, bug, popup

#2235 Fix filter support 1116
  CHANGELOG-3.3.md
  lizmap/www/assets/js/filter.js
  tests/qgis-projects/tests/form_filter.md
  tests/qgis-projects/tests/form_filter.qgs
  tests/qgis-projects/tests/form_filter.qgs.cfg
  tests/qgis-projects/tests/form_filter.sql
Labels: backport release_3_3, backport release_3_4, bug, filter

#2243 Fix logger: no more page processing interruption when it fails
  lizmap/modules/lizmap/classes/lizmapServices.class.php
  lizmap/modules/lizmap/lib/Logger/Item.php
Labels: bug, changelog

#2242 New config parameter to enable metrics
  lizmap/modules/lizmap/classes/lizmap.class.php
  lizmap/modules/lizmap/classes/lizmapServices.class.php
  lizmap/modules/lizmap/controllers/service.classic.php
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  tests/units/classes/lizmapServicesTest.php
Labels: changelog, enhancement

#2239 Update overviewmap with OpenLayers 6
  CHANGELOG-3.5.md
  assets/package-lock.json
  assets/package.json
  assets/src/components/OverviewMap.js
  assets/src/index.js
  assets/src/modules/Lizmap.js
  assets/src/modules/Map.js
  lizmap/modules/view/controllers/embed.classic.php
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/modules/view/locales/en_US/map.UTF-8.properties
  lizmap/modules/view/templates/map.tpl
  lizmap/www/assets/css/map.css
  lizmap/www/assets/js/map.js
  lizmap/www/themes/default/css/map.css
Labels: enhancement, javascript, refactorisation, sponsored development

#2245 Fix: some IGN base layers w/ free keys not displayed
  CHANGELOG-3.3.md
  lizmap/www/assets/js/map.js
Labels: backport release_3_3, backport release_3_4, bug, javascript, map viewer, sponsored development

#2255 Reverse geometry button: when editing a line or polygon feature, you can reverse vertices order.
  CHANGELOG-3.5.md
  assets/src/components/edition/ReverseGeom.js
  assets/src/images/svg/mActionReverseLine.svg
  assets/src/index.js
  assets/src/modules/Edition.js
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/modules/view/locales/en_US/edition.UTF-8.properties
  lizmap/modules/view/templates/map_edition.tpl
  lizmap/www/assets/css/map.css
  lizmap/www/assets/js/edition.js
  tests/js/cypress/integration/form_edition_reverse_geom_spec.js
  tests/qgis-projects/tests/reverse_geom.qgs
  tests/qgis-projects/tests/reverse_geom.qgs.cfg
  tests/qgis-projects/tests/reverse_geom.sql
Labels: changelog, doc-needed, new feature, sponsored development
