Repository 3liz/lizmap-web-client, pull requests merged in 2021-09, with the labels that each got.

#2447 Fix the form cache to avoid regression
  lizmap/modules/lizmap/controllers/service.classic.php
  lizmap/modules/lizmap/lib/App/JelixContext.php
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  lizmap/modules/lizmap/lib/Form/QgisFormControl.php
  lizmap/modules/lizmap/lib/Form/QgisFormControlProperties.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/ProjectCache.php
  lizmap/modules/lizmap/lib/Project/ProjectConfig.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  lizmap/modules/lizmap/lib/Request/OGCRequest.php
  lizmap/var/config/mainconfig.ini.php
  tests/docker-conf/phpfpm/localconfig.ini.php
  tests/units/classes/Form/QgisFormControlTest.php
  tests/units/classes/Form/QgisFormTest.php
  tests/units/classes/Form/forms/montpellier.line.form.json
  tests/units/classes/Form/forms/test.date.form.json
  tests/units/classes/Project/ProjectTest.php
  tests/units/classes/Project/QgisProjectTest.php
  tests/units/testslib/ContextForTests.php
  tests/units/testslib/ProjectForTests.php
  tests/units/testslib/QgisFormControlForTests.php
  tests/units/testslib/QgisProjectForTests.php
Labels: bug, backport release_3_5

#2459 [Bugfix] PostgreSQL typname can be _text
  lizmap/modules/lizmap/lib/Form/QgisFormControl.php
Labels: bug, data editor, backport release_3_5

#2458 [Bugfix] WMS GetFeatureInfo Request can return XML
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
Labels: bug, regression, backport release_3_5

#2464 Docsstring: Add appContext param to QgisForm and QgisFormControl construct
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  lizmap/modules/lizmap/lib/Form/QgisFormControl.php
Labels: data editor, backport release_3_5

#2462 [Backport release_3_5][Bugfix] PostgreSQL typname can be _text
  lizmap/modules/lizmap/lib/Form/QgisFormControl.php
Labels: data editor

#2463 [Backport release_3_4][Bugfix] PostgreSQL typname can be _text
  lizmap/modules/lizmap/classes/qgisFormControl.class.php
Labels: data editor

#2461 API - Factorize ACL checks about edition layers
  lizmap/modules/lizmap/classes/lizmapProject.class.php
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/controllers/edition.classic.php
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  lizmap/modules/lizmap/lib/Form/QgisFormControl.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/ProjectConfig.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  lizmap/modules/view/controllers/lizMap.classic.php
  lizmap/modules/view/zones/map_menu.zone.php
  tests/units/classes/Project/ProjectTest.php
  tests/units/testslib/QgisLayerForTests.php
Labels: enhancement, backport release_3_5

#2477 E2e selection test
  tests/end2end/cypress/fixtures/images/selection_yellow.png
  tests/end2end/cypress/integration/selectionTool_spec.js
  tests/qgis-projects/tests/selection.md
  tests/qgis-projects/tests/selection.qgs
  tests/qgis-projects/tests/selection.qgs.cfg
  tests/qgis-projects/tests/selection.sql
Labels: tests, backport release_3_4, backport release_3_5

#2476 Refactor some Project and ProjectConfig usage, and fix some cache issues
  lizmap/modules/lizmap/classes/lizmapTiler.class.php
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/controllers/edition.classic.php
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/ProjectCache.php
  lizmap/modules/lizmap/lib/Project/ProjectConfig.php
  lizmap/modules/lizmap/lib/Project/ProjectMetadata.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  lizmap/modules/view/controllers/lizMap.classic.php
  lizmap/modules/view/zones/map_headermenu.zone.php
  lizmap/modules/view/zones/map_menu.zone.php
  phpstan.neon
  tests/units/classes/Project/ProjectConfigTest.php
  tests/units/classes/Project/ProjectTest.php
  tests/units/classes/Project/QgisProjectTest.php
Labels: bug, backport release_3_5

#2472 Fix bug of boolean checkbox when inserting
  lizmap/modules/lizmap/controllers/edition.classic.php
Labels: bug, data editor, backport release_3_4, backport release_3_5

#2479 Cleanup of Project and ProjectConfig classes
  lizmap/modules/lizmap/classes/lizmapProject.class.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/ProjectCache.php
  lizmap/modules/lizmap/lib/Project/ProjectConfig.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  tests/units/classes/Project/ProjectConfigTest.php
  tests/units/classes/Project/ProjectTest.php
  tests/units/classes/Project/QgisProjectTest.php
  tests/units/testslib/QgisProjectForTests.php
Labels: enhancement, backport release_3_5

#2473 Command wmts:cleaning - to clear cache with command line
  lizmap/modules/lizmap/controllers/wmts.cmdline.php
  lizmap/modules/lizmap/lib/Request/Proxy.php
Labels: backport release_3_4, backport release_3_5

#2483 Improve dock in edition mode
  CHANGELOG-3.4.md
  lizmap/modules/view/templates/map_dock.tpl
  lizmap/modules/view/templates/map_rightdock.tpl
  lizmap/www/assets/css/map.css
  lizmap/www/assets/js/edition.js
Labels: enhancement, user interface, data editor, backport release_3_4, backport release_3_5

#2491 Fix Project: remove latest duplicated properties
  lizmap/modules/lizmap/lib/Project/Project.php
  tests/units/classes/Project/ProjectTest.php
  tests/units/classes/Request/WMSRequestTest.php
  tests/units/testslib/ProjectForOGCForTests.php
  tests/units/testslib/ProjectForTests.php
Labels: bug, backport release_3_5

#2493 Fix typo in English sentence
  lib/jelix-admin-modules/jauthdb_admin/locales/en_EN/crud.ISO-8859-1.properties
  lib/jelix-admin-modules/jauthdb_admin/locales/en_EN/crud.ISO-8859-15.properties
  lib/jelix-admin-modules/jauthdb_admin/locales/en_EN/crud.UTF-8.properties
  lib/jelix-admin-modules/jauthdb_admin/locales/en_EN/user.ISO-8859-1.properties
  lib/jelix-admin-modules/jauthdb_admin/locales/en_EN/user.ISO-8859-15.properties
  lib/jelix-admin-modules/jauthdb_admin/locales/en_EN/user.UTF-8.properties
  lib/jelix-admin-modules/jauthdb_admin/locales/en_GB/crud.ISO-8859-1.properties
  lib/jelix-admin-modules/jauthdb_admin/locales/en_GB/crud.ISO-8859-15.properties
  lib/jelix-admin-modules/jauthdb_admin/locales/en_GB/crud.UTF-8.properties
  lib/jelix-admin-modules/jauthdb_admin/locales/en_GB/user.ISO-8859-1.properties
  lib/jelix-admin-modules/jauthdb_admin/locales/en_GB/user.ISO-8859-15.properties
  lib/jelix-admin-modules/jauthdb_admin/locales/en_GB/user.UTF-8.properties
  lib/jelix-admin-modules/jauthdb_admin/locales/en_US/crud.ISO-8859-1.properties
  lib/jelix-admin-modules/jauthdb_admin/locales/en_US/crud.ISO-8859-15.properties
  lib/jelix-admin-modules/jauthdb_admin/locales/en_US/crud.UTF-8.properties
  lib/jelix-admin-modules/jauthdb_admin/locales/en_US/user.ISO-8859-1.properties
  lib/jelix-admin-modules/jauthdb_admin/locales/en_US/user.ISO-8859-15.properties
  lib/jelix-admin-modules/jauthdb_admin/locales/en_US/user.UTF-8.properties
  lib/jelix/core/jConfigCompiler.class.php
  lizmap/app/locales/el_GR/admin/locales/admin.UTF-8.properties
  lizmap/app/locales/eu_ES/admin/locales/admin.UTF-8.properties
  lizmap/app/locales/no_NO/admin/locales/admin.UTF-8.properties
  lizmap/app/locales/no_NO/jauthdb_admin/locales/crud.UTF-8.properties
  lizmap/app/locales/no_NO/jauthdb_admin/locales/user.UTF-8.properties
  lizmap/app/locales/sv_SE/admin/locales/admin.UTF-8.properties
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
Labels: localization, backport release_3_4, backport release_3_5

#2502 Fix: integer key column sorted as text in attribute table
  CHANGELOG-3.4.md
  lizmap/www/assets/js/attributeTable.js
Labels: bug, regression, backport release_3_4, backport release_3_5

#2348 [FEATURE] Filter data of layers by polygon depending on the user groups
  CHANGELOG-3.5.md
  lizmap/modules/admin/locales/en_US/jacl2.UTF-8.properties
  lizmap/modules/lizmap/classes/qgisExpressionUtils.class.php
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/controllers/edition.classic.php
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/ProjectCache.php
  lizmap/modules/lizmap/lib/Project/ProjectConfig.php
  lizmap/modules/lizmap/lib/Request/OGCRequest.php
  lizmap/modules/lizmap/lib/Request/WFSRequest.php
  lizmap/modules/view/locales/en_US/edition.UTF-8.properties
  tests/end2end/cypress/fixtures/images/blank_getmap.png
  tests/end2end/cypress/fixtures/images/filter_layer_data_by_polygon_for_groups/shop_bakery_getmap.png
  tests/end2end/cypress/fixtures/images/filter_layer_data_by_polygon_for_groups/shop_bakery_pg_getmap.png
  tests/end2end/cypress/fixtures/images/filter_layer_data_by_polygon_for_groups/townhalls_EPSG2154_getmap.png
  tests/end2end/cypress/fixtures/images/filter_layer_data_by_polygon_for_groups/townhalls_pg_getmap.png
  tests/end2end/cypress/integration/filter_layer_data_by_polygon_for_groups_spec.js
  tests/qgis-projects/tests/filter_layer_data_by_polygon_for_groups.md
  tests/qgis-projects/tests/filter_layer_data_by_polygon_for_groups.qgs
  tests/qgis-projects/tests/filter_layer_data_by_polygon_for_groups.qgs.cfg
  tests/qgis-projects/tests/filter_layer_data_by_polygon_for_groups.sql
  tests/qgis-projects/tests/filter_layer_data_by_polygon_for_groups/bakeries.cpg
  tests/qgis-projects/tests/filter_layer_data_by_polygon_for_groups/bakeries.dbf
  tests/qgis-projects/tests/filter_layer_data_by_polygon_for_groups/bakeries.prj
  tests/qgis-projects/tests/filter_layer_data_by_polygon_for_groups/bakeries.shp
  tests/qgis-projects/tests/filter_layer_data_by_polygon_for_groups/bakeries.shx
  tests/qgis-projects/tests/filter_layer_data_by_polygon_for_groups/polygons.cpg
  tests/qgis-projects/tests/filter_layer_data_by_polygon_for_groups/polygons.dbf
  tests/qgis-projects/tests/filter_layer_data_by_polygon_for_groups/polygons.prj
  tests/qgis-projects/tests/filter_layer_data_by_polygon_for_groups/polygons.shp
  tests/qgis-projects/tests/filter_layer_data_by_polygon_for_groups/polygons.shx
  tests/qgis-projects/tests/filter_layer_data_by_polygon_for_groups/townhalls_EPSG2154.cpg
  tests/qgis-projects/tests/filter_layer_data_by_polygon_for_groups/townhalls_EPSG2154.dbf
  tests/qgis-projects/tests/filter_layer_data_by_polygon_for_groups/townhalls_EPSG2154.prj
  tests/qgis-projects/tests/filter_layer_data_by_polygon_for_groups/townhalls_EPSG2154.shp
  tests/qgis-projects/tests/filter_layer_data_by_polygon_for_groups/townhalls_EPSG2154.shx
  tests/units/classes/Form/QgisFormTest.php
  tests/units/classes/Project/ProjectConfigTest.php
Labels: enhancement, new feature, sponsored development, changelog, filter forms, backport release_3_5

#2500 [BUGFIX] Fix editing buttons visibility in popup with several filtered layers
  CHANGELOG-3.4.md
  CHANGELOG-3.5.md
  lizmap/www/assets/js/edition.js
Labels: bug, data editor, popup, filter forms, backport release_3_4, backport release_3_5

#2509 Test an empty project config
  tests/units/classes/Project/ProjectConfigTest.php
Labels: tests, backport release_3_5

#2504 Remove app context from OGCRequest constructor
  lizmap/modules/dataviz/classes/datavizPlot.class.php
  lizmap/modules/lizmap/classes/lizmapTiler.class.php
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/controllers/edition.classic.php
  lizmap/modules/lizmap/controllers/wmts.cmdline.php
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  lizmap/modules/lizmap/lib/Form/QgisFormValueRelationDynamicDatasource.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Request/OGCRequest.php
  lizmap/modules/lizmap/lib/Request/WMTSRequest.php
  tests/units/classes/Request/OGCRequestTest.php
  tests/units/classes/Request/WFSRequestTest.php
  tests/units/classes/Request/WMSRequestTest.php
  tests/units/classes/Request/WMTSRequestTest.php
Labels: enhancement, backport release_3_5

#2517 Draw: add save button
  CHANGELOG-3.4.md
  assets/src/components/Digitizing.js
  assets/src/images/svg/save.svg
  assets/src/modules/Digitizing.js
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
Labels: enhancement, backport release_3_4, backport release_3_5

#2523 Fix regression with the print button
  lizmap/modules/lizmap/lib/Project/Project.php
Labels: bug, regression, backport release_3_5
