Repository 3liz/lizmap-web-client, pull requests merged in 2021-02, with the labels that each got.

#2089 [tests] Check project ACL
  tests/qgis-projects/tests/project_acl.md
  tests/qgis-projects/tests/project_acl.qgs
  tests/qgis-projects/tests/project_acl.qgs.cfg
Labels: backport release_3_4, tests

#2086 Create a [minimal] docker build environment for building lizmap packages.
  .gitignore
  CHANGELOG-3.4.md
  Makefile
  dev/Dockerfile
  dev/Makefile
  dev/README.md
  docker/lizmap-entrypoint.sh
Labels: CI & packages, backport release_3_4

#2092 [Bugfix] Assert $layer exists
  lizmap/modules/lizmap/lib/Form/QgisFormValueRelationDynamicDatasource.php
Labels: bug

#2095 Manually backport #2092
  CHANGELOG-3.4.md
  lizmap/modules/lizmap/classes/qgisFormValueRelationDynamicDatasource.class.php
Labels: bug

#2100 [CI] Cypress CI cache docker build
  .github/workflows/e2e_tests_cypress.yml
Labels: CI & packages, backport release_3_4, tests

#2124 [CI] Create tests repo. Add basic form submit test (replace PR #2115)
  .github/workflows/e2e_tests_cypress.yml
  tests/add_server_plugins.sh
  tests/docker-conf/phpfpm/lizmapConfig.ini.php
  tests/js/cypress/integration/form_edition_spec.js
  tests/js/package-lock.json
  tests/js/package.json
  tests/lizmap-ctl
  tests/qgis-projects/tests/end2end_form_edition.qgs
  tests/qgis-projects/tests/end2end_form_edition.qgs.cfg
  tests/qgis-projects/tests/end2end_form_edition.sql
  tests/qgis-projects/tests/load_sql.sh
  tests/qgis-projects/tests/set_tests_respository_rights.sql
Labels: CI & packages, backport release_3_4, tests

#2126 [Fix] Disable selection tool when mini-dock closed
  assets/src/modules/SelectionTool.js
Labels: backport release_3_4, bug

#2128 Fix notice in logs
  lizmap/modules/lizmap/lib/Form/QgisFormControl.php
  tests/js/cypress/integration/form_edition_spec.js
Labels: backport release_3_4, bug

#2096 fix loading custom layout of dataviz plot with id 0
  lizmap/www/assets/js/dataviz/dataviz.js
Labels: backport release_3_4, bug, dataviz

#2104 Fix the sqlite to pgsql migrator
  CHANGELOG-3.3.md
  lizmap/modules/lizmap/lib/Logger/MigratorFromSqlite.php
  lizmap/modules/lizmap/lib/Users/MigratorFromSqlite.php
Labels: administration pages, backport release_3_3, backport release_3_4, bug

#2138 Fix popup compact table margin-left
  lizmap/www/assets/css/map.css
Labels: backport release_3_4

#2137 Fix geobookmark sql: remove explicit public schema
  lizmap/modules/lizmap/install/sql/lizgeobookmark.pgsql.sql
Labels: backport release_3_3, backport release_3_4, bug

#2071 Adding script to replace connection in qgs tests projects
  tests/qgis-projects/tests/replace_database_connection_qgs_project.sh
Labels: CI & packages, backport release_3_4, tests

#2091 Hide label in legend for layers w/ single symbol rendering
  CHANGELOG-3.4.md
  lizmap/www/assets/js/map.js
  tests/layer_legends.sql
  tests/qgis-projects/tests/layer_legends.md
  tests/qgis-projects/tests/layer_legends.qgs
  tests/qgis-projects/tests/layer_legends.qgs.cfg
Labels: QGIS Server, backport release_3_4, tests

#2103 Make MultiGeometry KML importable/exportable and focus on features extent after load
  assets/src/modules/Digitizing.js
  tests/qgis-projects/tests/test_import_kml.md
  tests/qgis-projects/tests/test_import_kml/kml_multilinestring.kml
  tests/qgis-projects/tests/test_import_kml/kml_multipoint.kml
  tests/qgis-projects/tests/test_import_kml/kml_multipolygon.kml
  tests/qgis-projects/tests/test_import_kml/kml_polygon.kml
Labels: backport release_3_4, bug

#2074 [tests] first selection test w/ filter by group
  tests/qgis-projects/tests/selection.md
  tests/qgis-projects/tests/selection.qgs
  tests/qgis-projects/tests/selection.qgs.cfg
  tests/qgis-projects/tests/selection.sql
Labels: backport release_3_4, tests

#2056 Popup children fetchall
  CHANGELOG-3.5.md
  lizmap/modules/view/templates/popup.tpl
  lizmap/www/assets/js/map.js
Labels: doc-needed, enhancement, popup, refactorisation, sponsored development

#2151 Adding new test to the feature of filtering by tags
  tests/qgis-projects/tests/test_tags.md
  tests/qgis-projects/tests/test_tags_nature_flower.qgs
  tests/qgis-projects/tests/test_tags_nature_flower.qgs.cfg
  tests/qgis-projects/tests/test_tags_nature_tree.qgs
  tests/qgis-projects/tests/test_tags_nature_tree.qgs.cfg
Labels: backport release_3_4, tests

#2155 [CI] Install Lizmap plugin before docker start
  .github/workflows/e2e_tests_cypress.yml
Labels: CI & packages, backport release_3_4, tests

#2157 Fix the adding of the user into group
  lizmap/app/locales/fr_FR/jacl2db_admin/locales/acl2.UTF-8.properties
  lizmap/modules/admin/controllers/acl.classic.php
Labels: High priority, administration pages, backport release_3_3, backport release_3_4, bug

#2163 Update changelog-3.4 for release 3.4.2
  CHANGELOG-3.4.md
Labels: backport release_3_4

#2162 Adding test for cache
  tests/qgis-projects/tests/test_cache.md
  tests/qgis-projects/tests/test_cache.qgs
  tests/qgis-projects/tests/test_cache.qgs.cfg
  tests/qgis-projects/tests/test_cache.sql
Labels: backport release_3_4, tests
