Repository 3liz/lizmap-web-client, pull requests merged in 2021-01, with the labels that each got.

#2014 [Bugfix] Enclose primary keys in UPDATE RETURNING
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
Labels: bug, data editor

#2021 Revert [Bugfix] Enclose primary keys in UPDATE RETURNING
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
Labels: bug, data editor

#2022 [docker] Setup of the admin password with environment variables
  docker/README.md
  docker/lizmap-entrypoint.sh
  docker/update-config.php
Labels: docker

#2028 Add Cypress to CI w/ github actions
  .github/workflows/e2e_tests_cypress.yml
  tests/js/cypress.json
  tests/js/cypress/integration/edition_spec.js
  tests/js/cypress/integration/selectionTool_spec.js
Labels: tests

#2030 Update contributing.md about bugfix commits
  CONTRIBUTING.md
Labels: backport release_3_3, backport release_3_4

#2031 Update contributing.md about bugfix commits
  CONTRIBUTING.md
Labels: backport release_3_3

#2017 [Bugfix] Drill-down (cascading) forms in Lizmap based on QGIS expression
  lizmap/modules/lizmap/classes/qgisFormValueRelationDynamicDatasource.class.php
  tests/qgis-projects/tests/form_edition_value_relation_field.md
  tests/qgis-projects/tests/form_edition_value_relation_field.qgs
  tests/qgis-projects/tests/form_edition_value_relation_field.qgs.cfg
  tests/qgis-projects/tests/form_edition_value_relation_field.sql
Labels: bug, data editor, tests

#2018 [Bugfix] Draw: import KML does not draw anythings if xml headers
  .gitignore
  assets/src/modules/Digitizing.js
  tests/qgis-projects/tests/test_import_kml.cfg
  tests/qgis-projects/tests/test_import_kml.md
  tests/qgis-projects/tests/test_import_kml.qgs
  tests/qgis-projects/tests/test_import_kml/kml_with_xml_header.kml
  tests/qgis-projects/tests/test_import_kml/kml_without_xml_header.kml
Labels: bug

#2023 Fix regression in 3.4.0 about Primary Keys enclosing for UPDATE RETURNING
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  tests/qgis-projects/tests/form_edition_simple_fields.md
  tests/qgis-projects/tests/form_edition_simple_fields.qgs
  tests/qgis-projects/tests/form_edition_simple_fields.qgs.cfg
  tests/qgis-projects/tests/form_edition_simple_fields.sql
Labels: bug, data editor, regression, tests

#2033 [Bugfix] The landing page shouldn't show project when not available for groups ACL
  lizmap/modules/lizmap/classes/lizmapProject.class.php
Labels: authentication, bug

#2034 FTS PostgreSQL Search - Use a transaction to avoid PostgreSQL connection issue
  lizmap/modules/lizmap/classes/lizmapFtsSearch.listener.php
Labels: changelog

#2013 [Bugfix] Attribute edition sets to null unedited fields
  lizmap/modules/lizmap/classes/qgisForm.class.php
Labels: bug, data editor

#2043 [Bugfix] Tab content is not visible on mobile screen
  lizmap/www/assets/js/edition.js
Labels: bug, data editor, mobile

#2047 [BugFix] Regression - form with relationnal value
  lizmap/modules/lizmap/classes/qgisForm.class.php
Labels: bug, data editor, regression

#2045 [Bugfix] Regression - Edition - Geometry is not retrieved and saved
  lizmap/modules/lizmap/classes/qgisForm.class.php
Labels: bug, data editor, regression

#2049 [Tests] Enhance form_type_relational_value
  tests/qgis-projects/tests/form_type_relational_value.qgs
  tests/qgis-projects/tests/form_type_relational_value.qgs.cfg
  tests/qgis-projects/tests/form_type_relational_value.sql
Labels: data editor, tests

#2048 [Tests] Enhance Drag'N Drop Edition form test to avoid regression
  tests/qgis-projects/tests/dnd_form.md
  tests/qgis-projects/tests/dnd_form.qgs
  tests/qgis-projects/tests/dnd_form.qgs.cfg
  tests/qgis-projects/tests/dnd_form.sql
Labels: data editor, tests

#2054 Cypress ci fix
  .github/workflows/e2e_tests_cypress.yml
Labels: backport release_3_4

#2060 Apply php-cs-fixer version 2.18
  lizmap/modules/admin/classes/config.listener.php
Labels: backport release_3_4

#2063 [tests] Update Cypress to 6.3.0
  tests/js/package-lock.json
  tests/js/package.json
Labels: backport release_3_4, tests

#2069 Fix visual blank line between map and right-dock
  CHANGELOG-3.4.md
  lizmap/www/assets/css/map.css
Labels: backport release_3_4, bug, regression, user interface

#2072 Fix typo Accés => Accès
  lizmap/app/locales/fr_FR/jcommunity/locales/login.UTF-8.properties
Labels: backport release_3_4
