Repository 3liz/lizmap-web-client, pull requests merged in 2021-12, with the labels that each got.

#2629 Better header override and CSS clean
  CHANGELOG-3.5.md
  lizmap/www/assets/css/main.css
  lizmap/www/themes/default/css/main.css
Labels: backport release_3_5

#2617 Improvement of upload content into feature forms and image editor for uploaded images
  .gitignore
  CHANGELOG-3.5.md
  lib/jelix-www/js/jforms/imageSelector.js
  lib/jelix/BUILD
  lib/jelix/auth/jAuth.class.php
  lib/jelix/core-modules/jelix/module.xml
  lib/jelix/forms/Builder/HtmlBuilder.php
  lib/jelix/forms/controls/jFormsControlImageUpload.class.php
  lib/jelix/forms/controls/jFormsControlUpload.class.php
  lib/jelix/forms/controls/jFormsControlUpload2.class.php
  lib/jelix/forms/jFormsBase.class.php
  lib/jelix/forms/jFormsControl.class.php
  lib/jelix/plugins/formwidget/imageupload_html/imageupload_html.formwidget.php
  lib/jelix/plugins/formwidget/upload2_html/upload2_html.formwidget.php
  lizmap/modules/admin/forms/config_services.form.xml
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/config.tpl
  lizmap/modules/admin/templates/config_services.tpl
  lizmap/modules/lizmap/classes/lizmapServices.class.php
  lizmap/modules/lizmap/controllers/edition.classic.php
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  lizmap/modules/lizmap/lib/Form/QgisFormControl.php
  lizmap/modules/lizmap/lib/Form/QgisFormControlProperties.php
  lizmap/modules/lizmap/lib/Project/ProjectCache.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  lizmap/modules/view/controllers/lizMap.classic.php
  lizmap/modules/view/templates/edition_form.tpl
  lizmap/plugins/formbuilder/htmlbootstrap/htmlbootstrap.formbuilder.php
  lizmap/plugins/formwidget/imageupload_htmlbootstrap/imageupload_htmlbootstrap.formwidget.php
  lizmap/plugins/formwidget/upload2_htmlbootstrap/upload2_htmlbootstrap.formwidget.php
  lizmap/www/assets/css/map.css
  lizmap/www/assets/jelix/js/jforms/imageSelector.js
  tests/units/classes/Form/QgisFormTest.php
  tests/units/classes/Project/QgisProjectTest.php
  tests/units/classes/lizmapServicesTest.php
Labels: enhancement, data editor, sponsored development, backport release_3_5

#2638 Add getter for custom QGIS project variables
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  tests/units/classes/Project/QgisProjectTest.php
  tests/units/classes/Project/Ressources/customProjectVariables.qgs
  tests/units/testslib/QgisProjectForTests.php
Labels: backport release_3_4, backport release_3_5

#2620 Don't show search result if search query is empty
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/www/assets/js/search.js
Labels: user interface, backport release_3_4, backport release_3_5

#2608 [BUGIX] Selection & Export - Use the selectiontoken & POST to QGIS Server
  CHANGELOG-3.5.md
  lizmap/modules/lizmap/controllers/service.classic.php
  lizmap/modules/lizmap/lib/Request/Proxy.php
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  lizmap/www/assets/js/map.js
Labels: bug, QGIS Server, backport release_3_4, javascript, backport release_3_5

#2645 QGIS Vector Layer - New options timeout & setSearchPathFromLayer to set the PostgreSQL connection profile
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
Labels: backport release_3_4, backport release_3_5, postgresql

#2640 Translate mini-dock-close button
  lizmap/www/assets/js/map.js
Labels: user interface, backport release_3_4, backport release_3_5

#2651 Fix postgresql connection share between modules
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/lib/App/AppContextInterface.php
  lizmap/modules/lizmap/lib/Request/Proxy.php
  lizmap/var/config/mainconfig.ini.php
Labels: bug, backport release_3_5, postgresql

#2637 [edition] rework the form management by using jForms features
  lizmap/modules/lizmap/classes/qgisExpressionUtils.class.php
  lizmap/modules/lizmap/classes/qgisForm.listener.php
  lizmap/modules/lizmap/controllers/edition.classic.php
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  lizmap/modules/lizmap/lib/Form/QgisFormValueRelationDynamicDatasource.php
  lizmap/modules/view/forms/edition.form.xml
Labels: enhancement, data editor, backport release_3_5

#2492 Project thumbnails as grid
  lizmap/modules/view/templates/view.tpl
  lizmap/www/assets/css/view.css
  lizmap/www/assets/js/view.js
Labels: user interface, refactorisation, javascript, backport release_3_5

#2654 Server metadata - Get more information from Lizmap plugin & display them in the admin panel
  .gitignore
  lizmap/modules/admin/classes/config.listener.php
  lizmap/modules/admin/controllers/server_information.classic.php
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/server_information.tpl
  lizmap/modules/lizmap/lib/Server/Server.php
  lizmap/modules/view/controllers/app.classic.php
  lizmap/www/assets/css/admin.css
  tests/docker-compose.yml
Labels: enhancement, administration pages, backport release_3_5

#2667 [Backport release_3_4][BUGIX] Selection & Export - Use the selectiontoken & POST to QGIS Server
  CHANGELOG-3.4.md
  lizmap/modules/lizmap/classes/lizmapProxy.class.php
  lizmap/modules/lizmap/classes/lizmapWMSRequest.class.php
  lizmap/modules/lizmap/controllers/service.classic.php
  lizmap/www/assets/js/map.js
Labels: bug, QGIS Server, javascript

#2664 Fix a regression during the init of relation references into forms
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/ProjectCache.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  tests/units/classes/Project/QgisProjectTest.php
  tests/units/classes/Project/Ressources/relations.qgs
  tests/units/testslib/QgisProjectForTests.php
Labels: bug, map viewer, backport release_3_5
