Repository 3liz/lizmap-web-client, pull requests merged in 2021-06, with the labels that each got.

#2322 Allow use of JS modules (ES6) with docks
  CHANGELOG-3.5.md
  lizmap/modules/view/classes/lizmapMapDockItem.class.php
  lizmap/modules/view/controllers/lizMap.classic.php
Labels: enhancement, javascript

#2296 fix the order of the filter fields in the form
  lizmap/www/assets/js/filter.js
Labels: backport release_3_3, backport release_3_4, bug, filter

#2326 [Feature] Get the GetFeatureInfo from QGIS Server with the QGIS Form
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  lizmap/www/assets/js/map.js
Labels: new feature, popup, sponsored development, user interface

#2331 Display spinner, disable button waiting for print
  CHANGELOG-3.4.md
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/www/assets/css/main.css
  lizmap/www/assets/css/map.css
  lizmap/www/assets/js/map.js
Labels: backport release_3_4, enhancement, printing, user interface

#2334 [Bugfix] Host in datasource between single quote
  lizmap/modules/lizmap/classes/qgisVectorLayerDatasource.class.php
  tests/units/edition/qgisVectorLayerDatasourceTest.php
Labels: backport release_3_4, bug, data editor

#2338 Check if wmsextent is not null
  lizmap/modules/lizmap/classes/qgisProject.class.php
Labels: backport release_3_3, backport release_3_4

#2336 Fix: get non-exposed fields via WFS w/ QGIS 3.16
  lizmap/modules/lizmap/classes/qgisProject.class.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  tests/units/classes/Project/QgisProjectTest.php
  tests/units/classes/Project/Ressources/readLayers_310.qgs
  tests/units/classes/Project/Ressources/readLayers_316.qgs
  tests/units/classes/Project/qgisProjectForTests.php
Labels: High priority, QGIS Server, backport release_3_4, bug

#2343 [BUGFIX] Print - Print the map in the project projection, not in LWC map projection
  CHANGELOG-3.5.md
  lizmap/www/assets/js/map.js
  tests/qgis-projects/tests/test_print_in_project_projection.md
  tests/qgis-projects/tests/test_print_in_project_projection.qgs
  tests/qgis-projects/tests/test_print_in_project_projection.qgs.cfg
  tests/qgis-projects/tests/test_print_in_project_projection/reseau.cpg
  tests/qgis-projects/tests/test_print_in_project_projection/reseau.dbf
  tests/qgis-projects/tests/test_print_in_project_projection/reseau.prj
  tests/qgis-projects/tests/test_print_in_project_projection/reseau.shp
  tests/qgis-projects/tests/test_print_in_project_projection/reseau.shx
Labels: backport release_3_4, bug, printing

#2345 Action - Improvements in Lizmap Web Client action module
  CHANGELOG-3.5.md
  lizmap/www/assets/js/action.js
Labels: enhancement, javascript, popup

#2347 [BUGFIX][BACKPORT FROM 3.5][DEACTIVATED] Print - Print the map in the project projection, not in LWC map projection
  lizmap/www/assets/js/map.js
  tests/qgis-projects/tests/test_print_in_project_projection.md
  tests/qgis-projects/tests/test_print_in_project_projection.qgs
  tests/qgis-projects/tests/test_print_in_project_projection.qgs.cfg
  tests/qgis-projects/tests/test_print_in_project_projection/reseau.cpg
  tests/qgis-projects/tests/test_print_in_project_projection/reseau.dbf
  tests/qgis-projects/tests/test_print_in_project_projection/reseau.prj
  tests/qgis-projects/tests/test_print_in_project_projection/reseau.shp
  tests/qgis-projects/tests/test_print_in_project_projection/reseau.shx
Labels: enhancement, printing

#2344 Manual to end to end tests
  assets/package-lock.json
  tests/js/cypress/fixtures/kml_multilinestring.kml
  tests/js/cypress/fixtures/kml_multipoint.kml
  tests/js/cypress/fixtures/kml_multipolygon.kml
  tests/js/cypress/fixtures/kml_polygon.kml
  tests/js/cypress/fixtures/kml_with_xml_header.kml
  tests/js/cypress/fixtures/kml_without_xml_header.kml
  tests/js/cypress/integration/form_edition_all_field_type_spec.js
  tests/js/cypress/integration/popup_spec.js
  tests/js/cypress/integration/test_import_kml_spec.js
  tests/js/cypress/plugins/index.js
  tests/js/cypress/snapshots/test_import_kml_spec.js/test_kml_multilinestring.snap.png
  tests/js/cypress/snapshots/test_import_kml_spec.js/test_kml_multipoint.snap.png
  tests/js/cypress/snapshots/test_import_kml_spec.js/test_kml_multipolygon.snap.png
  tests/js/cypress/snapshots/test_import_kml_spec.js/test_kml_polygon.snap.png
  tests/js/cypress/snapshots/test_import_kml_spec.js/test_kml_with_xml_header.snap.png
  tests/js/cypress/snapshots/test_import_kml_spec.js/test_kml_without_xml_header.snap.png
  tests/js/cypress/support/commands.js
  tests/js/jsconfig.json
  tests/js/package-lock.json
  tests/js/package.json
  tests/qgis-projects/tests/dnd_form.qgs.cfg
  tests/qgis-projects/tests/form_edition_simple_fields.qgs.cfg
  tests/qgis-projects/tests/form_edition_value_relation_field.qgs.cfg
  tests/qgis-projects/tests/form_type_relational_value.qgs.cfg
  tests/qgis-projects/tests/test_import_kml.qgs.cfg
Labels: backport release_3_4, tests
