Repository 3liz/lizmap-web-client, pull requests merged in 2022-06, with the labels that each got.

#3016 Test - Add project ACL in cypress
  tests/end2end/cypress/integration/projects_homepage-ghaction.js
  tests/qgis-projects/tests/project_acl.md
  tests/qgis-projects/tests/project_acl.qgs.cfg
Labels: tests, backport release_3_4, backport release_3_5, run cypress

#3024 [Bugfix] Dataviz: provide a minimu config with locale for WPS
  lizmap/modules/dataviz/classes/datavizConfig.class.php
  lizmap/modules/lizmap/lib/Project/Project.php
  tests/end2end/cypress/integration/requests-getprojectconfig-ghaction.js
Labels: bug, tests, dataviz, backport release_3_4, backport release_3_5, run cypress

#3030 Tests - Add common functions for cypress
  tests/README.md
  tests/end2end/cypress/integration/feature_toolbar-ghaction.js
  tests/end2end/cypress/integration/filter_layer_data_by_polygon_for_groups-ghaction.js
  tests/end2end/cypress/integration/print-ghaction.js
  tests/end2end/cypress/integration/selectionTool-ghaction.js
  tests/end2end/cypress/integration/treeview-ghaction.js
  tests/end2end/cypress/support/commands.js
  tests/end2end/cypress/support/function.js
Labels: tests, backport release_3_4, backport release_3_5

#3031 Tests - Add common functions for cypress
  tests/README.md
  tests/end2end/cypress/integration/filter_layer_data_by_polygon_for_groups-ghaction.js
  tests/end2end/cypress/integration/print-ghaction.js
  tests/end2end/cypress/integration/selectionTool-ghaction.js
  tests/end2end/cypress/integration/treeview-ghaction.js
  tests/end2end/cypress/support/commands.js
  tests/end2end/cypress/support/function.js
Labels: backport release_3_4

#3032 Tests - Remove manual test layer_legend
  tests/end2end/cypress/fixtures/images/treeview/layer_legend_categorized.png
  tests/end2end/cypress/fixtures/images/treeview/layer_legend_single_symbol.png
  tests/end2end/cypress/integration/legend-ghaction.js
  tests/qgis-projects/tests/layer_legends.md
Labels: tests, backport release_3_4, backport release_3_5, run cypress

#3029 [Bugfix] Dataviz: dock is provided even if graphics are only in popup
  .github/workflows/e2e_tests_cypress.yml
  lizmap/modules/lizmap/lib/Project/Project.php
  tests/end2end/cypress/fixtures/images/plotly/plot_montpellier_bakeries.png
  tests/end2end/cypress/fixtures/images/plotly/plot_montpellier_bakeries_firefox.png
  tests/end2end/cypress/integration/dataviz-ghaction.js
  tests/end2end/cypress/integration/requests-getprojectconfig-ghaction.js
  tests/qgis-projects/tests/dataviz_filtered_in_popup.md
Labels: bug, tests, dataviz, backport release_3_4, backport release_3_5, run cypress

#3037 [Backport release_3_4] [Bugfix] Dataviz: dock is provided even if graphics are only in popup
  .github/workflows/e2e_tests_cypress.yml
  lizmap/modules/lizmap/classes/lizmapProject.class.php
  tests/end2end/cypress/fixtures/images/plotly/plot_montpellier_bakeries.png
  tests/end2end/cypress/fixtures/images/plotly/plot_montpellier_bakeries_firefox.png
  tests/end2end/cypress/fixtures/images/treeview/layer_legend_categorized_316.png
  tests/end2end/cypress/fixtures/images/treeview/layer_legend_single_symbol_316.png
  tests/end2end/cypress/integration/dataviz-ghaction.js
  tests/end2end/cypress/integration/legend-ghaction.js
  tests/end2end/cypress/integration/requests-getprojectconfig-ghaction.js
  tests/end2end/package-lock.json
  tests/end2end/package.json
  tests/qgis-projects/tests/dataviz_filtered_in_popup.md
Labels: bug, tests, dataviz, run cypress

#3039 Tests - Add condition for QGIS 3.16
  tests/end2end/cypress/fixtures/images/treeview/layer_legend_categorized_316.png
  tests/end2end/cypress/integration/legend-ghaction.js
  tests/end2end/cypress/plugins/index.js
  tests/end2end/package-lock.json
  tests/end2end/package.json
Labels: tests, run cypress

#3042 Fix theme. Style not switching when layer has a shortname
  lizmap/www/assets/js/switcher-layers-actions.js
  tests/end2end/cypress/integration/theme.js
  tests/qgis-projects/tests/theme.qgs
  tests/qgis-projects/tests/theme.qgs.cfg
Labels: tests, backport release_3_5, run cypress

#3046 [Tests] e2e: check config.options.hideProject: "True"
  tests/end2end/cypress/integration/projects_homepage-ghaction.js
  tests/end2end/cypress/integration/requests-getprojectconfig-ghaction.js
  tests/end2end/cypress/integration/requests-service-ghaction.js
  tests/qgis-projects/tests/hide_project.qgs
  tests/qgis-projects/tests/hide_project.qgs.cfg
Labels: tests, backport release_3_4, backport release_3_5, run cypress

#3044 [Bugfix] GetFeatureInfo click pixel tolerance
  lizmap/www/assets/js/map.js
Labels: bug, mobile, popup, backport release_3_4, backport release_3_5, run cypress

#3041 [BUGFIX] Atlas print link error when no feature id found
  lizmap/www/assets/js/popupQgisAtlas.js
Labels: bug, backport release_3_4, backport release_3_5, run cypress

#2994 Layer legend - Use the new option in config to display the legend image at startup
  lizmap/www/assets/js/map.js
  tests/end2end/cypress/integration/legend-ghaction.js
  tests/qgis-projects/tests/layer_legends.qgs
  tests/qgis-projects/tests/layer_legends.qgs.cfg
Labels: user interface, new feature, tests, run cypress, layer tree

#3051 Minify JS files
  assets/webpack.common.js
  lizmap/www/assets/js/edition.js
  lizmap/www/assets/js/map.js
Labels: enhancement, performance, javascript, run cypress

#3014 [Bugfix] default attribute table column order not respected
  lizmap/modules/lizmap/lib/Request/WFSRequest.php
  lizmap/www/assets/js/attributeTable.js
  tests/end2end/cypress/integration/attribute_table-ghaction.js
  tests/qgis-projects/tests/attribute_table.qgs
  tests/qgis-projects/tests/attribute_table.qgs.cfg
  tests/qgis-projects/tests/attribute_table/quartiers.cpg
  tests/qgis-projects/tests/attribute_table/quartiers.dbf
  tests/qgis-projects/tests/attribute_table/quartiers.prj
  tests/qgis-projects/tests/attribute_table/quartiers.qmd
  tests/qgis-projects/tests/attribute_table/quartiers.shp
  tests/qgis-projects/tests/attribute_table/quartiers.shx
Labels: bug, QGIS Server, tests, backport release_3_4, backport release_3_5, run cypress, attribute table

#3055 Minify js followup
  .gitignore
  .gitlab-ci.yml
  CHANGELOG-3.5.md
  assets/src/legacy/action.js
  assets/src/legacy/atlas.js
  assets/src/legacy/attributeTable.js
  assets/src/legacy/bottom-dock.js
  assets/src/legacy/edition.js
  assets/src/legacy/filter.js
  assets/src/legacy/map.js
  assets/src/legacy/popupQgisAtlas.js
  assets/src/legacy/search.js
  assets/src/legacy/switcher-layers-actions.js
  assets/src/legacy/timemanager.js
  assets/src/legacy/view.js
  assets/webpack.common.js
Labels: enhancement, performance, javascript, backport release_3_5

#3040 [Bugfix] infinite redirections when no access to the default project in the 'onlyMap' mode
  lizmap/modules/view/controllers/default.classic.php
Labels: bug, backport release_3_4, backport release_3_5, run cypress

#3067 Update to nodejs 16
  tests/docker-conf/phpfpm/Dockerfile
Labels: tests, backport release_3_5, run cypress

#3066 Build JS files automatically
  tests/docker-conf/phpfpm/Dockerfile
  tests/docker-conf/phpfpm/appctl.sh
Labels: tests, backport release_3_5, run cypress

#3063 Support of PHP 8.1
  CHANGELOG-3.6.md
  INSTALL.md
  Makefile
  dev/Dockerfile
  dev/Makefile
  docker/Dockerfile
  docker/lizmap-entrypoint.sh
  lizmap/composer.json
  lizmap/modules/admin/controllers/landing_page_content.classic.php
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/controllers/edition.classic.php
  lizmap/modules/lizmap/controllers/geobookmark.classic.php
  lizmap/modules/lizmap/controllers/search.classic.php
  lizmap/modules/lizmap/controllers/searchFts.classic.php
  lizmap/modules/lizmap/controllers/service.classic.php
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/ProjectConfig.php
  lizmap/modules/view/controllers/default.classic.php
  lizmap/modules/view/controllers/lizAjax.classic.php
  lizmap/modules/view/controllers/lizMap.classic.php
  lizmap/modules/view/controllers/map.classic.php
  lizmap/responses/adminHtmlResponse.class.php
  lizmap/responses/adminLoginHtmlResponse.class.php
  tests/docker-conf/phpfpm/Dockerfile
  tests/units/classes/Form/QgisFormTest.php
Labels: administration pages, data editor, docker, tests

#3065 [Backport release_3_4] [Bugfix] default attribute table column order not respected
  lizmap/modules/lizmap/classes/lizmapWFSRequest.class.php
  lizmap/www/assets/js/attributeTable.js
  lizmap/www/assets/js/map.js
  tests/end2end/cypress/integration/attribute_table-ghaction.js
  tests/qgis-projects/tests/attribute_table.qgs
  tests/qgis-projects/tests/attribute_table.qgs.cfg
  tests/qgis-projects/tests/attribute_table/quartiers.cpg
  tests/qgis-projects/tests/attribute_table/quartiers.dbf
  tests/qgis-projects/tests/attribute_table/quartiers.prj
  tests/qgis-projects/tests/attribute_table/quartiers.qmd
  tests/qgis-projects/tests/attribute_table/quartiers.shp
  tests/qgis-projects/tests/attribute_table/quartiers.shx
Labels: bug, tests, run cypress, attribute table

#2839 Lizmap service etag
  CHANGELOG-3.6.md
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/controllers/edition.classic.php
  lizmap/modules/lizmap/controllers/service.classic.php
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  lizmap/modules/lizmap/lib/Form/QgisFormValueRelationDynamicDatasource.php
  lizmap/modules/lizmap/lib/Request/OGCRequest.php
  lizmap/modules/lizmap/lib/Request/OGCResponse.php
  lizmap/modules/lizmap/lib/Request/WFSRequest.php
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  lizmap/modules/lizmap/lib/Request/WMTSRequest.php
  tests/end2end/cypress/integration/requests-service-ghaction.js
  tests/units/classes/Request/WMSRequestTest.php
Labels: enhancement, QGIS Server, data editor, tests, run cypress

#3076 [Bugfix] Zoom to layer extent EPSG:4326
  assets/src/legacy/switcher-layers-actions.js
  tests/end2end/cypress/integration/zoom-to-layer-ghaction.js
  tests/qgis-projects/tests/world-3857.qgs
  tests/qgis-projects/tests/world-3857.qgs.cfg
  tests/qgis-projects/tests/world-4326.qgs
  tests/qgis-projects/tests/world-4326.qgs.cfg
  tests/qgis-projects/tests/world/rectangle.geojson
  tests/qgis-projects/tests/world/world.geojson
Labels: bug, user interface, sponsored development, tests, backport release_3_4, javascript, backport release_3_5, run cypress

#3079 [Bugfix] Attribute table refreshing
  assets/src/legacy/attributeTable.js
  tests/end2end/cypress/integration/attribute_table-ghaction.js
  tests/end2end/cypress/integration/feature_toolbar-ghaction.js
  tests/end2end/cypress/integration/key_value_mapping-ghaction.js
Labels: tests, javascript, backport release_3_5, run cypress, attribute table

#3090 [Backport release_3_5][Bugfix] Attribute table refreshing
  assets/src/legacy/attributeTable.js
  tests/end2end/cypress/integration/attribute_table-ghaction.js
Labels: tests, javascript, run cypress, attribute table

#3087 Tests - Add form filter cypress test
  tests/end2end/cypress/integration/form-filter-ghaction.js
  tests/qgis-projects/tests/form_filter.md
Labels: tests, backport release_3_4, backport release_3_5, run cypress

#3095 Tests - Switch from ign.fr to lizmap.com to provide an external WMS in cypress
  tests/end2end/cypress/integration/external_wms_layer-ghaction.js
  tests/qgis-projects/tests/external_wms_layer.qgs
  tests/qgis-projects/tests/external_wms_layer.qgs.cfg
Labels: tests, backport release_3_4, backport release_3_5, run cypress

#3099 UX - Fix icon not displayed for dataviz panel
  lizmap/modules/dataviz/controllers/service.classic.php
  lizmap/modules/lizmap/lib/Project/Project.php
  tests/end2end/cypress/integration/dataviz-ghaction.js
  tests/qgis-projects/tests/dataviz.qgs
  tests/qgis-projects/tests/dataviz.qgs.cfg
Labels: tests, dataviz, backport release_3_4, backport release_3_5, run cypress

#3104 UX - Fix icon not displayed for dataviz panel
  lizmap/modules/dataviz/controllers/service.classic.php
  lizmap/modules/lizmap/classes/lizmapProject.class.php
  tests/end2end/cypress/integration/dataviz-ghaction.js
  tests/qgis-projects/tests/dataviz.qgs
  tests/qgis-projects/tests/dataviz.qgs.cfg
Labels: tests, dataviz, run cypress
