Repository 3liz/lizmap-web-client, pull requests merged in 2022-07, with the labels that each got.

#3115 [Bugfix] Open filtered layer attribute table
  assets/src/legacy/attributeTable.js
  tests/end2end/cypress/integration/attribute_table-ghaction.js
Labels: bug, tests, regression, javascript, run cypress, attribute table

#3119 [Tests] e2e Attribute Table: Check selection / filter / refresh
  tests/end2end/cypress/integration/attribute_table-ghaction.js
Labels: tests, attribute table

#3074 Map's initial extent defined by features. Optionally display features popup.
  .gitignore
  assets/src/legacy/map.js
  assets/src/modules/Lizmap.js
  assets/src/modules/WMS.js
  tests/README.md
  tests/end2end/package-lock.json
  tests/end2end/package.json
  tests/end2end/playwright.config.js
  tests/end2end/playwright/startup.spec.js
  tests/end2end/playwright/startup.spec.js-snapshots/zoom-features-extent-chromium-linux.png
  tests/end2end/playwright/startup.spec.js-snapshots/zoom-features-extent-display-popup-chromium-linux.png
  tests/qgis-projects/tests/startup.qgs
  tests/qgis-projects/tests/startup.qgs.cfg
Labels: new feature, sponsored development, tests, javascript, run cypress

#3117 Form filter - Use OR between the uniques values of the same field
  assets/src/legacy/filter.js
Labels: bug, filter forms, backport release_3_4, javascript, backport release_3_5

#3118 PHPStan fix config file
  lizmap/modules/lizmap/classes/lizmapFts.class.php
  lizmap/modules/view/controllers/default.classic.php
  lizmap/modules/view/controllers/lizMap.classic.php
  phpstan-baseline.neon
  phpstan.neon
Labels: tests

#3122 PHPStan: view/controllers enhancement
  lizmap/modules/view/controllers/app.classic.php
  lizmap/modules/view/controllers/embed.classic.php
  lizmap/modules/view/controllers/lizAjax.classic.php
  lizmap/modules/view/controllers/map.classic.php
  lizmap/modules/view/controllers/media.classic.php
  phpstan-baseline.neon
Labels: tests, backport release_3_5, run cypress, php

#3089 Cleanly handle project loading error at startup
  assets/src/legacy/map.js
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/www/assets/css/map.css
Labels: enhancement, user interface, map viewer, localization, refactoring, javascript, run cypress

#3129 fix: The `editionLayers` of `$configJson` in `Project::getUpdatedConfig` can be `unset`
  lizmap/modules/lizmap/lib/Project/Project.php
Labels: bug, data editor, backport release_3_4, backport release_3_5, php

#3134 Email configuration: add more explainations to fill correctly data
  lizmap/modules/admin/controllers/config.classic.php
  lizmap/modules/admin/forms/config_services.form.xml
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/config.tpl
  lizmap/modules/admin/templates/config_services.tpl
  lizmap/modules/lizmap/classes/lizmapServices.class.php
Labels: enhancement, administration pages, backport release_3_5, backport release_3_6

#3132 UI - Update to Lizmap server plugin and its version
  lizmap/modules/admin/controllers/config.classic.php
  lizmap/modules/admin/controllers/server_information.classic.php
  lizmap/modules/admin/forms/config_services.form.xml
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/server_information.tpl
  lizmap/modules/lizmap/lib/Server/Server.php
Labels: administration pages, backport release_3_5, backport release_3_6
