Repository 3liz/lizmap-web-client, pull requests merged in 2022-08, with the labels that each got.

#3139 Config - Make a single configuration for version using an INI file
  lizmap/app/system/mainconfig.ini.php
  lizmap/modules/admin/controllers/config.classic.php
  lizmap/modules/admin/controllers/server_information.classic.php
Labels: administration pages, backport release_3_5, backport release_3_6

#3142 ACL - Check that QGIS server is OK before opening a project
  CHANGELOG-3.6.md
  lizmap/modules/admin/controllers/server_information.classic.php
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/server_information.tpl
  lizmap/modules/lizmap/lib/Server/Server.php
  lizmap/modules/view/controllers/lizMap.classic.php
  lizmap/modules/view/locales/en_US/default.UTF-8.properties
  tests/end2end/cypress/integration/requests-metadata-ghaction.js
Labels: administration pages, tests, backport release_3_6

#3166 Server info - always fetch metadata from qgis server even if we are not an admin
  lizmap/modules/lizmap/lib/Server/Server.php
  lizmap/modules/view/controllers/app.classic.php
Labels: run cypress

#3167 Server info - always fetch metadata from qgis server even if we are not an admin
  lizmap/modules/lizmap/lib/Server/Server.php
  lizmap/modules/view/controllers/app.classic.php
Labels: run cypress, backport

#3168 Server info - always fetch metadata from qgis server even if we are not an admin
  lizmap/modules/lizmap/lib/Server/Server.php
  lizmap/modules/view/controllers/app.classic.php
Labels: run cypress, backport

#3174 fix(request): OGC GetCapabilities with tests
  lizmap/modules/lizmap/lib/Request/OGCRequest.php
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  tests/end2end/cypress/integration/requests-getcapabilities-ghaction.js
  tests/end2end/cypress/integration/requests-service-ghaction.js
Labels: bug, QGIS Server, tests, backport release_3_4, backport release_3_5, run cypress, backport release_3_6

#3177 [Backport release_3_5] fix(request): OGC GetCapabilities with tests
  lizmap/modules/lizmap/lib/Request/OGCRequest.php
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  tests/end2end/cypress/integration/requests-getcapabilities-ghaction.js
  tests/end2end/cypress/integration/requests-service-ghaction.js
Labels: bug, QGIS Server, tests, run cypress

#3178 [Backport release_3_4] fix(request): OGC GetCapabilities with tests
  lizmap/modules/lizmap/classes/lizmapOGCRequest.class.php
  lizmap/modules/lizmap/classes/lizmapWMSRequest.class.php
  tests/end2end/cypress/integration/requests-getcapabilities-ghaction.js
  tests/end2end/cypress/integration/requests-service-ghaction.js
Labels: bug, QGIS Server, tests, run cypress

#3165 Remove old code and dropdown menu about qgis server version
  assets/src/legacy/map.js
  lizmap/modules/admin/forms/config_services.form.xml
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/config.tpl
  lizmap/modules/admin/templates/config_services.tpl
  lizmap/modules/lizmap/classes/lizmapServices.class.php
  lizmap/modules/lizmap/classes/qgisServer.class.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  lizmap/modules/lizmap/lib/Request/WFSRequest.php
  tests/docker-conf/phpfpm/lizmapConfig.ini.php
  tests/units/classes/lizmapServicesTest.php
Labels: QGIS Server, administration pages, tests, javascript, run cypress

#3164 UX - Rename "WMS server URL" to "QGIS server URL", its used for WFS, plugin etc
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
Labels: administration pages

#3187 OL - Remove legacy OSM tile servers
  assets/src/legacy/map.js
Labels: javascript, backport release_3_5, backport release_3_6
