Repository 3liz/lizmap-web-client, pull requests merged in 2022-03, with the labels that each got.

#2796 Search without private group
  lizmap/modules/lizmap/classes/lizmapFts.class.php
  lizmap/modules/lizmap/controllers/search.classic.php
Labels: refactorisation, backport release_3_5

#2797 Fix: Extract Version from OGC XML Request
  lizmap/modules/lizmap/lib/Request/Proxy.php
Labels: enhancement, backport release_3_4, backport release_3_5

#2799 Fix: Use cache for QGIS Server plugins data
  lizmap/modules/lizmap/classes/qgisServer.class.php
Labels: enhancement, backport release_3_4, backport release_3_5

#2804 [Bugfix] Get CRS Proj4 definition from QGIS project
  lizmap/modules/lizmap/classes/qgisProject.class.php
Labels: regression, backport release_3_4, backport release_3_5

#2798 Fix: HTTP Status Messages for lizmap servcie responses
  lizmap/modules/lizmap/controllers/service.classic.php
  lizmap/modules/lizmap/lib/Request/Proxy.php
Labels: enhancement, backport release_3_5

#2800 QGIS - Display the server commit ID if available
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/server_information.tpl
Labels: QGIS Server, user interface, backport release_3_5

#2815 [Bugfix] lizmap service GetProj4 request
  lizmap/modules/lizmap/controllers/service.classic.php
  tests/end2end/cypress/integration/requests-service-ghaction.js
Labels: bug, tests, backport release_3_4, backport release_3_5

#2826 UX - Do not show custom label if some label IDs are protected and managed by LWC
  lizmap/www/assets/js/popupQgisAtlas.js
Labels: user interface, printing, backport release_3_4, backport release_3_5

#2832 [Backport release_3_4][Bugfix] Empty value in Jelix menulist
  lizmap/modules/lizmap/classes/qgisForm.class.php
  lizmap/modules/lizmap/classes/qgisFormValueRelationDynamicDatasource.class.php
Labels: bug, data editor

#2785 UX - Review the error message about the HTTP code from QGIS Server
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/server_information.tpl
Labels: QGIS Server, user interface, backport release_3_5

#2842 Fix the assets revision mecanism
  lizmap/plugins/configcompiler/lizmapconfig/lizmapconfig.configcompiler.php
  lizmap/var/config/mainconfig.ini.php
Labels: bug, backport release_3_5

#2722 Use values instead of keys in attribute table, form filters and dataviz
  assets/src/modules/Lizmap.js
  assets/src/modules/WFS.js
  lizmap/modules/lizmap/controllers/service.classic.php
  lizmap/modules/lizmap/lib/Form/QgisFormControlProperties.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  lizmap/modules/view/controllers/lizAjax.classic.php
  lizmap/modules/view/controllers/lizMap.classic.php
  lizmap/responses/AbstractLizmapHtmlResponse.php
  lizmap/responses/myHtmlMapResponse.class.php
  lizmap/www/assets/css/map.css
  lizmap/www/assets/js/attributeTable.js
  lizmap/www/assets/js/filter.js
  lizmap/www/assets/js/map.js
  tests/end2end/cypress/integration/feature_toolbar-ghaction.js
  tests/end2end/cypress/integration/key_value_mapping-ghactions.js
  tests/qgis-projects/tests/feature_toolbar.qgs
  tests/qgis-projects/tests/feature_toolbar.qgs.cfg
  tests/qgis-projects/tests/key_value_mapping.qgs
  tests/qgis-projects/tests/key_value_mapping.qgs.cfg
  tests/qgis-projects/tests/tests_dataset.sql
  tests/units/classes/Project/QgisProjectTest.php
Labels: enhancement, sponsored development, run cypress

#2846 Fix the image dialog size on tiny screens
  lib/jelix-www/js/jforms/imageSelector.js
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  lizmap/www/assets/css/map.css
  lizmap/www/assets/jelix/js/jforms/imageSelector.js
Labels: bug, backport release_3_5

#2841 [Bugfix] Edition: update and delete is not authorized for feature id 0
  lizmap/modules/lizmap/controllers/edition.classic.php
Labels: bug, data editor, backport release_3_4, backport release_3_5, run cypress

#2849 [Backport release_3_4] [Bugfix] Edition: update and delete is not authorized for feature id 0
  lizmap/modules/lizmap/controllers/edition.classic.php
Labels: bug, data editor

#2853 Filter by attribute: the attribute can be upper case
  lizmap/modules/lizmap/lib/Project/Project.php
  tests/units/classes/Project/ProjectTest.php
Labels: bug, priority:high, backport release_3_4, backport release_3_5, run cypress

#2855 [Backport release_3_4] Filter by attribute: the attribute can be upper case
  lizmap/modules/lizmap/classes/lizmapProject.class.php
Labels: bug

#2856 [Bugfix] Empty value in Jelix checkboxes
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  lizmap/modules/lizmap/lib/Form/QgisFormValueRelationDynamicDatasource.php
  lizmap/plugins/formwidget/checkboxes_htmlbootstrap/checkboxes_htmlbootstrap.formwidget.php
  tests/end2end/cypress/integration/form_type_relational_value-ghaction.js
  tests/qgis-projects/tests/form_type_relational_value.md
  tests/qgis-projects/tests/form_type_relational_value.qgs
  tests/qgis-projects/tests/form_type_relational_value.qgs.cfg
Labels: bug, data editor, backport release_3_4, backport release_3_5, run cypress

#2863 [Bugfix][Edition] Boolean nullable displayed as menulist in release_3_4
  lizmap/modules/lizmap/classes/qgisFormControl.class.php
Labels: bug, data editor

#2862 [Backport release_3_4][Bugfix] Empty value in Jelix checkboxes
  lizmap/modules/lizmap/classes/qgisForm.class.php
  lizmap/modules/lizmap/classes/qgisFormValueRelationDynamicDatasource.class.php
  lizmap/plugins/formwidget/checkboxes_htmlbootstrap/checkboxes_htmlbootstrap.formwidget.php
  tests/end2end/cypress/integration/form_type_relational_value-ghaction.js
  tests/qgis-projects/tests/form_type_relational_value.md
  tests/qgis-projects/tests/form_type_relational_value.qgs
  tests/qgis-projects/tests/form_type_relational_value.qgs.cfg
Labels: bug, run cypress

#2864 [Edition] Update comments about ValueRelation EmptyValue
  lizmap/modules/lizmap/lib/Form/QgisForm.php
Labels: data editor, backport release_3_4, backport release_3_5

#2857 [Tests] end2end: finalize cypress form value relation tests
  tests/end2end/cypress/integration/form_edition_value_relation_field-ghaction.js
Labels: data editor, tests, backport release_3_5, run cypress

#2875 Level up PHPStan
  phpstan-baseline.neon
  phpstan.neon
  tests/README.md
  tests/units/composer.json
Labels: tests

#2886 [Bugfix] lizmap_search application context from project
  lizmap/modules/lizmap/classes/lizmapFts.class.php
  lizmap/modules/lizmap/controllers/searchFts.classic.php
  tests/end2end/cypress/integration/lizmap_search-ghaction.js
  tests/qgis-projects/tests/load_sql.sh
  tests/qgis-projects/tests/set_tests_lizmap_search.sql
Labels: authentication, tests, regression, backport release_3_5, run cypress

#2889 Add export button to featureToolBar
  assets/src/components/FeatureToolbar.js
  assets/src/modules/Digitizing.js
  assets/src/modules/Lizmap.js
  assets/src/modules/Utils.js
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  lizmap/www/assets/css/map.css
Labels: enhancement, popup, sponsored development, javascript, run cypress
