Repository 3liz/lizmap-web-client, pull requests merged in 2022-12, with the labels that each got.

#3344 Update mini-dock size with CSS
  assets/src/legacy/map.js
  lizmap/www/assets/css/map.css
Labels: user interface, refactoring, javascript, run end2end

#3341 Support of CORS for map services
  lizmap/modules/admin/controllers/maps.classic.php
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/lizmap/classes/lizmap.class.php
  lizmap/modules/lizmap/classes/lizmapRepository.class.php
  lizmap/modules/lizmap/controllers/service.classic.php
  lizmap/modules/lizmap/lib/Project/Repository.php
  tests/README.md
  tests/docker-conf/nginx-default.conf
  tests/docker-conf/phpfpm/lizmapConfig.ini.php
  tests/end2end/cypress/integration/cors-ghaction.js
  tests/end2end/othersite/index.html
  tests/end2end/othersite/main.js
Labels: enhancement, security, administration pages, sponsored development, tests, backport release_3_6

#3350 [Bugfix] Use wmsName and not clean name for Children GetFeatureInfo
  assets/src/legacy/map.js
Labels: regression, javascript, backport release_3_5, run end2end, backport release_3_6

#3353 Dataviz - Fix wrong display for the horizontal bar charts
  lizmap/modules/dataviz/classes/datavizPlot.class.php
  tests/end2end/cypress/integration/dataviz-ghaction.js
  tests/qgis-projects/tests/dataviz.qgs
  tests/qgis-projects/tests/dataviz.qgs.cfg
Labels: bug, tests, regression, dataviz, backport release_3_5, run end2end, backport release_3_6, run cypress

#3340 [Bugfix] Overview has to use projection and not QGIS Project projection
  assets/src/components/OverviewMap.js
  tests/end2end/cypress/fixtures/images/overview/2154-to-3857.png
  tests/end2end/cypress/fixtures/images/overview/2154.png
  tests/end2end/cypress/fixtures/images/overview/3857.png
  tests/end2end/cypress/fixtures/images/overview/4326-to-3857.png
  tests/end2end/cypress/fixtures/images/overview/4326.png
  tests/end2end/cypress/integration/overview-ghaction.js
  tests/qgis-projects/tests/overview-2154.qgs
  tests/qgis-projects/tests/overview-2154.qgs.cfg
  tests/qgis-projects/tests/overview-3857.qgs
  tests/qgis-projects/tests/overview-3857.qgs.cfg
  tests/qgis-projects/tests/overview-4326.qgs
  tests/qgis-projects/tests/overview-4326.qgs.cfg
  tests/qgis-projects/tests/overview_map.qgs
Labels: bug, user interface, tests, javascript, backport release_3_5, run end2end, backport release_3_6

#3360 CI - Fix some issues on Cypress and upgrade it
  .github/workflows/e2e_tests.yml
  tests/docker-compose.yml
  tests/end2end/othersite/index.html
Labels: tests, github_actions, run end2end

#3333 empty xml count failed
  lizmap/modules/lizmap/lib/Project/QgisProject.php
Labels: tests, backport release_3_6

#3371 Container does not start with non-standard UID/GID - attempt to fix #3370
  docker/Dockerfile
  docker/lizmap-entrypoint.sh
Labels: docker, backport release_3_6
