Repository 3liz/lizmap-web-client, pull requests merged in 2022-11, with the labels that each got.

#3303 [Backport release_3_5] Editing - Fix: the HTML form widget must use WYSIWYG editor
  lizmap/modules/lizmap/lib/Form/QgisFormControl.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  tests/end2end/cypress/integration/form_edition_all_field_type-ghaction.js
  tests/qgis-projects/tests/form_edition_all_field_type.qgs
  tests/qgis-projects/tests/tests_dataset.sql
Labels: data editor, tests, regression, run cypress

#3304 GH Action - Upgrade cypress action to 4.2.0
  .github/workflows/e2e_tests_cypress.yml
Labels: tests, backport release_3_5, run end2end, backport release_3_6, run cypress

#3294 Playwright Github Action
  .github/workflows/e2e_tests.yml
  README.md
Labels: backport release_3_5, run end2end, backport release_3_6

#3291 Fix: Ip into logs is not the real ip
  lizmap/modules/lizmap/classes/lizmapLog.listener.php
Labels: bug, administration pages, backport release_3_5, backport release_3_6

#3306 Fix form control properties allow null
  lizmap/modules/lizmap/lib/Form/QgisFormControlProperties.php
  tests/units/classes/Form/QgisFormControlPropertiesTest.php
  tests/units/classes/Project/QgisProjectTest.php
Labels: data editor, tests, backport release_3_5, run end2end, backport release_3_6

#3302 [Bugfix] Scaleline values are constraint by default baselayer and not the map
  assets/src/modules/Map.js
  tests/end2end/cypress/integration/base_layers-ghaction.js
  tests/qgis-projects/tests/base_layers.qgs.cfg
Labels: user interface, tests, javascript, backport release_3_5, run end2end, backport release_3_6

#3315 [Bugfix] Dataviz: fetching WFS data from file
  lizmap/modules/dataviz/classes/datavizPlot.class.php
  lizmap/modules/dataviz/controllers/service.classic.php
  lizmap/modules/lizmap/controllers/edition.classic.php
Labels: regression, dataviz, run end2end, backport release_3_6

#3290 [docker] wait after the Postgresql server before installing lizmap
  docker/README.md
  docker/update-config.php
Labels: bug, docker, backport release_3_6

#3289 allow space and dot in project filename
  lizmap/modules/lizmap/classes/lizmap.class.php
  tests/end2end/cypress/integration/projects_filename_dot_space-ghaction.js
  tests/end2end/playwright/startup.spec.js
  tests/qgis-projects/tests/base_layers with space.qgs
  tests/qgis-projects/tests/base_layers with space.qgs.cfg
  tests/qgis-projects/tests/base_layers.withdot.qgs
  tests/qgis-projects/tests/base_layers.withdot.qgs.cfg
Labels: tests, backport release_3_5, run end2end, php, backport release_3_6

#3309 Update jquery-ui to 1.13.2
  lizmap/app/system/mainconfig.ini.php
  lizmap/www/assets/js/jquery/ui/README.md
  lizmap/www/assets/js/jquery/ui/images/ui-bg_glass_55_fbf9ee_1x400.png
  lizmap/www/assets/js/jquery/ui/images/ui-bg_glass_65_ffffff_1x400.png
  lizmap/www/assets/js/jquery/ui/images/ui-bg_glass_75_dadada_1x400.png
  lizmap/www/assets/js/jquery/ui/images/ui-bg_glass_75_e6e6e6_1x400.png
  lizmap/www/assets/js/jquery/ui/images/ui-bg_glass_95_fef1ec_1x400.png
  lizmap/www/assets/js/jquery/ui/images/ui-bg_highlight-soft_75_cccccc_1x100.png
  lizmap/www/assets/js/jquery/ui/images/ui-icons_222222_256x240.png
  lizmap/www/assets/js/jquery/ui/images/ui-icons_2e83ff_256x240.png
  lizmap/www/assets/js/jquery/ui/images/ui-icons_454545_256x240.png
  lizmap/www/assets/js/jquery/ui/images/ui-icons_888888_256x240.png
  lizmap/www/assets/js/jquery/ui/images/ui-icons_cd0a0a_256x240.png
  lizmap/www/assets/js/jquery/ui/jquery-ui.min.css
  lizmap/www/assets/js/jquery/ui/jquery-ui.min.js
Labels: dependencies, javascript, technical debt

#3324 Dots space in project filename (lwc 3.5)
  lizmap/modules/lizmap/classes/lizmap.class.php
  tests/end2end/cypress/integration/filename_with_dots_space-ghaction.js
  tests/qgis-projects/tests/base_layers with space.qgs
  tests/qgis-projects/tests/base_layers with space.qgs.cfg
  tests/qgis-projects/tests/base_layers.with.dot.qgs
  tests/qgis-projects/tests/base_layers.with.dot.qgs.cfg
Labels: tests, php, run cypress

#3288 Update Plotly.js
  CHANGELOG-3.7.md
  lizmap/www/assets/js/dataviz/dataviz.js
  lizmap/www/assets/js/dataviz/plotly-latest.min.js
Labels: dataviz, javascript, technical debt, run end2end
