Repository 3liz/lizmap-web-client, pull requests merged in 2022-01, with the labels that each got.

#2671 Create lizmap-feature-toolbar element
  assets/src/components/FeatureToolbar.js
  assets/src/components/SelectionInvert.js
  assets/src/components/SelectionTool.js
  assets/src/index.js
  assets/src/modules/Edition.js
  assets/src/modules/Lizmap.js
  assets/src/modules/ProxyEvents.js
  assets/src/modules/SelectionTool.js
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  lizmap/www/assets/css/map.css
  lizmap/www/assets/js/attributeTable.js
  lizmap/www/assets/js/edition.js
  lizmap/www/assets/js/map.js
  tests/end2end/cypress/fixtures/images/feature_toolbar/filter.png
  tests/end2end/cypress/fixtures/images/feature_toolbar/selection.png
  tests/end2end/cypress/integration/feature_toolbar-ghaction.js
  tests/end2end/cypress/integration/filter_layer_data_by_polygon_for_groups-ghaction.js
  tests/end2end/cypress/integration/form_edition-ghaction.js
  tests/end2end/cypress/integration/form_edition_all_field_type-ghaction.js
  tests/end2end/cypress/integration/form_edition_reverse_geom-ghaction.js
  tests/end2end/cypress/integration/form_edition_without_creation-ghaction.js
  tests/end2end/package-lock.json
  tests/end2end/package.json
  tests/qgis-projects/tests/feature_toolbar.qgs
  tests/qgis-projects/tests/feature_toolbar.qgs.action
  tests/qgis-projects/tests/feature_toolbar.qgs.cfg
  tests/qgis-projects/tests/tests_dataset.sql
Labels: enhancement, user interface, popup, sponsored development, refactorisation, javascript

#2691 Fix: geom can be created on existing feature w/o geom
  lizmap/www/assets/js/edition.js
  tests/end2end/cypress/integration/form_edition-ghaction.js
  tests/qgis-projects/tests/end2end_form_edition.qgs
  tests/qgis-projects/tests/form_edition.qgs
  tests/qgis-projects/tests/form_edition.qgs.cfg
Labels: data editor, backport release_3_4, backport release_3_5

#2657 Fix: Snapping missing when editing existing feature
  lizmap/modules/view/templates/map_edition.tpl
  lizmap/www/assets/js/edition.js
  tests/qgis-projects/tests/form_edition_snap.md
  tests/qgis-projects/tests/form_edition_snap.qgs
  tests/qgis-projects/tests/form_edition_snap.qgs.cfg
  tests/qgis-projects/tests/tests_dataset.sql
Labels: bug, data editor, backport release_3_4, backport release_3_5

#2697 Update IGN URL search Adress
  lizmap/www/assets/js/search.js
Labels: backport release_3_4, javascript, backport release_3_5

#2695 Attribute table - Fix the link of selected features between a parent and a child layer
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/controllers/edition.classic.php
  tests/end2end/cypress/integration/feature_toolbar-ghaction.js
  tests/qgis-projects/tests/tests_dataset.sql
Labels: bug, data editor, regression, backport release_3_4, backport release_3_5

#2716 [Bugfix] ValueMap widget parsing config
  CHANGELOG-3.5.md
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  tests/units/classes/Project/QgisProjectTest.php
Labels: bug, data editor, regression, backport release_3_5

#2718 Attribute table - Fix the link of selected features between a parent a child layer
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/controllers/edition.classic.php
Labels: bug, data editor, priority:high, regression, postgresql

#2719 [Backport release_3_5][Bugfix] ValueMap widget parsing config
  CHANGELOG-3.5.md
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  tests/units/classes/Project/QgisProjectTest.php
Labels: bug, data editor, regression

#2618 Editing - Fix the value relation widget with multiple text values on feature modification
  CHANGELOG-3.5.md
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  tests/end2end/cypress/integration/form_edition_all_field_type-ghaction.js
  tests/qgis-projects/tests/form_edition_all_field_type.qgs
  tests/qgis-projects/tests/form_edition_all_field_type.qgs.cfg
  tests/qgis-projects/tests/tests_dataset.sql
Labels: bug, data editor, backport release_3_4, backport release_3_5, run cypress

#2714 Fix server URL when using FCGI for the Lizmap entrypoint
  docker/lizmapConfig.ini.php.dist
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/server_information.tpl
  lizmap/modules/lizmap/lib/Server/Server.php
  lizmap/var/config/lizmapConfig.ini.php.dist
Labels: bug, backport release_3_5

#2734 Attribute table - Fix the export when a selection or a filter is active
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/controllers/service.classic.php
  lizmap/modules/lizmap/lib/Form/QgisFormValueRelationDynamicDatasource.php
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/www/assets/js/map.js
  tests/end2end/cypress/fixtures/export/export_data_uids.geojson
  tests/end2end/cypress/fixtures/export/export_data_uids_features_2_and_4.geojson
  tests/end2end/cypress/fixtures/export/export_parent_layer.geojson
  tests/end2end/cypress/fixtures/export/export_parent_layer_feature_2.geojson
  tests/end2end/cypress/integration/feature_toolbar-ghaction.js
  tests/qgis-projects/tests/feature_toolbar.qgs
  tests/qgis-projects/tests/feature_toolbar.qgs.cfg
Labels: bug, regression, backport release_3_4, javascript, backport release_3_5, run cypress

#2736 Media - Fix the mime type for SVG files: should be image/svg+xml
  lizmap/modules/view/controllers/media.classic.php
Labels: enhancement, backport release_3_4, backport release_3_5
