Repository 3liz/lizmap-web-client, pull requests merged in 2022-05, with the labels that each got.

#2984 [Tests] end2end: Search projects in home page
  tests/end2end/cypress/integration/projects_homepage-ghaction.js
  tests/qgis-projects/tests/test_tags.md
Labels: tests, backport release_3_4, backport release_3_5, run cypress

#2982 [Bugfix] Download export with the filename
  lizmap/www/assets/js/map.js
  tests/end2end/cypress/integration/print-ghaction.js
Labels: bug, tests, backport release_3_4, backport release_3_5, run cypress

#2990 Tests - Use the Lizmap server plugin
  tests/add_server_plugins.sh
Labels: tests, backport release_3_4, backport release_3_5

#3002 Fix cmdline wmts seeding bbox
  lizmap/modules/lizmap/classes/lizmapTiler.class.php
  lizmap/modules/lizmap/controllers/wmts.cmdline.php
  lizmap/modules/lizmap/lib/Project/Project.php
  phpstan-baseline.neon
  tests/README.md
  tests/docker-conf/phpfpm/appctl.sh
  tests/end2end/cypress/integration/cmdline-wmts-ghaction.js
  tests/end2end/cypress/support/index.js
  tests/lizmap-ctl
  tests/qgis-projects/tests/cache.md
Labels: tests, backport release_3_4, backport release_3_5, run cypress

#2997 Demo - Upgrade projects to 3.16 and Lizmap 3.7.7
  extra-modules/lizmapdemo/qgis-projects/demoqgis/edition/events.gpkg
  extra-modules/lizmapdemo/qgis-projects/demoqgis/events.qgs
  extra-modules/lizmapdemo/qgis-projects/demoqgis/events.qgs.cfg
  extra-modules/lizmapdemo/qgis-projects/demoqgis/montpellier.qgs
  extra-modules/lizmapdemo/qgis-projects/demoqgis/montpellier.qgs.cfg
  extra-modules/lizmapdemo/qgis-projects/demoqgis_intranet/montpellier_intranet.qgs
  extra-modules/lizmapdemo/qgis-projects/demoqgis_intranet/montpellier_intranet.qgs.cfg
Labels: backport release_3_4, backport release_3_5

#2930 [Feature] Edition: Button to restart drawing geometry
  CHANGELOG-3.6.md
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/modules/view/locales/en_US/edition.UTF-8.properties
  lizmap/modules/view/templates/map_edition.tpl
  lizmap/www/assets/js/edition.js
  tests/end2end/cypress/integration/form_edition_value_relation_field-ghaction.js
Labels: data editor, new feature, tests, run cypress

#3013 Tests - Refactor login and password in cypress
  tests/end2end/cypress.json
  tests/end2end/cypress/integration/cmdline-wmts-ghaction.js
  tests/end2end/cypress/integration/filter_layer_data_by_polygon_for_groups-ghaction.js
  tests/end2end/cypress/integration/lizmap_search-ghaction.js
  tests/end2end/cypress/integration/selectionTool-ghaction.js
  tests/end2end/cypress/support/commands.js
Labels: tests, backport release_3_4, backport release_3_5, run cypress
