Repository 3liz/lizmap-web-client, pull requests merged in 2022-10, with the labels that each got.

#3262 [Backport release_3_4] fix(request): OGC GetCapabilities with tests
  lizmap/modules/lizmap/classes/lizmapWFSRequest.class.php
  lizmap/modules/lizmap/classes/lizmapWMSRequest.class.php
  tests/end2end/cypress/integration/requests-getcapabilities-ghaction.js
Labels: bug, QGIS Server, tests, run cypress

#3266 [Backport release_3_5] [Fix] Feature is editable
  lizmap/modules/lizmap/classes/qgisExpressionUtils.class.php
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/controllers/edition.classic.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Request/WFSRequest.php
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  phpstan-baseline.neon
  tests/end2end/cypress/fixtures/images/selection-admin-0.png
  tests/end2end/cypress/fixtures/images/selection-admin-1.png
  tests/end2end/cypress/fixtures/images/selection-admin-2.png
  tests/end2end/cypress/fixtures/images/selection_yellow.png
  tests/end2end/cypress/integration/filter_layer_by_user-ghaction.js
  tests/end2end/cypress/integration/filter_layer_data_by_polygon_for_groups-ghaction.js
  tests/end2end/cypress/integration/selectionTool-ghaction.js
  tests/qgis-projects/tests/filter_layer_by_user.md
  tests/qgis-projects/tests/filter_layer_by_user.qgs
  tests/qgis-projects/tests/filter_layer_by_user.qgs.cfg
  tests/qgis-projects/tests/form_edition_all_field_type.md
  tests/qgis-projects/tests/set_tests_respository_rights.sql
  tests/qgis-projects/tests/tests_dataset.sql
Labels: bug, QGIS Server, data editor, tests, run cypress

#3267 Set Lizmap server to minimum version 1.2.0
  lizmap/app/system/mainconfig.ini.php
Labels: backport release_3_6

#3255 remove nore more used PHPDoc @param
  lizmap/modules/lizmap/classes/lizmapLog.listener.php
  phpstan-baseline.neon
Labels: CI & packages, backport release_3_6

#3277 Fix copy to clipboard
  lizmap/modules/admin/templates/server_information.tpl
  lizmap/www/assets/css/admin.css
Labels: administration pages, backport release_3_6

#3272 Tests - Use docker buildkit by default
  tests/Makefile
Labels: tests, backport release_3_5, backport release_3_6

#3273 GH Action - Show the .env file when running the workflow
  .github/workflows/e2e_tests_cypress.yml
  tests/run-docker
Labels: tests, run cypress

#3259 Draw OL2 to OL7
  assets/src/components/Digitizing.js
  assets/src/legacy/map.js
  assets/src/modules/Digitizing.js
  assets/src/modules/SelectionTool.js
  tests/end2end/cypress/integration/selectionTool-ghaction.js
Labels: enhancement, sponsored development, tests, refactoring, javascript, technical debt, run cypress

#3285 Update datatables 1.12.1
  CHANGELOG-3.5.md
  lizmap/www/assets/css/dataTables.bootstrap.min.css
  lizmap/www/assets/css/jquery.dataTables.min.css
  lizmap/www/assets/css/map.css
  lizmap/www/assets/images/favicon.ico
  lizmap/www/assets/images/sort_asc.png
  lizmap/www/assets/images/sort_asc_disabled.png
  lizmap/www/assets/images/sort_both.png
  lizmap/www/assets/images/sort_desc.png
  lizmap/www/assets/images/sort_desc_disabled.png
  lizmap/www/assets/js/jquery.dataTables.min.js
Labels: user interface, backport release_3_5, run cypress, attribute table, backport release_3_6

#3292 Try QGIS Server if lizmap server plugin error
  lizmap/modules/admin/templates/server_information.tpl
  lizmap/modules/lizmap/lib/Server/Server.php
  tests/end2end/cypress/integration/requests-metadata-ghaction.js
Labels: bug, QGIS Server, administration pages, tests, backport release_3_6
