Repository 3liz/lizmap-web-client, pull requests merged in 2022-04, with the labels that each got.

#2890 UX - Allow thumbnail with capital letters in the extension
  lizmap/modules/view/controllers/media.classic.php
Labels: bug, backport release_3_4, backport release_3_5

#2905 Fix PHPStan in lizmap Service Controller
  lizmap/modules/lizmap/controllers/service.classic.php
  phpstan-baseline.neon
Labels: backport release_3_5

#2907 [Backport release_3_5] Fix PHPStan in lizmap Service Controller
  lizmap/modules/lizmap/controllers/service.classic.php
  phpstan-baseline.neon
Labels: tests

#2904 [Bugfix] Request WFS: Typename or feature id are mandatory
  lizmap/modules/lizmap/controllers/service.classic.php
  lizmap/modules/lizmap/lib/Request/WFSRequest.php
  tests/end2end/cypress/integration/requests-service-ghaction.js
Labels: bug, QGIS Server, tests, backport release_3_4, backport release_3_5, run cypress

#2912 [Backport release_3_4] [Bugfix] WFS GetCapabilities - Default version 1.0.0
  lizmap/modules/lizmap/classes/lizmapWFSRequest.class.php
  tests/end2end/cypress/integration/requests-service-ghaction.js
Labels: bug, QGIS Server, tests

#2913 [Backport release_3_4][Bugfix] Request WFS: Typename or feature id are mandatory
  lizmap/modules/lizmap/classes/lizmapWFSRequest.class.php
  lizmap/modules/lizmap/controllers/service.classic.php
  tests/end2end/cypress/integration/requests-service-ghaction.js
Labels: bug, QGIS Server, tests

#2906 [Bugfix] WFS GetFeature request from Postgres - add BBox
  lizmap/modules/lizmap/lib/Request/WFSRequest.php
Labels: bug, QGIS Server, backport release_3_4, backport release_3_5, run cypress

#2874 [Tests] end2end and manually: coverage cypress form value relation tests
  tests/end2end/cypress/integration/form_edition_value_relation_field-ghaction.js
  tests/qgis-projects/tests/form_edition_value_relation_field.md
Labels: tests, backport release_3_5, run cypress

#2911 Dataviz: Add service method docstring and fix errors
  lizmap/modules/dataviz/controllers/service.classic.php
  phpstan-baseline.neon
Labels: bug, dataviz, backport release_3_5, run cypress

#2918 [Backport release_3_5] Dataviz: Add service method docstring and fix errors
  lizmap/modules/admin/controllers/config.classic.php
  lizmap/modules/dataviz/controllers/service.classic.php
  phpstan-baseline.neon
Labels: dataviz

#2922 Fix layer tree parsing for QGIS 3.22 project
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  phpstan-baseline.neon
Labels: bug, backport release_3_4, backport release_3_5, run cypress

#2927 [Backport release_3_4] Fix layer tree parsing for QGIS 3.22 project
  lizmap/modules/lizmap/classes/lizmapProject.class.php
Labels: bug

#2934 [Bugfix] Lizmap WKT parser: support Multi
  lizmap/modules/lizmap/classes/lizmapWkt.class.php
  phpstan-baseline.neon
  tests/units/classes/lizmapWktTest.php
  tests/units/classes/qgisExpressionUtilsTest.php
Labels: bug, tests, backport release_3_4, backport release_3_5, run cypress

#2932 Clean up PHPStan errors baseline for \Lizmap\Project\QgisProject
  lizmap/modules/lizmap/classes/qgisProject.class.php
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/lib/Project/ProjectConfig.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  phpstan-baseline.neon
Labels: tests, backport release_3_5, run cypress

#2928 [Bugfix] the request xml for OgcRequest and especially WfsRequest
  lizmap/modules/lizmap/lib/Request/Proxy.php
  lizmap/modules/lizmap/lib/Request/WFSRequest.php
  phpstan-baseline.neon
  tests/end2end/cypress/fixtures/export/export_data_uids.geojson
  tests/end2end/cypress/fixtures/export/export_data_uids_features_2_and_4.geojson
  tests/end2end/cypress/fixtures/export/export_parent_layer.geojson
  tests/end2end/cypress/fixtures/export/export_parent_layer_feature_2.geojson
  tests/end2end/cypress/integration/feature_toolbar-ghaction.js
  tests/end2end/cypress/integration/key_value_mapping-ghaction.js
  tests/end2end/cypress/integration/requests-service-ghaction.js
  tests/units/testslib/WFSRequestForTests.php
Labels: bug, QGIS Server, tests, backport release_3_5, run cypress

#2937 [Backport release_3_4] [Bugfix] Lizmap WKT parser: support Multi
  lizmap/modules/lizmap/classes/lizmapWkt.class.php
  tests/units/classes/lizmapWktTest.php
  tests/units/classes/qgisExpressionUtilsTest.php
Labels: bug, data editor, tests

#2939 [Backport release_3_5][Bugfix] the request xml for OgcRequest and especially WfsRequest
  lizmap/modules/lizmap/lib/Request/Proxy.php
  lizmap/modules/lizmap/lib/Request/WFSRequest.php
  phpstan-baseline.neon
  tests/end2end/cypress/integration/requests-service-ghaction.js
  tests/units/testslib/WFSRequestForTests.php
Labels: bug, QGIS Server, tests

#2940 [Backport release_3_4][Bugfix] WFS Request - mimetype, bbox and typename
  assets/package-lock.json
  lizmap/modules/lizmap/classes/lizmapWFSRequest.class.php
  tests/end2end/cypress/integration/requests-service-ghaction.js
Labels: bug, QGIS Server, tests

#2919 PHPStan fixing
  lizmap/modules/action/classes/actionConfig.class.php
  lizmap/modules/action/controllers/service.classic.php
  lizmap/modules/filter/controllers/service.classic.php
  lizmap/modules/lizmap/classes/lizmap.class.php
  lizmap/modules/lizmap/classes/lizmapFts.class.php
  lizmap/modules/lizmap/classes/qgisExpressionUtils.class.php
  lizmap/modules/lizmap/controllers/repository.cmdline.php
  lizmap/modules/lizmap/controllers/service.classic.php
  phpstan-baseline.neon
Labels: tests, dataviz, backport release_3_5

#2852 Revert old cache rules
  lizmap/modules/view/controllers/default.classic.php
  lizmap/modules/view/controllers/lizMap.classic.php
  lizmap/modules/view/controllers/translate.classic.php
  lizmap/responses/myHtmlResponse.class.php
Labels: backport release_3_5

#2931 [Bugfix] Jelix jForms jQuery dynamicFillAjax - keep value
  lizmap/www/assets/jelix/js/jforms_jquery.js
Labels: bug, data editor, backport release_3_4, backport release_3_5, run cypress

#2944 [Tests] Clean PHPStan baseline for \Lizmap\Request namespace
  lizmap/modules/lizmap/lib/Request/OGCRequest.php
  lizmap/modules/lizmap/lib/Request/Proxy.php
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  lizmap/modules/lizmap/lib/Request/WMTSRequest.php
  phpstan-baseline.neon
Labels: QGIS Server, tests, backport release_3_5

#2947 [Backport release_3_5][Tests] Clean PHPStan baseline for \Lizmap\Request namespace
  lizmap/modules/lizmap/lib/Request/OGCRequest.php
  lizmap/modules/lizmap/lib/Request/Proxy.php
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  lizmap/modules/lizmap/lib/Request/WMTSRequest.php
  phpstan-baseline.neon
Labels: QGIS Server, tests

#2948 [Tests] Clean PHPStan baseline for admin module
  lizmap/modules/admin/classes/listProjectDatasource.class.php
  lizmap/modules/admin/classes/listRepositoryDatasource.class.php
  lizmap/modules/admin/controllers/acl.classic.php
  lizmap/modules/admin/controllers/config.classic.php
  lizmap/modules/admin/controllers/landing_page_content.classic.php
  lizmap/modules/admin/controllers/logs.classic.php
  lizmap/modules/admin/controllers/maps.classic.php
  lizmap/modules/admin/controllers/server_information.classic.php
  lizmap/modules/admin/controllers/theme.classic.php
  lizmap/modules/admin/controllers/upload_image.classic.php
  phpstan-baseline.neon
Labels: administration pages, tests, backport release_3_5

#2950 [Tests] Clean PHPStan baseline for dataviz module
  lizmap/modules/dataviz/classes/datavizConfig.class.php
  lizmap/modules/dataviz/classes/datavizPlot.class.php
  phpstan-baseline.neon
Labels: tests, dataviz, backport release_3_5

#2892 [Bugfix] Force to open GetPrint in blank window
  lizmap/www/assets/js/map.js
  tests/end2end/cypress/integration/print.js
Labels: bug, printing, tests, backport release_3_4, backport release_3_5, run cypress

#2955 [Backport release_3_4] [Bugfix] Force to open GetPrint in blank window
  lizmap/www/assets/js/map.js
  tests/end2end/cypress/integration/print.js
Labels: bug, printing, tests

#2951 Add Lizmap WKT check method
  lizmap/modules/lizmap/classes/lizmapWkt.class.php
  lizmap/modules/lizmap/classes/qgisExpressionUtils.class.php
  lizmap/modules/lizmap/lib/Form/QgisFormValueRelationDynamicDatasource.php
  tests/units/classes/lizmapWktTest.php
Labels: data editor, tests, backport release_3_4, backport release_3_5, run cypress

#2957 [Bugfix] attribute table - doesn't export when a selection is active
  lizmap/modules/lizmap/lib/Request/WFSRequest.php
  tests/end2end/cypress/integration/requests-service-ghaction.js
  tests/units/classes/Request/WFSRequestTest.php
  tests/units/testslib/LayerWFSForTests.php
  tests/units/testslib/WFSRequestForTests.php
Labels: bug, QGIS Server, tests, backport release_3_4, backport release_3_5, run cypress

#2961 [Backport release_3_4] Add Lizmap WKT check method
  lizmap/modules/lizmap/classes/lizmapWkt.class.php
  lizmap/modules/lizmap/classes/qgisExpressionUtils.class.php
  lizmap/modules/lizmap/classes/qgisFormValueRelationDynamicDatasource.class.php
  tests/units/classes/lizmapWktTest.php
Labels: data editor, tests

#2963 [Backport release_3_4] [Bugfix] attribute table - doesn't export when a selection is active
  lizmap/modules/lizmap/classes/lizmapWFSRequest.class.php
  tests/end2end/cypress/integration/requests-service-ghaction.js
Labels: bug, QGIS Server, tests

#2953 Administration - QGIS project list: add information from qgis-project-validator
  CHANGELOG-3.6.md
  lizmap/modules/admin/controllers/qgis_projects.classic.php
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/project_list.tpl
  lizmap/modules/admin/templates/project_list_zone.tpl
  lizmap/modules/admin/zones/project_list.zone.php
  lizmap/modules/lizmap/classes/lizmapServices.class.php
  lizmap/var/config/lizmapConfig.ini.php.dist
  lizmap/www/assets/css/admin.css
  lizmap/www/assets/js/admin/activate_datatable.js
Labels: administration pages

#2965 Tests - Update project with latest QGIS 3.16 and Lizmap plugin
  tests/qgis-projects/tests/cache.qgs
  tests/qgis-projects/tests/cache.qgs.cfg
  tests/qgis-projects/tests/filter_layer_by_user.qgs
  tests/qgis-projects/tests/filter_layer_by_user.qgs.cfg
  tests/qgis-projects/tests/form_edition_simple_fields.qgs
  tests/qgis-projects/tests/form_edition_simple_fields.qgs.cfg
  tests/qgis-projects/tests/form_edition_value_relation_field.qgs
  tests/qgis-projects/tests/form_edition_value_relation_field.qgs.cfg
  tests/qgis-projects/tests/form_filter.qgs
  tests/qgis-projects/tests/form_filter.qgs.cfg
  tests/qgis-projects/tests/import_kml.qgs
  tests/qgis-projects/tests/import_kml.qgs.cfg
  tests/qgis-projects/tests/layer_legends.qgs
  tests/qgis-projects/tests/layer_legends.qgs.cfg
  tests/qgis-projects/tests/project_acl.qgs
  tests/qgis-projects/tests/project_acl.qgs.cfg
  tests/qgis-projects/tests/reverse_geom.qgs
  tests/qgis-projects/tests/reverse_geom.qgs.cfg
  tests/qgis-projects/tests/test_tags_nature_tree.qgs
  tests/qgis-projects/tests/test_tags_nature_tree.qgs.cfg
Labels: tests, backport release_3_5, run cypress

#2897 Bugfix dataviz popup
  lizmap/www/assets/js/dataviz/dataviz.js
  lizmap/www/assets/js/map.js
Labels: bug, dataviz, backport release_3_4, javascript, backport master
