Repository 3liz/lizmap-web-client, pull requests merged in 2022-02, with the labels that each got.

#2739 Attribute table - Fix the export when a selection or a filter is active
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/controllers/service.classic.php
  lizmap/modules/lizmap/lib/Form/QgisFormValueRelationDynamicDatasource.php
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/www/assets/js/map.js
Labels: bug, regression, javascript

#2740 Attribute table - Fix the export when a selection or a filter is active
  lizmap/modules/lizmap/classes/qgisFormValueRelationDynamicDatasource.class.php
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/controllers/service.classic.php
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/www/assets/js/map.js
Labels: bug, regression, javascript

#2756 Fix parsing of map values
  lizmap/modules/lizmap/classes/lizmap.class.php
  lizmap/modules/lizmap/lib/Form/QgisFormControl.php
  lizmap/modules/lizmap/lib/Project/ProjectCache.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  lizmap/modules/lizmap/lib/Request/Proxy.php
  tests/end2end/cypress/integration/form_edition_all_field_type-ghaction.js
  tests/qgis-projects/tests/form_edition_all_field_type.qgs
  tests/qgis-projects/tests/form_edition_all_field_type.qgs.cfg
  tests/qgis-projects/tests/tests_dataset.sql
  tests/units/classes/Project/QgisProjectTest.php
Labels: bug, backport release_3_5

#2720 Convert QGis XML Option value based on type attribute
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  tests/units/classes/Project/QgisProjectTest.php
Labels: enhancement, data editor, backport release_3_5

#2773 GetprojectConfig as application/json instead of plain/text
  lizmap/modules/lizmap/controllers/service.classic.php
  lizmap/modules/lizmap/lib/Project/Project.php
Labels: enhancement, backport release_3_4, backport release_3_5

#2769 OGC Requests: Check VERSION parameter
  lizmap/modules/lizmap/lib/Request/OGCRequest.php
Labels: enhancement, backport release_3_4, backport release_3_5

#2783 [Bugfix] For Value Relation, Empty value is added for required fields
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  lizmap/modules/lizmap/lib/Form/QgisFormValueRelationDynamicDatasource.php
  lizmap/www/assets/jelix/js/jforms_jquery.js
  tests/end2end/cypress/integration/form_advanced-ghaction.js
  tests/qgis-projects/tests/form_advanced.qgs
Labels: data editor, regression, backport release_3_4, backport release_3_5

#2723 Fix Remove user private group from request to QGIS Server
  lizmap/modules/lizmap/classes/qgisExpressionUtils.class.php
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/lib/App/AppContextInterface.php
  lizmap/modules/lizmap/lib/App/JelixContext.php
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Request/OGCRequest.php
  lizmap/modules/lizmap/lib/Request/Proxy.php
  tests/units/testslib/ContextForTests.php
Labels: QGIS Server, backport release_3_4, backport release_3_5

#2793 [Backport release_3_4][Bugfix] For Value Relation, Empty value is added for required fields
  lizmap/modules/lizmap/classes/qgisForm.class.php
  lizmap/modules/lizmap/classes/qgisFormValueRelationDynamicDatasource.class.php
  lizmap/www/assets/jelix/js/jforms_jquery.js
  tests/end2end/cypress/integration/form_advanced-ghaction.js
  tests/qgis-projects/tests/form_advanced.qgs
Labels: data editor, regression

#2795 [Backport release_3_4]Fix Remove user private group from request to QGIS Server
  lizmap/modules/lizmap/classes/lizmapFts.class.php
  lizmap/modules/lizmap/classes/lizmapOGCRequest.class.php
  lizmap/modules/lizmap/classes/lizmapProject.class.php
  lizmap/modules/lizmap/classes/lizmapProxy.class.php
  lizmap/modules/lizmap/classes/qgisExpressionUtils.class.php
  lizmap/modules/lizmap/classes/qgisForm.class.php
  lizmap/modules/lizmap/controllers/search.classic.php
Labels: QGIS Server

#2786 UX - Quick review of typo in English sentences
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/modules/view/locales/en_US/edition.UTF-8.properties
  lizmap/modules/view/locales/en_US/user.UTF-8.properties
Labels: user interface, backport release_3_5
