Repository 3liz/lizmap-web-client, pull requests merged in 2023-11, with the labels that each got.

#3877 Editing - JS events now return the feature primary key(s) value(s) after save
  assets/src/legacy/edition.js
  lizmap/modules/lizmap/controllers/edition.classic.php
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  lizmap/modules/view/templates/edition_close_feature_data.tpl
Labels: enhancement, data editor, sponsored development, javascript, run end2end

#3928 Permalink finish
  assets/src/legacy/map.js
  assets/src/modules/Lizmap.js
  assets/src/modules/Permalink.js
  lizmap/modules/lizmap/controllers/geobookmark.classic.php
  lizmap/modules/view/templates/map_geobookmark.tpl
  lizmap/modules/view/templates/map_permalink.tpl
Labels: run end2end

#3955 Don't block the map when there is a wrong layer name in URL parameters
  assets/src/legacy/map.js
  assets/src/modules/WFS.js
Labels: bug, run end2end, backport release_3_6

#3957 Fix permalink
  assets/src/modules/Permalink.js
  tests/end2end/playwright/permalink.spec.ts
Labels: tests, run end2end

#3969 [Bugfix] fixed typo qsgmtime
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
Labels: bug, performance, backport release_3_6

#3962 Attribution
  assets/src/modules/BaseLayersMap.js
  assets/src/modules/config/Attribution.js
  assets/src/modules/config/LayerTree.js
  lizmap/modules/view/templates/map.tpl
  lizmap/www/assets/css/map.css
  tests/js-units/node/config/baselayer.test.js
  tests/qgis-projects/tests/base_layers_user_defined.qgs
  tests/qgis-projects/tests/base_layers_user_defined.qgs.cfg
Labels: tests, run end2end

#3972 [Fix] round the 'I' and 'J' paramters of WMS GetFeatureInfo service
  assets/src/modules/Popup.js
Labels: QGIS Server, run end2end, backport release_3_6

#3976 GH Action - Review order of steps
  .github/workflows/e2e_tests.yml
Labels: run end2end, backport release_3_6

#3975 Tests - Try to run some new CI versions
  .github/workflows/e2e_tests.yml
Labels: run end2end

#3973 Remove some ol2 code
  assets/src/legacy/map.js
  lizmap/www/assets/js/OpenLayers-2.13/OpenLayers.js
Labels: run end2end

#3974 change IGN baseLayers URL [LWC 3.7]
  assets/src/modules/config/BaseLayer.js
  tests/js-units/node/config/baselayer.test.js
Labels: tests, run end2end

#3981 Update JS deps
  assets/package-lock.json
  assets/package.json
Labels: run end2end

#3980 Overview test backport 3.6
  tests/end2end/cypress/fixtures/images/overview/2154-to-3857.png
  tests/end2end/cypress/fixtures/images/overview/2154.png
  tests/end2end/cypress/fixtures/images/overview/3857.png
  tests/end2end/cypress/fixtures/images/overview/4326-to-3857.png
  tests/end2end/cypress/fixtures/images/overview/4326.png
  tests/end2end/cypress/integration/overview-ghaction.js
  tests/end2end/playwright/overview.spec.js
  tests/qgis-projects/tests/overview-4326.qgs.cfg
Labels: tests, run end2end

#3989 Remove Stamen tiles from files used in tests
  extra-modules/lizmapdemo/qgis-projects/demoqgis/events.qgs.cfg
  extra-modules/lizmapdemo/qgis-projects/demoqgis/montpellier.qgs.cfg
  tests/end2end/cypress/integration/base_layers-ghaction.js
  tests/qgis-projects/tests/base_layers with space.qgs.cfg
  tests/qgis-projects/tests/base_layers.qgs.cfg
  tests/qgis-projects/tests/base_layers.withdot.qgs.cfg
  tests/qgis-projects/tests/events.qgs.cfg
  tests/qgis-projects/tests/overview-3857.qgs.cfg
Labels: tests, run end2end

#3946 change IGN baseLayers URL
  assets/src/legacy/map.js
Labels: javascript, run end2end
