Repository 3liz/lizmap-web-client, pull requests merged in 2023-10, with the labels that each got.

#3903 [Bugfix] The qgisVectorLayer::editableFeatures did not check edition capabilities
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
Labels: bug, backport release_3_5, run end2end, php, backport release_3_6

#3909 [Bugfix] The qgisVectorLayer::isFeatureEditable did not check edition capabilities
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
Labels: bug, backport release_3_5, run end2end, php, backport release_3_6

#3898 [Backport release_3_5] [PHP] Get cached Polygon filter for project, layer, login and editing context
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  phpstan-baseline.neon
Labels: enhancement, tests, run end2end, php

#3911 [Backport release_3_5] [Bugfix] The qgisVectorLayer::isFeatureEditable did not check edition capabilities
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
Labels: bug, run end2end, php

#3913 Add export started message when importing data
  assets/src/legacy/attributeTable.js
  assets/src/legacy/map.js
  assets/src/legacy/switcher-layers-actions.js
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
Labels: enhancement, user interface, sponsored development, run end2end, Feature Request, backport release_3_6

#3915 [Bugfix] lizUrls.service does not exist
  assets/src/legacy/map.js
Labels: bug, map viewer, popup, filter forms, run end2end

#3917 [Bugfix] Casacade layer WMS Name
  assets/src/legacy/attributeTable.js
Labels: regression, javascript, backport release_3_5, run end2end, attribute table, backport release_3_6

#3920 [Bugfix] Check Geometry Edition constraint
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/lib/Form/QgisForm.php
Labels: data editor, run end2end, backport release_3_6

#3589 Raise QGIS minimum version to 3.22
  lizmap/app/system/mainconfig.ini.php
Labels: stale

#3934 Finish text draw
  assets/src/components/Digitizing.js
  assets/src/modules/Digitizing.js
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/www/assets/css/map.css
Labels: run end2end

#3936 Fix phpdoc / update phpstan config to ignore Dao related method/properties
  lizmap/modules/admin/controllers/landing_page_content.classic.php
  lizmap/modules/lizmap/lib/App/AppContextInterface.php
  lizmap/modules/lizmap/lib/App/JelixContext.php
  lizmap/modules/view/controllers/lizMap.classic.php
  phpstan-baseline.neon
  phpstan.neon
Labels: administration pages

#3935 JS: WMS Style `''` generates an error even though it is the default style
  assets/src/modules/state/Layer.js
  tests/end2end/playwright/permalink.spec.ts
  tests/js-units/node/state/layer.test.js
  tests/js-units/node/state/layerTree.test.js
  tests/js-units/node/state/maplayer.test.js
Labels: user interface, tests, javascript, run end2end

#3923 [Backport release_3_6] Load relations from embedded layers
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  tests/end2end/playwright/embedded-relation.spec.ts
  tests/qgis-projects/tests/relations_project.qgs
  tests/qgis-projects/tests/relations_project.qgs.cfg
  tests/qgis-projects/tests/relations_project_embed.qgs
  tests/qgis-projects/tests/relations_project_embed.qgs.cfg
  tests/qgis-projects/tests/test_embed.gpkg
  tests/units/classes/Project/QgisProjectTest.php
  tests/units/classes/Project/Ressources/relations_project.qgs
  tests/units/classes/Project/Ressources/relations_project_embed.qgs
  tests/units/testslib/QgisProjectForTests.php
Labels: bug, data editor, sponsored development, tests, backport release_3_5, run end2end

#3940 Editing - autocompletion fields: add minlength, delay & accent-insensitive
  assets/src/legacy/edition.js
Labels: data editor, sponsored development, javascript, run end2end

#3942 Form filter - Date range: add a day to the max values when requesting data
  assets/src/legacy/filter.js
Labels: filter forms, javascript, run end2end, backport release_3_6
