Repository 3liz/lizmap-web-client, pull requests merged in 2023-02, with the labels that each got.

#3447 UI admin: Change anchor color for selected line in projects table
  lizmap/www/assets/css/admin.css
Labels: bug, user interface, administration pages, backport release_3_6

#3448 [Bug] The source key defined by QGIS for Postgres layer may not be a field
  lizmap/modules/lizmap/lib/Request/WFSRequest.php
Labels: backport release_3_5, postgresql, run end2end, php, backport release_3_6

#3465 Cypress - Fix test about atlas and improve GH Action debug
  .github/workflows/e2e_tests.yml
  .gitignore
  tests/end2end/cypress/integration/print-ghaction.js
Labels: tests, backport release_3_5, run end2end, backport release_3_6

#3461 UX - Add explanations about colours in the table
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/project_list_zone.tpl
  lizmap/modules/admin/zones/project_list.zone.php
Labels: administration pages

#3467 [Bugfix] WFS: No PostGIS features returned if srsname != layer srid
  lizmap/modules/lizmap/lib/Request/WFSRequest.php
  tests/end2end/cypress/integration/requests-service-ghaction.js
  tests/end2end/cypress/integration/requests-wfs-ghaction.js
Labels: bug, QGIS Server, tests, backport release_3_5, postgresql, run end2end, attribute table, php, backport release_3_6

#3466 Cypress - Fix tests for QGIS 3.28
  tests/end2end/cypress/integration/legend-ghaction.js
  tests/end2end/cypress/integration/print-ghaction.js
  tests/end2end/cypress/integration/treeview-ghaction.js
  tests/end2end/cypress/plugins/index.js
  tests/end2end/cypress/support/function.js
  tests/end2end/package.json
Labels: tests, backport release_3_5, run end2end, backport release_3_6

#3446 create repository cli command refacto to use jelix and symfony/console
  lizmap/modules/lizmap/commands.php
  lizmap/modules/lizmap/controllers/repository.cmdline.php
  lizmap/modules/lizmap/lib/CliHelpers/RepositoryCreator.php
  lizmap/modules/lizmap/lib/Commands/CreateRepository.php
  phpstan-baseline.neon
Labels: backport release_3_6

#3469 [Backport release_3_5] [Bugfix] WFS: No PostGIS features returned if srsname != layer srid
  lizmap/modules/lizmap/lib/Request/WFSRequest.php
  tests/end2end/cypress/integration/requests-service-ghaction.js
  tests/end2end/cypress/integration/requests-wfs-ghaction.js
Labels: bug, QGIS Server, tests, postgresql, attribute table, php, run cypress

#3462 use stream json encoder to stream data in a streamed Response
  lizmap/composer.json
  lizmap/modules/filter/classes/filterDatasource.class.php
  lizmap/modules/filter/controllers/service.classic.php
Labels: filter forms, run end2end, backport release_3_6

#3475 [Backport release_3_6] use stream json encoder to stream data in a streamed Response
  lizmap/composer.json
  lizmap/modules/filter/classes/filterDatasource.class.php
  lizmap/modules/filter/controllers/service.classic.php
Labels: filter forms, performance, run end2end

#3460 Popup atlas buttons w/ icons
  .gitignore
  .gitlab-ci.yml
  assets/src/components/FeatureToolbar.js
  assets/src/components/Print.js
  assets/src/images/svg/map-print.svg
  assets/src/legacy/popupQgisAtlas.js
  assets/src/modules/Lizmap.js
  assets/webpack.common.js
  lizmap/modules/view/controllers/lizMap.classic.php
  lizmap/www/assets/css/map.css
  lizmap/www/assets/js/popupQgisAtlas.js
  lizmap/www/assets/js/popupQgisAtlas.js.map
Labels: enhancement, user interface, printing, popup, sponsored development, refactoring, javascript, run end2end

#3476 use binaryResponse instead of deprecated streamedResponse
  lizmap/modules/filter/controllers/service.classic.php
Labels: filter forms, performance, run end2end, backport release_3_6

#3481 Remove sprites and qgs from lizmap/install/
  assets/sprite/source/sprite_20_tools/01-home-dark.png
  assets/sprite/source/sprite_20_tools/01-home-white.png
  assets/sprite/source/sprite_20_tools/02-switcher-dark.png
  assets/sprite/source/sprite_20_tools/02-switcher-white.png
  assets/sprite/source/sprite_20_tools/03-metadata-dark.png
  assets/sprite/source/sprite_20_tools/03-metadata-white.png
  assets/sprite/source/sprite_20_tools/04-locate-dark.png
  assets/sprite/source/sprite_20_tools/04-locate-white.png
  assets/sprite/source/sprite_20_tools/05-login-dark.png
  assets/sprite/source/sprite_20_tools/05-login-white.png
  assets/sprite/source/sprite_20_tools/06-measure-dark.png
  assets/sprite/source/sprite_20_tools/06-measure-white.png
  assets/sprite/source/sprite_20_tools/07-geolocation-dark.png
  assets/sprite/source/sprite_20_tools/07-geolocation-white.png
  assets/sprite/source/sprite_20_tools/08-print-dark.png
  assets/sprite/source/sprite_20_tools/08-print-white.png
  assets/sprite/source/sprite_20_tools/09-search-dark.png
  assets/sprite/source/sprite_20_tools/09-search-white.png
  assets/sprite/source/sprite_20_tools/10-edition-dark.png
  assets/sprite/source/sprite_20_tools/10-edition-white.png
  assets/sprite/source/sprite_20_tools/11-attribute-dark.png
  assets/sprite/source/sprite_20_tools/11-attribute-white.png
  assets/sprite/source/sprite_20_tools/12-user-dark.png
  assets/sprite/source/sprite_20_tools/12-user-white.png
  assets/sprite/source/sprite_20_tools/13-timemanager-dark.png
  assets/sprite/source/sprite_20_tools/13-timemanager-white.png
  assets/sprite/source/sprite_20_tools/14-permalink-dark.png
  assets/sprite/source/sprite_20_tools/14-permalink-white.png
  assets/sprite/source/sprite_20_tools/15-baselayer-dark.png
  assets/sprite/source/sprite_20_tools/15-baselayer-white.png
  assets/sprite/source/sprite_20_tools/16-tooltip-dark.png
  assets/sprite/source/sprite_20_tools/16-tooltip-white.png
  assets/sprite/source/sprite_20_tools/17-register-dark.png
  assets/sprite/source/sprite_20_tools/17-register-white.png
  assets/sprite/source/sprite_20_tools/18-clear-dark.png
  assets/sprite/source/sprite_20_tools/18-clear-white.png
  assets/sprite/source/sprite_20_tools/README.md
  lizmap/install/qgis/montpellier.qgs
  lizmap/install/sprite/source/sprite_20_tools/ReadMe
Labels: enhancement, CI & packages, javascript, backport release_3_6

#3449 Admin : Projects Panel convert lizmap plugin version from int to sortable string
  lizmap/modules/admin/templates/project_list_zone.tpl
  lizmap/modules/admin/zones/project_list.zone.php
  lizmap/www/assets/js/admin/activate_datatable.js
Labels: administration pages, tests, backport release_3_6

#3490 removing phpstan ignored error fixed in jelix
  phpstan-baseline.neon
Labels: backport release_3_6

#3480 All project WMS test commands in console.php
  lizmap/modules/lizmap/commands.php
  lizmap/modules/lizmap/controllers/project.cmdline.php
  lizmap/modules/lizmap/lib/CliHelpers/RepositoryWMSChecker.php
  lizmap/modules/lizmap/lib/Commands/ProjectLoad.php
  phpstan-baseline.neon
Labels: tests, backport release_3_6

#3493 [Bugfix] Zoom to feature (from popup) goes to far away
  assets/src/legacy/map.js
Labels: bug, popup, javascript, backport release_3_5, run end2end, backport release_3_6

#3483 e2e test print and fixes
  .github/workflows/e2e_tests.yml
  assets/src/components/FeatureToolbar.js
  assets/src/components/Print.js
  tests/add_server_plugins.sh
  tests/end2end/cypress/integration/print-ghaction.js
  tests/end2end/playwright.config.js
  tests/end2end/playwright/print.spec.js
  tests/end2end/playwright/startup.spec.js
  tests/end2end/playwright/startup.spec.js-snapshots/zoom-features-extent-chromium-linux.png
  tests/end2end/playwright/startup.spec.js-snapshots/zoom-features-extent-display-popup-chromium-linux.png
  tests/qgis-projects/tests/media/svg/tree-fill.svg
  tests/qgis-projects/tests/print.qgs
  tests/qgis-projects/tests/print.qgs.cfg
  tests/qgis-projects/tests/test_print.qgs
  tests/qgis-projects/tests/test_print.qgs.cfg
Labels: printing, popup, tests, javascript, run end2end

#3498 Display draw for print redlining
  assets/src/components/Print.js
  assets/src/modules/Digitizing.js
  tests/end2end/playwright/print.spec.js
  tests/qgis-projects/tests/print.qgs.cfg
Labels: tests, javascript, run end2end

#3496 UX - Improve debug messages about the QGIS server installation
  lizmap/modules/admin/controllers/server_information.classic.php
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/server_information.tpl
Labels: user interface, administration pages, backport release_3_6

#3501 [Backport release_3_6] Admin : Projects Panel convert lizmap plugin version from int to sortable string
  lizmap/modules/admin/templates/project_list_zone.tpl
  lizmap/modules/admin/zones/project_list.zone.php
  lizmap/www/assets/js/admin/activate_datatable.js
Labels: administration pages, tests

#3478 [Bugfix] Selection by Point - The bbox is empty
  assets/src/legacy/map.js
  tests/end2end/cypress/integration/selectionTool-ghaction.js
Labels: bug, user interface, tests, javascript, backport release_3_5, run end2end

#3504 [Backport release_3_5] [Bugfix] Selection by Point - The bbox is empty
  assets/src/legacy/map.js
  tests/end2end/cypress/integration/selectionTool-ghaction.js
Labels: bug, user interface, tests, javascript, run cypress

#3506 [Bugfix] lizmapWkt class does not well check point as numeric values
  lizmap/modules/lizmap/classes/lizmapWkt.class.php
  tests/units/classes/lizmapWktTest.php
Labels: bug, tests, backport release_3_5, php, backport release_3_6

#3489 [Bugfix] zoom to feature (from the attribute table) goes to far away
  assets/src/legacy/attributeTable.js
  assets/src/legacy/map.js
  tests/end2end/cypress/integration/feature_toolbar-ghaction.js
  tests/end2end/cypress/integration/requests-wfs-ghaction.js
Labels: bug, tests, javascript, run end2end, attribute table, backport release_3_6

#3513 [Tests] e2e: Enhancing the way to check proj4 string
  tests/end2end/cypress/integration/requests-service-ghaction.js
Labels: tests, backport release_3_5, run end2end, backport release_3_6

#3515 [Backport release_3_5] [Tests] e2e: Enhancing the way to check proj4 string
  tests/end2end/cypress/integration/requests-service-ghaction.js
Labels: tests, run cypress

#3517 backport about project table explanations
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/project_list_zone.tpl
  lizmap/modules/admin/zones/project_list.zone.php
Labels: administration pages

#3505 Using Guzzle Stream to speed up WFS GetFeature
  lizmap/composer.json
  lizmap/modules/dataviz/classes/datavizPlot.class.php
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/controllers/edition.classic.php
  lizmap/modules/lizmap/controllers/service.classic.php
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  lizmap/modules/lizmap/lib/Form/QgisFormValueRelationDynamicDatasource.php
  lizmap/modules/lizmap/lib/Request/OGCRequest.php
  lizmap/modules/lizmap/lib/Request/OGCResponse.php
  lizmap/modules/lizmap/lib/Request/Proxy.php
  lizmap/modules/lizmap/lib/Request/ProxyResponse.php
  lizmap/modules/lizmap/lib/Request/WFSRequest.php
  phpstan-baseline.neon
Labels: QGIS Server, data editor, dataviz, run end2end, backport release_3_6

#3518 [Backport release_3_6] Using Guzzle Stream to speed up WFS GetFeature
  lizmap/composer.json
  lizmap/modules/dataviz/classes/datavizPlot.class.php
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/controllers/edition.classic.php
  lizmap/modules/lizmap/controllers/service.classic.php
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  lizmap/modules/lizmap/lib/Form/QgisFormValueRelationDynamicDatasource.php
  lizmap/modules/lizmap/lib/Request/OGCRequest.php
  lizmap/modules/lizmap/lib/Request/OGCResponse.php
  lizmap/modules/lizmap/lib/Request/Proxy.php
  lizmap/modules/lizmap/lib/Request/ProxyResponse.php
  lizmap/modules/lizmap/lib/Request/WFSRequest.php
  phpstan-baseline.neon
Labels: QGIS Server, data editor, dataviz, run end2end

#3502 Admin: allow to edit the name for the sender email
  lizmap/modules/admin/controllers/config.classic.php
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/lizmap/classes/lizmapServices.class.php
  lizmap/var/config/lizmapConfig.ini.php.dist
Labels: enhancement, administration pages, backport release_3_6

#3520 Update dependencies
  assets/package-lock.json
  assets/package.json
Labels: javascript, run end2end

#3523 [Tests] Fix PHP unit and replace deprecated assert
  tests/units/classes/Project/QgisProjectTest.php
  tests/units/classes/lizmapServicesTest.php
Labels: tests, php, backport release_3_6

#3526 [Backport release_3_6] [Bugfix] Defined default repository rights
  .gitignore
  lizmap/modules/admin/controllers/maps.classic.php
  tests/end2end/package-lock.json
  tests/end2end/package.json
  tests/end2end/playwright.config.js
  tests/end2end/playwright/maps-management.spec.js
  tests/end2end/playwright/startup.spec.js
  tests/end2end/playwright/startup.spec.js-snapshots/zoom-features-extent-chromium-linux.png
  tests/end2end/playwright/startup.spec.js-snapshots/zoom-features-extent-display-popup-chromium-linux.png
  tests/qgis-projects/ProJets 1982*!/.gitkeep
Labels: administration pages, tests, run end2end

#3527 [Backport release_3_5] [Bugfix] Defined default repository rights
  .github/workflows/e2e_tests.yml
  .gitignore
  lizmap/modules/admin/controllers/maps.classic.php
  tests/README.md
  tests/end2end/package-lock.json
  tests/end2end/package.json
  tests/end2end/playwright.config.js
  tests/end2end/playwright/maps-management.spec.js
  tests/qgis-projects/ProJets 1982*!/.gitkeep
Labels: administration pages, tests, run end2end

#3530 Feature: lizmap-fullscreen element
  assets/src/components/FullScreen.js
  assets/src/images/svg/fullscreen-exit.svg
  assets/src/images/svg/fullscreen.svg
  assets/src/index.js
  lizmap/www/assets/css/map.css
Labels: javascript
