Repository 3liz/lizmap-web-client, pull requests merged in 2023-08, with the labels that each got.

#3824 use logPath instead of varPath()./log
  lizmap/modules/admin/controllers/logs.classic.php
Labels: administration pages, backport release_3_5, run end2end, php, backport release_3_6

#3828 Admin panel - QGIS projects view: overall UI improvements
  lizmap/app/themes/default/master_admin/main.tpl
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/project_list.tpl
  lizmap/modules/admin/templates/project_list_help.tpl
  lizmap/modules/admin/templates/project_list_zone.tpl
  lizmap/modules/admin/zones/project_list.zone.php
  lizmap/www/assets/css/admin.css
  lizmap/www/assets/css/responsive.dataTables.min.css
  lizmap/www/assets/js/admin/activate_datatable.js
  lizmap/www/assets/js/dataTables.responsive.min.js
Labels: enhancement, user interface, administration pages, php, backport release_3_6

#3837 Fix address search when results are empty
  CHANGELOG-3.5.md
  lizmap/modules/lizmap/controllers/ban.classic.php
Labels: bug, backport release_3_5, backport release_3_6

#3836 remove hover:none rule (untrustable)
  lizmap/www/assets/css/media.css
Labels: user interface, mobile, backport release_3_5, backport release_3_6

#3849 Handle QGIS `Control rendering order`
  assets/src/modules/BaseLayersMap.js
  assets/src/modules/state/Layer.js
  tests/qgis-projects/tests/layer_order.qgs
  tests/qgis-projects/tests/layer_order.qgs.cfg
Labels: tests

#3850 Fix popup from atlas not working with shortnames
  assets/src/legacy/atlas.js
  tests/qgis-projects/tests/atlas.qgs
  tests/qgis-projects/tests/atlas.qgs.cfg
Labels: bug, tests, javascript, backport release_3_5, backport release_3_6

#3373 add lizmap version to proxy request
  lizmap/modules/lizmap/classes/lizmapServices.class.php
  lizmap/modules/lizmap/lib/Request/Proxy.php
  lizmap/plugins/configcompiler/lizmapconfig/lizmapconfig.configcompiler.php
  tests/units/bootstrap.php
  tests/units/classes/Project/ProjectTest.php
  tests/units/classes/lizmapServicesTest.php
  tests/units/testslib/QgisProjectForTests.php
Labels: QGIS Server, tests, run end2end

#3853 Fix export layer with accent
  assets/src/legacy/switcher-layers-actions.js
Labels: bug, javascript, backport release_3_5, run end2end, backport release_3_6

#3854 Dataviz - Do not display child plot in Popup when there is no data
  lizmap/www/assets/js/dataviz/dataviz.js
  tests/end2end/cypress/integration/dataviz-ghaction.js
Labels: sponsored development, tests, dataviz, javascript, run end2end, backport release_3_6

#3856 New permalink not OL2 dependant
  assets/src/legacy/map.js
  assets/src/modules/BaseLayersMap.js
  assets/src/modules/Lizmap.js
  assets/src/modules/Permalink.js
Labels: enhancement, javascript, run end2end

#3863 [internal] support of new config parameter notificationReceiverEmail
  lizmap/modules/lizmap/classes/lizmapServices.class.php
  lizmap/modules/lizmap/install/upgrade_commconfig.php
Labels: enhancement, administration pages, backport release_3_6
