Repository 3liz/lizmap-web-client, pull requests merged in 2023-05, with the labels that each got.

#3666 UX - Add more checks about the QGIS server status
  lizmap/modules/admin/controllers/server_information.classic.php
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/server_information.tpl
  lizmap/modules/admin/zones/project_list.zone.php
  lizmap/modules/lizmap/lib/Server/Server.php
  lizmap/modules/view/controllers/default.classic.php
  lizmap/modules/view/controllers/lizMap.classic.php
  tests/docker-conf/phpfpm/lizmapConfig.ini.php
Labels: QGIS Server, administration pages, tests, backport release_3_6

#3668 UX - Do not display atlasprint anymore if it is not installed
  lizmap/modules/admin/controllers/server_information.classic.php
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/server_information.tpl
Labels: QGIS Server, administration pages

#3655 Add uuid type in relationnal values support
  lizmap/modules/lizmap/lib/Form/QgisFormControl.php
Labels: data editor, backport release_3_5, run end2end, backport release_3_6

#3684 Data filtering - Fix the filter not applied to the children layers
  assets/src/legacy/attributeTable.js
  tests/end2end/cypress/integration/attribute_table-ghaction.js
Labels: tests, javascript, backport release_3_5, run end2end, backport release_3_6

#3687 [Backport release_3_5] Data filtering - Fix the filter not applied to the children layers
  assets/src/legacy/attributeTable.js
Labels: javascript, run end2end

#3670 Remove deprecated call to the Lizmap server plugin
  lizmap/modules/lizmap/classes/lizmapProject.class.php
  lizmap/modules/lizmap/classes/qgisExpressionUtils.class.php
  lizmap/modules/lizmap/classes/qgisServer.class.php
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/lib/Project/Project.php
Labels: QGIS Server, run end2end

#3697 Fix filtertoken was not set in GFI w/ form filter
  assets/src/legacy/map.js
  tests/end2end/cypress/integration/popup-ghaction.js
  tests/end2end/playwright/popup.spec.js
  tests/qgis-projects/tests/popup.qgs
  tests/qgis-projects/tests/popup.qgs.cfg
  tests/qgis-projects/tests/tests_dataset.sql
Labels: tests, javascript, run end2end, backport release_3_6

#3699 Fixing dataviz filtering plots
  lizmap/www/assets/js/dataviz/dataviz.js
  tests/end2end/cypress/integration/dataviz-api-ghaction.js
  tests/end2end/cypress/integration/dataviz-ghaction.js
  tests/qgis-projects/tests/dataviz.qgs.cfg
Labels: tests, javascript, backport release_3_5, run end2end, backport release_3_6

#3701 [Backport release_3_5] Fixing dataviz filtering plots
  lizmap/www/assets/js/dataviz/dataviz.js
  tests/end2end/cypress/integration/dataviz-api-ghaction.js
  tests/end2end/cypress/integration/dataviz-ghaction.js
  tests/qgis-projects/tests/dataviz.qgs.cfg
Labels: tests, dataviz, javascript, run end2end
