Repository 3liz/lizmap-web-client, pull requests merged in 2023-12, with the labels that each got.

#4002 Fix: Respect maximum WMS GetMap size
  assets/src/modules/BaseLayersMap.js
  lizmap/modules/lizmap/lib/Request/WMTSRequest.php
Labels: QGIS Server, user interface, map viewer, javascript, run end2end, backport release_3_7

#4001 Extendable map parameters for redirection after authentication
  lizmap/modules/view/controllers/map.classic.php
Labels: enhancement, authentication, map viewer, sponsored development, run end2end, php, backport release_3_7

#4005 Zoom to box w/ OL8
  assets/src/modules/Map.js
  lizmap/www/assets/css/map.css
Labels: run end2end, backport release_3_7

#4008 Handle map popups w/ OL8
  assets/src/legacy/map.js
  assets/src/modules/Digitizing.js
  assets/src/modules/Lizmap.js
  assets/src/modules/Popup.js
  assets/src/modules/SelectionTool.js
  lizmap/modules/view/templates/map.tpl
  lizmap/www/assets/css/map.css
Labels: popup, refactoring, technical debt, run end2end

#3991 use IGN geoplateforme geocode completion service
  assets/src/legacy/search.js
Labels: run end2end, backport release_3_6, backport release_3_7

#4015 [Backport release_3_6] use IGN geoplateforme geocode completion service
  assets/src/legacy/search.js
Labels: run end2end

#4007 JS Map - Use native zoom levels
  assets/src/components/Print.js
  assets/src/components/Scaleline.js
  assets/src/legacy/map.js
  assets/src/legacy/switcher-layers-actions.js
  assets/src/modules/Mask.js
  assets/src/modules/config/Options.js
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  tests/end2end/cypress/integration/filter_layer_data_by_polygon_for_groups-ghaction.js
  tests/end2end/cypress/integration/form_edition_reverse_geom-ghaction.js
  tests/end2end/cypress/integration/form_edition_value_relation_field-ghaction.js
  tests/end2end/cypress/integration/zoom-to-layer-ghaction.js
  tests/end2end/playwright/overview.spec.ts
  tests/end2end/playwright/print.spec.ts
  tests/js-units/node/config/options.test.js
  tests/qgis-projects/tests/print_3857.qgs
  tests/qgis-projects/tests/print_3857.qgs.cfg
Labels: map viewer, tests, javascript, run end2end, backport release_3_7

#4016 [Backport release_3_7] JS Map - Use native zoom levels
  assets/src/components/Print.js
  assets/src/components/Scaleline.js
  assets/src/legacy/map.js
  assets/src/legacy/switcher-layers-actions.js
  assets/src/modules/Mask.js
  assets/src/modules/config/Options.js
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  tests/end2end/cypress/integration/filter_layer_data_by_polygon_for_groups-ghaction.js
  tests/end2end/cypress/integration/form_edition_reverse_geom-ghaction.js
  tests/end2end/cypress/integration/form_edition_value_relation_field-ghaction.js
  tests/end2end/cypress/integration/zoom-to-layer-ghaction.js
  tests/end2end/playwright/overview.spec.ts
  tests/end2end/playwright/print.spec.ts
  tests/js-units/node/config/options.test.js
  tests/qgis-projects/tests/print_3857.qgs
  tests/qgis-projects/tests/print_3857.qgs.cfg
Labels: map viewer, tests, javascript, run end2end

#3992 Docs - Changelog for the 3.7.0 final
  CHANGELOG-3.7.md
Labels: backport release_3_7

#4019 Update files from Jelix
  lizmap/www/assets/jelix/js/jacl2db_admin.js
Labels: backport release_3_6, backport release_3_7

#4033 [Bugfix] JS: Layer ID can be used as WMS Name
  assets/src/modules/config/Layer.js
  tests/js-units/node/config/layer.test.js
Labels: bug, tests, javascript, run end2end, backport release_3_7

#4023 init FormControl property only if exists
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  phpstan-baseline.neon
  tests/docker-conf/phpfpm/Dockerfile
Labels: data editor, tests, run end2end

#4025 Refactor locatelayer to highlightlayer in OpenLayers 8
  .gitignore
  .gitlab-ci.yml
  assets/src/components/MousePosition.js
  assets/src/legacy/atlas.js
  assets/src/legacy/edition.js
  assets/src/legacy/filter.js
  assets/src/legacy/map.js
  assets/src/legacy/search.js
  assets/src/modules/BaseLayersMap.js
  assets/src/modules/Lizmap.js
  assets/src/modules/Search.js
  assets/src/modules/State.js
  assets/src/modules/state/Map.js
  assets/webpack.common.js
  lizmap/modules/view/controllers/lizMap.classic.php
  lizmap/www/assets/css/map.css
  tests/qgis-projects/tests/atlas.qgs
  tests/qgis-projects/tests/atlas.qgs.cfg
  tests/qgis-projects/tests/popup.qgs
  tests/qgis-projects/tests/popup.qgs.cfg
Labels: refactoring, run end2end

#4040 [Backport 4023] init FormControl property only if exists
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  phpstan-baseline.neon
Labels: data editor, run end2end

#4043 Tests - Upgrade old CFG file having a 3.4 target version
  assets/src/legacy/map.js
  assets/src/modules/config/Metadata.js
  lizmap/modules/lizmap/lib/Project/ProjectConfig.php
  tests/end2end/cypress/integration/requests-getprojectconfig-ghaction.js
  tests/js-units/data/backgrounds-config.json
  tests/js-units/data/cadastre-caen-config.json
  tests/js-units/data/layer_order-config.json
  tests/js-units/data/montpellier-config.json
  tests/js-units/data/mutually-exclusive-config.json
  tests/js-units/node/config/metadata.test.js
  tests/qgis-projects/tests/dataviz_filtered_in_popup.qgs
  tests/qgis-projects/tests/dataviz_filtered_in_popup.qgs.cfg
  tests/qgis-projects/tests/hide_project.qgs
  tests/qgis-projects/tests/hide_project.qgs.cfg
  tests/qgis-projects/tests/world-3857.qgs
  tests/qgis-projects/tests/world-3857.qgs.cfg
  tests/qgis-projects/tests/world-4326.qgs
  tests/qgis-projects/tests/world-4326.qgs.cfg
Labels: tests, run end2end

#3983 Bump minimum versions required and/or for testing
  lizmap/app/system/mainconfig.ini.php
  tests/Makefile
Labels: tests, run end2end

#4042 [Fix] uncaught exception on layerFilterParamChanged event
  assets/src/legacy/map.js
Labels: javascript, run end2end, backport release_3_7
