Repository 3liz/lizmap-web-client, pull requests merged in 2023-01, with the labels that each got.

#3380 phpstan clean in project.php
  lizmap/modules/lizmap/classes/lizmapServices.class.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/ProjectConfig.php
  phpstan-baseline.neon
Labels: backport release_3_5, backport release_3_6

#3343 Action module - new features
  CHANGELOG-3.7.md
  assets/src/components/ActionSelector.js
  assets/src/index.js
  assets/src/legacy/action.js
  assets/src/legacy/switcher-layers-actions.js
  assets/src/modules/Action.js
  assets/src/modules/Lizmap.js
  assets/webpack.common.js
  lizmap/modules/action/classes/action.listener.php
  lizmap/modules/action/classes/actionConfig.class.php
  lizmap/modules/action/classes/actionDatasource.class.php
  lizmap/modules/action/classes/actionDockable.listener.php
  lizmap/modules/action/controllers/service.classic.php
  lizmap/modules/action/events.xml
  lizmap/modules/action/locales/en_US/action.UTF-8.properties
  lizmap/modules/action/templates/action_dock.tpl
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/www/assets/css/action.css
  phpstan-baseline.neon
  tests/end2end/cypress/integration/feature_toolbar-ghaction.js
  tests/qgis-projects/tests/README.md
  tests/qgis-projects/tests/feature_toolbar.qgs.action
  tests/qgis-projects/tests/load_sql.sh
  tests/qgis-projects/tests/media/svg/windrose.svg
  tests/qgis-projects/tests/set_tests_module_action.sql
  tests/qgis-projects/tests/tests_dataset.sql
Labels: enhancement, doc-needed, new feature, sponsored development, tests, javascript, run end2end, run cypress, action

#3376 Dataviz - Allow to post a JSON plot config to get the plot
  lizmap/modules/dataviz/classes/datavizConfig.class.php
  lizmap/modules/dataviz/classes/datavizPlot.class.php
  lizmap/modules/dataviz/controllers/service.classic.php
  lizmap/modules/dataviz/locales/en_US/dataviz.UTF-8.properties
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Server/Server.php
  tests/end2end/cypress/integration/dataviz-ghaction.js
Labels: doc-needed, tests, dataviz, run end2end, backport release_3_6

#3394 UX - Improve error message about the dataviz API
  lizmap/modules/dataviz/classes/datavizConfig.class.php
  lizmap/modules/dataviz/controllers/service.classic.php
  lizmap/modules/dataviz/locales/en_US/dataviz.UTF-8.properties
Labels: user interface, dataviz, backport release_3_6

#3328 Proj4 upgrade
  lizmap/composer.json
  lizmap/modules/lizmap/classes/lizmapTiler.class.php
  phpstan-baseline.neon
Labels: run end2end, php

#3369 JSON Lizmap Metadata - Add groups and repositories
  lizmap/modules/admin/classes/config.listener.php
  lizmap/modules/admin/controllers/landing_page_content.classic.php
  lizmap/modules/admin/controllers/logs.classic.php
  lizmap/modules/admin/controllers/qgis_projects.classic.php
  lizmap/modules/admin/controllers/server_information.classic.php
  lizmap/modules/admin/controllers/theme.classic.php
  lizmap/modules/admin/install/install.php
  lizmap/modules/admin/install/upgrade_newAclRights.php
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/locales/en_US/jacl2.UTF-8.properties
  lizmap/modules/admin/templates/config_section.tpl
  lizmap/modules/admin/templates/config_services.tpl
  lizmap/modules/admin/templates/config_theme.tpl
  lizmap/modules/admin/templates/landing_page_content.tpl
  lizmap/modules/admin/templates/logs_counter.tpl
  lizmap/modules/admin/templates/logs_detail.tpl
  lizmap/modules/admin/templates/logs_view.tpl
  lizmap/modules/admin/templates/project_list.tpl
  lizmap/modules/admin/templates/server_information.tpl
  lizmap/modules/admin/templates/theme.tpl
  lizmap/modules/admin/templates/user_groups.tpl
  lizmap/modules/admin/zones/project_list.zone.php
  lizmap/modules/lizmap/lib/Project/Repository.php
  lizmap/modules/lizmap/lib/Server/Server.php
  lizmap/modules/view/controllers/app.classic.php
  tests/end2end/cypress.json
  tests/end2end/cypress/integration/requests-metadata-ghaction.js
  tests/end2end/cypress/support/commands.js
  tests/qgis-projects/tests/set_tests_respository_rights.sql
Labels: administration pages, tests, backport release_3_6

#3397 Avoid downloading default project img multiple times
  lizmap/modules/view/classes/lizmapMainViewItem.class.php
  lizmap/modules/view/controllers/media.classic.php
  lizmap/modules/view/templates/view.tpl
  lizmap/modules/view/zones/main_view.zone.php
  lizmap/www/assets/css/view.css
  lizmap/www/themes/default/css/img/blank.png
Labels: performance

#3399 Admin - QGIS projects: escape the project data used in the HTML table
  lizmap/modules/admin/templates/project_list_zone.tpl
Labels: bug, administration pages, backport release_3_6

#3250 Editing - Move the child tables to the corresponding relation widget container
  assets/src/components/FeatureToolbar.js
  assets/src/legacy/attributeTable.js
  assets/src/legacy/edition.js
  lizmap/modules/lizmap/classes/qgisAttributeEditorElement.class.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/modules/view/templates/edition_form.tpl
  lizmap/modules/view/templates/edition_form_container.tpl
  tests/end2end/cypress/integration/form_edit_related_child_data-ghaction.js
  tests/end2end/cypress/integration/requests-metadata-ghaction.js
  tests/qgis-projects/tests/form_edit_related_child_data.qgs
  tests/qgis-projects/tests/form_edit_related_child_data.qgs.cfg
  tests/units/classes/Project/QgisProjectTest.php
Labels: enhancement, user interface, data editor, sponsored development, tests, javascript, run end2end

#3401 Avoid downloading default project img multiple times
  lizmap/modules/view/controllers/media.classic.php
  lizmap/modules/view/zones/main_view.zone.php
  lizmap/www/themes/default/css/img/250x250_mappemonde.jpg
Labels: performance, php

#3403 [Bugfix] Hiding some digitizing buttons
  assets/src/components/Digitizing.js
  lizmap/modules/view/templates/map_draw.tpl
  lizmap/www/assets/css/map.css
Labels: bug, user interface, javascript, backport release_3_5, backport release_3_6

#3406 [Backport release_3_6][Bugfix] Defined Digitizing context
  assets/src/modules/Digitizing.js
Labels: bug, user interface, javascript

#3407 [Backport release_3_5][Bugfix] Defined Digitizing context
  assets/src/modules/Digitizing.js
Labels: bug, user interface, javascript

#3410 Update the lizmap landing page title
  CHANGELOG-3.7.md
  lizmap/modules/view/classes/view.listener.php
  lizmap/modules/view/controllers/default.classic.php
  lizmap/modules/view/locales/en_US/default.UTF-8.properties
  lizmap/modules/view/templates/main.tpl
  lizmap/modules/view/templates/map_menu.tpl
Labels: enhancement, user interface

#3416 Admin: Enhancing user experience in repository creation
  lizmap/modules/admin/forms/config_section.form.xml
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/config_section.tpl
  lizmap/modules/lizmap/classes/lizmap.class.php
  lizmap/modules/lizmap/classes/lizmapRepository.class.php
  lizmap/www/assets/js/admin/config_section.js
Labels: administration pages, backport release_3_5, backport release_3_6

#3420 [Backport release_3_5] Admin: Enhancing user experience in repository creation
  lizmap/modules/admin/forms/config_section.form.xml
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/config_section.tpl
  lizmap/modules/lizmap/classes/lizmap.class.php
  lizmap/modules/lizmap/classes/lizmapRepository.class.php
  lizmap/www/assets/js/admin/config_section.js
Labels: administration pages

#3418 UX - Explain a little that some projects are not displayed
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/project_list_zone.tpl
  lizmap/modules/admin/zones/project_list.zone.php
Labels: administration pages

#3423 [Bugfix] WFS: No PostGIS features returned if map projection != layer.projection
  lizmap/modules/lizmap/lib/Request/WFSRequest.php
Labels: bug, QGIS Server, backport release_3_5, postgresql, attribute table, php, backport release_3_6

#3421 Filter performance - Avoid to launch many useless GETFILTERTOKEN request
  assets/src/legacy/map.js
Labels: javascript, backport release_3_5, run end2end, backport release_3_6

#3428 add XML header to WMTS capabilities
  lizmap/modules/lizmap/templates/wmts_capabilities.tpl
Labels: backport release_3_5, backport release_3_6

#3434 [Bugfix] Form: A checkbox has to have a default equal to check or uncheck value
  lizmap/modules/lizmap/lib/Form/QgisFormControl.php
  tests/qgis-projects/tests/form_edition_all_field_type.qgs
  tests/qgis-projects/tests/tests_dataset.sql
Labels: bug, data editor, tests, backport release_3_5, run end2end, backport release_3_6

#3440 Bump Lizmap server minimum version to 1.3.0
  lizmap/app/system/mainconfig.ini.php
Labels: backport release_3_5, backport release_3_6

#3436 Attribute table - Fix no display of table with value relation fields with no layer name
  assets/src/legacy/attributeTable.js
  assets/src/legacy/filter.js
Labels: javascript, run end2end, attribute table, backport release_3_6

#3422 Dataviz - Lazy loading of the plots: get data based on visibility
  lizmap/www/assets/js/dataviz/dataviz.js
  tests/end2end/cypress/fixtures/images/plotly/plot_montpellier_bakeries.png
  tests/end2end/cypress/fixtures/images/plotly/plot_montpellier_bakeries_firefox.png
  tests/end2end/cypress/integration/dataviz-ghaction.js
Labels: enhancement, tests, dataviz, performance, javascript, run end2end
