Repository 3liz/lizmap-web-client, pull requests merged in 2023-04, with the labels that each got.

#3586 Add MGRS
  assets/src/components/MousePosition.js
  assets/src/dependencies/mgrs.js
  assets/src/modules/MGRS.js
Labels: javascript

#3573 Fix the docker image to build lizmap
  dev/Dockerfile
  dev/Makefile
  dev/README.md
Labels: bug, CI & packages, backport release_3_6

#3590 Fix version number when displaying strings about the project table
  lizmap/modules/admin/zones/project_list.zone.php
Labels: administration pages, backport release_3_6

#3151 Remove code about spatialite and edition of layer, not supported for a long time in the plugin
  lizmap/modules/lizmap/classes/lizmapProject.class.php
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/lib/Project/Project.php
Labels: data editor, backport release_3_5, run end2end, backport release_3_6

#3594 Tests - Add makefile command to upgrade QGIS projects
  .gitignore
  tests/Makefile
  tests/qgis-server-plugins/.empty
  tests/qgis-server-plugins/upgrade_projects.py
Labels: tests, backport release_3_5, backport release_3_6

#3547 Fix key value for layer not published in WFS
  assets/src/legacy/attributeTable.js
  assets/src/legacy/filter.js
  tests/end2end/cypress/integration/key_value_mapping-ghaction.js
  tests/qgis-projects/tests/key_value_mapping.qgs
  tests/qgis-projects/tests/key_value_mapping.qgs.cfg
Labels: tests, javascript, run end2end, backport release_3_6

#3593 fix form filter select rendering
  lizmap/www/assets/css/filter.css
Labels: backport release_3_6

#3608 [Feature] Display feature geometries defined in map parameter
  assets/src/legacy/map.js
  tests/end2end/playwright/startup.spec.js-snapshots/zoom-features-extent-chromium-linux.png
Labels: tests, javascript, run end2end, backport release_3_6

#3609 [Bugfix] Edition: Apply centroid is config for checking geometry
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
Labels: data editor, run end2end, backport release_3_6

#3614 [Tests] e2e: Unflacky feature toolbar
  tests/end2end/cypress/integration/feature_toolbar-ghaction.js
Labels: tests, backport release_3_5, run end2end, backport release_3_6

#3613 [Bugfix] Use shortname in selection token if provided
  assets/src/legacy/attributeTable.js
Labels: bug, javascript, backport release_3_5, run end2end, backport release_3_6

#3615 [Backport release_3_6][Tests] e2e: Unflacky feature toolbar
  tests/end2end/cypress/integration/feature_toolbar-ghaction.js
Labels: tests, run end2end

#3605 [Bugfix] Apply editing context for requests in edition form
  lizmap/modules/lizmap/classes/qgisExpressionUtils.class.php
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  lizmap/modules/lizmap/lib/Form/QgisFormValueRelationDynamicDatasource.php
Labels: bug, data editor, run end2end, backport release_3_6

#3616 [Backport release_3_6][Bugfix] Use shortname in selection token if provided
  assets/src/legacy/attributeTable.js
Labels: bug, javascript, run end2end

#3617 [Backport release_3_5][Bugfix] Use shortname in selection token if provided
  assets/src/legacy/attributeTable.js
Labels: bug, javascript, run end2end

#3612 Bump minimal Lizmap server plugin version to 2.7.1
  lizmap/app/system/mainconfig.ini.php
Labels: backport release_3_5, backport release_3_6

#3620 [Bugfix] Build EXP_FILTER for casade and pivot layers
  assets/src/legacy/attributeTable.js
Labels: bug, tests, javascript, backport release_3_5, run end2end, backport release_3_6

#3627 [Tests] e2e: enhancing attribute table
  tests/end2end/cypress/integration/attribute_table-ghaction.js
Labels: tests, backport release_3_5, run end2end, backport release_3_6

#3630 [Bugfix] GetPrint: Use baselayer shortname
  assets/src/components/Print.js
Labels: bug, user interface, javascript, run end2end, backport release_3_6

#3631 [Backport release_3_6] [Bugfix] GetPrint: Use baselayer shortname
  assets/src/legacy/map.js
Labels: bug, user interface, javascript, run end2end

#3632 [Backport release_3_5] [Bugfix] GetPrint: Use baselayer shortname
  assets/src/legacy/map.js
Labels: bug, user interface, javascript, run end2end

#3629 Add webdav informations into Lizmap metadata
  lizmap/modules/lizmap/lib/Server/Server.php
Labels: enhancement, backport release_3_6

#3634 UX - Add reminder to check the QGIS server URL when the table is not correct
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/server_information.tpl
Labels: administration pages, backport release_3_5, backport release_3_6

#3642 Metadata - Use better right if the user can access
  lizmap/modules/lizmap/lib/Server/Server.php
Labels: backport master

#3635 UX - Display the URL of webdav if possible
  lizmap/modules/admin/controllers/server_information.classic.php
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/server_information.tpl
Labels: administration pages, backport release_3_6

#3211 Add color picker to theme edition in admin
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/config_theme.tpl
Labels: enhancement, user interface, administration pages, backport release_3_5, backport release_3_6

#3576 log OGC request and retreive it for tests
  lizmap/modules/lizmap/lib/Request/Proxy.php
  tests/docker-compose.yml
  tests/docker-conf/phpfpm/localconfig.ini.php
  tests/end2end/cypress/fixtures/images/treeview/layer_legend_categorized.png
  tests/end2end/cypress/fixtures/images/treeview/layer_legend_categorized_316.png
  tests/end2end/cypress/integration/legend-ghaction.js
  tests/end2end/playwright/qgis-request.spec.js
  tests/end2end/playwright/timemanage.spec.js
  tests/qgis-projects/tests/time_manager.md
Labels: QGIS Server, tests, backport release_3_5, run end2end, backport release_3_6

#3653 [Backport release_3_6] Fix: erase draw in localstorage
  assets/src/modules/Digitizing.js
Labels: bug, javascript, run end2end

#3654 [Backport release_3_5] Fix: erase draw in localstorage
  assets/src/modules/Digitizing.js
Labels: bug, run end2end

#3649 Fix: export in popup featureToolBar
  assets/src/components/FeatureToolbar.js
Labels: javascript, run end2end, backport release_3_6

#3657 Remove code about external base layer which has been deprecated since 2019
  assets/src/legacy/map.js
Labels: javascript
