Repository 3liz/lizmap-web-client, pull requests merged in 2023-03, with the labels that each got.

#3534 [Bugfix] WMS GetFeatureInfo Filter: the layer name has to be the same
  assets/src/legacy/map.js
Labels: bug, javascript, backport release_3_5, backport release_3_6

#3516 [phpstan] phpDoc TypeHint for redirect response
  lizmap/modules/dynamicLayers/controllers/map.classic.php
  lizmap/modules/lizmap/controllers/default.classic.php
  lizmap/modules/lizmap/controllers/edition.classic.php
  phpstan-baseline.neon
Labels: tests, backport release_3_6

#3560 [Backport release_3_5] Check if the project needs an update which lead to a warning
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/ProjectConfig.php
  lizmap/var/config/mainconfig.ini.php
  tests/units/classes/Project/ProjectConfigTest.php
Labels: run end2end, php

#3528 wmts cache command
  lizmap/modules/lizmap/commands.php
  lizmap/modules/lizmap/controllers/wmts.cmdline.php
  lizmap/modules/lizmap/lib/CliHelpers/WMTSCache.php
  lizmap/modules/lizmap/lib/Commands/WMTSCacheClean.php
  lizmap/modules/lizmap/lib/Commands/WMTSCapabilities.php
  lizmap/modules/lizmap/lib/Commands/WMTSSeed.php
  tests/docker-conf/phpfpm/appctl.sh
  tests/end2end/cypress/integration/cmdline-wmts-ghaction.js
  tests/lizmap-ctl
Labels: tests, run end2end, backport release_3_6

#3551 Fix message about maps cannot be displayed
  lizmap/modules/view/controllers/default.classic.php
  lizmap/modules/view/controllers/lizMap.classic.php
  lizmap/modules/view/locales/en_US/default.UTF-8.properties
  lizmap/modules/view/templates/main.tpl
Labels: user interface, backport release_3_6

#3570 Add featureStorage
  assets/src/components/edition/PasteGeom.js
  assets/src/images/svg/mActionEditPaste.svg
  assets/src/index.js
  assets/src/legacy/map.js
  assets/src/modules/FeatureStorage.js
  assets/src/modules/Lizmap.js
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/modules/view/locales/en_US/edition.UTF-8.properties
  lizmap/modules/view/templates/map_edition.tpl
  lizmap/www/assets/css/map.css
Labels: javascript

#3572 [Bugfix] Regression in view/media/getCssFile
  lizmap/modules/view/controllers/media.classic.php
Labels: regression, backport release_3_5, php, backport release_3_6
