Repository 3liz/lizmap-web-client, pull requests merged in 2023-09, with the labels that each got.

#3872 [Bugfix] Notice Undefined index: crs
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
Labels: QGIS Server, backport release_3_5, run end2end, php, backport release_3_6

#3871 Draw: handle text writing
  assets/src/components/Digitizing.js
  assets/src/modules/Digitizing.js
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/www/assets/css/map.css
Labels: new feature, sponsored development, javascript

#3879 Fix nullable bool value map
  lizmap/modules/lizmap/lib/Form/QgisFormControl.php
  tests/end2end/cypress/integration/form_edition_all_field_type-ghaction.js
  tests/end2end/playwright/edition-form.spec.js
  tests/end2end/playwright/edition-form.spec.ts
  tests/units/classes/Form/QgisFormControlTest.php
Labels: data editor, priority:high, tests, backport release_3_5, run end2end, php, backport release_3_6

#3878 Treeview: scale dependent visibility
  assets/src/components/Treeview.js
  assets/src/modules/BaseLayersMap.js
  assets/src/modules/Utils.js
  assets/src/modules/state/LayerTree.js
  lizmap/www/assets/css/map.css
  tests/end2end/playwright/treeview.spec.ts
  tests/qgis-projects/tests/treeview.qgs
  tests/qgis-projects/tests/treeview.qgs.cfg
Labels: tests, javascript, run end2end

#3866 Password and login changes
  CHANGELOG-3.6.md
  lizmap/app/overloads/jcommunity/forms/registration.form.xml
  lizmap/app/themes/default/jauthdb_admin/password_change.tpl
  lizmap/composer.json
  lizmap/modules/lizmap/daos/user.dao.xml
  lizmap/modules/lizmap/forms/account_admin.form.xml
Labels: enhancement, authentication, backport release_3_6

#3868 Use `wmsName` for WMS requests
  assets/src/legacy/attributeTable.js
  tests/end2end/cypress/integration/attribute_table-ghaction.js
  tests/end2end/cypress/integration/form-filter-ghaction.js
  tests/qgis-projects/tests/attribute_table.qgs
  tests/qgis-projects/tests/attribute_table.qgs.cfg
  tests/qgis-projects/tests/form_filter.qgs
  tests/qgis-projects/tests/form_filter.qgs.cfg
Labels: bug, tests, javascript, backport release_3_5, run end2end, attribute table, backport release_3_6

#3887 e2e: Cypress executed w/ electron
  .github/workflows/e2e_tests.yml
Labels: run end2end

#3890 Use `wmsName` for WMS requests
  assets/src/legacy/attributeTable.js
Labels: run end2end

#3893 [PHP] Using home page title in the login template
  lizmap/app/themes/default/master_admin/index_login.tpl
Labels: user interface

#3894 e2e: backport form project
  tests/qgis-projects/tests/form_edition_all_field_type.qgs
  tests/qgis-projects/tests/form_edition_all_field_type.qgs.cfg
Labels: tests, run end2end

#3895 [PHP] Get cached Polygon filter for project, layer, login and editing context
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  phpstan-baseline.neon
Labels: enhancement, backport release_3_5, run end2end, php, backport release_3_6

#3899 [Bugfix] Load relations from embedded layers
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  tests/end2end/playwright/embedded-relation.spec.ts
  tests/qgis-projects/tests/relations_project.qgs
  tests/qgis-projects/tests/relations_project.qgs.cfg
  tests/qgis-projects/tests/relations_project_embed.qgs
  tests/qgis-projects/tests/relations_project_embed.qgs.cfg
  tests/qgis-projects/tests/test_embed.gpkg
  tests/units/classes/Project/QgisProjectTest.php
  tests/units/classes/Project/Ressources/relations_project.qgs
  tests/units/classes/Project/Ressources/relations_project_embed.qgs
  tests/units/testslib/QgisProjectForTests.php
Labels: bug, data editor, tests, backport release_3_5, run end2end, php, backport release_3_6
