Repository 3liz/lizmap-web-client, pull requests merged in 2023-07, with the labels that each got.

#3775 Update user.UTF-8.properties
  lizmap/modules/admin/locales/en_US/user.UTF-8.properties
Labels: administration pages, backport release_3_6

#3787 Remove webdav stuff. The webdav module will bring info via events.
  lizmap/modules/admin/controllers/server_information.classic.php
  lizmap/modules/admin/templates/server_information.tpl
  lizmap/modules/lizmap/lib/Events/LizmapMetadataEvent.php
  lizmap/modules/lizmap/lib/Server/Server.php
  lizmap/modules/view/controllers/app.classic.php
Labels: enhancement, administration pages, backport release_3_6

#3790 [JavaScript] State Layer module: mapType and isInGroupAsLayer property for items
  assets/src/modules/state/Layer.js
  assets/src/modules/state/MapLayer.js
  tests/js-units/data/cadastre-caen-capabilities.json
  tests/js-units/data/cadastre-caen-config.json
  tests/js-units/node/state/layer.test.js
  tests/js-units/node/state/maplayer.test.js
Labels: tests, javascript, run end2end

#3791 [JavaScript] Managed Rule based Symbology like QGIS
  assets/src/modules/state/Layer.js
  assets/src/modules/state/Symbology.js
  tests/js-units/data/quickosm-road-legend.json
  tests/js-units/node/state/layer.test.js
  tests/js-units/node/state/layerTree.test.js
  tests/js-units/node/state/maplayer.test.js
  tests/js-units/node/state/symbology.test.js
Labels: tests, javascript

#3793 [JavaScript] TreeView : Respect QGIS Rule Based Renderer tree
  assets/src/components/Treeview.js
  assets/src/modules/state/Symbology.js
Labels: doc-needed, javascript, run end2end

#3539 Draw: set feature's color individually + delete features individually
  assets/src/components/Digitizing.js
  assets/src/modules/Digitizing.js
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/www/assets/css/map.css
  tests/end2end/playwright/draw.spec.ts
  tests/end2end/playwright/draw.spec.ts-snapshots/draw-all-tools-chromium-linux.png
  tests/end2end/playwright/draw.spec.ts-snapshots/draw-edition-chromium-linux.png
  tests/qgis-projects/tests/draw.qgs
  tests/qgis-projects/tests/draw.qgs.cfg
Labels: enhancement, sponsored development, tests, javascript, run end2end

#3798 UX - Display some colours for explaining rules
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/project_list_zone.tpl
Labels: user interface, administration pages, backport release_3_6

#3479 [Bugfix] Selection by Geometry
  assets/src/legacy/map.js
  assets/src/modules/SelectionTool.js
  tests/end2end/cypress/integration/selectionTool-ghaction.js
Labels: bug, user interface, tests, javascript, run end2end

#3802 Editing & Filter - Fix editing right access from popup
  lizmap/modules/lizmap/classes/qgisExpressionUtils.class.php
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/controllers/edition.classic.php
Labels: data editor, run end2end, php, backport release_3_6, expression

#3806 Increase workers for Playwright in CI
  tests/end2end/playwright.config.ts
Labels: run end2end, backport release_3_6

#3801 [JavaScript] Replace loading boolean by an Enum for map layer load status
  assets/src/components/Treeview.js
  assets/src/modules/BaseLayersMap.js
  assets/src/modules/state/BaseLayer.js
  assets/src/modules/state/LayerTree.js
  assets/src/modules/state/MapLayer.js
  tests/js-units/node/state/baselayer.test.js
  tests/js-units/node/state/layerTree.test.js
  tests/js-units/node/state/maplayer.test.js
Labels: tests, javascript, run end2end

#3812 Remove legacy OL2 baselayers code
  assets/src/legacy/map.js
  tests/end2end/playwright/base-layers.spec.js
  tests/qgis-projects/tests/base_layers.qgs
  tests/qgis-projects/tests/base_layers.qgs.cfg
Labels: refactoring, javascript, technical debt, run end2end, layer tree

#3804 `overview` group name no more case sensitive
  assets/src/components/OverviewMap.js
  assets/src/index.js
  assets/src/legacy/map.js
  assets/src/modules/Lizmap.js
  tests/end2end/cypress/fixtures/images/overview/2154-to-3857.png
  tests/end2end/cypress/fixtures/images/overview/2154.png
  tests/end2end/cypress/fixtures/images/overview/3857.png
  tests/end2end/cypress/fixtures/images/overview/4326-to-3857.png
  tests/end2end/cypress/fixtures/images/overview/4326.png
  tests/end2end/cypress/integration/overview-ghaction.js
  tests/end2end/playwright/overview.spec.ts
  tests/qgis-projects/tests/overview-2154.qgs
  tests/qgis-projects/tests/overview-2154.qgs.cfg
  tests/qgis-projects/tests/overview-3857.qgs
  tests/qgis-projects/tests/overview-3857.qgs.cfg
  tests/qgis-projects/tests/overview-4326.qgs
  tests/qgis-projects/tests/overview-4326.qgs.cfg
Labels: enhancement, tests, refactoring, run end2end

#3814 Mailer: set the replyTo parameter
  lizmap/app/system/mainconfig.ini.php
  lizmap/modules/lizmap/classes/lizmapServices.class.php
  lizmap/modules/lizmap/install/upgrade_replyto.php
  tests/units/classes/lizmapServicesTest.php
Labels: enhancement, authentication, tests, backport release_3_6

#3811 Update QgisProject.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
Labels: backport release_3_5, php, backport release_3_6

#3813 check project scales and replace scale 0 with scale 1
  lizmap/modules/lizmap/classes/lizmapTiler.class.php
Labels: backport release_3_5, backport release_3_6
