Repository 3liz/lizmap-web-client, pull requests merged in 2023-06, with the labels that each got.

#3708 Fix: Warning about qgsmtime for embedded layer
  lizmap/modules/lizmap/lib/Project/Project.php
Labels: backport release_3_5, run end2end, backport release_3_6

#3714 [Backport Release_3_6] Bugfix javascript modules
  assets/src/legacy/attributeTable.js
  assets/src/legacy/bottom-dock.js
  assets/src/legacy/edition.js
  assets/src/legacy/filter.js
  assets/src/legacy/timemanager.js
Labels: javascript, run end2end, backport

#3715 [Bugfix] Support openTopoMap
  assets/src/legacy/map.js
Labels: map viewer, javascript, run end2end, backport release_3_6

#3717 [Feature] GetLegendGraphic - request each layer separatly for json
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  tests/end2end/playwright/qgis-request.spec.js
Labels: QGIS Server, new feature, tests, run end2end, php

#3640 Fix visibility preset error
  assets/src/legacy/switcher-layers-actions.js
  lizmap/modules/lizmap/classes/qgisProject.class.php
Labels: map viewer, javascript, backport release_3_5, run end2end, backport release_3_6

#3722 [JavaScript] LayerTree from WMS Capabilities with base layers extraction
  assets/src/modules/Config.js
  assets/src/modules/Lizmap.js
  assets/src/modules/State.js
  assets/src/modules/config/AttributeTable.js
  assets/src/modules/config/Attribution.js
  assets/src/modules/config/BaseLayer.js
  assets/src/modules/config/Dataviz.js
  assets/src/modules/config/Layer.js
  assets/src/modules/config/LayerTree.js
  assets/src/modules/config/Metadata.js
  assets/src/modules/config/Options.js
  assets/src/modules/state/LayerTree.js
  tests/js-units/data/montpellier-capabilities.json
  tests/js-units/data/montpellier-config.json
  tests/js-units/node/config.metadata.test.js
  tests/js-units/node/config.test.js
  tests/js-units/node/config/attributeTable.test.js
  tests/js-units/node/config/base.test.js
  tests/js-units/node/config/baselayer.test.js
  tests/js-units/node/config/dataviz.test.js
  tests/js-units/node/config/edition.test.js
  tests/js-units/node/config/formFilter.test.js
  tests/js-units/node/config/layer.test.js
  tests/js-units/node/config/layerTree.test.js
  tests/js-units/node/config/locate.test.js
  tests/js-units/node/config/metadata.test.js
  tests/js-units/node/config/options.test.js
  tests/js-units/node/config/printTemplate.test.js
  tests/js-units/node/config/theme.test.js
  tests/js-units/node/config/timemanager.test.js
  tests/js-units/node/config/tools.test.js
  tests/js-units/node/config/tooltip.test.js
  tests/js-units/node/state/layerTree.test.js
Labels: doc-needed, tests, javascript, run end2end

#3716 Dataviz - Build the dataviz dock interface from the Drag&Drop HTML layout
  CHANGELOG-3.7.md
  lizmap/modules/admin/controllers/server_information.classic.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/ProjectConfig.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  lizmap/www/assets/css/dataviz/dataviz.css
  tests/end2end/cypress/integration/dataviz-ghaction.js
  tests/qgis-projects/tests/dataviz.qgs
  tests/qgis-projects/tests/dataviz.qgs.cfg
Labels: doc-needed, administration pages, new feature, tests, dataviz, javascript, run end2end, php

#3727 [Bugfix] Fix visibility preset error
  assets/src/legacy/switcher-layers-actions.js
  lizmap/modules/lizmap/classes/qgisProject.class.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  tests/units/classes/Project/QgisProjectTest.php
  tests/units/classes/Project/Ressources/themes-3_22.qgs
  tests/units/classes/Project/Ressources/themes-3_26.qgs
Labels: map viewer, tests, javascript, backport release_3_5, run end2end, backport release_3_6

#3726 Config: Add layerType and extract xyz and WMTS 3857 datasource parameters
  assets/src/modules/config/BaseLayer.js
  assets/src/modules/config/Layer.js
  lizmap/modules/lizmap/lib/Project/Project.php
  tests/js-units/data/montpellier-config.json
  tests/js-units/node/config/baselayer.test.js
  tests/js-units/node/config/layer.test.js
Labels: tests, javascript, run end2end, php

#3730 [JavaScript] Extract layers order from config and WMS Capabilities
  assets/src/modules/Config.js
  assets/src/modules/config/LayersOrder.js
  tests/js-units/node/config.test.js
  tests/js-units/node/config/layersOrder.test.js
Labels: doc-needed, tests, javascript, run end2end

#3732 [JavaScript] LayerTreeItem cheked and visibility management
  assets/src/modules/state/LayerTree.js
  tests/js-units/node/config/layer.test.js
  tests/js-units/node/state/layerTree.test.js
Labels: tests, javascript, run end2end

#3280 input type number in edition form when datatype is number
  lizmap/modules/lizmap/lib/Form/QgisFormControl.php
  lizmap/plugins/formwidget/input_htmlbootstrap/input_htmlbootstrap.formwidget.php
  tests/end2end/cypress/integration/form_edition_all_field_type-ghaction.js
  tests/end2end/playwright/edition-form.spec.js
  tests/qgis-projects/tests/form_edition_all_field_type.qgs
Labels: doc-needed, data editor, docker, tests, javascript, run end2end, php, backport release_3_6

#3735 [JavaScript] Symbology and update LayerTree
  assets/src/modules/WMS.js
  assets/src/modules/action/Symbology.js
  assets/src/modules/state/LayerTree.js
  assets/src/modules/state/Symbology.js
  tests/js-units/node/state/layerTree.test.js
  tests/js-units/node/state/symbology.test.js
Labels: tests, javascript

#3736 [Bugfix] WMS GetLegendGraphic is the right request name not GetLegendGraphics
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
Labels: QGIS Server, backport release_3_5, run end2end, php, backport release_3_6

#3737 [JavaScript] Module State MapLayer
  assets/src/modules/State.js
  assets/src/modules/config/LayerTree.js
  assets/src/modules/config/LayersOrder.js
  assets/src/modules/state/LayerTree.js
  assets/src/modules/state/MapLayer.js
  tests/js-units/node/config/layerTree.test.js
  tests/js-units/node/config/layersOrder.test.js
  tests/js-units/node/state/layerTree.test.js
  tests/js-units/node/state/maplayer.test.js
Labels: tests, javascript

#3745 Backport #3744
  lizmap/modules/lizmap/lib/Project/Project.php
Labels: backport release_3_5

#3741 Popup/Editing - Add a combobox in the popup to allow creating a new child feature
  CHANGELOG-3.7.md
  assets/src/components/FeatureToolbar.js
  tests/end2end/cypress/integration/feature_toolbar-ghaction.js
Labels: user interface, tests, javascript, run end2end

#3743 use layer name as option label for locate-by-layer selector in mobile
  assets/src/legacy/map.js
Labels: user interface, javascript, backport release_3_5, run end2end, backport release_3_6

#3751 [JavaScript] Module State layer
  assets/src/legacy/attributeTable.js
  assets/src/legacy/map.js
  assets/src/modules/Map.js
  assets/src/modules/ProxyEvents.js
  assets/src/modules/State.js
  assets/src/modules/state/Layer.js
  assets/src/modules/state/LayerTree.js
  assets/src/modules/state/Map.js
  assets/src/modules/state/MapLayer.js
  tests/js-units/data/montpellier-capabilities.json
  tests/js-units/node/state/layer.test.js
  tests/js-units/node/state/layerTree.test.js
  tests/js-units/node/state/map.test.js
  tests/js-units/node/state/maplayer.test.js
Labels: tests, javascript, run end2end

#3752 [JavaScript] Layer Property to know if the layer has selected features and is filtered
  assets/src/modules/state/Layer.js
  assets/src/modules/state/LayerTree.js
  assets/src/modules/state/MapLayer.js
  tests/js-units/node/state/layer.test.js
  tests/js-units/node/state/layerTree.test.js
  tests/js-units/node/state/maplayer.test.js
Labels: tests, javascript, run end2end

#3753 [JavaScript] Manage Layer Group mutually exclusive
  assets/src/modules/state/Layer.js
  tests/js-units/data/mutually-exclusive-capabilities.json
  tests/js-units/data/mutually-exclusive-config.json
  tests/js-units/node/state/layer.test.js
Labels: tests, javascript, run end2end

#3754 [JavaScript] Module State BaseLayer and Class state extends EventDispatcher
  assets/src/modules/State.js
  assets/src/modules/state/BaseLayer.js
  assets/src/modules/state/Layer.js
  assets/src/utils/EventDispatcher.js
  tests/js-units/node/state.test.js
  tests/js-units/node/state/baselayer.test.js
  tests/js-units/node/state/layerTree.test.js
  tests/js-units/node/state/maplayer.test.js
Labels: tests, javascript, run end2end
