Repository 3liz/lizmap-web-client, pull requests merged in 2024-07, with the labels that each got.

#4542 Improve support for layer with string PKs
  assets/src/components/FeatureToolbar.js
  assets/src/legacy/attributeTable.js
Labels: printing, run end2end, backport release_3_7, backport release_3_8

#4367 Make QGIS Server 3.34 for testing in LWC 3.8
  tests/Makefile
  tests/end2end/playwright/theme.spec.js
Labels: run end2end, backport release_3_8

#4514 [Bugfix] JS config themes
  assets/src/legacy/switcher-layers-actions.js
  assets/src/modules/Config.js
  assets/src/modules/config/Options.js
  assets/src/modules/config/Theme.js
  lizmap/modules/view/controllers/map.classic.php
  tests/end2end/playwright/theme.spec.js
  tests/js-units/node/config.test.js
  tests/js-units/node/config/options.test.js
  tests/js-units/node/config/theme.test.js
Labels: sponsored development, javascript, run end2end, backport release_3_7, backport release_3_8

#4572 [Backport release_3_7] [Bugfix] JS config themes
  assets/src/legacy/switcher-layers-actions.js
  assets/src/modules/Config.js
  assets/src/modules/config/Options.js
  assets/src/modules/config/Theme.js
  lizmap/modules/view/controllers/map.classic.php
  tests/end2end/playwright/theme.spec.js
  tests/js-units/node/config.test.js
  tests/js-units/node/config/options.test.js
  tests/js-units/node/config/theme.test.js
Labels: sponsored development, tests, javascript, run end2end

#4573 Tests - Upgrade CFG which were on LWC 3.5 to 3.7 and QGIS 3.28
  tests/qgis-projects/tests/dnd_form.qgs
  tests/qgis-projects/tests/dnd_form.qgs.cfg
  tests/qgis-projects/tests/events.qgs
  tests/qgis-projects/tests/events.qgs.cfg
  tests/qgis-projects/tests/form_edition.qgs
  tests/qgis-projects/tests/form_edition.qgs.cfg
  tests/qgis-projects/tests/form_type_relational_value.qgs
  tests/qgis-projects/tests/form_type_relational_value.qgs.cfg
  tests/qgis-projects/tests/startup.qgs
  tests/qgis-projects/tests/startup.qgs.cfg
Labels: run end2end, backport release_3_7, backport release_3_8

#4574 Demo - Update tests projects to LWC 3.7 and QGIS 3.28
  extra-modules/lizmapdemo/qgis-projects/demoqgis/events.qgs
  extra-modules/lizmapdemo/qgis-projects/demoqgis/events.qgs.cfg
  extra-modules/lizmapdemo/qgis-projects/demoqgis/montpellier.qgs
  extra-modules/lizmapdemo/qgis-projects/demoqgis/montpellier.qgs.cfg
  extra-modules/lizmapdemo/qgis-projects/demoqgis_intranet/montpellier_intranet.qgs
  extra-modules/lizmapdemo/qgis-projects/demoqgis_intranet/montpellier_intranet.qgs.cfg
Labels: backport release_3_7, backport release_3_8

#4513 [Bugfix] Still support bbox parameter
  assets/src/legacy/map.js
  assets/src/modules/Permalink.js
  lizmap/modules/view/templates/map_projects.tpl
  lizmap/modules/view/templates/view.tpl
  tests/end2end/playwright/error-occurred.spec.js
  tests/end2end/playwright/globals.js
  tests/end2end/playwright/permalink.spec.js
Labels: bug, map viewer, sponsored development, run end2end, backport release_3_7, backport release_3_8

#4566 Print overview
  assets/src/components/Print.js
  tests/end2end/playwright/print.spec.js
  tests/qgis-projects/tests/print.qgs
  tests/qgis-projects/tests/print.qgs.cfg
Labels: printing, backport release_3_7, backport release_3_8

#4582 [Backport release_3_7] [Bugfix] Still support bbox parameter
  assets/src/legacy/map.js
  assets/src/modules/Permalink.js
  lizmap/modules/view/templates/map_projects.tpl
  lizmap/modules/view/templates/view.tpl
  tests/end2end/playwright/error-occurred.spec.js
  tests/end2end/playwright/globals.js
  tests/end2end/playwright/permalink.spec.js
Labels: bug, map viewer, sponsored development, tests, run end2end

#4586 New option to disable the automatic permalink
  assets/src/modules/Permalink.js
  assets/src/modules/config/Options.js
  tests/end2end/playwright/permalink.spec.js
Labels: user interface, tests, javascript, run end2end, backport release_3_7, backport release_3_8

#4590 [Backport release_3_7] New option to disable the automatic permalink
  assets/src/modules/Permalink.js
  assets/src/modules/config/Options.js
  tests/end2end/playwright/permalink.spec.js
  tests/js-units/node/config/options.test.js
Labels: user interface, tests, javascript, run end2end

#4591 Automatic permalink will be disabled by default
  assets/src/modules/config/Options.js
  tests/end2end/playwright/theme.spec.js
  tests/js-units/node/config/options.test.js
Labels: user interface, tests, javascript, run end2end, backport release_3_8

#4595 Fix JS Dataviz: When dataviz is not available
  lizmap/www/assets/js/dataviz/dataviz.js
  tests/end2end/playwright/embed.spec.js
Labels: dataviz, javascript, run end2end, backport release_3_7, backport release_3_8

#4600 JS Digitizing: fixing measure not removed from selection to draw
  assets/src/modules/Digitizing.js
  tests/end2end/playwright/draw.spec.js
Labels: bug, user interface, sponsored development, javascript, run end2end, backport release_3_7, backport release_3_8

#4603 FTS: order first by `similarity` then by `item_label`
  lizmap/modules/lizmap/classes/lizmapFts.class.php
Labels: bug, sponsored development, backport release_3_7, backport release_3_8

#4602 Tests e2e playwright: using gotoMap instead of networkidle
  tests/end2end/playwright/embedded-form.spec.js
  tests/end2end/playwright/embedded-relation.spec.js
  tests/end2end/playwright/filter-layer-by-user.spec.js
  tests/end2end/playwright/n_to_m_relations.spec.js
  tests/end2end/playwright/overview.spec.js
  tests/end2end/playwright/singleWMS.spec.js
  tests/end2end/playwright/snap.spec.js
  tests/end2end/playwright/treeview.spec.js
  tests/end2end/playwright/webdav-upload.spec.js
Labels: tests, run end2end, backport release_3_7, backport release_3_8

#4605 Tests e2e playwright: replace require par import ... from
  tests/end2end/playwright/attribute-table.spec.js
  tests/end2end/playwright/attributions.spec.js
  tests/end2end/playwright/axis_orientation.spec.js
  tests/end2end/playwright/base-layers.spec.js
  tests/end2end/playwright/custom-javascript-api.spec.js
  tests/end2end/playwright/display_in_layer_tree.spec.js
  tests/end2end/playwright/edition-form.spec.js
  tests/end2end/playwright/embed.spec.js
  tests/end2end/playwright/error-occurred.spec.js
  tests/end2end/playwright/exposed_dependencies.spec.js
  tests/end2end/playwright/form_relational_value.spec.js
  tests/end2end/playwright/google-basemap.spec.js
  tests/end2end/playwright/legend.spec.js
  tests/end2end/playwright/permalink.spec.js
  tests/end2end/playwright/popup.spec.js
  tests/end2end/playwright/print.spec.js
  tests/end2end/playwright/print_in_project_projection.spec.js
  tests/end2end/playwright/project_load_warning.spec.js
  tests/end2end/playwright/qgis-request.spec.js
  tests/end2end/playwright/startup.spec.js
  tests/end2end/playwright/theme.spec.js
  tests/end2end/playwright/timemanage.spec.js
  tests/end2end/playwright/viewport.spec.js
  tests/end2end/playwright/wmts.spec.js
  tests/end2end/playwright/xss.spec.js
Labels: tests, run end2end, backport release_3_7, backport release_3_8

#4594 JS: Enhancing digitizing component and module
  assets/src/components/Digitizing.js
  assets/src/images/svg/eraser-all.svg
  assets/src/modules/Digitizing.js
  lizmap/app/locales/cs_CZ/view/locales/dictionnary.UTF-8.properties
  lizmap/app/locales/de_DE/view/locales/dictionnary.UTF-8.properties
  lizmap/app/locales/el_GR/view/locales/dictionnary.UTF-8.properties
  lizmap/app/locales/es_ES/view/locales/dictionnary.UTF-8.properties
  lizmap/app/locales/eu_ES/view/locales/dictionnary.UTF-8.properties
  lizmap/app/locales/fi_FI/view/locales/dictionnary.UTF-8.properties
  lizmap/app/locales/fr_FR/view/locales/dictionnary.UTF-8.properties
  lizmap/app/locales/gl_ES/view/locales/dictionnary.UTF-8.properties
  lizmap/app/locales/hu_HU/view/locales/dictionnary.UTF-8.properties
  lizmap/app/locales/it_IT/view/locales/dictionnary.UTF-8.properties
  lizmap/app/locales/ja_JP/view/locales/dictionnary.UTF-8.properties
  lizmap/app/locales/nl_NL/view/locales/dictionnary.UTF-8.properties
  lizmap/app/locales/no_NO/view/locales/dictionnary.UTF-8.properties
  lizmap/app/locales/pl_PL/view/locales/dictionnary.UTF-8.properties
  lizmap/app/locales/pt_BR/view/locales/dictionnary.UTF-8.properties
  lizmap/app/locales/pt_PT/view/locales/dictionnary.UTF-8.properties
  lizmap/app/locales/ro_RO/view/locales/dictionnary.UTF-8.properties
  lizmap/app/locales/ru_RU/view/locales/dictionnary.UTF-8.properties
  lizmap/app/locales/sk_SK/view/locales/dictionnary.UTF-8.properties
  lizmap/app/locales/sl_SI/view/locales/dictionnary.UTF-8.properties
  lizmap/app/locales/sv_SE/view/locales/dictionnary.UTF-8.properties
  lizmap/app/locales/uk_UA/view/locales/dictionnary.UTF-8.properties
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/modules/view/templates/map_draw.tpl
  lizmap/www/assets/css/map.css
  tests/end2end/playwright/draw.spec.js
Labels: user interface, javascript, run end2end, backport release_3_8

#4611 [Backport release_3_7] Tests e2e playwright: using gotoMap instead of networkidle
  tests/end2end/playwright/embedded-form.spec.js
  tests/end2end/playwright/embedded-relation.spec.js
  tests/end2end/playwright/filter-layer-by-user.spec.js
  tests/end2end/playwright/overview.spec.js
  tests/end2end/playwright/treeview.spec.js
  tests/end2end/playwright/webdav-upload.spec.js
Labels: tests, run end2end

#4613 [Backport release_3_7] Tests e2e playwright: replace require par import ... from
  tests/end2end/playwright/attribute-table.spec.js
  tests/end2end/playwright/attributions.spec.js
  tests/end2end/playwright/axis_orientation.spec.js
  tests/end2end/playwright/base-layers.spec.js
  tests/end2end/playwright/display_in_layer_tree.spec.js
  tests/end2end/playwright/edition-form.spec.js
  tests/end2end/playwright/embed.spec.js
  tests/end2end/playwright/error-occurred.spec.js
  tests/end2end/playwright/exposed_dependencies.spec.js
  tests/end2end/playwright/form_relational_value.spec.js
  tests/end2end/playwright/legend.spec.js
  tests/end2end/playwright/permalink.spec.js
  tests/end2end/playwright/popup.spec.js
  tests/end2end/playwright/print.spec.js
  tests/end2end/playwright/print_in_project_projection.spec.js
  tests/end2end/playwright/project_load_warning.spec.js
  tests/end2end/playwright/qgis-request.spec.js
  tests/end2end/playwright/startup.spec.js
  tests/end2end/playwright/theme.spec.js
  tests/end2end/playwright/timemanage.spec.js
  tests/end2end/playwright/viewport.spec.js
  tests/end2end/playwright/wmts.spec.js
  tests/end2end/playwright/xss.spec.js
Labels: tests, run end2end

#4619 [Backport release_3_7] Tests - Do not hardcode localhost URL in tests
  tests/README.md
  tests/end2end/playwright/auth.setup.ts
Labels: tests

#4618 [Bugfix] Layer group not automatically active despite corresponding setting (group as Layer)
  assets/src/modules/state/Layer.js
  tests/end2end/playwright/legend.spec.js
  tests/end2end/playwright/permalink.spec.js
  tests/js-units/data/layer_legends-capabilities.json
  tests/js-units/data/layer_legends-config.json
  tests/js-units/node/state/layer.test.js
Labels: user interface, tests, javascript, run end2end, backport release_3_7, backport release_3_8

#4622 [Bugfix] groupAsLayer checked by theme
  assets/src/legacy/switcher-layers-actions.js
Labels: javascript, run end2end, layer tree, backport release_3_7, backport release_3_8

#4617 Fix: update `refresh data` button and fix export
  assets/src/legacy/attributeTable.js
  assets/src/legacy/map.js
  tests/end2end/playwright/attribute-table.spec.js
  tests/qgis-projects/tests/attribute_table.qgs
  tests/qgis-projects/tests/attribute_table.qgs.cfg
Labels: bug, run end2end, attribute table, backport release_3_8

#4626 Fix: avoid zoom to initial extent on window resize
  assets/src/legacy/map.js
  assets/src/modules/Lizmap.js
  tests/end2end/playwright/viewport.spec.js
Labels: run end2end, backport release_3_8

#4627 Fixing tiles resolutions
  assets/src/modules/config/BaseLayer.js
  assets/src/modules/map.js
  assets/src/modules/state/Map.js
  tests/end2end/playwright/base-layers.spec.js
  tests/js-units/node/config/baselayer.test.js
  tests/js-units/node/state/map.test.js
Labels: map viewer, sponsored development, javascript, run end2end, backport release_3_7, backport release_3_8

#4634 Fix JS XYZ Grid Tile and Tests e2e playwrigth: enhancing base layers tests
  assets/src/modules/map.js
  tests/end2end/playwright/axis_orientation.spec.js
  tests/end2end/playwright/base-layers.spec.js
Labels: map viewer, tests, javascript, run end2end, backport release_3_8

#4633 [Backport release_3_7] Fixing tiles resolutions
  assets/src/modules/BaseLayersMap.js
  assets/src/modules/config/BaseLayer.js
  tests/end2end/playwright/axis_orientation.spec.js
  tests/end2end/playwright/base-layers.spec.js
  tests/js-units/node/config/baselayer.test.js
Labels: map viewer, sponsored development, tests, javascript, run end2end

#4637 Fix permalink after location change
  assets/src/modules/Permalink.js
Labels: run end2end

#4638 Fix Project properties WMS Extent empty
  lizmap/modules/lizmap/lib/Project/QgisProject.php
Labels: sponsored development, run end2end, php, backport release_3_7, backport release_3_8

#4639 Tests : Attribute Table config
  tests/end2end/cypress/integration/attribute_table-ghaction.js
  tests/qgis-projects/tests/attribute_table.qgs
  tests/qgis-projects/tests/attribute_table.qgs.cfg
Labels: tests, run end2end, backport release_3_8

#4643 JS: mainLizmap.center has to be provided by map state
  assets/src/modules/Lizmap.js
  assets/src/modules/map.js
  assets/src/modules/state/Map.js
  assets/src/modules/utils/Extent.js
  tests/js-units/node/state/map.test.js
  tests/js-units/node/utils/extent.test.js
Labels: map viewer, javascript, run end2end, backport release_3_8

#4645 Fix JS externalLayer: defaultol icon and events
  assets/src/modules/state/LayerTree.js
  assets/src/modules/state/MapLayer.js
  assets/src/modules/state/Symbology.js
  tests/js-units/node/state/externalmaplayer.test.js
  tests/js-units/node/state/layerTree.test.js
Labels: sponsored development, tests, javascript, run end2end, layer tree, backport release_3_8

#4647 Fix Projects switcher in maps
  assets/src/legacy/map-projects.js
  assets/webpack.common.js
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/view/templates/map_projects.tpl
  lizmap/modules/view/templates/view.tpl
  lizmap/www/assets/css/map.css
  tests/end2end/playwright/localonly/map-projects-switcher.spec.js
Labels: user interface, sponsored development, backport release_3_8

#4650 CI Tests e2e playwright: Map projects switcher
  tests/docker-conf/phpfpm/lizmapConfig.ini.php
  tests/docker-conf/phpfpm/localconfig.ini.php
  tests/end2end/playwright/map-projects-switcher.spec.js
Labels: tests, run end2end, backport release_3_8

#4649 [Backport release_3_7] Fix Projects switcher in maps
  assets/src/legacy/map-projects.js
  assets/webpack.common.js
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/view/templates/map_projects.tpl
  lizmap/modules/view/templates/view.tpl
  tests/docker-conf/phpfpm/lizmapConfig.ini.php
  tests/docker-conf/phpfpm/localconfig.ini.php
  tests/end2end/playwright/map-projects-switcher.spec.js
Labels: tests, run end2end

#4654 Fix: Enable popup when digitizing is disabled
  assets/src/modules/Popup.js
  tests/end2end/playwright/popup.spec.js
  tests/qgis-projects/tests/popup.qgs.cfg
Labels: user interface, sponsored development, tests, run end2end, backport release_3_7, backport release_3_8

#4656 [Backport release_3_7] Fix: Enable popup when digitizing is disabled
  assets/src/modules/Digitizing.js
  tests/end2end/playwright/popup.spec.js
  tests/qgis-projects/tests/popup.qgs.cfg
Labels: user interface, sponsored development, tests, run end2end

#4660 Update OL to 10 and proj4 to 2.11.0
  assets/package-lock.json
  assets/package.json
Labels: run end2end, backport release_3_8

#4658 [Bugfix] Fire treecreated event at proper time
  assets/src/components/Treeview.js
  assets/src/legacy/map.js
Labels: sponsored development, javascript, run end2end, backport release_3_7, backport release_3_8

#4502 New Lizmap web component lizmap-features-table to display a compact list of features
  assets/src/components/FeaturesTable.js
  assets/src/index.js
  assets/src/modules/FeaturesTable.js
  assets/src/modules/Lizmap.js
  assets/src/modules/Popup.js
  assets/src/modules/Tooltip.js
  lizmap/modules/lizmap/classes/qgisExpressionUtils.class.php
  lizmap/modules/lizmap/controllers/features.classic.php
  lizmap/modules/lizmap/controllers/tooltips.classic.php
  lizmap/modules/view/controllers/media.classic.php
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/www/assets/css/map.css
  tests/end2end/playwright/lizmap-features-table.spec.js
  tests/qgis-projects/tests/lizmap_features_table.qgs
  tests/qgis-projects/tests/lizmap_features_table.qgs.cfg
Labels: enhancement, user interface, new feature, sponsored development, javascript, run end2end, backport release_3_8

#4666 Add link to the commit SHA on GitHub if possible
  Makefile
  lizmap/app/system/mainconfig.ini.php
  lizmap/modules/admin/controllers/server_information.classic.php
  lizmap/modules/admin/templates/server_information.tpl
Labels: administration pages, backport release_3_7, backport release_3_8

#4657 [Bugfix] Initialization of group checkboxes based on Lizmap configuration
  assets/src/modules/State.js
  assets/src/modules/state/Layer.js
  assets/src/modules/state/MapLayer.js
  tests/end2end/playwright/legend.spec.js
  tests/end2end/playwright/permalink.spec.js
  tests/end2end/playwright/theme.spec.js
  tests/js-units/node/state/baselayer.test.js
  tests/js-units/node/state/externallayertree.test.js
  tests/js-units/node/state/externalmaplayer.test.js
  tests/js-units/node/state/layer.test.js
  tests/js-units/node/state/layerTree.test.js
  tests/js-units/node/state/maplayer.test.js
  tests/qgis-projects/tests/groups_checkboxes.qgs
  tests/qgis-projects/tests/groups_checkboxes.qgs.cfg
Labels: sponsored development, javascript, run end2end, backport release_3_8
