Repository 3liz/lizmap-web-client, pull requests merged in 2024-04, with the labels that each got.

#4343 Fix: tree view map themes - doesn't expand sub-groups
  assets/src/legacy/switcher-layers-actions.js
  tests/end2end/playwright/theme.spec.ts
  tests/qgis-projects/tests/theme.qgs
  tests/qgis-projects/tests/theme.qgs.cfg
Labels: sponsored development, run end2end, backport release_3_7

#4348 Handle symbols expanded state
  assets/src/components/Treeview.js
  assets/src/modules/State.js
  assets/src/modules/state/Layer.js
  assets/src/modules/state/LayerTree.js
  assets/src/modules/state/MapLayer.js
  assets/src/modules/state/Symbology.js
  tests/qgis-projects/tests/treeview.qgs
  tests/qgis-projects/tests/treeview.qgs.cfg
Labels: sponsored development, run end2end, layer tree, backport release_3_7

#4353 Fix XSS issues into features forms
  lizmap/modules/lizmap/lib/Form/QgisFormControl.php
Labels: security, data editor, backport release_3_6, backport release_3_7

#4356 Handle XSS client side
  assets/package-lock.json
  assets/package.json
  assets/src/legacy/atlas.js
  assets/src/legacy/attributeTable.js
  assets/src/legacy/filter.js
  assets/src/legacy/map.js
  assets/src/modules/Popup.js
  lizmap/www/assets/css/map.css
  tests/end2end/cypress/integration/attribute_table-ghaction.js
  tests/end2end/cypress/integration/key_value_mapping-ghaction.js
  tests/end2end/playwright/xss.spec.js
  tests/qgis-projects/tests/tests_dataset.sql
  tests/qgis-projects/tests/xss.qgs
  tests/qgis-projects/tests/xss.qgs.cfg
Labels: security, javascript, run end2end, backport release_3_7

#4364 Remove some legacy code
  assets/src/legacy/map.js
  lizmap/www/assets/js/OpenLayers-2.13/OpenLayers.js
Labels: refactoring, run end2end

#4346 [Bugfix] Dataviz in popup generate two feature toolbar in parent popup
  assets/src/legacy/map.js
  tests/end2end/playwright/popup.spec.js
  tests/qgis-projects/tests/point_properties.geojson
  tests/qgis-projects/tests/popup_bar.geojson
  tests/qgis-projects/tests/popup_bar.qgs
  tests/qgis-projects/tests/popup_bar.qgs.cfg
Labels: sponsored development, run end2end, backport release_3_7

#4365 [Bugfix] Apply min and max resolutions to base layers removed by single WMS Layer
  assets/src/modules/map.js
Labels: map viewer, javascript

#4369 Cache seed cli accept 0 as argument value
  lizmap/modules/lizmap/lib/Commands/WMTSSeed.php
  tests/end2end/cypress/integration/cmdline-wmts-ghaction.js
Labels: tests, run end2end, backport master, php

#4376 Draw: keep draw visible when closing minidock
  assets/src/modules/Digitizing.js
Labels: run end2end

#3748 Expose some ol classes in a library
  assets/src/dependencies/ol.js
  assets/src/index.js
  tests/end2end/playwright/exposed_dependencies.spec.js
Labels: enhancement, doc-needed, javascript, run end2end, backport release_3_7

#4380 [Bugfix] Use external WMS when activated
  assets/src/modules/map.js
  tests/end2end/cypress/integration/external_wms_layer-ghaction.js
Labels: map viewer, regression, run end2end, backport release_3_7

#4381 [Backport release_3_7] [Bugfix] Use external WMS when activated
  assets/src/modules/BaseLayersMap.js
  tests/end2end/cypress/integration/external_wms_layer-ghaction.js
Labels: map viewer, tests, regression, run end2end

#4385 Tests - Add local file, use "contain" instead of "equal"
  tests/end2end/cypress/integration/external_wms_layer-ghaction.js
  tests/qgis-projects/tests/external_wms_layer.qgs
  tests/qgis-projects/tests/external_wms_layer.qgs.cfg
Labels: run end2end, backport release_3_7

#4383 [Bugfix] Display error message on error fecthing edition form
  assets/src/legacy/edition.js
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  tests/end2end/playwright/edition-form.spec.js
  tests/end2end/playwright/edition-form.spec.ts
Labels: user interface, data editor, run end2end, backport release_3_7

#4368 add STYLE parameter to GetFeatureInfo request
  assets/src/modules/Popup.js
  tests/end2end/playwright/popup.spec.js
  tests/qgis-projects/tests/get_feature_info_style.qgs
  tests/qgis-projects/tests/get_feature_info_style.qgs.cfg
Labels: map viewer, run end2end, backport release_3_7

#4392 [Backport release_3_7] add STYLE parameter to GetFeatureInfo request
  assets/src/modules/Popup.js
  tests/end2end/playwright/popup.spec.js
  tests/qgis-projects/tests/get_feature_info_style.qgs
  tests/qgis-projects/tests/get_feature_info_style.qgs.cfg
Labels: map viewer, tests, run end2end

#4391 JS factorize some map and treeview code
  assets/src/components/MousePosition.js
  assets/src/components/Print.js
  assets/src/components/Treeview.js
  assets/src/dependencies/ol.js
  assets/src/modules/Action.js
  assets/src/modules/Digitizing.js
  assets/src/modules/Geolocation.js
  assets/src/modules/SelectionTool.js
  assets/src/modules/interaction/Draw.js
  assets/src/modules/map.js
Labels: map viewer, javascript, run end2end, layer tree, backport release_3_7

#4384 [Bugfix] Display error message on error printing
  assets/src/components/FeatureToolbar.js
  assets/src/components/Print.js
  assets/src/modules/Utils.js
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  tests/end2end/playwright/print.spec.js
Labels: user interface, printing, run end2end, backport release_3_7

#4394 [Backport release_3_7] [Bugfix] Display error message on error printing
  assets/src/components/FeatureToolbar.js
  assets/src/components/Print.js
  assets/src/modules/Utils.js
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  tests/end2end/playwright/print.spec.js
Labels: user interface, printing, tests, run end2end

#4390 lazy load jsts buffer
  .gitignore
  .gitlab-ci.yml
  assets/src/modules/SelectionTool.js
  assets/webpack.common.js
Labels: run end2end
