Repository 3liz/lizmap-web-client, pull requests merged in 2024-10, with the labels that each got.

#4816 fix typo, improve html for module view
  lizmap/modules/admin/lib/ModulesInfo/ModulesChecker.php
  lizmap/modules/admin/templates/server_information.tpl
  lizmap/modules/view/controllers/lizMap.classic.php
  tests/end2end/playwright/server-information.spec.js
Labels: administration pages, run end2end, backport release_3_8

#4821 Tests - Change URL to data.geopf.fr
  tests/qgis-projects/tests/lizmap_features_table.qgs
  tests/qgis-projects/tests/print_in_project_projection.qgs
Labels: run end2end, backport master, backport release_3_7

#4818 Remove dynamicLayers module
  .jelixlocales.ini
  .php-cs-fixer.dist.php
  lizmap/app/system/mainconfig.ini.php
  lizmap/app/system/urls.xml
  lizmap/modules/admin/lib/ModulesInfo/ModulesChecker.php
  lizmap/modules/dynamicLayers/controllers/map.classic.php
  lizmap/modules/dynamicLayers/install/install.php
  lizmap/modules/dynamicLayers/module.xml
  lizmap/modules/dynamicLayers/urls.xml
Labels: run end2end

#4829 Tests - Add small tests data about upload
  .github/workflows/e2e_tests.yml
  tests/lizmap-ctl
  tests/qgis-projects/media/.empty
  tests/qgis-projects/media/specific_media_folder/.empty
  tests/qgis-projects/media/specific_media_folder/random-4.jpg
  tests/qgis-projects/tests/README.md
  tests/qgis-projects/tests/media/random-1.jpg
  tests/qgis-projects/tests/media/upload/form_edition_all_field_type/form_edition_upload/image_file/random-3.jpg
  tests/qgis-projects/tests/media/upload/form_edition_all_field_type/form_edition_upload/image_file_mandatory/random-2.jpg
  tests/qgis-projects/tests/media/upload/form_edition_all_field_type/form_edition_upload/text_file/lorem-1.txt
  tests/qgis-projects/tests/media/upload/form_edition_all_field_type/form_edition_upload/text_file_mandatory/lorem-2.txt
  tests/qgis-projects/tests/tests_dataset.sql
Labels: tests, run end2end, backport release_3_7, backport release_3_8

#4831 Tests - Add small tests data about upload
  .github/workflows/e2e_tests.yml
  tests/lizmap-ctl
  tests/qgis-projects/media/.empty
  tests/qgis-projects/media/specific_media_folder/.empty
  tests/qgis-projects/media/specific_media_folder/random-4.jpg
  tests/qgis-projects/tests/README.md
  tests/qgis-projects/tests/media/random-1.jpg
  tests/qgis-projects/tests/media/upload/form_edition_all_field_type/form_edition_upload/image_file/random-3.jpg
  tests/qgis-projects/tests/media/upload/form_edition_all_field_type/form_edition_upload/image_file_mandatory/random-2.jpg
  tests/qgis-projects/tests/media/upload/form_edition_all_field_type/form_edition_upload/text_file/lorem-1.txt
  tests/qgis-projects/tests/media/upload/form_edition_all_field_type/form_edition_upload/text_file_mandatory/lorem-2.txt
  tests/qgis-projects/tests/tests_dataset.sql
Labels: tests, run end2end, backport release_3_7

#4833 Tests - Add small tests data about upload
  .github/workflows/e2e_tests.yml
  tests/lizmap-ctl
  tests/qgis-projects/media/.empty
  tests/qgis-projects/media/specific_media_folder/.empty
  tests/qgis-projects/media/specific_media_folder/random-4.jpg
  tests/qgis-projects/tests/README.md
  tests/qgis-projects/tests/media/random-1.jpg
  tests/qgis-projects/tests/media/upload/form_edition_all_field_type/form_edition_upload/image_file/random-3.jpg
  tests/qgis-projects/tests/media/upload/form_edition_all_field_type/form_edition_upload/image_file_mandatory/random-2.jpg
  tests/qgis-projects/tests/media/upload/form_edition_all_field_type/form_edition_upload/text_file/lorem-1.txt
  tests/qgis-projects/tests/media/upload/form_edition_all_field_type/form_edition_upload/text_file_mandatory/lorem-2.txt
  tests/qgis-projects/tests/tests_dataset.sql
Labels: tests, run end2end

#4841 Fix Relation Reference Form control OrderByValue default value to true
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  lizmap/modules/lizmap/lib/Form/QgisFormControlProperties.php
Labels: data editor, run end2end, php, backport release_3_7, backport release_3_8

#4840 IGN search string length must be between 3 and 200 chars
  assets/src/modules/Search.js
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
Labels: run end2end, backport release_3_7, backport release_3_8

#4835 Tests - Move a minor tests from manual to playwright
  tests/end2end/playwright/media.spec.js
Labels: tests, run end2end, backport master, backport release_3_7

#4768 [Feature] Popup: move related child in corresponding popup_lizmap_dd_relation div
  assets/src/legacy/map.js
  tests/end2end/playwright/popup.spec.js
  tests/qgis-projects/tests/children_in_relation_div.qgs
  tests/qgis-projects/tests/children_in_relation_div.qgs.cfg
Labels: popup, sponsored development, run end2end, backport release_3_8

#4854 Fix: base layer (i) information - stop working
  assets/src/legacy/switcher-layers-actions.js
Labels: run end2end, backport release_3_7, backport release_3_8

#4857 Tests - Add raster embed layer in child project
  tests/qgis-projects/tests/embed_child.qgs
  tests/qgis-projects/tests/embed_child.qgs.cfg
  tests/qgis-projects/tests/embed_parent.qgs
  tests/qgis-projects/tests/embed_parent.qgs.cfg
  tests/units/classes/Project/Ressources/embed_parent.qgs
Labels: run end2end, backport release_3_7, backport release_3_8

#4836 [Bug] Enclose wms/wfs filters in brackets to guarantee filters logic
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Request/WFSRequest.php
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  tests/units/classes/Project/ProjectTest.php
  tests/units/classes/Request/WFSRequestTest.php
Labels: bug, sponsored development, run end2end, backport release_3_7, backport release_3_8, backport release_3_9

#4867 [Backport release_3_7] [Bug] Enclose wms/wfs filters in brackets to guarantee filters logic
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Request/WFSRequest.php
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  tests/units/classes/Project/ProjectTest.php
  tests/units/classes/Request/WFSRequestTest.php
Labels: bug, QGIS Server, sponsored development, tests, run end2end

#4869 [Backport release_3_8] [Bug] Add embedded layers to keyValueConfig object
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  tests/end2end/playwright/embedded-form.spec.js
Labels: sponsored development, run end2end

#4870 Tests e2e Timemanager: Enhancing
  tests/end2end/playwright/timemanage.spec.js
Labels: tests, run end2end, backport release_3_7, backport release_3_8, backport release_3_9

#4876 Tests: tail proxylog to manage big file
  lizmap/modules/lizmap/lib/Request/Proxy.php
  tests/end2end/playwright/timemanage.spec.js
Labels: tests, run end2end, backport release_3_7, backport release_3_8, backport release_3_9

#4864 Update osm search
  assets/src/modules/Search.js
  lizmap/modules/lizmap/controllers/osm.classic.php
Labels: run end2end, backport release_3_7, backport release_3_8, backport release_3_9

#4824 Remove some code related to QGIS < 3.0
  lizmap/modules/lizmap/lib/Project/QgisProject.php
Labels: QGIS Server, run end2end, php, backport release_3_9

#4635 [Feature] Add text widget to the edition form
  lizmap/modules/lizmap/classes/qgisAttributeEditorElement.class.php
  lizmap/modules/lizmap/classes/qgisExpressionUtils.class.php
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  tests/end2end/playwright/edition-form.spec.js
  tests/qgis-projects/tests/tests_dataset.sql
  tests/qgis-projects/tests/text_widget.qgs
  tests/qgis-projects/tests/text_widget.qgs.cfg
Labels: enhancement, QGIS Server, data editor, sponsored development, run end2end, expression, backport release_3_9

#4884 lizmap-features-table - improve popup table style
  assets/src/components/FeaturesTable.js
Labels: user interface, javascript, backport release_3_8, backport release_3_9

#4887 Tests e2e Playwright: Added Location seach
  tests/end2end/playwright/globals.js
  tests/end2end/playwright/location_search.spec.js
Labels: tests, run end2end, backport release_3_7, backport release_3_8, backport release_3_9

#4901 [Backport release_3_7] Tests e2e Playwright: Added Location seach
  .gitignore
  tests/end2end/playwright/globals.js
  tests/end2end/playwright/location_search.spec.js
Labels: tests, run end2end

#4894 [Bug] Permalink: encode layers style before hash comparison
  assets/src/modules/Permalink.js
Labels: sponsored development, javascript, run end2end, backport release_3_7, backport release_3_8, backport release_3_9

#4856 Fix expanded group as layer
  assets/src/components/Treeview.js
  assets/src/modules/state/Layer.js
  assets/src/modules/state/MapLayer.js
  assets/src/modules/state/Symbology.js
  tests/js-units/data/cadastre-caen-fond-legend.json
  tests/js-units/node/state/layer.test.js
  tests/js-units/node/state/symbology.test.js
Labels: run end2end, backport release_3_7, backport release_3_8, backport release_3_9

#4910 Tests - Add WFS external layer in the test project
  tests/qgis-projects/tests/external_wms_layer.qgs
  tests/qgis-projects/tests/external_wms_layer.qgs.cfg
Labels: tests, run end2end, backport release_3_7, backport release_3_8, backport release_3_9
