Repository 3liz/lizmap-web-client, pull requests merged in 2024-05, with the labels that each got.

#4375 [end2end] edition form relationnel value : convert cypres test to playwright
  tests/end2end/cypress/integration/form_type_relational_value-ghaction.js
  tests/end2end/playwright/form_relational_value.spec.js
Labels: run end2end, backport release_3_7

#4402 Tests - Remove docker compose version
  tests/docker-compose.yml
Labels: run end2end, backport release_3_6, backport release_3_7

#4408 Tests e2e: Test error occured
  tests/end2end/playwright/error-occurred.spec.js
Labels: tests, run end2end, backport release_3_7

#4413 [Backport release_3_7] JS factorize some treeview code
  assets/src/components/Treeview.js
  assets/src/dependencies/ol.js
Labels: javascript, run end2end, layer tree

#4398 [Fix] Add Popup dock server side
  assets/src/legacy/map.js
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/view/controllers/lizMap.classic.php
Labels: user interface, javascript, run end2end, php, backport release_3_7

#4409 Content sanitisation in attributes table
  assets/src/legacy/attributeTable.js
  tests/end2end/cypress/integration/attribute_table-ghaction.js
  tests/qgis-projects/tests/attribute_table.qgs
Labels: run end2end, backport release_3_7

#4415 [Backport release_3_7] [Fix] Add Popup dock server side
  assets/src/legacy/map.js
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/view/controllers/lizMap.classic.php
Labels: user interface, javascript, run end2end, php

#4411 Popup: FeatureToolbar in compact table
  assets/src/legacy/map.js
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  lizmap/modules/view/templates/popup_all_features_table.tpl
  lizmap/www/assets/css/map.css
  tests/end2end/playwright/webdav-upload.spec.ts
  tests/qgis-projects/tests/popup.qgs
  tests/qgis-projects/tests/popup.qgs.cfg
Labels: popup, sponsored development, run end2end

#4104 Tooltips with OL9
  assets/src/components/Tooltip.js
  assets/src/index.js
  assets/src/legacy/map.js
  assets/src/legacy/switcher-layers-actions.js
  assets/src/modules/Lizmap.js
  assets/src/modules/Tooltip.js
  assets/src/modules/config/Tooltip.js
  lizmap/modules/lizmap/classes/qgisExpressionUtils.class.php
  lizmap/modules/lizmap/controllers/tooltips.classic.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/modules/view/templates/map.tpl
  lizmap/modules/view/templates/map_tooltip.tpl
  lizmap/www/assets/css/map.css
  lizmap/www/assets/css/media.css
  tests/qgis-projects/tests/tooltip.qgs
  tests/qgis-projects/tests/tooltip.qgs.cfg
Labels: sponsored development, run end2end, tooltip

#4389 [Feature] Add OpenLayers to Lizmap's map and TreeView
  .github/workflows/tests.yml
  assets/src/components/Treeview.js
  assets/src/dependencies/ol.js
  assets/src/modules/State.js
  assets/src/modules/map.js
  assets/src/modules/state/ExternalLayerTree.js
  assets/src/modules/state/ExternalMapLayer.js
  assets/src/modules/state/LayerTree.js
  assets/src/modules/state/MapLayer.js
  assets/src/modules/state/Symbology.js
  tests/end2end/playwright/custom-javascript-api.spec.js
  tests/js-units/node/state/externallayertree.test.js
  tests/js-units/node/state/externalmaplayer.test.js
  tests/js-units/node/state/layerTree.test.js
  tests/js-units/node/state/maplayer.test.js
  tests/qgis-projects/tests/media/js/world-3857/add-ol-layers.js
Labels: doc-needed, map viewer, new feature, javascript, run end2end, layer tree

#4420 UX - Rephrase tooltip about CORS settings
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
Labels: administration pages, backport release_3_7

#4421 [Fix] Popup children compact table
  assets/src/legacy/map.js
  tests/end2end/playwright/popup.spec.js
  tests/qgis-projects/tests/feature_toolbar.qgs.cfg
Labels: user interface, sponsored development, javascript, run end2end, backport release_3_6, backport release_3_7

#4401 Fix HTML for dataviz filtered in popup
  lizmap/www/assets/js/dataviz/dataviz.js
  tests/qgis-projects/tests/dataviz_filtered_in_popup.qgs
  tests/qgis-projects/tests/dataviz_filtered_in_popup.qgs.cfg
Labels: dataviz, backport release_3_7

#4427 Fix tests e2e cypress dataviz
  tests/end2end/cypress/integration/dataviz-ghaction.js
  tests/qgis-projects/tests/dataviz_filtered_in_popup.qgs.cfg
Labels: tests, run end2end, backport release_3_7

#4424 [Backport release_3_7] [Fix] Popup children compact table
  assets/src/legacy/map.js
  tests/end2end/playwright/popup.spec.js
  tests/qgis-projects/tests/feature_toolbar.qgs.cfg
Labels: user interface, sponsored development, tests, javascript, run end2end, backport release_3_6

#4429 [Backport release_3_6] [Fix] Popup children compact table
  assets/src/legacy/map.js
  tests/end2end/playwright/popup.spec.js
  tests/qgis-projects/tests/feature_toolbar.qgs.cfg
Labels: user interface, sponsored development, tests, javascript, run end2end

#4426 [Fix] JS: Empty group
  assets/src/modules/state/BaseLayer.js
  assets/src/modules/state/Layer.js
  tests/end2end/playwright/display_in_layer_tree.spec.js
  tests/end2end/playwright/treeview.spec.ts
  tests/js-units/data/display-in-legend-capabilities.json
  tests/js-units/data/display-in-legend-config.json
  tests/js-units/node/state/layer.test.js
  tests/qgis-projects/tests/display_in_legend.qgs
  tests/qgis-projects/tests/display_in_legend.qgs.cfg
  tests/qgis-projects/tests/treeview.qgs
  tests/qgis-projects/tests/treeview.qgs.cfg
Labels: printing, sponsored development, tests, javascript, run end2end, layer tree, backport release_3_7

#4432 Bump versions about required server plugin and recommended desktop plugin
  lizmap/app/system/mainconfig.ini.php
Labels: run end2end, backport release_3_7

#4434 Upgrade minimum recommended version for Lizmap desktop and server required
  lizmap/app/system/mainconfig.ini.php
Labels: run end2end

#4435 Fix: Add project-background-color even if the default_background_color_index is not defined
  assets/src/modules/config/BaseLayer.js
  tests/js-units/node/config/baselayer.test.js
Labels: user interface, map viewer, tests, javascript, run end2end, backport release_3_7

#4442 Tests e2e : playwright request.postData() is possibly null
  tests/end2end/playwright/display_in_layer_tree.spec.js
  tests/end2end/playwright/embedded-relation.spec.ts
  tests/end2end/playwright/filter-layer-by-user.spec.ts
  tests/end2end/playwright/n_to_m_relations.spec.ts
  tests/end2end/playwright/popup.spec.js
  tests/end2end/playwright/singleWMS.spec.ts
  tests/end2end/playwright/snap.spec.ts
  tests/end2end/playwright/treeview.spec.ts
  tests/end2end/playwright/viewport.spec.js
  tests/end2end/playwright/webdav-upload.spec.ts
Labels: tests, run end2end, backport release_3_7

#4443 [Backport release_3_7] Tests e2e : playwright request.postData() is possibly null
  tests/end2end/playwright/display_in_layer_tree.spec.js
  tests/end2end/playwright/embedded-relation.spec.ts
  tests/end2end/playwright/filter-layer-by-user.spec.ts
  tests/end2end/playwright/popup.spec.js
  tests/end2end/playwright/treeview.spec.ts
  tests/end2end/playwright/viewport.spec.js
  tests/end2end/playwright/webdav-upload.spec.ts
Labels: tests, run end2end

#4445 Fix use external WMS
  assets/src/modules/map.js
  tests/qgis-projects/tests/rasters.qgs
  tests/qgis-projects/tests/rasters.qgs.cfg
Labels: map viewer, sponsored development, javascript, run end2end, backport release_3_7

#4446 [Backport release_3_7] Fix use external WMS
  assets/src/modules/BaseLayersMap.js
  tests/qgis-projects/tests/rasters.qgs
  tests/qgis-projects/tests/rasters.qgs.cfg
Labels: map viewer, sponsored development, tests, javascript, run end2end

#4447 Fix: Group with layers can be used as baselayer
  assets/src/modules/state/BaseLayer.js
  assets/src/modules/state/Layer.js
  tests/js-units/node/state/baselayer.test.js
Labels: map viewer, sponsored development, javascript, run end2end, backport release_3_7

#4449 Fix popup display in minidock
  assets/src/legacy/map.js
  tests/end2end/playwright/popup.spec.js
Labels: bug, popup, run end2end, backport release_3_7

#4451 Tests e2e Base layers enhancing
  tests/end2end/package-lock.json
  tests/end2end/playwright/base-layers.spec.js
Labels: tests, run end2end, backport release_3_7

#4457 [Bugfix] Attribution only for baselayers
  assets/src/modules/map.js
  tests/end2end/playwright/attributions.spec.js
  tests/end2end/playwright/axis_orientation.spec.js
  tests/end2end/playwright/base-layers.spec.js
  tests/end2end/playwright/globals.js
  tests/qgis-projects/tests/axis_orientation_neu_3044.qgs
  tests/qgis-projects/tests/axis_orientation_neu_3044.qgs.cfg
  tests/qgis-projects/tests/axis_orientation_neu_3844.qgs
  tests/qgis-projects/tests/world-3857.qgs
  tests/qgis-projects/tests/world-4326.qgs
Labels: user interface, map viewer, sponsored development, tests, run end2end, backport release_3_7

#4459 [Backport release_3_7] [Bugfix] Attribution only for baselayers
  assets/src/modules/BaseLayersMap.js
  tests/end2end/playwright/attributions.spec.js
  tests/end2end/playwright/axis_orientation.spec.js
  tests/end2end/playwright/base-layers.spec.js
  tests/end2end/playwright/globals.js
  tests/qgis-projects/tests/axis_orientation_neu_3044.qgs
  tests/qgis-projects/tests/axis_orientation_neu_3044.qgs.cfg
  tests/qgis-projects/tests/axis_orientation_neu_3844.qgs
  tests/qgis-projects/tests/world-3857.qgs
  tests/qgis-projects/tests/world-4326.qgs
Labels: user interface, map viewer, sponsored development, tests, run end2end

#4464 UI: Greyscale symbols when layer is not visible
  assets/src/components/Treeview.js
  lizmap/www/assets/css/map.css
Labels: user interface, layer tree, backport release_3_7

#4461 [Bugfix] LEGEND_ON and LEGEND_OFF parameters in GetFeatureInfo
  assets/src/modules/Popup.js
  tests/end2end/playwright/popup.spec.js
Labels: user interface, map viewer, sponsored development, tests, run end2end, backport release_3_7

#4467 [Backport release_3_7] [Bugfix] LEGEND_ON and LEGEND_OFF parameters in GetFeatureInfo
  assets/src/modules/Popup.js
  tests/end2end/playwright/popup.spec.js
Labels: user interface, map viewer, sponsored development, tests, run end2end

#4417 check tag with thumbnail class and generate thumbnail
  assets/src/legacy/attributeTable.js
  tests/end2end/playwright/attribute-table.spec.js
Labels: javascript, run end2end, attribute table, backport release_3_7

#4460 [Bugfix] Get layers geometry column in a predictable way
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  tests/end2end/playwright/edition-form.spec.js
  tests/qgis-projects/tests/multiple_geom.qgs
  tests/qgis-projects/tests/multiple_geom.qgs.cfg
  tests/qgis-projects/tests/tests_dataset.sql
Labels: data editor, sponsored development, run end2end, php, backport release_3_7

#4466 [Bugfix] Treeeview symbols not in scale
  assets/src/components/Treeview.js
  lizmap/www/assets/css/map.css
  tests/end2end/playwright/legend.spec.js
  tests/end2end/playwright/permalink.spec.ts
  tests/qgis-projects/tests/layer_legends.qgs
  tests/qgis-projects/tests/layer_legends.qgs.cfg
Labels: user interface, sponsored development, javascript, run end2end, layer tree, backport release_3_7

#4472 [Backport release_3_7] [Bugfix] Treeeview symbols not in scale
  assets/src/components/Treeview.js
  lizmap/www/assets/css/map.css
  tests/end2end/playwright/legend.spec.js
  tests/end2end/playwright/permalink.spec.ts
  tests/qgis-projects/tests/layer_legends.qgs
  tests/qgis-projects/tests/layer_legends.qgs.cfg
Labels: user interface, sponsored development, tests, javascript, run end2end, layer tree

#4473 [Bugfix] Treeview: italic and greyscaled uncheked symbols and their children
  assets/src/components/Treeview.js
  lizmap/www/assets/css/map.css
  tests/end2end/playwright/legend.spec.js
Labels: user interface, javascript, run end2end, layer tree, backport release_3_7

#4471 For admin, check plugin version first, before checking for warnings
  assets/src/modules/ExecuteJSFromServer.js
  lizmap/modules/view/controllers/lizMap.classic.php
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
Labels: run end2end, backport release_3_6, backport release_3_7

#4456 [Bugfix] SingleWMSLayer - refresh layer after editing
  assets/src/modules/map.js
  tests/end2end/playwright/singleWMS.spec.ts
  tests/qgis-projects/tests/single_wms_image.qgs
  tests/qgis-projects/tests/single_wms_image.qgs.cfg
Labels: map viewer, data editor, sponsored development, run end2end

#4475 For admin, check plugin version first, before checking for warnings
  lizmap/modules/view/controllers/lizMap.classic.php
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
Labels: run end2end, backport release_3_6

#4478 Tests e2e playwright homogenize files
  tests/end2end/playwright/__screenshots__/draw.spec.js/draw-all-tools.png
  tests/end2end/playwright/__screenshots__/draw.spec.js/draw-edition.png
  tests/end2end/playwright/__screenshots__/filter-layer-by-user.spec.js/map-connected-as-admin.png
  tests/end2end/playwright/__screenshots__/filter-layer-by-user.spec.js/map-connected-as-user-in-group-a.png
  tests/end2end/playwright/__screenshots__/filter-layer-by-user.spec.js/map-not-connected.png
  tests/end2end/playwright/attribute-table.spec.js
  tests/end2end/playwright/axis_orientation.spec.js
  tests/end2end/playwright/bad-repository.spec.js
  tests/end2end/playwright/bing-basemap.spec.js
  tests/end2end/playwright/custom-javascript-api.spec.js
  tests/end2end/playwright/display_in_layer_tree.spec.js
  tests/end2end/playwright/dnd-form.spec.js
  tests/end2end/playwright/dnd-form.spec.ts
  tests/end2end/playwright/dot-or-space-in-project-filename.spec.js
  tests/end2end/playwright/draw.spec.js
  tests/end2end/playwright/edition-form.spec.js
  tests/end2end/playwright/embedded-form.spec.js
  tests/end2end/playwright/embedded-relation.spec.js
  tests/end2end/playwright/embedded-relation.spec.ts
  tests/end2end/playwright/exposed_dependencies.spec.js
  tests/end2end/playwright/filter-layer-by-user.spec.js
  tests/end2end/playwright/form_relational_value.spec.js
  tests/end2end/playwright/landing_page_config.spec.js
  tests/end2end/playwright/landing_page_config.spec.ts
  tests/end2end/playwright/legend.spec.js
  tests/end2end/playwright/maps-management.spec.js
  tests/end2end/playwright/n_to_m_relations.spec.js
  tests/end2end/playwright/overview.spec.js
  tests/end2end/playwright/permalink.spec.js
  tests/end2end/playwright/popup.spec.js
  tests/end2end/playwright/print.spec.js
  tests/end2end/playwright/project-homepage.spec.js
  tests/end2end/playwright/project_load_warning.spec.js
  tests/end2end/playwright/qgis-request.spec.js
  tests/end2end/playwright/server-information.spec.js
  tests/end2end/playwright/singleWMS.spec.js
  tests/end2end/playwright/snap.spec.js
  tests/end2end/playwright/startup.spec.js
  tests/end2end/playwright/theme.spec.js
  tests/end2end/playwright/timemanage.spec.js
  tests/end2end/playwright/treeview.spec.js
  tests/end2end/playwright/viewport.spec.js
  tests/end2end/playwright/webdav-upload.spec.js
  tests/end2end/playwright/webdav-upload.spec.ts
  tests/end2end/playwright/wmts.spec.js
  tests/end2end/playwright/xss.spec.js
Labels: tests, run end2end, backport release_3_7

#4479 [Backport release_3_7] Tests e2e playwright homogenize files
  tests/end2end/playwright/__screenshots__/draw.spec.js/draw-all-tools.png
  tests/end2end/playwright/__screenshots__/draw.spec.js/draw-edition.png
  tests/end2end/playwright/__screenshots__/filter-layer-by-user.spec.js/map-connected-as-admin.png
  tests/end2end/playwright/__screenshots__/filter-layer-by-user.spec.js/map-connected-as-user-in-group-a.png
  tests/end2end/playwright/__screenshots__/filter-layer-by-user.spec.js/map-not-connected.png
  tests/end2end/playwright/attribute-table.spec.js
  tests/end2end/playwright/axis_orientation.spec.js
  tests/end2end/playwright/bad-repository.spec.js
  tests/end2end/playwright/bing-basemap.spec.js
  tests/end2end/playwright/display_in_layer_tree.spec.js
  tests/end2end/playwright/dnd-form.spec.js
  tests/end2end/playwright/dnd-form.spec.ts
  tests/end2end/playwright/dot-or-space-in-project-filename.spec.js
  tests/end2end/playwright/draw.spec.js
  tests/end2end/playwright/edition-form.spec.js
  tests/end2end/playwright/embedded-form.spec.js
  tests/end2end/playwright/embedded-relation.spec.js
  tests/end2end/playwright/embedded-relation.spec.ts
  tests/end2end/playwright/exposed_dependencies.spec.js
  tests/end2end/playwright/filter-layer-by-user.spec.js
  tests/end2end/playwright/form_relational_value.spec.js
  tests/end2end/playwright/legend.spec.js
  tests/end2end/playwright/maps-management.spec.js
  tests/end2end/playwright/overview.spec.js
  tests/end2end/playwright/permalink.spec.js
  tests/end2end/playwright/popup.spec.js
  tests/end2end/playwright/print.spec.js
  tests/end2end/playwright/project-homepage.spec.js
  tests/end2end/playwright/project_load_warning.spec.js
  tests/end2end/playwright/qgis-request.spec.js
  tests/end2end/playwright/server-information.spec.js
  tests/end2end/playwright/startup.spec.js
  tests/end2end/playwright/theme.spec.js
  tests/end2end/playwright/timemanage.spec.js
  tests/end2end/playwright/treeview.spec.js
  tests/end2end/playwright/viewport.spec.js
  tests/end2end/playwright/webdav-upload.spec.js
  tests/end2end/playwright/webdav-upload.spec.ts
  tests/end2end/playwright/wmts.spec.js
  tests/end2end/playwright/xss.spec.js
Labels: tests, run end2end

#4416 Tests - Add helper to test if the map is OK when opening it
  tests/README.md
  tests/end2end/cypress/integration/error_occurred-ghaction.js
  tests/end2end/cypress/integration/external_wms_layer-ghaction.js
  tests/end2end/cypress/support/commands.js
  tests/end2end/playwright/error-occurred.spec.js
  tests/end2end/playwright/globals.js
  tests/qgis-projects/tests/invalid_layer.qgs
  tests/qgis-projects/tests/invalid_layer.qgs.cfg
Labels: tests, run end2end, backport release_3_7

#4481 Update QGIS Desktop recommended version
  lizmap/app/system/mainconfig.ini.php
Labels: run end2end, backport master, backport release_3_7

#4487 Tests - Update time_manager project
  tests/end2end/playwright/timemanage.spec.js
  tests/qgis-projects/tests/time_manager.qgs
  tests/qgis-projects/tests/time_manager.qgs.cfg
Labels: tests, run end2end, backport release_3_7

#4494 Tests - Upgrade 10 projects from QGIS 3.16 to 3.28
  tests/end2end/cypress/integration/requests-service-ghaction.js
  tests/qgis-projects/tests/base_layers with space.qgs
  tests/qgis-projects/tests/base_layers with space.qgs.cfg
  tests/qgis-projects/tests/base_layers.withdot.qgs
  tests/qgis-projects/tests/base_layers.withdot.qgs.cfg
  tests/qgis-projects/tests/cache.qgs
  tests/qgis-projects/tests/cache.qgs.cfg
  tests/qgis-projects/tests/form_advanced.qgs
  tests/qgis-projects/tests/form_advanced.qgs.cfg
  tests/qgis-projects/tests/form_edition_simple_fields.qgs
  tests/qgis-projects/tests/form_edition_simple_fields.qgs.cfg
  tests/qgis-projects/tests/form_edition_snap.qgs
  tests/qgis-projects/tests/form_edition_snap.qgs.cfg
  tests/qgis-projects/tests/form_edition_value_relation_field.qgs
  tests/qgis-projects/tests/form_edition_value_relation_field.qgs.cfg
  tests/qgis-projects/tests/reverse_geom.qgs
  tests/qgis-projects/tests/reverse_geom.qgs.cfg
  tests/qgis-projects/tests/test_tags_nature_flower.qgs
  tests/qgis-projects/tests/test_tags_nature_flower.qgs.cfg
  tests/qgis-projects/tests/test_tags_nature_tree.qgs
  tests/qgis-projects/tests/test_tags_nature_tree.qgs.cfg
Labels: tests, run end2end, backport release_3_7

#4496 Admin - Add missing variable in locale in the project page
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/project_list_help.tpl
Labels: administration pages, backport release_3_6, backport release_3_7
