Repository 3liz/lizmap-web-client, pull requests merged in 2024-11, with the labels that each got.

#4930 JS - Increase console logging from debug to warn for an "error" message, not blocking
  assets/src/modules/Tooltip.js
Labels: javascript, backport release_3_8, backport release_3_9

#4931 Tests - Update redis version from 5 to 7.4
  tests/docker-compose.yml
Labels: run end2end, backport release_3_7, backport release_3_8, backport release_3_9

#4754 Action: allow geometry drawn by user
  assets/src/components/ActionSelector.js
  assets/src/modules/Action.js
  lizmap/www/assets/css/action.css
  tests/qgis-projects/tests/feature_toolbar.qgs.action
  tests/qgis-projects/tests/set_tests_module_action.sql
Labels: enhancement, sponsored development, run end2end, backport release_3_9

#4936 Tests - Add a quick test about tooltip
  tests/end2end/playwright/tooltip.spec.js
  tests/qgis-projects/tests/tooltip.qgs
  tests/qgis-projects/tests/tooltip.qgs.cfg
Labels: tests, run end2end, tooltip, backport release_3_8, backport release_3_9

#4942 Tests - Add some relations in the attribute_table project
  tests/qgis-projects/tests/attribute_table.qgs
  tests/qgis-projects/tests/attribute_table.qgs.cfg
Labels: tests, run end2end, backport master, backport release_3_8

#4925 [Bug]: Add layer opacity information to rasters
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  tests/end2end/playwright/print.spec.js
  tests/units/classes/Project/QgisProjectTest.php
  tests/units/classes/Project/Ressources/opacity.qgs
  tests/units/classes/Project/Ressources/simpleLayer.qgs.cfg
Labels: sponsored development, run end2end, legend/layer tree, backport release_3_8, backport release_3_9

#4896 UX - Rename the 'only map' option to 'disable landing page'
  lizmap/modules/admin/forms/config_services.form.xml
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
Labels: administration pages, backport release_3_8, backport release_3_9

#4947 Include git commit into JSON metadata
  lizmap/modules/lizmap/lib/Server/Server.php
  tests/end2end/cypress/integration/requests-metadata-ghaction.js
Labels: run end2end, backport release_3_7, backport release_3_8, backport release_3_9

#4953 XSS: allow `iframe` in popups
  assets/src/modules/Popup.js
  tests/qgis-projects/tests/tests_dataset.sql
  tests/qgis-projects/tests/xss.qgs
  tests/qgis-projects/tests/xss.qgs.cfg
Labels: run end2end, backport release_3_8, backport release_3_9

#4955 XSS: sanitize more GFI content
  assets/src/legacy/map.js
  assets/src/modules/Popup.js
  assets/src/modules/Utils.js
  tests/end2end/playwright/xss.spec.js
  tests/qgis-projects/tests/xss.qgs.cfg
Labels: run end2end, backport release_3_8, backport release_3_9

#4966 [Bugfix] Feature toolbar: child layer is pivot
  assets/src/components/FeatureToolbar.js
Labels: user interface, popup, sponsored development, javascript, run end2end, backport release_3_8, backport release_3_9

#4969 [Bugfix] Put highlight layer in tools layer group.
  assets/src/modules/map.js
Labels: map viewer, javascript, run end2end, backport release_3_8, backport release_3_9

#4973 Update Jelix file modified when building LWC
  lizmap/www/assets/jelix/js/jforms/password-editor.js
Labels: jelix, backport release_3_7, backport release_3_8, backport release_3_9

#4979 Fix typo and JS lint
  assets/src/components/FeaturesTable.js
  assets/src/components/Print.js
  assets/src/legacy/map.js
  assets/src/modules/Action.js
  assets/src/modules/FeaturesTable.js
  assets/src/modules/config/Layer.js
  assets/src/modules/config/LayerTree.js
  assets/src/modules/utils/Enums.js
  lizmap/www/assets/js/dataviz/dataviz.js
  tests/end2end/cypress/integration/requests-metadata-ghaction.js
  tests/end2end/playwright/draw.spec.js
  tests/end2end/playwright/embed.spec.js
  tests/end2end/playwright/globals.js
  tests/end2end/playwright/google-basemap.spec.js
  tests/end2end/playwright/media.spec.js
Labels: javascript, run end2end, backport release_3_7, backport release_3_8, backport release_3_9

#4985 Tail admin logs to always display data
  lizmap/modules/admin/controllers/logs.classic.php
  lizmap/modules/lizmap/lib/App/FileTools.php
  lizmap/modules/lizmap/lib/Request/Proxy.php
  tests/units/classes/App/FileToolsTest.php
  tests/units/classes/App/Ressources/one-line.txt
  tests/units/classes/App/Ressources/ten-lines.txt
Labels: administration pages, run end2end, php, backport release_3_7, backport release_3_8, backport release_3_9

#4986 Default jForms builder set to HTML Bootstrap
  lizmap/app/system/mainconfig.ini.php
Labels: administration pages, run end2end, php, backport release_3_8, backport release_3_9

#4960 Admin - See if an HTTP error occurred
  lizmap/modules/lizmap/lib/Request/Proxy.php
Labels: run end2end, php, backport release_3_7, backport release_3_8, backport release_3_9

#4997 [Bugfix] <lizmap-features-table>: lower case sortingOrder and draggable attribute values
  assets/src/components/FeaturesTable.js
Labels: user interface, sponsored development, javascript, run end2end, backport release_3_8, backport release_3_9

#4964 [Bug] Include layer opacity info for embedded layers
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  tests/units/classes/Project/QgisProjectTest.php
  tests/units/classes/Project/Ressources/opacity.qgs
  tests/units/classes/Project/Ressources/opacity_embed.qgs
  tests/units/classes/Project/Ressources/opacity_embed.qgs.cfg
  tests/units/classes/Project/Ressources/opacity_source.qgs
  tests/units/classes/Project/Ressources/opacity_source.qgs.cfg
Labels: sponsored development, run end2end, legend/layer tree, backport release_3_8, backport release_3_9

#4992 Popup - Add layer ID and feature ID as data attributes
  assets/src/modules/Action.js
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  lizmap/modules/view/templates/popup.tpl
  tests/end2end/playwright/popup.spec.js
  tests/qgis-projects/tests/rasters.qgs
  tests/qgis-projects/tests/rasters.qgs.cfg
Labels: popup, javascript, run end2end, backport release_3_8, backport release_3_9

#5011 include layer opacity info for embedded layers
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  tests/units/classes/Project/QgisProjectTest.php
  tests/units/classes/Project/Ressources/opacity.qgs
  tests/units/classes/Project/Ressources/opacity_embed.qgs
  tests/units/classes/Project/Ressources/opacity_embed.qgs.cfg
  tests/units/classes/Project/Ressources/opacity_source.qgs
  tests/units/classes/Project/Ressources/opacity_source.qgs.cfg
Labels: run end2end, legend/layer tree

#5014 [Bugfix] JS State Symbology : checking ruleKey for wmsParameters
  assets/src/modules/state/Symbology.js
  tests/js-units/node/state/symbology.test.js
Labels: sponsored development, javascript, legend/layer tree, backport release_3_8, backport release_3_9

#5006 Add missing modules action and filter in PHP-CS-Fixer config
  .php-cs-fixer.dist.php
  lizmap/modules/action/classes/action.listener.php
  lizmap/modules/action/classes/actionConfig.class.php
  lizmap/modules/action/classes/actionDockable.listener.php
  lizmap/modules/action/controllers/service.classic.php
  lizmap/modules/action/install/install.php
  lizmap/modules/action/install/upgrade.php
  lizmap/modules/filter/classes/filterDatasource.class.php
  lizmap/modules/filter/controllers/service.classic.php
  lizmap/modules/filter/install/install.php
  lizmap/modules/filter/install/upgrade.php
Labels: run end2end, php

#5018 Add missing modules action and filter in PHP-CS-Fixer config
  .php-cs-fixer.dist.php
  lizmap/modules/action/classes/action.listener.php
  lizmap/modules/action/classes/actionConfig.class.php
  lizmap/modules/action/classes/actionDockable.listener.php
  lizmap/modules/action/controllers/service.classic.php
  lizmap/modules/action/install/install.php
  lizmap/modules/action/install/upgrade.php
  lizmap/modules/filter/classes/filterDatasource.class.php
  lizmap/modules/filter/controllers/service.classic.php
  lizmap/modules/filter/install/install.php
  lizmap/modules/filter/install/upgrade.php
Labels: run end2end, php

#5019 Add missing modules action and filter in PHP-CS-Fixer config
  .php-cs-fixer.dist.php
  lizmap/modules/action/classes/action.listener.php
  lizmap/modules/action/classes/actionConfig.class.php
  lizmap/modules/action/classes/actionDockable.listener.php
  lizmap/modules/action/controllers/service.classic.php
  lizmap/modules/action/install/install.php
  lizmap/modules/action/install/upgrade.php
  lizmap/modules/filter/classes/filterDatasource.class.php
  lizmap/modules/filter/controllers/service.classic.php
  lizmap/modules/filter/install/install.php
  lizmap/modules/filter/install/upgrade.php
Labels: run end2end, php

#5020 Add missing modules action and filter in PHP-CS-Fixer config
  .php-cs-fixer.dist.php
  lizmap/modules/action/classes/action.listener.php
  lizmap/modules/action/classes/actionConfig.class.php
  lizmap/modules/action/classes/actionDockable.listener.php
  lizmap/modules/action/controllers/service.classic.php
  lizmap/modules/action/install/install.php
  lizmap/modules/action/install/upgrade.php
  lizmap/modules/filter/classes/filterDatasource.class.php
  lizmap/modules/filter/controllers/service.classic.php
  lizmap/modules/filter/install/install.php
  lizmap/modules/filter/install/upgrade.php
Labels: run end2end, php

#5010 Import FlatGeobuf
  assets/package.json
  assets/src/components/Digitizing.js
  assets/src/modules/Digitizing.js
  lizmap/app/locales/fr_FR/view/locales/dictionnary.UTF-8.properties
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
Labels: new feature, backport release_3_9

#5012 Export FlatGeobuf
  assets/src/components/Digitizing.js
  assets/src/modules/Digitizing.js
Labels: new feature, sponsored development, backport release_3_9

#5022 [Backport release_3_9] Export FlatGeobuf
  assets/src/components/Digitizing.js
  assets/src/modules/Digitizing.js
Labels: new feature, sponsored development
