Repository 3liz/lizmap-web-client, pull requests merged in 2024-03, with the labels that each got.

#4255 add deprecatedDeclareFormBeforeControls to builderOptions
  lizmap/plugins/formwidget/htmlbootstrap/htmlbootstrap.formwidget.php
Labels: run end2end

#4257 [Bugfix] Language for compact table of children in Popup
  assets/src/legacy/map.js
Labels: user interface, sponsored development, run end2end, backport release_3_6, backport release_3_7

#4258 [Backport release_3_7] [Bugfix] Language for compact table of children in Popup
  assets/src/legacy/map.js
Labels: user interface, sponsored development, run end2end, backport release_3_6

#4259 [Backport release_3_6] [Bugfix] Language for compact table of children in Popup
  assets/src/legacy/map.js
Labels: user interface, sponsored development, run end2end

#4204 [Bugfix] Drag and drop form for embedded layers
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  tests/end2end/playwright/embedded-form.spec.ts
  tests/qgis-projects/tests/edition_embed.qgs
  tests/qgis-projects/tests/edition_embed.qgs.cfg
  tests/qgis-projects/tests/edition_embed_parent.qgs
  tests/qgis-projects/tests/edition_embed_parent.qgs.cfg
  tests/qgis-projects/tests/tests_dataset.sql
  tests/units/classes/Project/QgisProjectTest.php
  tests/units/classes/Project/Ressources/edition_embed.qgs
  tests/units/classes/Project/Ressources/edition_embed.qgs.cfg
  tests/units/classes/Project/Ressources/edition_embed_parent.qgs
  tests/units/classes/Project/Ressources/edition_embed_parent.qgs.cfg
  tests/units/testslib/QgisProjectForTests.php
Labels: data editor, sponsored development, run end2end, backport release_3_7

#4261 Bugfix selection with measure - overlay is not removed
  assets/src/modules/Digitizing.js
  assets/src/modules/SelectionTool.js
Labels: user interface, map viewer, sponsored development, javascript, run end2end, backport release_3_7

#4263 UX - Update the QGIS project table in the admin panel
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/project_list_help.tpl
  lizmap/modules/admin/templates/project_list_zone.tpl
  lizmap/modules/admin/zones/project_list.zone.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/ProjectConfig.php
  lizmap/modules/lizmap/lib/Project/ProjectMetadata.php
  tests/units/classes/Project/ProjectConfigTest.php
Labels: administration pages, tests, run end2end

#4264 JS: defined fetch methods
  assets/src/modules/Errors.js
  assets/src/modules/Utils.js
  assets/src/modules/WFS.js
  assets/src/modules/WMS.js
Labels: javascript, run end2end, backport release_3_7

#4270 Display a warning box when the CFG contains warnings
  lizmap/modules/view/controllers/lizMap.classic.php
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  tests/end2end/playwright.config.ts
  tests/end2end/playwright/auth.setup.ts
  tests/end2end/playwright/project_load_warning.spec.js
  tests/qgis-projects/tests/project_cfg_warnings.qgs
  tests/qgis-projects/tests/project_cfg_warnings.qgs.cfg
Labels: tests, run end2end

#4267 UX - Display the path name of the repository in the tooltip
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/project_list_zone.tpl
  lizmap/modules/admin/zones/project_list.zone.php
Labels: user interface, administration pages, backport release_3_6, backport release_3_7

#4271 JS: expose a fetch method that provide a successful response and enhance docs
  assets/src/modules/Lizmap.js
  assets/src/modules/Utils.js
  tests/js-units/node/utils.test.js
  tests/js-units/node/wfs.test.js
  tests/js-units/node/wms.test.js
  tests/js-units/package-lock.json
  tests/js-units/package.json
Labels: javascript, backport release_3_7

#4275 [Backport release_3_7] JS: expose a fetch method that provide a successful response and enhance docs
  assets/src/modules/Lizmap.js
  assets/src/modules/Utils.js
  tests/js-units/node/utils.test.js
  tests/js-units/node/wfs.test.js
  tests/js-units/node/wms.test.js
  tests/js-units/package-lock.json
  tests/js-units/package.json
Labels: tests, javascript, run end2end

#4276 Update OL to 9.0
  assets/package-lock.json
  assets/package.json
Labels: run end2end

#4278 [Bugfix] Apply min and max resolutions to base layers
  assets/src/modules/Lizmap.js
  assets/src/modules/map.js
Labels: map viewer, sponsored development, javascript, run end2end, backport release_3_7

#4281 [Backport release_3_7] [Bugfix] Apply min and max resolutions to base layers
  assets/src/modules/BaseLayersMap.js
  assets/src/modules/Lizmap.js
Labels: map viewer, sponsored development, javascript, run end2end

#4283 [Bugifx] Webdav failing evaluating expressions that uses feature fields
  lizmap/modules/lizmap/lib/Form/QgisForm.php
Labels: sponsored development, run end2end, backport release_3_7

#4286 Editing - Allow the authenticated user to save form if loginFilteredOverride is True
  lizmap/modules/lizmap/lib/Form/QgisForm.php
Labels: bug, data editor, backport release_3_6, backport release_3_7

#4290 Etag: enhancing building etag in service controller
  lizmap/modules/lizmap/controllers/service.classic.php
Labels: run end2end, php, backport release_3_6, backport release_3_7

#4291 [Bugfix] Service controller getACAOHeaderValue() on null
  lizmap/modules/lizmap/controllers/service.classic.php
Labels: run end2end, php, backport release_3_6, backport release_3_7

#4287 Check plugin version for recently edited QGS file
  lizmap/app/system/mainconfig.ini.php
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/project_list_zone.tpl
  lizmap/modules/admin/zones/project_list.zone.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/ProjectMetadata.php
  lizmap/modules/view/controllers/lizMap.classic.php
  tests/end2end/cypress/integration/requests-metadata-ghaction.js
  tests/units/README.md
  tests/units/classes/Project/QgisProjectTest.php
  tests/units/testslib/QgisProjectForTests.php
Labels: administration pages, run end2end, backport release_3_6, backport release_3_7

#4299 [Bugfix] Printing base layers withlayer in hidden group
  assets/src/components/Print.js
  assets/src/modules/Config.js
  assets/src/modules/config/BaseLayer.js
  tests/end2end/playwright/print.spec.js
  tests/qgis-projects/tests/base_layers.qgs
  tests/qgis-projects/tests/base_layers.qgs.cfg
Labels: printing, regression, javascript, run end2end, backport release_3_7

#4301 [Backport release_3_7] [Bugfix] Printing base layers withlayer in hidden group
  assets/src/components/Print.js
  assets/src/modules/Config.js
  assets/src/modules/config/BaseLayer.js
  tests/end2end/playwright/print.spec.js
  tests/qgis-projects/tests/base_layers.qgs
  tests/qgis-projects/tests/base_layers.qgs.cfg
Labels: printing, tests, regression, javascript, run end2end

#4300 The layer definition extracted from XML could be null
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
Labels: run end2end, php, backport release_3_6, backport release_3_7

#4297 Check plugin version for recently edited QGS file
  lizmap/app/system/mainconfig.ini.php
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/project_list_zone.tpl
  lizmap/modules/admin/zones/project_list.zone.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/ProjectMetadata.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  lizmap/modules/lizmap/lib/Server/Server.php
  lizmap/modules/view/controllers/lizMap.classic.php
  tests/end2end/cypress/integration/requests-metadata-ghaction.js
  tests/units/README.md
  tests/units/classes/Project/QgisProjectTest.php
  tests/units/testslib/QgisProjectForTests.php
Labels: administration pages, tests, run end2end

#4305 [Bugfix] Webdav url replacement in popup childrens compact table
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  lizmap/modules/view/templates/popup_all_features_table.tpl
  tests/end2end/playwright/webdav-upload.spec.ts
  tests/qgis-projects/tests/form_upload_webdav.qgs
  tests/qgis-projects/tests/form_upload_webdav.qgs.cfg
  tests/qgis-projects/tests/tests_dataset.sql
Labels: popup, sponsored development, run end2end, backport release_3_7

#4308 Increase CACHE_FORMAT_VERSION to 10
  lizmap/modules/lizmap/lib/Project/ProjectCache.php
Labels: backport release_3_6, backport release_3_7

#4309 Reduce ol2 map dependency
  assets/src/legacy/edition.js
  assets/src/modules/Permalink.js
  assets/src/modules/map.js
  tests/end2end/playwright/permalink.spec.ts
  tests/end2end/playwright/startup.spec.js
Labels: refactoring, run end2end

#4313 Remove legacy switcher-layers code
  assets/src/legacy/map.js
  lizmap/app/system/mainconfig.ini.php
  lizmap/modules/view/controllers/lizMap.classic.php
  lizmap/modules/view/templates/map_switcher.tpl
  lizmap/www/assets/css/map.css
  lizmap/www/assets/js/TreeTable/images/toggle-collapse-dark.png
  lizmap/www/assets/js/TreeTable/images/toggle-collapse-light.png
  lizmap/www/assets/js/TreeTable/images/toggle-expand-dark.png
  lizmap/www/assets/js/TreeTable/images/toggle-expand-light.png
  lizmap/www/assets/js/TreeTable/javascripts/jquery.treeTable.js
  lizmap/www/assets/js/TreeTable/stylesheets/jquery.treeTable.css
  lizmap/www/themes/default/css/map.css
Labels: run end2end

#4279 Landing page content for authentified users
  lizmap/modules/admin/controllers/landing_page_content.classic.php
  lizmap/modules/admin/forms/landing_page_content.form.xml
  lizmap/modules/admin/lib/LandingContent.php
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/module.xml
  lizmap/modules/admin/templates/landing_page_content.tpl
  lizmap/modules/view/controllers/default.classic.php
  tests/end2end/playwright/landing_page_config.spec.ts
Labels: enhancement, administration pages, new feature, sponsored development, run end2end

#4319 Use `default_background_color_index`
  assets/src/modules/config/BaseLayer.js
  tests/qgis-projects/tests/base_layers_user_defined.qgs.cfg
Labels: map viewer, run end2end, backport release_3_7

#3947 [Feature] Load layers as single WMS layer
  assets/src/legacy/switcher-layers-actions.js
  assets/src/modules/Config.js
  assets/src/modules/SingleWMSLayer.js
  assets/src/modules/State.js
  assets/src/modules/config/Options.js
  assets/src/modules/map.js
  assets/src/modules/state/BaseLayer.js
  assets/src/modules/state/LayerTree.js
  assets/src/modules/state/Map.js
  assets/src/modules/state/MapLayer.js
  tests/end2end/playwright/singleWMS.spec.ts
  tests/js-units/data/single_wms_image-capabilities.json
  tests/js-units/data/single_wms_image-config.json
  tests/js-units/node/config.test.js
  tests/js-units/node/config/options.test.js
  tests/qgis-projects/tests/single_wms_image.qgs
  tests/qgis-projects/tests/single_wms_image.qgs.cfg
  tests/qgis-projects/tests/tests_dataset.sql
Labels: enhancement, new feature, sponsored development, tests, run end2end

#4322 Refactor NavBar as a web component and use new Lizmap API
  assets/src/components/NavBar.js
  assets/src/index.js
  assets/src/legacy/map.js
  assets/src/modules/map.js
  assets/src/modules/state/Map.js
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  lizmap/modules/view/templates/map.tpl
  lizmap/www/assets/css/map.css
  tests/js-units/node/state/map.test.js
Labels: refactoring, javascript

#4329 Speed up FCP (first contentful paint)
  assets/src/index.js
  assets/src/legacy/map.js
  assets/src/modules/ExecuteJSFromServer.js
  lizmap/app/responses/myHtmlMapResponse.class.php
  lizmap/app/system/mainconfig.ini.php
  lizmap/app/themes/default/master_admin/index_login.tpl
  lizmap/modules/admin/templates/config_section.tpl
  lizmap/modules/admin/templates/config_services.tpl
  lizmap/modules/admin/templates/project_list_zone.tpl
  lizmap/modules/admin/templates/server_information.tpl
  lizmap/modules/admin/templates/theme.tpl
  lizmap/modules/lizmap/lib/Form/WidgetTrait.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/view/controllers/embed.classic.php
  lizmap/modules/view/controllers/lizMap.classic.php
  lizmap/plugins/formbuilder/htmlbootstrap/htmlbootstrap.formbuilder.php
  lizmap/plugins/formwidget/htmlbootstrap/htmlbootstrap.formwidget.php
  lizmap/plugins/formwidget/password_htmlbootstrap/password_htmlbootstrap.formwidget.php
  lizmap/plugins/formwidget/passwordeditor_htmlbootstrap/passwordeditor_htmlbootstrap.formwidget.php
  lizmap/www/assets/css/main.css
  lizmap/www/assets/css/map.css
  lizmap/www/themes/default/css/main.css
Labels: refactoring, performance, run end2end

#4333 Move inline JS scripts
  assets/src/legacy/map.js
  assets/src/legacy/view.js
  assets/src/modules/ExecuteJSFromServer.js
  lizmap/app/responses/AbstractLizmapHtmlResponse.php
  lizmap/app/responses/adminHtmlResponse.class.php
  lizmap/app/responses/adminLoginHtmlResponse.class.php
  lizmap/app/responses/myHtmlMapResponse.class.php
  lizmap/app/responses/myHtmlResponse.class.php
  lizmap/app/responses/simpleHtmlResponse.class.php
  lizmap/modules/action/classes/action.listener.php
  lizmap/modules/dataviz/classes/dataviz.listener.php
  lizmap/modules/filter/classes/filter.listener.php
  lizmap/modules/view/classes/view.listener.php
  lizmap/modules/view/controllers/lizMap.classic.php
  lizmap/modules/view/templates/view.tpl
  phpstan.neon
Labels: refactoring, javascript, run end2end
