Repository 3liz/lizmap-web-client, pull requests merged in 2024-01, with the labels that each got.

#4053 [Fix] Fix the display order of layers when the 'Group as layer' option is used
  assets/src/modules/BaseLayersMap.js
  assets/src/modules/state/MapLayer.js
  tests/js-units/data/layer-count-capabilities.json
  tests/js-units/data/layer-count-config.json
  tests/js-units/node/state/maplayer.test.js
Labels: tests, javascript, run end2end, backport release_3_7

#4044 Put OpenLayers 8 maps on top
  assets/src/components/MousePosition.js
  assets/src/components/Print.js
  assets/src/legacy/edition.js
  assets/src/legacy/map.js
  assets/src/modules/Action.js
  assets/src/modules/Digitizing.js
  assets/src/modules/Geolocation.js
  assets/src/modules/Lizmap.js
  assets/src/modules/Map.js
  assets/src/modules/Popup.js
  assets/src/modules/SelectionTool.js
  assets/src/modules/interaction/Draw.js
  lizmap/modules/view/templates/map.tpl
  lizmap/www/assets/css/map.css
  tests/end2end/cypress/integration/filter_layer_data_by_polygon_for_groups-ghaction.js
  tests/end2end/cypress/integration/form_advanced-ghaction.js
  tests/end2end/cypress/integration/form_edition-ghaction.js
  tests/end2end/cypress/integration/form_edition_value_relation_field-ghaction.js
  tests/end2end/cypress/integration/test_import_kml.js
  tests/end2end/cypress/support/commands.js
  tests/end2end/playwright/draw.spec.ts
  tests/end2end/playwright/embedded-relation.spec.ts
  tests/end2end/playwright/popup.spec.js
  tests/end2end/playwright/print.spec.ts
  tests/end2end/playwright/webdav-upload.spec.ts
  tests/qgis-projects/tests/feature_toolbar.qgs.action
  tests/qgis-projects/tests/geolocation.qgs
  tests/qgis-projects/tests/geolocation.qgs.cfg
Labels: tests, run end2end

#4052 dedicated playwright config for end2end workflow
  tests/end2end/playwright.config.js
Labels: tests, run end2end

#4057 Remove completly action.js
  .gitignore
  .gitlab-ci.yml
  lizmap/modules/action/classes/action.listener.php
Labels: run end2end, backport release_3_7

#4059 Merge OL8 maps
  assets/src/components/MousePosition.js
  assets/src/legacy/atlas.js
  assets/src/legacy/attributeTable.js
  assets/src/legacy/edition.js
  assets/src/legacy/filter.js
  assets/src/legacy/map.js
  assets/src/legacy/switcher-layers-actions.js
  assets/src/modules/Action.js
  assets/src/modules/Geolocation.js
  assets/src/modules/Lizmap.js
  assets/src/modules/Map.js
  assets/src/modules/Popup.js
  assets/src/modules/Search.js
  assets/src/modules/map.js
  lizmap/modules/view/templates/map.tpl
  tests/end2end/cypress/integration/zoom-to-layer-ghaction.js
  tests/end2end/playwright/draw.spec.ts
  tests/end2end/playwright/filter-layer-by-user.spec.ts
  tests/end2end/playwright/startup.spec.js
  tests/qgis-projects/tests/draw.qgs
  tests/qgis-projects/tests/draw.qgs.cfg
Labels: run end2end

#4062 Update treeview.qgs to reproduce layer/group rights issue
  assets/src/modules/config/LayerTree.js
  tests/qgis-projects/tests/treeview.qgs
  tests/qgis-projects/tests/treeview.qgs.cfg
Labels: run end2end, backport release_3_7

#4072 [Bugfix] Projects in map: Keep extent between map
  assets/src/modules/Permalink.js
  lizmap/modules/view/templates/map_projects.tpl
Labels: bug, user interface, run end2end, backport release_3_7

#4070 CI - Remove assert, failing due to new version of QGIS 3.32
  tests/end2end/playwright/print.spec.ts
Labels: backport release_3_7

#4079 Fix import data to draw tool
  assets/src/modules/Digitizing.js
  tests/qgis-projects/tests/import_kml.qgs
  tests/qgis-projects/tests/import_kml.qgs.cfg
Labels: bug, javascript, run end2end, backport release_3_7

#4083 [Bugfix] SelectionTool: Use typeName instead of featureType
  assets/src/modules/SelectionTool.js
Labels: user interface, javascript, run end2end, backport release_3_7

#4080 check if repository has a valid path
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/maps.tpl
  lizmap/modules/lizmap/classes/lizmapRepository.class.php
  lizmap/modules/view/zones/main_view.zone.php
Labels: backport release_3_7

#4087 Fix: `display_when_layer_visible` only useful for layers w/ geometry
  lizmap/www/assets/js/dataviz/dataviz.js
Labels: run end2end, backport release_3_7

#4096 Fix layer group visible only and location
  lizmap/modules/lizmap/lib/Project/Project.php
  tests/qgis-projects/tests/layer_group_visible_only.qgs
  tests/qgis-projects/tests/layer_group_visible_only.qgs.cfg
Labels: bug, run end2end, php, backport release_3_6, backport release_3_7

#4058 Editing form - Upload fields: allow to use an expression to set up the storage path
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  lizmap/modules/lizmap/lib/Form/QgisFormControl.php
  phpstan-baseline.neon
  tests/qgis-projects/tests/form_edition_all_field_type.qgs
  tests/qgis-projects/tests/form_edition_all_field_type.qgs.cfg
Labels: data editor, sponsored development, run end2end, php, expression, backport release_3_7

#4101 [Bugfix] JS Attribute Table: using wmsName for getFeaturePopupContent
  assets/src/legacy/map.js
Labels: user interface, javascript, run end2end, backport release_3_6, backport release_3_7

#4102 [Backport release_3_7] [Bugfix] JS Attribute Table: using wmsName for getFeaturePopupContent
  assets/src/legacy/map.js
Labels: user interface, javascript, run end2end, backport release_3_6

#4103 [Backport release_3_6] [Bugfix] JS Attribute Table: using wmsName for getFeaturePopupContent
  assets/src/legacy/map.js
Labels: user interface, javascript, run end2end

#4105 [Bugfix] keep print capabilities even if the config has not been updated to 3.7
  lizmap/modules/lizmap/lib/Project/Project.php
Labels: run end2end, php, backport release_3_7

#4099 [end2end]fix DOM search in cypress test
  tests/end2end/cypress/integration/projects_homepage-ghaction.js
  tests/end2end/playwright/project-homepage.spec.js
Labels: run end2end, backport release_3_7

#4095 Enable WMTS requests for Lizmap baselayers
  assets/src/modules/map.js
  tests/js-units/data/tiled_baselayers-capabilities.json
  tests/js-units/data/tiled_baselayers-config.json
  tests/js-units/node/state/baselayer.test.js
Labels: sponsored development, run end2end, backport release_3_7

#4108 [end2end] test bad repository
  tests/docker-conf/phpfpm/lizmapConfig.ini.php
  tests/end2end/playwright/bad-repository.spec.js
Labels: run end2end, backport release_3_7

#4112 [Bugfix] Child Attribute table: get parent layer name
  assets/src/legacy/attributeTable.js
Labels: bug, sponsored development, javascript, run end2end, attribute table, backport release_3_6, backport release_3_7

#4114 Fix regrssion : keep atlasprint plugin
  assets/src/components/FeatureToolbar.js
  lizmap/modules/admin/controllers/server_information.classic.php
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/server_information.tpl
  lizmap/modules/lizmap/controllers/service.classic.php
  lizmap/modules/lizmap/lib/Project/Project.php
  tests/add_server_plugins.sh
  tests/end2end/playwright/print.spec.ts
Labels: bug, printing, run end2end, backport release_3_7

#4119 [Backport release_3_7] Fix regression : keep atlasprint plugin
  assets/src/components/FeatureToolbar.js
  lizmap/modules/admin/controllers/server_information.classic.php
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/server_information.tpl
  lizmap/modules/lizmap/controllers/service.classic.php
  lizmap/modules/lizmap/lib/Project/Project.php
  tests/add_server_plugins.sh
  tests/end2end/playwright/print.spec.ts
Labels: bug, administration pages, printing, tests, run end2end

#4117 JS: Extract filename from Content-Disposition header
  assets/src/modules/Utils.js
Labels: javascript, run end2end, backport release_3_7

#4122 [Bugfix] Force base layers zIndex
  assets/src/modules/map.js
Labels: map viewer, javascript, run end2end, backport release_3_7

#4124 [Backport release_3_7] [Bugfix] Force base layers zIndex
  assets/src/modules/BaseLayersMap.js
Labels: map viewer, javascript, run end2end

#4085 [Bugfix] JS: Get typeName from config
  assets/src/legacy/attributeTable.js
  assets/src/legacy/filter.js
Labels: user interface, javascript, run end2end, backport release_3_7

#4123 Force EPSG:3857 if old baselayers in config
  assets/src/legacy/map.js
  tests/end2end/playwright/overview.spec.ts
Labels: map viewer, run end2end, backport release_3_7

#4128 [Backport release_3_7] JS: Created the map and modules after toolbar created
  assets/src/modules/Lizmap.js
Labels: map viewer, javascript, run end2end
