Repository 3liz/lizmap-web-client, pull requests merged in 2024-12, with the labels that each got.

#5037 fix(css): hide only adjacent non-popup-displayed table items
  lizmap/www/assets/css/map.css
Labels: user interface, run end2end, backport release_3_8, backport release_3_9

#5024 Reduce mainLizmap dependencies in Legend module
  assets/src/modules/Legend.js
  assets/src/modules/Lizmap.js
Labels: refactoring, javascript, run end2end, backport release_3_9

#5027 Reduce mainLizmap dependencies in Edition module
  assets/src/modules/Edition.js
  assets/src/modules/Lizmap.js
Labels: refactoring, javascript, run end2end, backport release_3_9

#5030 Reduce mainLizmap dependencies in FeaturesTable module
  assets/src/modules/FeaturesTable.js
  assets/src/modules/Lizmap.js
Labels: refactoring, javascript, run end2end, backport release_3_9

#5005 Upgrade PHP-CS-Fixer from 3.8.0 to 3.40.0
  .git-blame-ignore-revs
  .github/workflows/lint.yml
  Makefile
  lizmap/modules/admin/controllers/config.classic.php
  lizmap/modules/dataviz/classes/datavizDockable.listener.php
  lizmap/modules/dataviz/classes/datavizPlot.class.php
  lizmap/modules/lizmap/classes/lizmap.class.php
  lizmap/modules/lizmap/classes/lizmapLog.listener.php
  lizmap/modules/lizmap/classes/lizmapProject.class.php
  lizmap/modules/lizmap/classes/lizmapProxy.class.php
  lizmap/modules/lizmap/classes/lizmapRepository.class.php
  lizmap/modules/lizmap/classes/lizmapTiler.class.php
  lizmap/modules/lizmap/classes/qgisProject.class.php
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/controllers/edition.classic.php
  lizmap/modules/lizmap/controllers/service.classic.php
  lizmap/modules/lizmap/controllers/wmts.cmdline.php
  lizmap/modules/lizmap/install/install.php
  lizmap/modules/lizmap/install/upgrade_configjcommunity.php
  lizmap/modules/lizmap/lib/App/JelixContext.php
  lizmap/modules/lizmap/lib/App/LocalesLoader.php
  lizmap/modules/lizmap/lib/App/XmlTools.php
  lizmap/modules/lizmap/lib/CliHelpers/WMTSCache.php
  lizmap/modules/lizmap/lib/Commands/WMTSCacheClean.php
  lizmap/modules/lizmap/lib/Commands/WMTSCapabilities.php
  lizmap/modules/lizmap/lib/Commands/WMTSSeed.php
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  lizmap/modules/lizmap/lib/Form/QgisFormControl.php
  lizmap/modules/lizmap/lib/Logger/MigratorFromSqlite.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/ProjectCache.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  lizmap/modules/lizmap/lib/Project/Repository.php
  lizmap/modules/lizmap/lib/Project/UnknownLizmapProjectException.php
  lizmap/modules/lizmap/lib/Request/Proxy.php
  lizmap/modules/lizmap/lib/Request/WFSRequest.php
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  lizmap/modules/lizmap/lib/Users/MigratorFromSqlite.php
  lizmap/modules/view/classes/popup.class.php
  lizmap/modules/view/controllers/ajax.classic.php
  lizmap/modules/view/controllers/default.classic.php
  lizmap/modules/view/controllers/lizMap.classic.php
  lizmap/modules/view/controllers/media.classic.php
  lizmap/modules/view/install/install.php
  lizmap/modules/view/zones/map_bottomdock.zone.php
  lizmap/modules/view/zones/map_dock.zone.php
  lizmap/modules/view/zones/map_minidock.zone.php
  lizmap/modules/view/zones/map_rightdock.zone.php
  lizmap/plugins/configcompiler/lizmapconfig/lizmapconfig.configcompiler.php
  lizmap/plugins/coord/lizmap/lizmap.coord.php
  lizmap/plugins/formwidget/htmlbootstrap/htmlbootstrap.formwidget.php
  lizmap/plugins/tpl/html/function.formdatafull_bootstrap.php
  lizmap/plugins/tpl/html/function.jmessage_bootstrap.php
  lizmap/plugins/tpl/html/function.pagelinks_bootstrap.php
Labels: run end2end, php

#5052 Fix PHP-CS-Fixer on master, due to recent merge
  lizmap/modules/action/install/install.php
  lizmap/modules/filter/classes/filterDockable.listener.php
Labels: php

#5028 Reduce mainLizmap dependencies in Geolocation module
  assets/src/modules/Geolocation.js
  assets/src/modules/Lizmap.js
Labels: refactoring, javascript, run end2end, backport release_3_9

#5053 [Tests] e2e Filter layer data by user - WFS GetFeature
  tests/end2end/playwright/filter-layer-by-user.spec.js
Labels: sponsored development, tests, run end2end, backport release_3_8, backport release_3_9

#5029 Reduce mainLizmap dependencies in GeolocationSurvey module
  assets/src/modules/GeolocationSurvey.js
  assets/src/modules/Lizmap.js
Labels: refactoring, javascript, run end2end, backport release_3_9

#5058 Tests - Use URLSearchParams constructor to build querystrings
  tests/end2end/playwright/filter-layer-by-user.spec.js
Labels: tests, javascript, run end2end, backport release_3_8, backport release_3_9

#5060 Playwright - Fix some warnings about docstrings and parameters from the JavaScript IDE
  tests/end2end/playwright/globals.js
Labels: tests, run end2end, backport release_3_7, backport release_3_8, backport release_3_9

#5065 [Backport release_3_7] Playwright - Fix some warnings about docstrings from the JavaScript IDE
  tests/end2end/playwright/globals.js
Labels: tests, run end2end

#5070 Update package lock json with FlatGeobuf
  assets/package-lock.json
Labels: javascript, backport release_3_9

#5066 Admin - Log OGC request if error
  lizmap/modules/lizmap/lib/Request/OGCRequest.php
  lizmap/modules/lizmap/lib/Request/Proxy.php
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
Labels: QGIS Server, run end2end, backport release_3_7, backport release_3_8, backport release_3_9

#5074 [Backport release_3_7] Admin - Log OGC request if error #5066
  lizmap/modules/lizmap/lib/Request/OGCRequest.php
  lizmap/modules/lizmap/lib/Request/Proxy.php
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
Labels: QGIS Server, administration pages, run end2end

#5075 [Backport release_3_9] Fixing bug about the print overlay stacking
  assets/src/components/Print.js
  tests/end2end/playwright/print.spec.js
Labels: user interface, map viewer, javascript, run end2end, backport release_3_7, backport release_3_8

#5036 Reduce mainLizmap dependencies in Action module
  assets/src/modules/Action.js
  assets/src/modules/Lizmap.js
Labels: refactoring, javascript, run end2end, backport release_3_9

#5034 Reduce mainLizmap dependencies in Search module
  assets/src/modules/Lizmap.js
  assets/src/modules/Search.js
Labels: refactoring, javascript, run end2end, backport release_3_9

#5081 Speed up main view with project main data
  lizmap/modules/admin/classes/listProjectDatasource.class.php
  lizmap/modules/lizmap/classes/lizmapRepository.class.php
  lizmap/modules/lizmap/lib/Project/ProjectMainData.php
  lizmap/modules/lizmap/lib/Project/Repository.php
  lizmap/modules/lizmap/lib/Server/Server.php
  lizmap/modules/view/zones/ajax_view.zone.php
  lizmap/modules/view/zones/main_view.zone.php
  tests/units/classes/Project/ProjectMainDataTest.php
Labels: user interface, run end2end, php, backport release_3_7, backport release_3_8, backport release_3_9

#5045 Form filter: filter autocomplete list based on previous applied filters
  assets/src/legacy/filter.js
  tests/end2end/cypress/integration/form-filter-ghaction.js
  tests/end2end/playwright/form-filter.spec.js
  tests/qgis-projects/tests/form_filter.md
  tests/qgis-projects/tests/form_filter.qgs
  tests/qgis-projects/tests/form_filter.qgs.cfg
  tests/qgis-projects/tests/tests_dataset.sql
Labels: sponsored development, filter forms, run end2end, backport release_3_9

#5013 FeaturesTable structure & columns improvements
  assets/src/components/FeaturesTable.js
  assets/src/modules/FeaturesTable.js
  lizmap/modules/lizmap/controllers/features.classic.php
  lizmap/www/assets/css/map.css
  tests/end2end/playwright/lizmap-features-table.spec.js
Labels: enhancement, user interface, javascript, run end2end, backport release_3_8, backport release_3_9

#4897 Zoom to features with a max scale constraint
  assets/src/components/FeatureToolbar.js
  assets/src/legacy/atlas.js
  assets/src/legacy/filter.js
  assets/src/legacy/map.js
  assets/src/legacy/switcher-layers-actions.js
  assets/src/modules/Lizmap.js
  assets/src/modules/LocateByLayer.js
  assets/src/modules/config/Options.js
  assets/src/modules/map.js
Labels: sponsored development, javascript, run end2end, backport release_3_9

#5083 [Bugfix] Fix null xml QgisProject property during projects loading
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  tests/units/classes/Project/ProjectTest.php
  tests/units/classes/Project/QgisProjectTest.php
  tests/units/testslib/QgisProjectForTests.php
Labels: sponsored development, run end2end, legend/layer tree

#5090 [Backport release_3_9] FeaturesTable structure & columns improvements
  assets/src/components/FeaturesTable.js
  assets/src/modules/FeaturesTable.js
  lizmap/modules/lizmap/controllers/features.classic.php
  lizmap/www/assets/css/map.css
  tests/end2end/playwright/lizmap-features-table.spec.js
Labels: enhancement, user interface, javascript, run end2end, backport release_3_8

#5092 [Backport release_3_9] Zoom to features with a max scale constraint
  assets/src/components/FeatureToolbar.js
  assets/src/legacy/atlas.js
  assets/src/legacy/filter.js
  assets/src/legacy/map.js
  assets/src/legacy/switcher-layers-actions.js
  assets/src/modules/Lizmap.js
  assets/src/modules/LocateByLayer.js
  assets/src/modules/config/Options.js
  assets/src/modules/map.js
Labels: map viewer, sponsored development, javascript, run end2end

#5094 [Bugfix] Project abstract has to be a string for nl2br and strip_tags
  lizmap/modules/lizmap/lib/Project/ProjectMainData.php
Labels: run end2end, backport release_3_7, backport release_3_8, backport release_3_9

#5079 [Feature] Circular geometry measurement on draw
  assets/src/modules/Digitizing.js
  tests/end2end/playwright/draw.spec.js
Labels: enhancement, user interface, map viewer, new feature, sponsored development, run end2end, backport release_3_9

#5099 [Feature] Circular geometry measurement on draw
  assets/src/modules/Digitizing.js
  tests/end2end/playwright/draw.spec.js
Labels: enhancement, user interface, map viewer, new feature, sponsored development, run end2end

#5101 [Backport release_3_9] Attribute table - Fix some misbehaviours
  assets/src/legacy/attributeTable.js
Labels: javascript, run end2end, attribute table, backport release_3_7, backport release_3_8

#5103 [Backport release_3_7] Attribute table - Fix some misbehaviours
  assets/src/legacy/attributeTable.js
Labels: javascript, run end2end, attribute table

#5093 [Bugfix] Edition : exec a DELETE can return 0 in some cases
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/controllers/edition.classic.php
  lizmap/modules/lizmap/lib/Form/QgisForm.php
Labels: sponsored development, run end2end, backport release_3_8, backport release_3_9, data editor

#5105 Display a generic error in case of action failure to the end-user
  lizmap/modules/action/controllers/service.classic.php
Labels: bug, run end2end, action, backport release_3_7, backport release_3_8, backport release_3_9

#5107 Fix edition form child with relation
  assets/src/legacy/edition.js
  tests/end2end/cypress/integration/feature_toolbar-ghaction.js
Labels: run end2end, backport master, backport release_3_9

#5104 Draw: add translate interaction active by default
  assets/src/modules/Digitizing.js
Labels: run end2end, backport release_3_8, backport release_3_9

#5108 [Bugfix] Digitizing: hide text feature point geometry on print output
  assets/src/modules/Digitizing.js
Labels: printing, sponsored development, run end2end, backport release_3_8, backport release_3_9

#5118 Add a log if saving the feature has failed
  lizmap/modules/lizmap/controllers/edition.classic.php
Labels: editing form, backport release_3_7, backport release_3_8, backport release_3_9

#5126 dataviz: update plotlyjs to v2.35.2 and do custom build to reduce file size
  lizmap/modules/dataviz/classes/dataviz.listener.php
  lizmap/modules/dataviz/controllers/service.classic.php
  lizmap/www/assets/js/dataviz/plotly-custom.min.js
  lizmap/www/assets/js/dataviz/plotly-latest.min.js
  lizmap/www/assets/js/dataviz/plotly-locale-de-latest.js
  lizmap/www/assets/js/dataviz/plotly-locale-de.js
  lizmap/www/assets/js/dataviz/plotly-locale-el.js
  lizmap/www/assets/js/dataviz/plotly-locale-es-latest.js
  lizmap/www/assets/js/dataviz/plotly-locale-es.js
  lizmap/www/assets/js/dataviz/plotly-locale-fr-latest.js
  lizmap/www/assets/js/dataviz/plotly-locale-fr.js
  lizmap/www/assets/js/dataviz/plotly-locale-it-latest.js
  lizmap/www/assets/js/dataviz/plotly-locale-it.js
  lizmap/www/assets/js/dataviz/plotly-locale-nl-latest.js
  lizmap/www/assets/js/dataviz/plotly-locale-nl.js
  lizmap/www/assets/js/dataviz/plotly-locale-ro-latest.js
  lizmap/www/assets/js/dataviz/plotly-locale-ro.js
  tests/end2end/cypress/integration/dataviz-ghaction.js
Labels: run end2end, backport release_3_8, backport release_3_9

#5130 Fix PR 5069
  assets/src/components/Print.js
  assets/src/legacy/map.js
Labels: run end2end, backport release_3_7, backport release_3_8, backport release_3_9

#5135 Fix: order popups following layers order
  assets/src/modules/Popup.js
  tests/end2end/playwright/layer_order.spec.js
  tests/qgis-projects/tests/layer_order.qgs
  tests/qgis-projects/tests/layer_order.qgs.cfg
Labels: bug, sponsored development, run end2end, backport release_3_7, backport release_3_8, backport release_3_9
