Repository 3liz/lizmap-web-client, pull requests merged in 2024-08, with the labels that each got.

#4683 Php unit 10 compatibility
  tests/units/classes/Form/QgisFormTest.php
  tests/units/classes/Log/ConfigTest.php
  tests/units/classes/Log/ItemTest.php
  tests/units/classes/Project/ProjectConfigTest.php
  tests/units/classes/Project/ProjectTest.php
  tests/units/classes/Project/QgisProjectTest.php
  tests/units/classes/Request/OGCRequestTest.php
  tests/units/classes/Request/ProxyTest.php
  tests/units/classes/Request/WFSRequestTest.php
  tests/units/classes/Request/WMSRequestTest.php
  tests/units/classes/Request/WMTSRequestTest.php
  tests/units/classes/lizmapRepositoryTest.php
  tests/units/classes/lizmapServicesTest.php
Labels: php, backport release_3_6, backport release_3_7, backport release_3_8

#4686 remove phpstan ignored errors no more existing
  phpstan-baseline.neon
Labels: php, backport release_3_6, backport release_3_7, backport release_3_8

#4679 Tests - Update phpunit version
  .github/workflows/tests.yml
  Makefile
Labels: php, backport release_3_7, backport release_3_8

#4690 Backport - Update the version of PHPUnit on GH Action
  .github/workflows/tests.yml
  Makefile
Labels: php

#4698 Tests - Remove monitoring folder
  tests/qgis-projects/monitoring/ign.qgs
  tests/qgis-projects/monitoring/ign.qgs.cfg
  tests/qgis-projects/monitoring/ign.qgs.jpg
Labels: tests, run end2end, backport release_3_6, backport release_3_7, backport release_3_8

#4702 GH Action - minor update in the YML file
  .github/workflows/e2e_tests.yml
Labels: tests, run end2end, backport release_3_7, backport release_3_8

#4710 Tests - Update PHPStan to 8.0, to match minimum of PHPUnit
  .github/workflows/php-stan.yml
  .github/workflows/tests.yml
Labels: tests, php, backport release_3_8

#4712 Fix phpstan error detected sinc phpstan 1.11
  lizmap/modules/dataviz/classes/datavizPlot.class.php
  lizmap/modules/lizmap/classes/qgisExpressionUtils.class.php
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  tests/units/composer.json
Labels: run end2end, php, backport release_3_7, backport release_3_8

#4705 PHP - Add helper for property_exists
  lizmap/modules/lizmap/lib/Project/Project.php
Labels: run end2end, php, backport release_3_8

#4718 Admin panel - Update of string
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
Labels: administration pages, run end2end, backport master

#4720 Headed chrome for Cypress
  .github/workflows/e2e_tests.yml
Labels: run end2end, backport release_3_7, backport release_3_8
