Repository 3liz/lizmap-web-client, pull requests merged in 2025-01, with the labels that each got.

#5145 Editing - Make sure the dock with the form is visible before opening the cancelation confirmation dialog
  assets/src/legacy/edition.js
Labels: user interface, editing form, sponsored development, javascript, run end2end, backport release_3_8, backport release_3_9, data editor

#5147 Features table geometry additions
  assets/src/components/FeaturesTable.js
Labels: enhancement, user interface, javascript, run end2end, backport release_3_8, backport release_3_9

#5131 Draw: add button to rotate geometries
  assets/package-lock.json
  assets/package.json
  assets/src/components/Digitizing.js
  assets/src/images/svg/rotate.svg
  assets/src/modules/Digitizing.js
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
Labels: run end2end, backport release_3_9

#5154 Features Table : listen for change of the attribute `expressionfilter` and reload table
  assets/src/components/FeaturesTable.js
  tests/end2end/playwright/lizmap-features-table.spec.js
Labels: javascript, run end2end, backport release_3_8, backport release_3_9

#5153 Features Table : add an event when an item is highlighted
  assets/src/components/FeaturesTable.js
Labels: enhancement, user interface, sponsored development, javascript, run end2end, backport release_3_8, backport release_3_9

#5161 Use correct online help and Git repository according to the correct QGIS Server wrapper used
  lizmap/app/system/mainconfig.ini.php
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/server_information.tpl
  tests/end2end/playwright/server-information.spec.js
Labels: administration pages, run end2end, backport release_3_7, backport release_3_8, backport release_3_9

#5169 Github Action PHPStan Matrix
  .github/workflows/php-stan.yml
Labels: tests, action, backport release_3_7, backport release_3_8, backport release_3_9

#5170 Github Action PHPUnit Matrix update
  .github/workflows/tests.yml
Labels: tests, action, backport release_3_7, backport release_3_8, backport release_3_9

#5173 [Backport release_3_8] Github Action PHPUnit Matrix update
  .github/workflows/tests.yml
Labels: tests, action, backport release_3_7

#5139 Draw: add split tool
  assets/package-lock.json
  assets/package.json
  assets/src/components/Digitizing.js
  assets/src/images/svg/split.svg
  assets/src/modules/Digitizing.js
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
Labels: technical debt, run end2end, backport release_3_9

#4974 Raise PHP minimum version to 8.1
  .github/workflows/php-stan.yml
  .github/workflows/tests.yml
  CHANGELOG-3.9.md
  lizmap/composer.json
  tests/units/composer.json
Labels: run end2end, php, backport release_3_9

#5174 [Backport release_3_8] Github Action PHPStan Matrix
  .github/workflows/php-stan.yml
Labels: tests, action, backport release_3_7

#5177 [Backport release_3_7] Github Action PHPStan Matrix
  .github/workflows/php-stan.yml
Labels: tests, action

#5178 [Backport release_3_7] Github Action PHPUnit Matrix update
  .github/workflows/tests.yml
Labels: tests, action

#5179 Tests with PHP 8.4
  .github/workflows/php-stan.yml
  .github/workflows/tests.yml
Labels: php, backport release_3_8, backport release_3_9

#5181 [Backport release_3_8] Tests with PHP 8.4
  .github/workflows/php-stan.yml
  .github/workflows/tests.yml
Labels: php

#5186 Update some Jelix files when building LWC
  lizmap/www/assets/jelix/js/jforms_jquery.js
  lizmap/www/assets/jelix/js/jforms_jquery.js.map
Labels: jelix, php

#5187 Update some Jelix files when building LWC
  lizmap/www/assets/jelix/js/jforms_jquery.js
  lizmap/www/assets/jelix/js/jforms_jquery.js.map
Labels: jelix, php

#5192 Tests - Better log output in case of error
  .github/workflows/e2e_tests.yml
Labels: tests, run end2end

#5190 GH Action - Check for QGIS Server status and git diff
  .github/workflows/e2e_tests.yml
Labels: run end2end, backport release_3_7, backport release_3_8

#5193 improve setLayerOpacity : split embedded and normal layer search with xpath
  lizmap/modules/lizmap/lib/Project/QgisProject.php
Labels: run end2end, backport master, backport release_3_9

#5198 Backport the work on CI GH Action about E2E, about logs
  .github/workflows/e2e_tests.yml
Labels: run end2end, backport release_3_7, backport release_3_8

#5199 Backport the work on CI GH Action about E2E, about logs
  .github/workflows/e2e_tests.yml
Labels: run end2end

#5200 Backport the work on CI GH Action about E2E, about logs
  .github/workflows/e2e_tests.yml
Labels: run end2end

#5194 lizmap-features-table - Improve the logic of the feature detail opening
  assets/src/components/FeaturesTable.js
Labels: javascript, run end2end, backport release_3_8, backport release_3_9

#5197 don't use xpath to search embedded layers, but layer objet info
  lizmap/modules/lizmap/lib/Project/QgisProject.php
Labels: run end2end

#5137 PHP: reading GetFeature GeoJSON as a stream with JSON-Machine
  lizmap/composer.json
  lizmap/modules/dataviz/classes/datavizPlot.class.php
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/controllers/edition.classic.php
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  lizmap/modules/lizmap/lib/Form/QgisFormValueRelationDynamicDatasource.php
  phpstan-baseline.neon
Labels: refactoring, run end2end, php, backport release_3_9

#5138 OGC Service WFS: Forbidden direct access without rights
  lizmap/modules/lizmap/controllers/service.classic.php
  lizmap/modules/view/controllers/lizMap.classic.php
  lizmap/modules/view/locales/en_US/default.UTF-8.properties
Labels: QGIS Server, sponsored development, run end2end, php, backport release_3_9

#5182 Add error log panel in admin
  lizmap/modules/admin/controllers/logs.classic.php
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/logs_view.tpl
  lizmap/www/assets/js/admin/scroll_to_bottom_textarea.js
Labels: administration pages, run end2end, backport release_3_8, backport release_3_9

#5203 Docker updates about mount
  .gitlab-ci.yml
  tests/docker-compose.yml
Labels: docker, run end2end, backport release_3_7, backport release_3_8, backport release_3_9, backport release_3_6

#5204 Tests - Start Page Object Model for Playwright
  tests/end2end/playwright/attribute-table.spec.js
  tests/end2end/playwright/edition-form.spec.js
  tests/end2end/playwright/media.spec.js
  tests/end2end/playwright/pages/project.js
  tests/end2end/playwright/project_load_warning.spec.js
  tests/end2end/playwright/snap.spec.js
Labels: tests, run end2end, backport release_3_7, backport release_3_8, backport release_3_9

#5185 Add X-Request-Id in request to QGIS Server headers
  lizmap/modules/lizmap/lib/Request/OGCRequest.php
  lizmap/modules/lizmap/lib/Request/Proxy.php
  lizmap/modules/lizmap/lib/Request/ProxyResponse.php
  tests/end2end/cypress/integration/requests-wfs-ghaction.js
  tests/units/classes/Request/ProxyResponseTest.php
  tests/units/classes/Request/ProxyTest.php
Labels: QGIS Server, run end2end, php, backport release_3_7, backport release_3_8, backport release_3_9

#5219 Tests - Start Page Object Model for Playwright
  tests/end2end/playwright/attribute-table.spec.js
  tests/end2end/playwright/edition-form.spec.js
  tests/end2end/playwright/media.spec.js
  tests/end2end/playwright/pages/project.js
  tests/end2end/playwright/project_load_warning.spec.js
  tests/end2end/playwright/snap.spec.js
Labels: tests, run end2end

#5220 Tests - Start Page Object Model for Playwright
  tests/end2end/playwright/attribute-table.spec.js
  tests/end2end/playwright/edition-form.spec.js
  tests/end2end/playwright/media.spec.js
  tests/end2end/playwright/pages/project.js
  tests/end2end/playwright/project_load_warning.spec.js
Labels: tests, run end2end

#4998 [PHP] Only use Guzzle to send requests
  lizmap/modules/lizmap/lib/Request/Proxy.php
Labels: refactoring, run end2end, php, backport release_3_9

#5225 Tests - Extends base class for testing admin pages and landing page
  tests/end2end/playwright/bad-repository.spec.js
  tests/end2end/playwright/landing_page_config.spec.js
  tests/end2end/playwright/maps-management.spec.js
  tests/end2end/playwright/pages/admin.js
  tests/end2end/playwright/pages/base.js
  tests/end2end/playwright/pages/homepage.js
  tests/end2end/playwright/pages/project.js
  tests/end2end/playwright/server-information.spec.js
Labels: tests, run end2end, backport release_3_7, backport release_3_8, backport release_3_9

#5227 Tests - Add a private repository
  tests/docker-conf/phpfpm/lizmapConfig.ini.php
Labels: tests, backport release_3_7, backport release_3_8, backport release_3_9

#5231 [Backport 3.9] Tests - Extends base class for testing admin pages and landing page
  tests/end2end/playwright/bad-repository.spec.js
  tests/end2end/playwright/landing_page_config.spec.js
  tests/end2end/playwright/maps-management.spec.js
  tests/end2end/playwright/pages/admin.js
  tests/end2end/playwright/pages/base.js
  tests/end2end/playwright/pages/homepage.js
  tests/end2end/playwright/pages/project.js
  tests/end2end/playwright/server-information.spec.js
Labels: tests, run end2end

#5233 [Backport 3.7] Tests - Extends base class for testing admin pages
  tests/end2end/playwright/bad-repository.spec.js
  tests/end2end/playwright/maps-management.spec.js
  tests/end2end/playwright/pages/admin.js
  tests/end2end/playwright/pages/base.js
  tests/end2end/playwright/pages/project.js
  tests/end2end/playwright/server-information.spec.js
Labels: tests, run end2end

#5223 Tests e2e Playwright: Defined global getEchoRequestParams
  tests/end2end/playwright/form-filter.spec.js
  tests/end2end/playwright/globals.js
  tests/end2end/playwright/timemanage.spec.js
Labels: tests, run end2end, backport release_3_7, backport release_3_8, backport release_3_9

#5236 [Backport release_3_8] Tests e2e Playwright: Defined global getEchoRequestParams
  tests/end2end/playwright/globals.js
  tests/end2end/playwright/timemanage.spec.js
Labels: tests, run end2end

#5237 [Backport release_3_7] Tests e2e Playwright: Defined global getEchoRequestParams
  tests/end2end/playwright/globals.js
  tests/end2end/playwright/timemanage.spec.js
Labels: tests, run end2end

#5235 [Backport release_3_7] Add X-Request-Id in request to QGIS Server headers
  lizmap/modules/lizmap/controllers/service.classic.php
  lizmap/modules/lizmap/lib/Request/OGCRequest.php
  lizmap/modules/lizmap/lib/Request/Proxy.php
  lizmap/modules/lizmap/lib/Request/ProxyResponse.php
  tests/end2end/cypress/integration/cmdline-wmts-ghaction.js
  tests/end2end/cypress/integration/requests-wfs-ghaction.js
  tests/end2end/cypress/support/function.js
  tests/end2end/cypress/support/index.js
  tests/units/classes/Request/ProxyResponseTest.php
  tests/units/classes/Request/ProxyTest.php
Labels: QGIS Server, tests, run end2end, php

#5238 Tests - Move HTTP requests metadata from Cypress to Playwright
  tests/end2end/cypress/integration/requests-metadata-ghaction.js
  tests/end2end/playwright/auth.setup.ts
  tests/end2end/playwright/requests-metadata.spec.js
Labels: tests, run end2end, backport release_3_7, backport release_3_8, backport release_3_9

#5239 Tests - Improve Playright tests with works and tags
  .github/workflows/e2e_tests.yml
  tests/README.md
  tests/end2end/cypress/integration/dataviz-api-ghaction.js
  tests/end2end/cypress/integration/error_occurred-ghaction.js
  tests/end2end/playwright.config.ts
  tests/end2end/playwright/requests-dataviz-api.spec.js
Labels: run end2end, backport release_3_7, backport release_3_8, backport release_3_9

#5244 Backport about Playwright tags and Cypress migration
  .github/workflows/e2e_tests.yml
  tests/README.md
  tests/end2end/cypress/integration/dataviz-api-ghaction.js
  tests/end2end/cypress/integration/error_occurred-ghaction.js
  tests/end2end/cypress/integration/requests-metadata-ghaction.js
  tests/end2end/playwright.config.ts
  tests/end2end/playwright/auth.setup.ts
  tests/end2end/playwright/requests-dataviz-api.spec.js
  tests/end2end/playwright/requests-metadata.spec.js
Labels: tests, run end2end

#3857 [JavaScript] reduce mainLizmap dependencies
  assets/src/modules/Digitizing.js
  assets/src/modules/Lizmap.js
  assets/src/modules/Snapping.js
  assets/src/modules/Tooltip.js
  assets/src/modules/map.js
  assets/src/modules/state/Map.js
Labels: refactoring, javascript, run end2end, backport release_3_9

#5247 [Backport release_3_9] [JavaScript] reduce mainLizmap dependencies
  assets/src/modules/Digitizing.js
  assets/src/modules/Lizmap.js
  assets/src/modules/LocateByLayer.js
  assets/src/modules/Snapping.js
  assets/src/modules/Tooltip.js
  assets/src/modules/map.js
  assets/src/modules/state/Map.js
Labels: refactoring, javascript, run end2end

#5245 Refacto: avoid duplication of code in selectionTool
  assets/src/modules/SelectionTool.js
Labels: run end2end, backport release_3_8, backport release_3_9

#5249 Refacto: avoid duplication of code in selectionTool
  assets/src/modules/SelectionTool.js
Labels: run end2end

#5256 Tests - Migrate XSS tests to POM, check iframe
  tests/end2end/playwright/pages/project.js
  tests/end2end/playwright/xss.spec.js
  tests/qgis-projects/data/iframe_pdf.geojson
  tests/qgis-projects/tests/media/test.pdf
  tests/qgis-projects/tests/xss.qgs
  tests/qgis-projects/tests/xss.qgs.cfg
Labels: tests, run end2end, backport release_3_7, backport release_3_8, backport release_3_9

#5259 [Backport release_3_7] Tests - Migrate XSS tests to POM, check iframe
  tests/end2end/playwright/pages/project.js
  tests/qgis-projects/data/iframe_pdf.geojson
  tests/qgis-projects/tests/media/test.pdf
  tests/qgis-projects/tests/xss.qgs
  tests/qgis-projects/tests/xss.qgs.cfg
Labels: tests, run end2end

#5261 Fix: wrong distance constraint value
  assets/src/modules/Digitizing.js
Labels: run end2end, backport release_3_8, backport release_3_9

#5266 API - Add a method to retrieve the QGIS Lizmap server endpoint URL
  lizmap/modules/lizmap/classes/lizmapServices.class.php
  lizmap/modules/lizmap/lib/Server/Server.php
Labels: refactoring, run end2end, php, backport release_3_9

#5270 Makefile - Add command to chaneg the version and date of build for API doc
  .github/workflows/docs.yml
  Makefile
  docs/index.html
Labels: backport release_3_7, backport release_3_8, backport release_3_9

#5272 Guzzle - Content-Type is not always provided
  lizmap/modules/lizmap/lib/Request/Proxy.php
Labels: php, backport release_3_9

#5278 JSDoc - Try to forward the version number in the workflow
  .github/workflows/docs.yml
Labels: tests, backport release_3_7, backport release_3_8, backport release_3_9

#5279 JSDoc - Try to forward the version number in the workflow
  .github/workflows/docs.yml
  .gitignore
  docs/index.html
Labels: backport release_3_7, backport release_3_8, backport release_3_9

#5281 JSDoc - Try to forward the version number in the workflow
  .github/workflows/docs.yml
  .gitignore
  docs/index.html
Labels: backport release_3_7

#5263 fix authenticating layers against qGIS auth config
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/classes/qgisVectorLayerDatasource.class.php
  tests/units/edition/qgisVectorLayerDatasourceTest.php
Labels: bug, sponsored development, postgresql, run end2end, php, backport release_3_8, backport release_3_9

#5195 Merge fallback locales in lizDict
  lizmap/modules/view/controllers/translate.classic.php
Labels: localization, php, backport release_3_9

#5286 [Backport release_3_7] Fix: wrong distance constraint value
  assets/src/modules/Digitizing.js
Labels: user interface, map viewer, run end2end

#5295 Tests e2e playwright : Lint tests and POM
  tests/end2end/playwright/attribute-table.spec.js
  tests/end2end/playwright/globals.js
  tests/end2end/playwright/pages/admin.js
  tests/end2end/playwright/pages/base.js
  tests/end2end/playwright/pages/homepage.js
  tests/end2end/playwright/pages/project.js
  tests/end2end/playwright/requests-metadata.spec.js
Labels: tests, run end2end, backport release_3_7, backport release_3_8, backport release_3_9

#5298 [Backport release_3_7] Tests e2e playwright : Lint tests and POM
  tests/end2end/playwright/attribute-table.spec.js
  tests/end2end/playwright/globals.js
  tests/end2end/playwright/pages/admin.js
  tests/end2end/playwright/pages/base.js
  tests/end2end/playwright/pages/project.js
  tests/end2end/playwright/requests-metadata.spec.js
Labels: tests, run end2end

#5303 Restructuration package.json
  .eslintrc.json
  .github/workflows/e2e_tests.yml
  .github/workflows/tests.yml
  CONTRIBUTING.md
  Makefile
  assets/package.json
  assets/webpack.common.js
  package-lock.json
  package.json
  tests/README.md
  tests/docker-conf/phpfpm/appctl.sh
  tests/end2end/package-lock.json
  tests/end2end/package.json
  tests/end2end/playwright/axis_orientation.spec.js
  tests/end2end/playwright/overview.spec.js
  tests/end2end/playwright/permalink.spec.js
  tests/end2end/playwright/viewport.spec.js
  tests/js-units/node/config.test.js
  tests/js-units/node/config/attributeTable.test.js
  tests/js-units/node/config/base.test.js
  tests/js-units/node/config/baselayer.test.js
  tests/js-units/node/config/dataviz.test.js
  tests/js-units/node/config/edition.test.js
  tests/js-units/node/config/formFilter.test.js
  tests/js-units/node/config/layer.test.js
  tests/js-units/node/config/layerTree.test.js
  tests/js-units/node/config/layersOrder.test.js
  tests/js-units/node/config/locate.test.js
  tests/js-units/node/config/metadata.test.js
  tests/js-units/node/config/options.test.js
  tests/js-units/node/config/printTemplate.test.js
  tests/js-units/node/config/theme.test.js
  tests/js-units/node/config/timemanager.test.js
  tests/js-units/node/config/tools.test.js
  tests/js-units/node/config/tooltip.test.js
  tests/js-units/node/state.test.js
  tests/js-units/node/state/baselayer.test.js
  tests/js-units/node/state/externallayertree.test.js
  tests/js-units/node/state/externalmaplayer.test.js
  tests/js-units/node/state/layer.test.js
  tests/js-units/node/state/layerTree.test.js
  tests/js-units/node/state/map.test.js
  tests/js-units/node/state/maplayer.test.js
  tests/js-units/node/state/symbology.test.js
  tests/js-units/node/utils.test.js
  tests/js-units/node/utils/converters.test.js
  tests/js-units/node/utils/enums.test.js
  tests/js-units/node/utils/extent.test.js
  tests/js-units/node/wfs.test.js
  tests/js-units/node/wms.test.js
  tests/js-units/package-lock.json
  tests/js-units/package.json
Labels: javascript, run end2end, backport release_3_8, backport release_3_9

#5318 GH Action - Follow up about previous commits on the E2E matrix
  .github/workflows/cron_e2e.yml
  tests/Makefile
  tests/end2end/cypress.json
  tests/end2end/playwright.config.ts
  tests/end2end/playwright/xss.spec.js
  tests/lizmap-ctl
  tests/qgis-projects/tests/tests_dataset.sql
Labels: run end2end, backport release_3_8

#5306 E2E - Add some tags on CORS tests and flaky OpenLayers
  tests/end2end/playwright/cors.spec.js
  tests/end2end/playwright/custom-javascript-api.spec.js
Labels: run end2end, backport release_3_8, backport release_3_9
