Repository 3liz/lizmap-web-client, pull requests merged in 2025-04, with the labels that each got.

#5610 [Test] Refactoring e2e tests due to popup html changes
  tests/end2end/playwright/edition-form.spec.js
  tests/end2end/playwright/embedded-relation.spec.js
  tests/end2end/playwright/n_to_m_relations.spec.js
  tests/end2end/playwright/pages/project.js
  tests/end2end/playwright/webdav-upload.spec.js
Labels: sponsored development, tests, run end2end, backport release_3_8, backport release_3_9

#5609 Tests - Update some packages from Dependabot without bugfix versions
  .github/workflows/e2e_tests.yml
  package-lock.json
  package.json
Labels: tests, run end2end, backport release_3_8, backport release_3_9

#5613 [Backport release_3_9] [Test] Refactoring e2e tests due to popup html changes
  tests/end2end/playwright/edition-form.spec.js
  tests/end2end/playwright/embedded-relation.spec.js
  tests/end2end/playwright/n_to_m_relations.spec.js
  tests/end2end/playwright/pages/project.js
  tests/end2end/playwright/webdav-upload.spec.js
Labels: sponsored development, tests, run end2end, backport release_3_8

#5608 [Feature] Layer export capabilities based on attribute layers configuration
  assets/src/legacy/attributeTable.js
  assets/src/legacy/map.js
  assets/src/modules/config/AttributeTable.js
  lizmap/modules/lizmap/lib/Project/Project.php
  tests/end2end/playwright/attribute-table.spec.js
  tests/end2end/playwright/auth.setup.ts
  tests/end2end/playwright/pages/admin.js
  tests/end2end/playwright/pages/project.js
  tests/qgis-projects/tests/enable_export_acl.qgs
  tests/qgis-projects/tests/enable_export_acl.qgs.cfg
  tests/units/classes/Project/ProjectTest.php
Labels: sponsored development, tests, run end2end, attribute table, backport release_3_9

#5618 [Backport release_3_9][Feature] Layer export capabilities based on attribute layers
  assets/src/legacy/attributeTable.js
  assets/src/legacy/map.js
  assets/src/modules/config/AttributeTable.js
  lizmap/modules/lizmap/lib/Project/Project.php
  tests/end2end/playwright/attribute-table.spec.js
  tests/end2end/playwright/auth.setup.ts
  tests/end2end/playwright/pages/admin.js
  tests/end2end/playwright/pages/project.js
  tests/qgis-projects/tests/enable_export_acl.qgs
  tests/qgis-projects/tests/enable_export_acl.qgs.cfg
  tests/units/classes/Project/ProjectTest.php
Labels: new feature, sponsored development, run end2end

#5616 Move copy to clipboard button to its own template, to be able to reuse it
  lizmap/modules/admin/templates/server_information.tpl
  lizmap/modules/lizmap/templates/copy_to_clipboard.tpl
  lizmap/modules/view/templates/map_metadata.tpl
  lizmap/www/assets/js/copy_to_clipboard.js
Labels: backport release_3_8, backport release_3_9

#5622 Move copy to clipboard button to its own template, to be able to reus…
  lizmap/modules/admin/templates/server_information.tpl
  lizmap/modules/lizmap/templates/copy_to_clipboard.tpl
  lizmap/modules/view/templates/map_metadata.tpl
  lizmap/www/assets/js/copy_to_clipboard.js
Labels: backport release_3_8

#5627 Docs - Update documentation about wmsServerURL
  docker/lizmapConfig.ini.php.dist
  lizmap/modules/lizmap/install/config/lizmapConfig.ini.php
  lizmap/var/config/lizmapConfig.ini.php.dist
  tests/docker-conf/phpfpm/lizmapConfig.ini.php
Labels: backport release_3_8, backport release_3_9

#5624 Return correct HTTP code if the lizmap_search has failed
  lizmap/modules/lizmap/classes/lizmapFts.class.php
  lizmap/modules/lizmap/controllers/searchFts.classic.php
  tests/end2end/playwright/globals.js
  tests/end2end/playwright/location_search.spec.js
  tests/end2end/playwright/requests-api.spec.js
  tests/end2end/playwright/requests-metadata.spec.js
Labels: tests, run end2end, backport release_3_8, backport release_3_9

#5625 UX - Add tooltips on buttons in the maps management page (and remove this 1/0 about user defined themes)
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/maps.tpl
Labels: user interface, backport release_3_8, backport release_3_9

#5634 [backport release_3_8] Small refactoring about Lizmap search, return correct HTTP code
  lizmap/modules/lizmap/classes/lizmapFts.class.php
  lizmap/modules/lizmap/controllers/searchFts.classic.php
  tests/end2end/playwright/globals.js
  tests/end2end/playwright/location_search.spec.js
  tests/end2end/playwright/requests-api.spec.js
  tests/end2end/playwright/requests-metadata.spec.js
Labels: tests, run end2end

#5628 Tests - Enable the Py-QGIS-Server API
  tests/Makefile
  tests/README.md
  tests/docker-compose.yml
Labels: QGIS Server, tests, backport release_3_8, backport release_3_9

#5640 Feature: Enable lizmap-features-table for children in popup
  assets/src/legacy/map.js
  assets/src/modules/config/Layer.js
  assets/src/modules/state/Layer.js
  tests/end2end/playwright/popup.spec.js
Labels: user interface, new feature, run end2end, backport release_3_9

#5641 Tests e2e playwright: enhancing popups for release_3_8
  tests/end2end/playwright/popup.spec.js
Labels: tests, run end2end

#5635 Remove BBOX and proj name from the landing page
  lizmap/modules/view/templates/view.tpl
  tests/end2end/playwright/project-homepage.spec.js
Labels: user interface, run end2end, backport release_3_9

#5645 UX - Add tooltip on the project switcher
  lizmap/modules/admin/forms/config_services.form.xml
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
Labels: user interface, administration, backport release_3_8, backport release_3_9

#5657 [Backport release_3_8] Tests e2e Playwright Print: Mocking OSM and OpenTopoMap tiles
  tests/end2end/playwright/mock/base_layers/opentopomap/tiles/12/2091/1494.png
  tests/end2end/playwright/mock/base_layers/opentopomap/tiles/12/2091/1495.png
  tests/end2end/playwright/mock/base_layers/opentopomap/tiles/12/2091/1496.png
  tests/end2end/playwright/mock/base_layers/opentopomap/tiles/12/2092/1494.png
  tests/end2end/playwright/mock/base_layers/opentopomap/tiles/12/2092/1495.png
  tests/end2end/playwright/mock/base_layers/opentopomap/tiles/12/2092/1496.png
  tests/end2end/playwright/mock/base_layers/osm/tiles/12/2091/1494.png
  tests/end2end/playwright/mock/base_layers/osm/tiles/12/2091/1495.png
  tests/end2end/playwright/mock/base_layers/osm/tiles/12/2091/1496.png
  tests/end2end/playwright/mock/base_layers/osm/tiles/12/2092/1494.png
  tests/end2end/playwright/mock/base_layers/osm/tiles/12/2092/1495.png
  tests/end2end/playwright/mock/base_layers/osm/tiles/12/2092/1496.png
  tests/end2end/playwright/print.spec.js
Labels: tests, run end2end

#5652 Fix UI regression: Clear popup geometry
  assets/src/legacy/map.js
  tests/end2end/playwright/popup.spec.js
Labels: user interface, map viewer, sponsored development, run end2end, backport release_3_8, backport release_3_9

#5659 [Backport release_3_8] Fix UI regression: Clear popup geometry
  assets/src/legacy/map.js
  tests/end2end/playwright/popup.spec.js
Labels: user interface, map viewer, sponsored development, run end2end

#5596 API: GET info on project
  lizmap/modules/admin_api/controllers/project_rest.classic.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  tests/api/openapi.yaml
  tests/end2end/playwright/requests-api.spec.js
Labels: administration, run end2end, backport release_3_8, backport release_3_9

#5664 Minor updates on docstring PHP in the project API
  lizmap/modules/admin_api/controllers/project_rest.classic.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  tests/end2end/playwright/requests-api.spec.js
Labels: run end2end, backport release_3_9

#5671 API: POST repository (create & edit)
  lizmap/modules/admin_api/controllers/repository_rest.classic.php
  lizmap/modules/admin_api/controllers/repository_rights_rest.classic.php
  lizmap/modules/admin_api/lib/Error.php
  lizmap/modules/admin_api/lib/Utils.php
  lizmap/modules/admin_api/urls.xml
  tests/api/openapi.yaml
Labels: run end2end, php, backport release_3_8, backport release_3_9, API

#5667 Lizmap-features-table : Add layer ID in the signal highlighted
  assets/src/components/FeaturesTable.js
Labels: javascript, run end2end, backport release_3_8, backport release_3_9

#5677 Docs - Review JSDoc about Lizmap-Features-Table, deprecated events
  Makefile
  assets/src/components/FeaturesTable.js
  assets/src/modules/FeaturesTable.js
  docs/jsdoc.json
  docs/jsdoc.md
  package.json
Labels: javascript, run end2end, backport release_3_8, backport release_3_9

#5680 [Backport release-3_8] Docs - Review JSDoc about Lizmap-Features-Table
  Makefile
  assets/src/components/FeaturesTable.js
  assets/src/modules/FeaturesTable.js
  docs/jsdoc.json
  docs/jsdoc.md
Labels: javascript, run end2end

#5682 JS Attribte Table: format big data
  assets/src/legacy/attributeTable.js
Labels: user interface, sponsored development, run end2end, attribute table

#5681 [Release_3_9] JS Attribte Table: format big data
  assets/src/legacy/attributeTable.js
Labels: user interface, sponsored development, run end2end, attribute table

#5676 [Release_3_8] JS Attribte Table: format big data
  assets/src/legacy/attributeTable.js
Labels: user interface, sponsored development, run end2end, attribute table

#5653 Fix: When using quick search menu you can't zoom back to a feature after moving the map
  assets/src/modules/Search.js
Labels: bug, run end2end, backport release_3_8, backport release_3_9, search

#5691 [Backport release_3_8] Fix: When using quick search menu you can't zoom back to a feature after moving the map
  assets/src/modules/Search.js
Labels: bug, run end2end, search

#5693 [Backport release-3_9] Fix tests in print when the project has been updated
  lizmap/modules/admin_api/controllers/project_rest.classic.php
  lizmap/modules/lizmap/lib/App/VersionTools.php
  tests/api/openapi.yaml
  tests/end2end/playwright/globals.js
  tests/end2end/playwright/print.spec.js
  tests/units/classes/App/VersionToolsTest.php
Labels: tests, run end2end, backport release_3_8

#5692 JS component digitizing and Draw e2e tests
  assets/src/components/Digitizing.js
  tests/end2end/playwright/draw.spec.js
  tests/end2end/playwright/pages/drawpage.js
Labels: user interface, run end2end, backport release_3_8, backport release_3_9, draw
