Repository 3liz/lizmap-web-client, pull requests merged in 2025-07, with the labels that each got.

#5854 Support HTTP Range header for files in media with GetMedia
  lizmap/modules/view/controllers/media.classic.php
  tests/end2end/playwright/media.spec.js
Labels: sponsored development, php, backport release_3_9, media, backport release_3_10

#5851 add opengraph tags for map page
  lizmap/modules/view/controllers/lizMap.classic.php
Labels: backport release_3_9, backport release_3_10

#5892 Some updates in JS and GH Actions versions
  .github/workflows/e2e_tests.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
Labels: github_actions, javascript, backport release_3_9, backport release_3_10

#5893 GH Action - Upgrade QGIS and PHP version for bleeding edge
  .github/workflows/e2e_tests.yml
Labels: backport release_3_9, backport release_3_10

#5901 Fix JS: LocateByLayer does not support null value because of DOMPurify.sanitize Suite
  assets/src/modules/LocateByLayer.js
Labels: sponsored development, javascript, backport release_3_9, backport release_3_10

#5907 Fix: Modal is not closed when lizmap is opened in a new tab from anot…
  assets/src/legacy/map.js
Labels: javascript, backport release_3_9, backport release_3_10

#5925 JavaScript - Update dependancies about rspack and JSDoc
  package-lock.json
  package.json
Labels: backport release_3_8, backport release_3_9, backport release_3_10

#5942 Detect entry point when login event and adapt event key
  lizmap/modules/lizmap/classes/lizmapLog.listener.php
  lizmap/modules/lizmap/daos/logDetail.dao.xml
Labels: backport release_3_9, backport release_3_10

#5962 PHP: Apply simplify if return bool from Rector
  lizmap/modules/lizmap/classes/lizmapServices.class.php
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/lib/Form/QgisFormValueRelationDynamicDatasource.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/ProjectConfig.php
  lizmap/modules/lizmap/lib/Project/ProjectMainData.php
  lizmap/modules/lizmap/lib/Project/ProjectMetadata.php
  lizmap/modules/lizmap/lib/Request/WFSRequest.php
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  tests/units/rector.php
Labels: php, backport release_3_9, backport release_3_10

#5961 Fix: WFS GetFeature on PostGIS does not checked if the layer is published
  assets/src/legacy/map.js
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/ProjectCache.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  lizmap/modules/lizmap/lib/Request/OGCRequest.php
  lizmap/modules/lizmap/lib/Request/WFSRequest.php
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
  tests/end2end/cypress/integration/requests-service-ghaction.js
  tests/end2end/cypress/integration/requests-wfs-ghaction.js
  tests/end2end/playwright/pages/project.js
  tests/end2end/playwright/requests-wfs.spec.js
  tests/end2end/playwright/startup.spec.js
  tests/qgis-projects/tests/startup.qgs
  tests/units/classes/Project/Qgis/ProjectPropertiesTest.php
  tests/units/classes/Project/QgisProjectTest.php
Labels: QGIS Server, php, backport release_3_8, backport release_3_9, backport release_3_10

#5983 Pre-commit: Update ESLint and StyleLint to have the same version as in package.json
  .pre-commit-config.yaml
Labels: CI & packages, dependencies, backport release_3_9, backport release_3_10

#5988 [Backport release_3_8] Tests e2e Playwright: enhancing page.openEditingFormWithLayer to wait for form
  tests/end2end/playwright/pages/project.js
Labels: editing form, tests

#5989 [Backport release_3_8] lizmap-features-table: Display a message when no features found
  assets/src/components/FeaturesTable.js
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
Labels: popup, sponsored development, javascript

#5990 Test e2e Playwright: enhancing group visibilities and filtered list
  tests/end2end/playwright/form_advanced.spec.js
  tests/end2end/playwright/pages/project.js
Labels: editing form, tests, backport release_3_8, backport release_3_9, backport release_3_10
