Repository 3liz/lizmap-web-client, pull requests merged in 2025-05, with the labels that each got.

#5694 [Backport release_3_9] JS component digitizing and Draw e2e tests
  assets/src/components/Digitizing.js
  tests/end2end/playwright/draw.spec.js
  tests/end2end/playwright/pages/drawpage.js
  tests/end2end/playwright/popup.spec.js
Labels: user interface, run end2end, draw

#5690 Docs - Trying to improve jsdoc event for MapState
  assets/src/modules/state/Map.js
Labels: javascript, backport release_3_8, backport release_3_9

#5689 Docs - Trying to improve jsdoc event for lizmap-features-table without deprecation
  assets/src/components/FeaturesTable.js
Labels: javascript, backport release_3_8, backport release_3_9

#5636 Remove BBOX and proj name from project info
  lizmap/modules/view/locales/en_US/default.UTF-8.properties
  lizmap/modules/view/templates/view.tpl
Labels: user interface, run end2end, backport release_3_9

#5646 Force QGIS Server to use Py-QGIS-Server
  lizmap/app/system/mainconfig.ini.php
  lizmap/modules/admin/controllers/server_information.classic.php
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/server_information.tpl
  lizmap/modules/lizmap/lib/Server/Server.php
  lizmap/modules/view/controllers/default.classic.php
  lizmap/modules/view/controllers/lizMap.classic.php
  lizmap/var/config/localconfig.ini.php.dist
Labels: doc-needed, QGIS Server, administration, run end2end, backport release_3_9

#5709 Remove BBOX and proj name from project info
  lizmap/modules/view/locales/en_US/default.UTF-8.properties
  lizmap/modules/view/templates/view.tpl
Labels: run end2end

#5702 Feature JS Digitizing: scaling and apply if the feature is unique
  assets/src/components/Digitizing.js
  assets/src/images/svg/scaling.svg
  assets/src/modules/Digitizing.js
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
Labels: user interface, sponsored development, javascript, run end2end, backport release_3_9, draw

#5710 [Backport release_3_9] Feature JS Digitizing: scaling and apply if the feature is unique
  assets/src/components/Digitizing.js
  assets/src/images/svg/scaling.svg
  assets/src/modules/Digitizing.js
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
Labels: user interface, sponsored development, javascript, run end2end, draw

#5647 JS Digitizing - enhancing module, component and the way to use them
  assets/src/components/ActionSelector.js
  assets/src/components/Digitizing.js
  assets/src/modules/Action.js
  assets/src/modules/Digitizing.js
  assets/src/modules/SelectionTool.js
  lizmap/modules/view/templates/map_draw.tpl
  tests/end2end/playwright/draw.spec.js
Labels: user interface, javascript, run end2end, action, backport release_3_9

#5251 Fix: incorrect replacement in `<a href="media/"><img src="media/"></a>`
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  tests/end2end/playwright/popup.spec.js
  tests/qgis-projects/tests/popup.qgs
  tests/units/classes/Request/WMSRequestTest.php
  tests/units/testslib/WMSRequestForTests.php
Labels: popup, sponsored development, run end2end, backport release_3_8, backport release_3_9

#5712 [Backport release_3_9] JS Digitizing - enhancing module, component and the way to use them
  assets/src/components/ActionSelector.js
  assets/src/components/Digitizing.js
  assets/src/modules/Action.js
  assets/src/modules/Digitizing.js
  assets/src/modules/SelectionTool.js
  lizmap/modules/view/templates/map_draw.tpl
  tests/end2end/playwright/draw.spec.js
Labels: user interface, javascript, run end2end, action

#5714 [Backport release_3_9] Fix: incorrect replacement in `<a href="media/"><img src="media/"></a>`
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  tests/end2end/playwright/popup.spec.js
  tests/qgis-projects/tests/popup.qgs
  tests/units/classes/Request/WMSRequestTest.php
  tests/units/testslib/WMSRequestForTests.php
Labels: popup, sponsored development, run end2end

#5716 Javascript - Set ESLint to max 250 characters
  assets/src/components/MousePosition.js
  assets/src/components/Treeview.js
  assets/src/dependencies/mgrs.js
  eslint.config.mjs
  tests/end2end/playwright/draw.spec.js
  tests/end2end/playwright/legend.spec.js
  tests/end2end/playwright/snap.spec.js
  tests/end2end/playwright/webdav-upload.spec.js
Labels: javascript, run end2end, backport release_3_9

#5715 [Backport release_3_8] Fix: incorrect replacement in `<a href="media/"><img src="media/"></a>`
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  tests/end2end/playwright/popup.spec.js
  tests/qgis-projects/tests/popup.qgs
  tests/units/classes/Request/WMSRequestTest.php
  tests/units/testslib/WMSRequestForTests.php
Labels: popup, sponsored development, run end2end

#5724 JS Doc: right references to EventDispatched for MapState events
  assets/src/modules/state/Map.js
Labels: javascript, backport release_3_8, backport release_3_9

#5733 Fix component Digitizing: BS5 dropdown
  assets/src/components/Digitizing.js
Labels: run end2end, draw

#5736 [Bugfix] The WMS Capability root layer has no bounding boxes
  assets/src/modules/Lizmap.js
Labels: map viewer, javascript, run end2end, backport release_3_8, backport release_3_9

#5734 Fix Digitizing module: deactivate it when draw is closed
  assets/src/modules/Digitizing.js
Labels: user interface, sponsored development, run end2end, backport release_3_8, backport release_3_9, draw

#5740 [Backport release_3_8] Fix Digitizing module: deactivate it when draw is closed
  assets/src/modules/Digitizing.js
Labels: user interface, sponsored development, run end2end, draw

#5742 Tests - Add E2E for WFS export ACL
  tests/end2end/playwright/auth.setup.ts
  tests/end2end/playwright/information-panel.spec.js
  tests/end2end/playwright/pages/project.js
  tests/end2end/playwright/requests-metadata.spec.js
  tests/qgis-projects/tests/set_tests_respository_rights.sql
Labels: run end2end

#5741 Metadata - Add WFS link if the user has enough rights
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/ProjectMainData.php
  lizmap/modules/lizmap/lib/Project/ProjectMetadata.php
  lizmap/modules/view/classes/lizmapMainViewItem.class.php
  lizmap/modules/view/controllers/lizMap.classic.php
  lizmap/modules/view/templates/map_metadata.tpl
  lizmap/modules/view/templates/view.tpl
  lizmap/modules/view/zones/main_view.zone.php
  tests/end2end/playwright/auth.setup.ts
  tests/end2end/playwright/information-panel.spec.js
  tests/end2end/playwright/pages/project.js
  tests/end2end/playwright/requests-metadata.spec.js
  tests/qgis-projects/tests/set_tests_respository_rights.sql
Labels: run end2end

#5743 Fix JS Attribte Table: format big data
  assets/src/legacy/attributeTable.js
  tests/end2end/playwright/attribute-table.spec.js
  tests/end2end/playwright/pages/project.js
  tests/qgis-projects/tests/attribute_table.qgs
  tests/qgis-projects/tests/attribute_table.qgs.cfg
  tests/qgis-projects/tests/attribute_table/points.fgb
Labels: bug, sponsored development, run end2end, attribute table, backport release_3_8, backport release_3_9

#5287 PHP - Increase minimum version to 8.2
  .github/workflows/lint.yml
  .github/workflows/php-stan.yml
  .github/workflows/tests.yml
  .gitlab-ci.yml
  CHANGELOG-3.10.md
  dev/Dockerfile
  docker/Dockerfile
  lizmap/composer.json
  tests/README.md
  tests/units/composer.json
Labels: run end2end, php

#5747 [Backport release_3_8] Fix JS Attribte Table: format big data
  assets/src/legacy/attributeTable.js
  tests/end2end/playwright/attribute-table.spec.js
  tests/end2end/playwright/pages/project.js
  tests/qgis-projects/tests/attribute_table.qgs
  tests/qgis-projects/tests/attribute_table.qgs.cfg
  tests/qgis-projects/tests/attribute_table/points.fgb
Labels: bug, sponsored development, run end2end, attribute table

#5755 Admin - Check if repository key exists before accessing it
  lizmap/modules/admin/templates/server_information.tpl
Labels: administration, backport release_3_8, backport release_3_9

#5762 Fix JS Action - reset HTML message
  assets/src/modules/Action.js
Labels: sponsored development, javascript, run end2end, action, backport release_3_9

#5758 Update Lizmap.js
  assets/src/modules/Lizmap.js
Labels: map viewer, javascript, run end2end, backport release_3_8, backport release_3_9

#5759 Update Lizmap.js
  assets/src/modules/Lizmap.js
Labels: map viewer, javascript, backport release_3_8, backport release_3_9

#5770 Optimize fts query to use the index
  lizmap/modules/lizmap/classes/lizmapFts.class.php
Labels: sponsored development, run end2end, php, backport release_3_8, backport release_3_9

#5773 [Backport release_3_8] API: GET info on project
  lizmap/modules/admin_api/controllers/project_rest.classic.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  tests/api/openapi.yaml
  tests/end2end/playwright/requests-api.spec.js
Labels: administration, run end2end, API

#5780 [Backport release_3_8] Fix: `0` integer is transformed to an empty string by `DOMPurify.sanitize()`
  assets/src/legacy/filter.js
  assets/src/legacy/map.js
Labels: user interface, sponsored development, javascript, run end2end
