Repository 3liz/lizmap-web-client, pull requests merged in 2025-08, with the labels that each got.

#5997 check URL when submitting AccessControlAllowOrigin in admin Form
  lizmap/modules/admin/controllers/maps.classic.php
Labels: administration, backport release_3_8, backport release_3_9, backport release_3_10

#6000 [Backport release_3_8] check URL when submitting AccessControlAllowOrigin in admin Form
  lizmap/modules/admin/controllers/maps.classic.php
Labels: administration

#6001 Fix e2e playwright tests popup: default buffer length
  tests/end2end/playwright/popup.spec.js
Labels: popup, tests, backport release_3_8, backport release_3_9, backport release_3_10

#6004 [Backport release_3_10] Fix e2e playwright tests popup: default buffer length
  tests/end2end/playwright/popup.spec.js
Labels: popup, tests

#6003 [Backport release_3_9] Fix e2e playwright tests popup: default buffer length
  tests/end2end/playwright/popup.spec.js
Labels: popup, tests

#6002 [Backport release_3_8] Fix e2e playwright tests popup: default buffer length
  tests/end2end/playwright/popup.spec.js
Labels: popup, tests

#6008 Tests: PHP-Unit 11 for local like in Github workflows
  tests/units/composer.json
Labels: tests, php, backport release_3_8, backport release_3_9, backport release_3_10

#6010 Tests e2e: enhancing tooltips tests
  tests/end2end/playwright/tooltip.spec.js
Labels: tests, tooltip, backport release_3_8, backport release_3_9, backport release_3_10

#6013 [Backport release_3_8] Tests: fix restrict key for dumping database
  tests/lizmap-ctl
  tests/qgis-projects/tests/tests_dataset.sql
Labels: tests

#6014 Tooltip - Fix configured fields not used when HTML template is not defined
  lizmap/modules/lizmap/controllers/features.classic.php
  tests/end2end/playwright/tooltip.spec.js
  tests/qgis-projects/tests/tooltip.qgs
  tests/qgis-projects/tests/tooltip.qgs.cfg
Labels: regression, backport release_3_8, backport release_3_9, backport release_3_10

#6022 [Backport release_3_10] GH Action tests: add setup-node to get npm cache
  .github/workflows/e2e_tests.yml
  .github/workflows/lint.yml
  .github/workflows/php-stan.yml
  .github/workflows/tests.yml
  tests/end2end/playwright/qgis-request.spec.js
  tests/end2end/playwright/requests-api.spec.js
  tests/end2end/playwright/requests-wfs.spec.js
Labels: CI & packages, tests

#6023 [Backport release_3_9] GH Action tests: add setup-node to get npm cache
  .github/workflows/e2e_tests.yml
  .github/workflows/lint.yml
  .github/workflows/php-stan.yml
  .github/workflows/tests.yml
  tests/end2end/playwright/qgis-request.spec.js
  tests/end2end/playwright/requests-api.spec.js
  tests/end2end/playwright/requests-wfs.spec.js
Labels: CI & packages, tests

#6024 [Backport release_3_8] GH Action tests: add setup-node to get npm cache
  .github/workflows/e2e_tests.yml
  .github/workflows/php-stan.yml
  .github/workflows/tests.yml
  tests/end2end/playwright/qgis-request.spec.js
  tests/end2end/playwright/requests-api.spec.js
  tests/end2end/playwright/requests-wfs.spec.js
Labels: CI & packages, tests

#6025 [Backport release_3_8] Tooltip - Fix configured fields not used when HTML template is not defined
  lizmap/modules/lizmap/controllers/features.classic.php
  tests/end2end/playwright/tooltip.spec.js
  tests/qgis-projects/tests/tooltip.qgs
  tests/qgis-projects/tests/tooltip.qgs.cfg
Labels: regression

#6031 Tests e2e Playwright checkJSON: explicite response not ok
  tests/end2end/playwright/globals.js
  tests/end2end/playwright/popup.spec.js
Labels: tests, dataviz, backport release_3_9, backport release_3_10

#6030 [Backport release_3_8] Tests e2e: Porting Dataviz API form Cypress to Playwright
  tests/end2end/cypress/integration/dataviz-api-ghaction.js
  tests/end2end/playwright/globals.js
  tests/end2end/playwright/pages/project.js
  tests/end2end/playwright/popup.spec.js
  tests/end2end/playwright/requests-dataviz-api.spec.js
Labels: tests, dataviz

#6035 GH Action - Update PHP-Unit version for PHP 8.3 and 8.4
  .github/workflows/tests.yml
  tests/units/classes/Form/QgisFormTest.php
  tests/units/classes/Log/ConfigTest.php
  tests/units/classes/Log/ItemTest.php
  tests/units/classes/Project/ProjectConfigTest.php
  tests/units/classes/Project/ProjectTest.php
  tests/units/classes/Project/QgisProjectTest.php
  tests/units/classes/Request/ProxyTest.php
  tests/units/classes/Request/WFSRequestTest.php
  tests/units/classes/Request/WMSRequestTest.php
  tests/units/classes/lizmapRepositoryTest.php
  tests/units/classes/lizmapServicesTest.php
Labels: CI & packages, tests, php, backport release_3_8, backport release_3_9, backport release_3_10

#6037 [Backport release_3_9] Deprecate `run-docker`
  .github/workflows/e2e_tests.yml
  tests/Makefile
  tests/README.md
  tests/add_server_plugins.sh
  tests/docker-conf/unstable-plugin-sources.list
Labels: enhancement, CI & packages, tests

#6040 [Backport release_3_9] GH Action - Update PHP-Unit version for PHP 8.3 and 8.4
  .github/workflows/tests.yml
  tests/units/classes/Form/QgisFormTest.php
  tests/units/classes/Log/ConfigTest.php
  tests/units/classes/Log/ItemTest.php
  tests/units/classes/Project/ProjectConfigTest.php
  tests/units/classes/Project/ProjectTest.php
  tests/units/classes/Project/QgisProjectTest.php
  tests/units/classes/Request/ProxyTest.php
  tests/units/classes/Request/WFSRequestTest.php
  tests/units/classes/Request/WMSRequestTest.php
  tests/units/classes/lizmapRepositoryTest.php
  tests/units/classes/lizmapServicesTest.php
Labels: CI & packages, tests, php

#6045 Tests e2e playwright: enhancing Overview and Treeview tests
  tests/end2end/playwright/globals.js
  tests/end2end/playwright/overview.spec.js
  tests/end2end/playwright/treeview.spec.js
Labels: tests, backport release_3_9, backport release_3_10

#6050 Tests e2e Playwright: enhancing checking Getcapabilities URL in API
  tests/end2end/playwright/requests-api.spec.js
Labels: tests, backport release_3_8, backport release_3_9, API, backport release_3_10
