Repository 3liz/lizmap-web-client, pull requests merged in 2025-06, with the labels that each got.

#5794 [Backport release_3_9] Fix: Printing with text drawing/labels is broken
  assets/src/components/Print.js
  tests/end2end/playwright/print.spec.js
Labels: printing, run end2end

#5795 [Backport release_3_8] Fix: Printing with text drawing/labels is broken
  assets/src/components/Print.js
  tests/end2end/playwright/pages/drawpage.js
  tests/end2end/playwright/print.spec.js
Labels: printing, run end2end

#5798 Update lizmapFts.class.php - upgrade item_filter to accept comma-seperated list
  lizmap/modules/lizmap/classes/lizmapFts.class.php
Labels: enhancement, doc-needed, php, backport release_3_8, backport release_3_9, search

#5749 JS initialize Lizmap Application from not legacy code
  assets/src/index.js
  assets/src/legacy/map.js
Labels: user interface, map viewer, run end2end, backport release_3_8, backport release_3_9

#5803 Fix GetLegendGraphic speed: Put single layer request in project cache
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
Labels: sponsored development, run end2end, legend/layer tree, backport release_3_8, backport release_3_9

#5804 [Backport release_3_9] JS initialize Lizmap Application from not legacy code
  assets/src/index.js
  assets/src/legacy/map.js
Labels: user interface, map viewer, run end2end

#5810 [Backport release_3_8] Catching Guzzle client exceptions
  lizmap/modules/lizmap/lib/Request/Proxy.php
Labels: sponsored development, run end2end, php

#5830 Test e2e: move from cypress to playwright Form edition without creation
  tests/end2end/cypress/integration/form_edition_without_creation-ghaction.js
  tests/end2end/playwright/edition-form.spec.js
Labels: editing form, tests, run end2end, failed backport, backport release_3_8, backport release_3_9

#5832 [Backport release_3_8] Test e2e: move from cypress to playwright Form edition without creation
  tests/end2end/cypress/integration/form_edition_without_creation-ghaction.js
  tests/end2end/playwright/edition-form.spec.js
Labels: editing form, tests, run end2end

#5829 Tests e2e: Move one test for Cypress to Playwright about feature toolbar in popup with geometry
  tests/end2end/cypress/integration/feature_toolbar-ghaction.js
  tests/end2end/playwright/popup.spec.js
Labels: tests, run end2end, backport release_3_8, backport release_3_9

#5826 Simplify test stack launch
  .github/workflows/e2e_tests.yml
Labels: run end2end, backport release_3_8, backport release_3_9

#5836 [Backport release-3_9] Simplify test stack launch
  .github/workflows/e2e_tests.yml
Labels: run end2end, backport release_3_8

#5837 Simplify test stack launch
  .github/workflows/e2e_tests.yml
Labels: run end2end

#5840 GH Actions - Switch to PHP 8.2, remove fixed time sleep in action, curl is better
  .github/workflows/e2e_tests.yml
Labels: run end2end

#5825 Raise QGIS minimum version to 3.40 and LWC target version file to 3.7
  .github/workflows/e2e_tests.yml
  lizmap/app/system/mainconfig.ini.php
  release/release.md
  tests/Makefile
Labels: QGIS Server, tests, run end2end

#5835 GH Action - Remove the use of label run E2E and cron job
  .github/workflows/cron_e2e.yml
  .github/workflows/e2e_tests.yml
Labels: backport release_3_8, backport release_3_9

#5853 [Backport release_3_9] Update OL to 10.6.1
  package-lock.json
  package.json
Labels: map viewer, javascript

#5850 CI: create a docker compose`dev` profile
  tests/README.md
  tests/docker-compose.yml
Labels: backport release_3_8, backport release_3_9, backport release_3_10

#5859 Fix: plus and minus selection buttons
  assets/src/components/SelectionTool.js
  tests/end2end/playwright/pages/selectionpage.js
  tests/end2end/playwright/selection-tool.spec.js
Labels: backport release_3_9, backport release_3_10

#5865 Use rspack instead of webpack
  package-lock.json
  package.json
  tests/docker-conf/phpfpm/Dockerfile
  tests/docker-conf/phpfpm/appctl.sh
Labels: backport release_3_8, backport release_3_9, backport release_3_10
