Repository 3liz/lizmap-web-client, pull requests merged in 2025-03, with the labels that each got.

#5494 Update some versions in package.json and GH Actions
  .github/dependabot.yml
  .github/workflows/e2e_tests.yml
  package.json
Labels: tests, run end2end, backport release_3_8, backport release_3_9

#5501 Update some versions in package.json again
  package-lock.json
  package.json
Labels: tests

#5499 Update some versions in package.json and GH Actions
  .github/dependabot.yml
  .github/workflows/e2e_tests.yml
  package-lock.json
  package.json
Labels: tests, run end2end

#5502 Drop pixelmatch from package.json
  package-lock.json
  package.json
Labels: tests, backport release_3_8, backport release_3_9

#5480 Show not found layers in the CFG for admins
  assets/src/modules/ExecuteJSFromServer.js
  lizmap/modules/view/controllers/lizMap.classic.php
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
Labels: administration pages, run end2end, backport release_3_8, backport release_3_9

#5462 [Fix] QGIS constraint with geometry
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  tests/end2end/playwright/axis_orientation.spec.js
  tests/units/classes/Form/QgisFormTest.php
Labels: editing form, sponsored development, run end2end, php, expression, backport release_3_8, backport release_3_9

#5507 [Backport release_3_8] [Fix] QGIS constraint with geometry
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  tests/end2end/playwright/axis_orientation.spec.js
  tests/units/classes/Form/QgisFormTest.php
Labels: editing form, sponsored development, run end2end, php, expression

#5505 Always log in the console in case of warnings, display a message for GIS for invalid layers in CFG
  assets/src/modules/ExecuteJSFromServer.js
  lizmap/modules/view/controllers/lizMap.classic.php
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
Labels: administration pages, run end2end, backport release_3_8

#5509 Always log in the console in case of warnings, display a message for GIS for invalid layers in CFG
  assets/src/modules/ExecuteJSFromServer.js
  lizmap/modules/view/controllers/lizMap.classic.php
  lizmap/modules/view/locales/en_US/dictionnary.UTF-8.properties
Labels: administration pages, tests, run end2end

#5384 Google maptile add Terrain layer
  assets/src/modules/config/BaseLayer.js
  tests/end2end/playwright/google-basemap.spec.js
  tests/qgis-projects/tests/google_apikey_basemap.qgs
  tests/qgis-projects/tests/google_apikey_basemap.qgs.cfg
  tests/qgis-projects/tests/google_basemap.qgs
  tests/qgis-projects/tests/google_basemap.qgs.cfg
Labels: enhancement, map viewer, sponsored development, javascript, run end2end, backport release_3_8, backport release_3_9

#5288 Header - Add authenticated user organization in hidden fields
  lizmap/modules/lizmap/templates/user_menu.tpl
  tests/end2end/playwright/header.spec.js
  tests/qgis-projects/tests/set_tests_respository_rights.sql
Labels: sponsored development, run end2end, backport release_3_8, backport release_3_9

#5516 [Backport] Header - Add authenticated user organization in hidden fields
  lizmap/modules/lizmap/templates/user_menu.tpl
  tests/end2end/playwright/header.spec.js
  tests/qgis-projects/tests/set_tests_respository_rights.sql
Labels: sponsored development, run end2end, backport release_3_8

#5485 [Bugfix] Consider the opacity of groups for printing
  assets/src/components/Print.js
  assets/src/modules/state/Layer.js
  assets/src/modules/state/MapLayer.js
  tests/end2end/playwright/pages/printpage.js
  tests/end2end/playwright/pages/project.js
  tests/end2end/playwright/print.spec.js
  tests/qgis-projects/tests/group_as_layer_opacity.qgs
  tests/qgis-projects/tests/group_as_layer_opacity.qgs.cfg
Labels: printing, sponsored development, run end2end, backport release_3_8, backport release_3_9

#5478 Admin - Display if the installation is not complete according to versions in installed modules
  lizmap/modules/admin/controllers/server_information.classic.php
  lizmap/modules/admin/lib/ModulesInfo/ModulesChecker.php
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/server_information.tpl
  lizmap/modules/lizmap/lib/Server/Server.php
  lizmap/modules/view/controllers/app.classic.php
  tests/end2end/playwright/requests-metadata.spec.js
Labels: administration pages, run end2end, backport release_3_8, backport release_3_9

#5521 Admin - Display if the installation is not complete according to versions in installed modules
  lizmap/modules/admin/controllers/server_information.classic.php
  lizmap/modules/admin/lib/ModulesInfo/ModulesChecker.php
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/server_information.tpl
  lizmap/modules/lizmap/lib/Server/Server.php
  lizmap/modules/view/controllers/app.classic.php
  tests/end2end/playwright/requests-metadata.spec.js
Labels: run end2end

#5522 Console - Add the number of warnings
  assets/src/modules/ExecuteJSFromServer.js
  lizmap/modules/view/controllers/lizMap.classic.php
Labels: backport release_3_8, backport release_3_9

#5526 [Backport release_3_8] [Bugfix] Consider the opacity of groups for printing
  assets/src/components/Print.js
  assets/src/modules/state/Layer.js
  assets/src/modules/state/MapLayer.js
  tests/end2end/playwright/pages/printpage.js
  tests/end2end/playwright/pages/project.js
  tests/end2end/playwright/print.spec.js
  tests/qgis-projects/tests/group_as_layer_opacity.qgs
  tests/qgis-projects/tests/group_as_layer_opacity.qgs.cfg
Labels: printing, sponsored development, run end2end

#5525 fix: In Guzzle, provided HTTP headers is an array
  lizmap/modules/lizmap/lib/Request/OGCRequest.php
  lizmap/modules/lizmap/lib/Request/Proxy.php
Labels: run end2end, php, backport release_3_8, backport release_3_9

#5531 [Bugfix] LocatByLayer - Error after automatic ESlint
  assets/src/modules/LocateByLayer.js
Labels: javascript, run end2end, backport release_3_8, backport release_3_9

#5536 fix: The version of LWC has a commit number in the version name, drop it for comparing to modules version
  lizmap/modules/admin/controllers/server_information.classic.php
  lizmap/modules/admin/zones/project_list.zone.php
  lizmap/modules/lizmap/lib/App/VersionTools.php
  tests/units/classes/App/VersionToolsTest.php
Labels: tests, run end2end, php, backport release_3_8, backport release_3_9

#5538 fix: The version of LWC has a commit number in the version name, drop…
  lizmap/modules/admin/controllers/server_information.classic.php
  lizmap/modules/admin/zones/project_list.zone.php
  lizmap/modules/lizmap/lib/App/VersionTools.php
  tests/units/classes/App/VersionToolsTest.php
Labels: tests, run end2end, php

#5535 [Bugfix] workaround for the issue when QGIS server timed out when requesting the legend
  assets/src/modules/action/Symbology.js
  tests/end2end/playwright/treeview.spec.js
Labels: sponsored development, javascript, run end2end, legend/layer tree, backport release_3_8, backport release_3_9

#5543 Tests - Update all QGS files from SSL disable to SSL prefer
  tests/qgis-projects/tests/atlas.qgs
  tests/qgis-projects/tests/attribute_table.qgs
  tests/qgis-projects/tests/base_layers with space.qgs
  tests/qgis-projects/tests/base_layers.qgs
  tests/qgis-projects/tests/base_layers.withdot.qgs
  tests/qgis-projects/tests/cache.qgs
  tests/qgis-projects/tests/children_in_relation_div.qgs
  tests/qgis-projects/tests/display_in_legend.qgs
  tests/qgis-projects/tests/dnd_form.qgs
  tests/qgis-projects/tests/draw.qgs
  tests/qgis-projects/tests/embed_child.qgs
  tests/qgis-projects/tests/embed_parent.qgs
  tests/qgis-projects/tests/feature_toolbar.qgs
  tests/qgis-projects/tests/filter_layer_by_user.qgs
  tests/qgis-projects/tests/filter_layer_data_by_polygon_for_groups.qgs
  tests/qgis-projects/tests/form_advanced.qgs
  tests/qgis-projects/tests/form_edit_related_child_data.qgs
  tests/qgis-projects/tests/form_edition.qgs
  tests/qgis-projects/tests/form_edition_all_field_type.qgs
  tests/qgis-projects/tests/form_edition_multilayer_snap.qgs
  tests/qgis-projects/tests/form_edition_simple_fields.qgs
  tests/qgis-projects/tests/form_edition_snap.qgs
  tests/qgis-projects/tests/form_edition_value_relation_field.qgs
  tests/qgis-projects/tests/form_edition_without_creation.qgs
  tests/qgis-projects/tests/form_filter.qgs
  tests/qgis-projects/tests/form_type_relational_value.qgs
  tests/qgis-projects/tests/form_upload_webdav.qgs
  tests/qgis-projects/tests/get_feature_info_style.qgs
  tests/qgis-projects/tests/google_apikey_basemap.qgs
  tests/qgis-projects/tests/google_basemap.qgs
  tests/qgis-projects/tests/group_as_layer_opacity.qgs
  tests/qgis-projects/tests/groups_checkboxes.qgs
  tests/qgis-projects/tests/key_value_mapping.qgs
  tests/qgis-projects/tests/layer_legends.qgs
  tests/qgis-projects/tests/layer_order.qgs
  tests/qgis-projects/tests/lizmap_features_table.qgs
  tests/qgis-projects/tests/multiple_geom.qgs
  tests/qgis-projects/tests/n_to_m_relations.qgs
  tests/qgis-projects/tests/overview-2154.qgs
  tests/qgis-projects/tests/overview-3857.qgs
  tests/qgis-projects/tests/overview-4326.qgs
  tests/qgis-projects/tests/permalink.qgs
  tests/qgis-projects/tests/popup.qgs
  tests/qgis-projects/tests/print.qgs
  tests/qgis-projects/tests/print_3857.qgs
  tests/qgis-projects/tests/reverse_geom.qgs
  tests/qgis-projects/tests/selection.qgs
  tests/qgis-projects/tests/single_wms_image.qgs
  tests/qgis-projects/tests/startup.qgs
  tests/qgis-projects/tests/theme.qgs
  tests/qgis-projects/tests/time_manager.qgs
  tests/qgis-projects/tests/treeview.qgs
  tests/units/classes/Project/QgisProjectTest.php
  tests/units/classes/Project/Ressources/embed_child.qgs
  tests/units/classes/Project/Ressources/embed_parent.qgs
  tests/units/classes/Project/Ressources/readLayers_310.qgs
  tests/units/classes/Project/Ressources/readLayers_316.qgs
  tests/units/edition/qgisVectorLayerDatasourceTest.php
Labels: tests, run end2end

#5541 e2e: replace `data-original-title` by `title`
  tests/end2end/playwright/n_to_m_relations.spec.js
  tests/end2end/playwright/print.spec.js
  tests/end2end/playwright/webdav-upload.spec.js
Labels: run end2end, backport release_3_8

#5548 Tests - Do not display a warning about outdated QGIS plugin version in tests when required, needed for checking warnings about layers
  assets/src/modules/ExecuteJSFromServer.js
  lizmap/modules/view/controllers/lizMap.classic.php
  tests/end2end/playwright/filter-layer-by-user.spec.js
  tests/end2end/playwright/pages/project.js
  tests/end2end/playwright/project_load_warning.spec.js
  tests/qgis-projects/tests/project_cfg_warnings.qgs
  tests/qgis-projects/tests/project_cfg_warnings.qgs.cfg
Labels: tests, run end2end, backport release_3_8, backport release_3_9

#5551 Tests - Do not display a warning about outdated QGIS plugin version in tests when required, needed for checking warnings about layers
  assets/src/modules/ExecuteJSFromServer.js
  lizmap/modules/view/controllers/lizMap.classic.php
  tests/end2end/playwright/filter-layer-by-user.spec.js
  tests/end2end/playwright/pages/project.js
  tests/end2end/playwright/project_load_warning.spec.js
  tests/qgis-projects/tests/project_cfg_warnings.qgs
  tests/qgis-projects/tests/project_cfg_warnings.qgs.cfg
Labels: tests, run end2end

#5544 [Bugfix] Wrong measure when both angle and dimension constraints are set on drawing tool
  assets/src/modules/Digitizing.js
  tests/end2end/playwright/draw.spec.js
  tests/end2end/playwright/pages/drawpage.js
  tests/end2end/playwright/pages/project.js
Labels: map viewer, sponsored development, run end2end, backport release_3_8, backport release_3_9, draw

#5554 [Backport release_3_8][Bugfix] Wrong measure when both angle and dimension constraints are set on drawing tool
  assets/src/modules/Digitizing.js
  tests/end2end/playwright/draw.spec.js
  tests/end2end/playwright/pages/drawpage.js
  tests/end2end/playwright/pages/project.js
Labels: map viewer, sponsored development, run end2end, draw

#5555 [Backport release_3_9][Bugfix] Wrong measure when both angle and dimension constraints are set on drawing tool
  assets/src/modules/Digitizing.js
  tests/end2end/playwright/draw.spec.js
  tests/end2end/playwright/pages/drawpage.js
  tests/end2end/playwright/pages/project.js
Labels: map viewer, sponsored development, run end2end, draw

#5558 Admin - drop the last part of version when comparing to modules as well
  lizmap/modules/admin/lib/ModulesInfo/ModulesChecker.php
Labels: administration pages, backport release_3_8, backport release_3_9

#5559 Admin - drop the last part of version when comparing to modules as well
  lizmap/modules/admin/lib/ModulesInfo/ModulesChecker.php
Labels: administration pages, backport release_3_8

#5566 Fix typo in WMSRequest.php
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
Labels: run end2end, backport release_3_8, backport release_3_9

#5570 [Bugfix] JS Search: IGN address search uses map view instead of maxExtent
  assets/src/modules/Search.js
Labels: user interface, sponsored development, javascript, run end2end, backport release_3_9

#5568 [Bugfix] JS Atlas: features were not projected to map
  assets/src/legacy/atlas.js
  tests/end2end/playwright/viewport.spec.js
Labels: user interface, sponsored development, javascript, run end2end, backport release_3_9

#5574 Tests - Quick review about E2E lizmap-features-table
  assets/src/modules/state/MapLayer.js
  tests/end2end/playwright/lizmap-features-table.spec.js
  tests/end2end/playwright/pages/project.js
  tests/qgis-projects/tests/lizmap_features_table.qgs
Labels: run end2end, backport release_3_8, backport release_3_9

#5580 Fix: zoom in form filter
  assets/src/legacy/filter.js
Labels: bug, filter forms, run end2end

#5571 Popup - Improve styling of Drag&Drop designed popup
  lizmap/www/assets/css/map.css
  lizmap/www/themes/default/css/map.css
Labels: user interface, sponsored development, run end2end, backport master, backport release_3_8

#5579 Admin - Move the drop commit ID into the modules checker class, because it is needed twice
  lizmap/modules/admin/controllers/server_information.classic.php
  lizmap/modules/admin/lib/ModulesInfo/ModulesChecker.php
Labels: administration pages, run end2end

#5584 [Backport master] Popup - Improve styling of drag-and-drop designed popups
  lizmap/www/assets/css/map.css
  lizmap/www/themes/default/css/map.css
Labels: user interface, popup, sponsored development, run end2end

#5581 Lizmap-Features-Table - Evaluate QGIS expressions which are in lizmap-field
  lizmap/modules/lizmap/classes/qgisExpressionUtils.class.php
  lizmap/modules/lizmap/controllers/features.classic.php
  tests/end2end/playwright/lizmap-features-table.spec.js
  tests/qgis-projects/tests/lizmap_features_table.qgs
Labels: run end2end, expression, backport release_3_9

#5582 Tests e2e Playwright: Add accessor to Jelix's DebugBar
  tests/end2end/playwright/axis_orientation.spec.js
  tests/end2end/playwright/pages/admin.js
  tests/end2end/playwright/pages/base.js
  tests/end2end/playwright/pages/homepage.js
  tests/end2end/playwright/pages/project.js
Labels: tests, run end2end, backport release_3_8, backport release_3_9

#5592 Fix PHP Warning about Lizmap\Project\Qgis\LayerTreeGroup->items null
  lizmap/modules/lizmap/lib/Project/Qgis/LayerTreeGroup.php
  tests/units/classes/Project/Qgis/LayerTreeGroupTest.php
Labels: php, backport release_3_9

#5593 [Backport release_3_8] REST API for projects
  lizmap/app/system/api/auth.coord.ini.php
  lizmap/app/system/api/config.ini.php
  lizmap/app/system/mainconfig.ini.php
  lizmap/app/system/urls.xml
  lizmap/modules/admin/controllers/maps.classic.php
  lizmap/modules/admin/lib/ModulesInfo/ModulesChecker.php
  lizmap/modules/admin/lib/RepositoryRightsService.php
  lizmap/modules/admin_api/controllers/project_rest.classic.php
  lizmap/modules/admin_api/controllers/repository_rest.classic.php
  lizmap/modules/admin_api/install/configure.php
  lizmap/modules/admin_api/install/install.php
  lizmap/modules/admin_api/lib/Credentials.php
  lizmap/modules/admin_api/lib/Error.php
  lizmap/modules/admin_api/lib/RestApiCtrl.php
  lizmap/modules/admin_api/lib/Utils.php
  lizmap/modules/admin_api/module.xml
  lizmap/modules/admin_api/urls.xml
  lizmap/modules/lizmap/controllers/service.classic.php
  lizmap/modules/lizmap/lib/App/Checker.php
  lizmap/www/api.php
  tests/Makefile
  tests/README.md
  tests/api/openapi.yaml
  tests/docker-compose.yml
  tests/docker-conf/nginx-default.conf
  tests/end2end/playwright/globals.js
  tests/end2end/playwright/requests-api.spec.js
  tests/end2end/playwright/requests-metadata.spec.js
Labels: administration pages, run end2end

#5597 [Backport release_3_8] Tests e2e Playwright: Add accessor to Jelix's DebugBar
  tests/end2end/playwright/axis_orientation.spec.js
  tests/end2end/playwright/pages/admin.js
  tests/end2end/playwright/pages/base.js
  tests/end2end/playwright/pages/homepage.js
  tests/end2end/playwright/pages/project.js
Labels: tests, run end2end

#5598 [Backport release_3_8] Tests e2e Playwright: Lizmap atlas feature
  tests/end2end/playwright/atlas.spec.js
  tests/end2end/playwright/pages/atlaspage.js
  tests/end2end/playwright/pages/project.js
  tests/qgis-projects/tests/atlas_2154.qgs
  tests/qgis-projects/tests/atlas_2154.qgs.cfg
Labels: user interface, map viewer, sponsored development, javascript, run end2end
