Repository 3liz/lizmap-web-client, pull requests merged in 2025-02, with the labels that each got.

#5326 Tests - Add move point tests about editing value relation
  tests/end2end/playwright/editing-value-relation.spec.js
  tests/qgis-projects/tests/form_edition_value_relation_field.md
Labels: run end2end, backport release_3_7, backport release_3_8, backport release_3_9

#5323 Tests e2e playwright print project projection refactoring
  tests/end2end/playwright/globals.js
  tests/end2end/playwright/mock/print_in_project_projection/baselayer/Paysage_A4.pdf
  tests/end2end/playwright/mock/print_in_project_projection/empty/Paysage_A4.pdf
  tests/end2end/playwright/print_in_project_projection.spec.js
Labels: tests, refactoring, run end2end, backport release_3_8, backport release_3_9

#5262 PHP: caching QGIS Server metadata
  lizmap/composer.json
  lizmap/modules/lizmap/install/upgrade_requestscache.php
  lizmap/modules/lizmap/lib/Request/Proxy.php
  lizmap/modules/lizmap/lib/Request/QgisServerMetadataRequestMatcher.php
  lizmap/modules/lizmap/lib/Request/RequestCacheStorage.php
  lizmap/var/config/profiles.ini.php.dist
  tests/docker-conf/phpfpm/profiles.ini.php
  tests/units/classes/Request/QgisServerMetadataRequestMatcherTest.php
Labels: QGIS Server, run end2end, php, backport release_3_9

#5308 Restructuration package.json
  .eslintrc.json
  .github/workflows/e2e_tests.yml
  .github/workflows/tests.yml
  .gitignore
  CONTRIBUTING.md
  Makefile
  assets/package.json
  assets/webpack.common.js
  package-lock.json
  package.json
  tests/README.md
  tests/docker-conf/phpfpm/appctl.sh
  tests/end2end/package-lock.json
  tests/end2end/package.json
  tests/end2end/playwright/axis_orientation.spec.js
  tests/end2end/playwright/overview.spec.js
  tests/end2end/playwright/permalink.spec.js
  tests/end2end/playwright/viewport.spec.js
  tests/js-units/node/config.test.js
  tests/js-units/node/config/attributeTable.test.js
  tests/js-units/node/config/base.test.js
  tests/js-units/node/config/baselayer.test.js
  tests/js-units/node/config/dataviz.test.js
  tests/js-units/node/config/edition.test.js
  tests/js-units/node/config/formFilter.test.js
  tests/js-units/node/config/layer.test.js
  tests/js-units/node/config/layerTree.test.js
  tests/js-units/node/config/layersOrder.test.js
  tests/js-units/node/config/locate.test.js
  tests/js-units/node/config/metadata.test.js
  tests/js-units/node/config/options.test.js
  tests/js-units/node/config/printTemplate.test.js
  tests/js-units/node/config/theme.test.js
  tests/js-units/node/config/timemanager.test.js
  tests/js-units/node/config/tools.test.js
  tests/js-units/node/config/tooltip.test.js
  tests/js-units/node/state.test.js
  tests/js-units/node/state/baselayer.test.js
  tests/js-units/node/state/externallayertree.test.js
  tests/js-units/node/state/externalmaplayer.test.js
  tests/js-units/node/state/layer.test.js
  tests/js-units/node/state/layerTree.test.js
  tests/js-units/node/state/map.test.js
  tests/js-units/node/state/maplayer.test.js
  tests/js-units/node/state/symbology.test.js
  tests/js-units/node/utils.test.js
  tests/js-units/node/utils/converters.test.js
  tests/js-units/node/utils/enums.test.js
  tests/js-units/node/utils/extent.test.js
  tests/js-units/node/wfs.test.js
  tests/js-units/node/wms.test.js
  tests/js-units/package-lock.json
  tests/js-units/package.json
Labels: run end2end, backport release_3_8

#5333 Restructuration package.json
  .eslintrc.json
  .github/workflows/e2e_tests.yml
  .github/workflows/tests.yml
  .gitignore
  CONTRIBUTING.md
  Makefile
  assets/package.json
  assets/webpack.common.js
  package-lock.json
  package.json
  tests/README.md
  tests/docker-conf/phpfpm/appctl.sh
  tests/end2end/package-lock.json
  tests/end2end/package.json
  tests/end2end/playwright/axis_orientation.spec.js
  tests/end2end/playwright/overview.spec.js
  tests/end2end/playwright/permalink.spec.js
  tests/end2end/playwright/viewport.spec.js
  tests/js-units/node/config.test.js
  tests/js-units/node/config/attributeTable.test.js
  tests/js-units/node/config/base.test.js
  tests/js-units/node/config/baselayer.test.js
  tests/js-units/node/config/dataviz.test.js
  tests/js-units/node/config/edition.test.js
  tests/js-units/node/config/formFilter.test.js
  tests/js-units/node/config/layer.test.js
  tests/js-units/node/config/layerTree.test.js
  tests/js-units/node/config/layersOrder.test.js
  tests/js-units/node/config/locate.test.js
  tests/js-units/node/config/metadata.test.js
  tests/js-units/node/config/options.test.js
  tests/js-units/node/config/printTemplate.test.js
  tests/js-units/node/config/theme.test.js
  tests/js-units/node/config/timemanager.test.js
  tests/js-units/node/config/tools.test.js
  tests/js-units/node/config/tooltip.test.js
  tests/js-units/node/state.test.js
  tests/js-units/node/state/baselayer.test.js
  tests/js-units/node/state/externallayertree.test.js
  tests/js-units/node/state/externalmaplayer.test.js
  tests/js-units/node/state/layer.test.js
  tests/js-units/node/state/layerTree.test.js
  tests/js-units/node/state/map.test.js
  tests/js-units/node/state/maplayer.test.js
  tests/js-units/node/state/symbology.test.js
  tests/js-units/node/utils.test.js
  tests/js-units/node/utils/converters.test.js
  tests/js-units/node/utils/enums.test.js
  tests/js-units/node/utils/extent.test.js
  tests/js-units/node/wfs.test.js
  tests/js-units/node/wms.test.js
  tests/js-units/package-lock.json
  tests/js-units/package.json
Labels: run end2end

#5324 Tests e2e playwright print refactoring
  tests/end2end/playwright/print.spec.js
Labels: tests, refactoring, run end2end, backport release_3_8, backport release_3_9

#5334 Update eslint
  .eslintrc.json
  .github/workflows/lint.yml
  assets/src/components/ActionSelector.js
  assets/src/components/FeatureToolbar.js
  assets/src/components/FeaturesTable.js
  assets/src/components/MousePosition.js
  assets/src/components/Print.js
  assets/src/dependencies/mgrs.js
  assets/src/legacy/map-projects.js
  assets/src/legacy/map.js
  assets/src/modules/Action.js
  assets/src/modules/Config.js
  assets/src/modules/Digitizing.js
  assets/src/modules/Edition.js
  assets/src/modules/Errors.js
  assets/src/modules/ExecuteJSFromServer.js
  assets/src/modules/FeaturesTable.js
  assets/src/modules/Geolocation.js
  assets/src/modules/GeolocationSurvey.js
  assets/src/modules/Layers.js
  assets/src/modules/Lizmap.js
  assets/src/modules/LocateByLayer.js
  assets/src/modules/MGRS.js
  assets/src/modules/Popup.js
  assets/src/modules/ProxyEvents.js
  assets/src/modules/Search.js
  assets/src/modules/SelectionTool.js
  assets/src/modules/SingleWMSLayer.js
  assets/src/modules/State.js
  assets/src/modules/WFS.js
  assets/src/modules/WMS.js
  assets/src/modules/action/Symbology.js
  assets/src/modules/config/BaseObject.js
  assets/src/modules/config/LayerTree.js
  assets/src/modules/interaction/Draw.js
  assets/src/modules/map.js
  assets/src/modules/state/BaseLayer.js
  assets/src/modules/state/Symbology.js
  assets/src/modules/utils/Extent.js
  assets/src/utils/EventDispatcher.js
  eslint.config.mjs
  package-lock.json
  package.json
  tests/README.md
Labels: javascript, run end2end, backport release_3_8, backport release_3_9

#5339 Update ESLint config to 9.19.0
  .eslintrc.json
  .github/workflows/lint.yml
  assets/src/components/ActionSelector.js
  assets/src/components/FeatureToolbar.js
  assets/src/components/FeaturesTable.js
  assets/src/components/MousePosition.js
  assets/src/components/Print.js
  assets/src/dependencies/mgrs.js
  assets/src/legacy/map-projects.js
  assets/src/legacy/map.js
  assets/src/modules/Action.js
  assets/src/modules/Config.js
  assets/src/modules/Digitizing.js
  assets/src/modules/Edition.js
  assets/src/modules/Errors.js
  assets/src/modules/ExecuteJSFromServer.js
  assets/src/modules/FeaturesTable.js
  assets/src/modules/Geolocation.js
  assets/src/modules/GeolocationSurvey.js
  assets/src/modules/Layers.js
  assets/src/modules/Lizmap.js
  assets/src/modules/LocateByLayer.js
  assets/src/modules/MGRS.js
  assets/src/modules/Popup.js
  assets/src/modules/ProxyEvents.js
  assets/src/modules/Search.js
  assets/src/modules/SelectionTool.js
  assets/src/modules/SingleWMSLayer.js
  assets/src/modules/State.js
  assets/src/modules/WFS.js
  assets/src/modules/WMS.js
  assets/src/modules/action/Symbology.js
  assets/src/modules/config/BaseObject.js
  assets/src/modules/config/LayerTree.js
  assets/src/modules/interaction/Draw.js
  assets/src/modules/map.js
  assets/src/modules/state/BaseLayer.js
  assets/src/modules/state/Symbology.js
  assets/src/modules/utils/Extent.js
  assets/src/utils/EventDispatcher.js
  eslint.config.mjs
  package-lock.json
  package.json
  tests/README.md
Labels: tests, javascript, run end2end, backport release_3_8

#5340 Tests e2e Playwright base layers: mocking tiles
  tests/end2end/playwright/base-layers.spec.js
  tests/end2end/playwright/mock/base_layers/geopf/ORTHOIMAGERY_ORTHOPHOTOS/19/191427/267785.jpg
  tests/end2end/playwright/mock/base_layers/geopf/ORTHOIMAGERY_ORTHOPHOTOS/19/191427/267786.jpg
  tests/end2end/playwright/mock/base_layers/geopf/ORTHOIMAGERY_ORTHOPHOTOS/19/191427/267787.jpg
  tests/end2end/playwright/mock/base_layers/geopf/ORTHOIMAGERY_ORTHOPHOTOS/19/191428/267785.jpg
  tests/end2end/playwright/mock/base_layers/geopf/ORTHOIMAGERY_ORTHOPHOTOS/19/191428/267786.jpg
  tests/end2end/playwright/mock/base_layers/geopf/ORTHOIMAGERY_ORTHOPHOTOS/19/191428/267787.jpg
  tests/end2end/playwright/mock/base_layers/osm/tiles/19/267785/191427.png
  tests/end2end/playwright/mock/base_layers/osm/tiles/19/267785/191428.png
  tests/end2end/playwright/mock/base_layers/osm/tiles/19/267786/191427.png
  tests/end2end/playwright/mock/base_layers/osm/tiles/19/267786/191428.png
  tests/end2end/playwright/mock/base_layers/osm/tiles/19/267787/191427.png
  tests/end2end/playwright/mock/base_layers/osm/tiles/19/267787/191428.png
  tests/end2end/playwright/mock/transparent_tile.png
  tests/end2end/playwright/mock/white_tile.jpg
Labels: tests, refactoring, run end2end, backport release_3_8, backport release_3_9

#5343 Tests - Make flaky tests failing
  .github/workflows/e2e_tests.yml
  tests/end2end/playwright/globals.js
  tests/end2end/playwright/landing_page_config.spec.js
  tests/end2end/playwright/mock/README.md
  tests/end2end/playwright/print_in_project_projection.spec.js
Labels: tests, run end2end, backport release_3_8, backport release_3_9

#5346 Tests - Migrate overview tests
  tests/README.md
  tests/end2end/playwright/overview.spec.js
  tests/end2end/playwright/permalink.spec.js
  tests/end2end/playwright/project_load_warning.spec.js
  tests/end2end/playwright/qgis-request.spec.js
  tests/end2end/playwright/viewport.spec.js
Labels: tests, run end2end, backport release_3_8, backport release_3_9

#5357 GH Action - Add workflow check concurrency, eslint only in assets/src for now
  .github/workflows/e2e_tests.yml
  assets/src/modules/Snapping.js
  eslint.config.mjs
  tests/end2end/othersite/main.js
Labels: tests, javascript, backport release_3_8, backport release_3_9

#5356 Removed some PHPStan ignoreErrors
  phpstan-baseline.neon
Labels: php, backport release_3_8, backport release_3_9

#5360 GH Action - Add workflow check concurrency, eslint only in assets/src for now
  .github/workflows/e2e_tests.yml
  assets/src/modules/Snapping.js
  eslint.config.mjs
  tests/end2end/othersite/main.js
Labels: javascript

#5359 Tests - Also lint E2E tests files
  eslint.config.mjs
  package.json
  tests/end2end/cypress/integration/cmdline-wmts-ghaction.js
  tests/end2end/cypress/integration/dataviz-ghaction.js
  tests/end2end/cypress/integration/feature_toolbar-ghaction.js
  tests/end2end/cypress/integration/filter_layer_data_by_polygon_for_groups-ghaction.js
  tests/end2end/cypress/integration/form_edit_related_child_data-ghaction.js
  tests/end2end/cypress/integration/requests-getcapabilities-ghaction.js
  tests/end2end/cypress/integration/requests-wfs-ghaction.js
  tests/end2end/cypress/integration/selectionTool-ghaction.js
  tests/end2end/cypress/integration/zoom-to-layer-ghaction.js
  tests/end2end/cypress/plugins/index.js
  tests/end2end/cypress/support/function.js
  tests/end2end/playwright/axis_orientation.spec.js
  tests/end2end/playwright/cors.spec.js
  tests/end2end/playwright/dnd-form.spec.js
  tests/end2end/playwright/editing-value-relation.spec.js
  tests/end2end/playwright/edition-form.spec.js
  tests/end2end/playwright/error-occurred.spec.js
  tests/end2end/playwright/globals.js
  tests/end2end/playwright/media.spec.js
  tests/end2end/playwright/n_to_m_relations.spec.js
  tests/end2end/playwright/overview.spec.js
  tests/end2end/playwright/pages/project.js
  tests/end2end/playwright/popup.spec.js
  tests/end2end/playwright/print.spec.js
  tests/end2end/playwright/project_load_warning.spec.js
  tests/end2end/playwright/requests-dataviz-api.spec.js
  tests/end2end/playwright/requests-metadata.spec.js
  tests/end2end/playwright/server-information.spec.js
  tests/end2end/playwright/snap.spec.js
  tests/end2end/playwright/xss.spec.js
  tests/qgis-projects/tests/media/js/javascript_error/invalid_javascript.js
  tests/qgis-projects/tests/media/js/world-3857/add-ol-layers.js
Labels: tests, run end2end, backport release_3_8, backport release_3_9

#5361 Tests - Also lint E2E tests files
  eslint.config.mjs
  package.json
  tests/end2end/cypress/integration/cmdline-wmts-ghaction.js
  tests/end2end/cypress/integration/feature_toolbar-ghaction.js
  tests/end2end/cypress/integration/filter_layer_data_by_polygon_for_groups-ghaction.js
  tests/end2end/cypress/integration/form_edit_related_child_data-ghaction.js
  tests/end2end/cypress/integration/requests-getcapabilities-ghaction.js
  tests/end2end/cypress/integration/requests-wfs-ghaction.js
  tests/end2end/cypress/integration/selectionTool-ghaction.js
  tests/end2end/cypress/integration/zoom-to-layer-ghaction.js
  tests/end2end/cypress/plugins/index.js
  tests/end2end/cypress/support/function.js
  tests/end2end/playwright/axis_orientation.spec.js
  tests/end2end/playwright/cors.spec.js
  tests/end2end/playwright/dnd-form.spec.js
  tests/end2end/playwright/editing-value-relation.spec.js
  tests/end2end/playwright/edition-form.spec.js
  tests/end2end/playwright/error-occurred.spec.js
  tests/end2end/playwright/globals.js
  tests/end2end/playwright/media.spec.js
  tests/end2end/playwright/n_to_m_relations.spec.js
  tests/end2end/playwright/overview.spec.js
  tests/end2end/playwright/pages/project.js
  tests/end2end/playwright/popup.spec.js
  tests/end2end/playwright/print.spec.js
  tests/end2end/playwright/project_load_warning.spec.js
  tests/end2end/playwright/requests-dataviz-api.spec.js
  tests/end2end/playwright/requests-metadata.spec.js
  tests/end2end/playwright/server-information.spec.js
  tests/end2end/playwright/snap.spec.js
  tests/end2end/playwright/xss.spec.js
  tests/qgis-projects/tests/media/js/javascript_error/invalid_javascript.js
  tests/qgis-projects/tests/media/js/world-3857/add-ol-layers.js
Labels: tests, run end2end, backport release_3_8

#5369 Update lizmapServices.class.php
  lizmap/modules/lizmap/classes/lizmapServices.class.php
Labels: backport release_3_9

#5362 Limit line length to 400 in JS
  assets/src/components/Digitizing.js
  assets/src/components/Geolocation.js
  assets/src/components/MousePosition.js
  assets/src/components/SelectionInvert.js
  assets/src/components/SelectionTool.js
  assets/src/components/Snapping.js
  assets/src/dependencies/mgrs.js
  assets/src/modules/state/ExternalMapLayer.js
  assets/src/modules/state/Symbology.js
  assets/src/modules/state/SymbologyIcons.js
  eslint.config.mjs
  package-lock.json
  package.json
  tests/end2end/playwright/filter-layer-by-user.spec.js
  tests/end2end/playwright/legend.spec.js
  tests/js-units/node/state/externallayertree.test.js
  tests/js-units/node/state/externalmaplayer.test.js
  tests/js-units/node/state/layerTree.test.js
  tests/js-units/node/state/symbology.test.js
Labels: tests, refactoring, backport release_3_9

#5363 Revamp Stylelint on CSS files
  .github/workflows/lint.yml
  lizmap/.stylelintrc.json
  lizmap/www/assets/css/action.css
  lizmap/www/assets/css/admin.css
  lizmap/www/assets/css/dataviz/dataviz.css
  lizmap/www/assets/css/embed.css
  lizmap/www/assets/css/filter.css
  lizmap/www/assets/css/main.css
  lizmap/www/assets/css/map.css
  lizmap/www/assets/css/media.css
  lizmap/www/assets/css/ol.css
  lizmap/www/assets/css/view.css
  package-lock.json
  package.json
  stylelint.config.mjs
Labels: tests, backport release_3_9

#5371 [Backport release_3_9] Limit line length to 400 in JS
  assets/src/components/Digitizing.js
  assets/src/components/Geolocation.js
  assets/src/components/MousePosition.js
  assets/src/components/SelectionInvert.js
  assets/src/components/SelectionTool.js
  assets/src/components/Snapping.js
  assets/src/dependencies/mgrs.js
  assets/src/modules/state/ExternalMapLayer.js
  assets/src/modules/state/Symbology.js
  assets/src/modules/state/SymbologyIcons.js
  eslint.config.mjs
  package-lock.json
  package.json
  tests/end2end/playwright/filter-layer-by-user.spec.js
  tests/end2end/playwright/legend.spec.js
  tests/js-units/node/state/externallayertree.test.js
  tests/js-units/node/state/externalmaplayer.test.js
  tests/js-units/node/state/layerTree.test.js
  tests/js-units/node/state/symbology.test.js
Labels: tests, refactoring

#5374 [Backport release_3_8] Use a parametrized test for points/lines/polygons manual tests
  lizmap/modules/view/templates/popupDefaultContent.tpl
  tests/end2end/playwright/dnd-form.spec.js
  tests/end2end/playwright/editing-geometry.spec.js
  tests/end2end/playwright/pages/project.js
  tests/qgis-projects/tests/form_edition_simple_fields.md
  tests/qgis-projects/tests/form_edition_simple_fields.qgs.cfg
Labels: run end2end

#5377 Follow up previous commit about Jelix update
  lizmap/www/assets/jelix/js/jacl2db_admin.js
  lizmap/www/assets/jelix/js/jforms_jquery.js
  lizmap/www/assets/jelix/js/jforms_jquery.js.map
Labels: jelix

#5376 Fix tests e2e playwright JS module
  tests/end2end/cypress/plugins/index.cjs
  tests/end2end/package.json
  tests/end2end/playwright/auth.setup.ts
  tests/end2end/playwright/bad-repository.spec.js
  tests/end2end/playwright/base-layers.spec.js
  tests/end2end/playwright/custom-javascript-api.spec.js
  tests/end2end/playwright/draw.spec.js
  tests/end2end/playwright/filter-layer-by-user.spec.js
  tests/end2end/playwright/globals.js
  tests/end2end/playwright/landing_page_config.spec.js
  tests/end2end/playwright/legend.spec.js
  tests/end2end/playwright/map-projects-switcher.spec.js
  tests/end2end/playwright/maps-management.spec.js
  tests/end2end/playwright/print.spec.js
  tests/end2end/playwright/print_in_project_projection.spec.js
  tests/end2end/playwright/project_load_warning.spec.js
  tests/end2end/playwright/requests-metadata.spec.js
  tests/end2end/playwright/server-information.spec.js
  tests/end2end/playwright/webdav-upload.spec.js
Labels: tests, refactoring, run end2end, backport release_3_9

#5368 Fix WKT geometry string provided by QGIS Server in GetFeatureInfo
  lizmap/modules/lizmap/classes/lizmapWkt.class.php
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
  tests/units/classes/lizmapWktTest.php
Labels: QGIS Server, sponsored development, tests, run end2end, php, backport release_3_8, backport release_3_9

#5379 Tests e2e Playwright axis orientation: mocking tiles
  tests/end2end/playwright/axis_orientation.spec.js
  tests/end2end/playwright/mock/axis_orientation/osm/tiles/6/33/20.png
  tests/end2end/playwright/mock/axis_orientation/osm/tiles/6/33/21.png
  tests/end2end/playwright/mock/axis_orientation/osm/tiles/6/33/22.png
  tests/end2end/playwright/mock/axis_orientation/osm/tiles/6/34/20.png
  tests/end2end/playwright/mock/axis_orientation/osm/tiles/6/34/21.png
  tests/end2end/playwright/mock/axis_orientation/osm/tiles/6/34/22.png
  tests/end2end/playwright/mock/axis_orientation/osm/tiles/6/35/22.png
  tests/end2end/playwright/mock/axis_orientation/osm/tiles/6/35/23.png
  tests/end2end/playwright/mock/axis_orientation/osm/tiles/6/36/22.png
  tests/end2end/playwright/mock/axis_orientation/osm/tiles/6/36/23.png
  tests/end2end/playwright/mock/axis_orientation/osm/tiles/6/37/22.png
  tests/end2end/playwright/mock/axis_orientation/osm/tiles/6/37/23.png
Labels: tests, run end2end, backport release_3_8, backport release_3_9

#5367 [Release 3_8] Upgrade phpstan
  .github/workflows/php-stan.yml
  lizmap/modules/lizmap/classes/lizmap.class.php
  lizmap/modules/lizmap/lib/Project/Project.php
  phpstan-baseline.neon
  phpstan-ci.neon
  phpstan.neon
  tests/units/composer.json
Labels: php

#5385 [Backport release_3_8] Tests e2e Playwright axis orientation: mocking tiles
  tests/end2end/playwright/axis_orientation.spec.js
  tests/end2end/playwright/mock/axis_orientation/osm/tiles/6/33/20.png
  tests/end2end/playwright/mock/axis_orientation/osm/tiles/6/33/21.png
  tests/end2end/playwright/mock/axis_orientation/osm/tiles/6/33/22.png
  tests/end2end/playwright/mock/axis_orientation/osm/tiles/6/34/20.png
  tests/end2end/playwright/mock/axis_orientation/osm/tiles/6/34/21.png
  tests/end2end/playwright/mock/axis_orientation/osm/tiles/6/34/22.png
  tests/end2end/playwright/mock/axis_orientation/osm/tiles/6/35/22.png
  tests/end2end/playwright/mock/axis_orientation/osm/tiles/6/35/23.png
  tests/end2end/playwright/mock/axis_orientation/osm/tiles/6/36/22.png
  tests/end2end/playwright/mock/axis_orientation/osm/tiles/6/36/23.png
  tests/end2end/playwright/mock/axis_orientation/osm/tiles/6/37/22.png
  tests/end2end/playwright/mock/axis_orientation/osm/tiles/6/37/23.png
Labels: tests, run end2end

#5387 Tests - Small helper to have a file path in Playwright
  tests/end2end/playwright/axis_orientation.spec.js
  tests/end2end/playwright/base-layers.spec.js
  tests/end2end/playwright/globals.js
  tests/end2end/playwright/mock/README.md
  tests/end2end/playwright/print_in_project_projection.spec.js
  tests/end2end/playwright/webdav-upload.spec.js
Labels: tests, run end2end, backport release_3_8, backport release_3_9

#5392 Review E2E setup about tags and timeout on login page
  .github/workflows/e2e_tests.yml
  tests/end2end/playwright/auth.setup.ts
Labels: run end2end, backport release_3_8, backport release_3_9

#5393 Tests - Wait for the main web page to be HTTP 200
  tests/end2end/playwright/auth.setup.ts
  tests/end2end/playwright/globals.js
Labels: run end2end, backport release_3_8, backport release_3_9

#5389 Tests - Use toHaveLength
  tests/end2end/playwright/globals.js
  tests/end2end/playwright/map-projects-switcher.spec.js
  tests/end2end/playwright/print.spec.js
  tests/end2end/playwright/print_in_project_projection.spec.js
  tests/end2end/playwright/timemanage.spec.js
Labels: tests, run end2end, backport release_3_8, backport release_3_9

#5399 Tests - Fix project home page cypress, moving to playwright
  tests/end2end/cypress/integration/projects_homepage-ghaction.js
  tests/end2end/playwright/landing_page_config.spec.js
  tests/end2end/playwright/pages/homepage.js
  tests/qgis-projects/tests/project_acl.qgs
  tests/qgis-projects/tests/project_acl.qgs.cfg
Labels: tests, run end2end, backport release_3_8, backport release_3_9

#5402 Tests - Fix project home page cypress, moving to playwright
  tests/end2end/cypress/integration/projects_homepage-ghaction.js
  tests/end2end/playwright/auth.setup.ts
  tests/end2end/playwright/landing_page_config.spec.js
  tests/end2end/playwright/pages/homepage.js
  tests/qgis-projects/tests/project_acl.qgs
  tests/qgis-projects/tests/project_acl.qgs.cfg
Labels: tests, run end2end

#5403 Tests - Fix flaky about dataviz API, checking members only
  tests/end2end/playwright/requests-dataviz-api.spec.js
Labels: tests, run end2end, backport release_3_8, backport release_3_9

#5404 Improve E2E tests reports
  .github/workflows/e2e_tests.yml
  tests/end2end/playwright.config.ts
  tests/end2end/playwright/print.spec.js
Labels: tests, run end2end, backport release_3_8, backport release_3_9

#5409 Refactoring lizmap-selection-invert
  assets/src/components/SelectionInvert.js
Labels: user interface, refactoring, javascript, run end2end, backport release_3_9

#5412 [Backport release_3_9] Refactoring lizmap-selection-invert
  assets/src/components/SelectionInvert.js
Labels: user interface, refactoring, javascript, run end2end

#5401 Avoid an admin to NOT see some projects in the administration panel
  lizmap/modules/admin/locales/en_US/admin.UTF-8.properties
  lizmap/modules/admin/templates/project_list_zone.tpl
  lizmap/modules/admin/zones/project_list.zone.php
  lizmap/modules/lizmap/classes/lizmapRepository.class.php
  lizmap/modules/lizmap/lib/Project/Repository.php
  tests/end2end/playwright/admin-qgis-projects.spec.js
  tests/end2end/playwright/pages/admin.js
Labels: administration pages, tests, run end2end, backport release_3_9

#5414 Fix: sandbox all iframes except those from the same origin
  assets/src/modules/Utils.js
  tests/end2end/playwright/xss.spec.js
  tests/qgis-projects/tests/xss.qgs.cfg
Labels: user interface, sponsored development, javascript, run end2end, backport release_3_8, backport release_3_9

#5375 ESLint - Limit lines to 350
  assets/src/modules/Digitizing.js
  eslint.config.mjs
  tests/end2end/playwright/print.spec.js
Labels: refactoring, run end2end, backport release_3_9

#5422 [Backport release_3_9] Refactoring lizmap-selection-tool
  assets/src/components/SelectionTool.js
  tests/end2end/cypress/integration/selectionTool-ghaction.js
Labels: user interface, refactoring, javascript, run end2end

#5423 Javascript - Refactoring about Utils.js
  assets/src/components/FeatureToolbar.js
  assets/src/components/Print.js
  assets/src/components/Treeview.js
  assets/src/legacy/map.js
  assets/src/modules/Digitizing.js
  assets/src/modules/FeaturesTable.js
  assets/src/modules/Lizmap.js
  assets/src/modules/Popup.js
  assets/src/modules/Utils.js
  assets/src/modules/WFS.js
  assets/src/modules/WMS.js
  assets/src/modules/map.js
  assets/src/modules/state/Map.js
  tests/js-units/node/utils.test.js
Labels: javascript, backport release_3_9

#5419 Rector - PHP instant Upgrades and Automated Refactoring
  .github/workflows/lint.yml
  lizmap/modules/lizmap/classes/lizmap.class.php
  lizmap/modules/lizmap/classes/lizmapTiler.class.php
  lizmap/modules/lizmap/classes/qgisExpressionUtils.class.php
  lizmap/modules/lizmap/classes/qgisVectorLayerDatasource.class.php
  lizmap/modules/lizmap/classes/tools.class.php
  lizmap/modules/lizmap/lib/CliHelpers/WMTSCache.php
  lizmap/modules/lizmap/lib/Commands/ProjectLoad.php
  lizmap/modules/lizmap/lib/Commands/WMTSCacheClean.php
  lizmap/modules/lizmap/lib/Commands/WMTSCapabilities.php
  lizmap/modules/lizmap/lib/Commands/WMTSSeed.php
  lizmap/modules/lizmap/lib/Form/QgisForm.php
  lizmap/modules/lizmap/lib/Logger/Config.php
  lizmap/modules/lizmap/lib/Project/Project.php
  lizmap/modules/lizmap/lib/Project/ProjectConfig.php
  lizmap/modules/lizmap/lib/Project/QgisProject.php
  lizmap/modules/lizmap/lib/Request/WFSRequest.php
  lizmap/modules/lizmap/lib/Server/Server.php
  lizmap/modules/view/classes/lizmapMapDockItem.class.php
  tests/README.md
  tests/units/composer.json
  tests/units/listRules.php
  tests/units/rector.php
  tests/units/testslib/ContextForTests.php
Labels: tests, run end2end, php, backport release_3_9

#5428 GH Action - Refactor versions used about PHP and Node, remove 3.7 from cron
  .github/workflows/cron_e2e.yml
  .github/workflows/docs.yml
  .github/workflows/e2e_tests.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  tests/README.md
Labels: backport release_3_8, backport release_3_9

#5429 [Bugfix] PHP Lizmap WKT utils - check coords
  lizmap/modules/lizmap/classes/lizmapWkt.class.php
  tests/units/classes/lizmapWktTest.php
Labels: bug, php, backport release_3_8, backport release_3_9

#5432 PHP Rector : Apply void type rules
  tests/units/classes/App/FileToolsTest.php
  tests/units/classes/App/XmlToolsTest.php
  tests/units/classes/Form/QgisFormControlPropertiesTest.php
  tests/units/classes/Form/QgisFormControlTest.php
  tests/units/classes/Form/QgisFormTest.php
  tests/units/classes/Log/ConfigTest.php
  tests/units/classes/Log/ItemTest.php
  tests/units/classes/Project/ProjectConfigTest.php
  tests/units/classes/Project/ProjectMainDataTest.php
  tests/units/classes/Project/ProjectTest.php
  tests/units/classes/Project/Qgis/AttributeTableConfigTest.php
  tests/units/classes/Project/Qgis/BaseQgisObjectTest.php
  tests/units/classes/Project/Qgis/LayerTreeGroupTest.php
  tests/units/classes/Project/Qgis/LayerTreeLayerTest.php
  tests/units/classes/Project/Qgis/LayerTreeRootTest.php
  tests/units/classes/Project/Qgis/LayoutItemTest.php
  tests/units/classes/Project/Qgis/MapLayerStyleManagerTest.php
  tests/units/classes/Project/Qgis/MapLayerTest.php
  tests/units/classes/Project/Qgis/ParserTest.php
  tests/units/classes/Project/Qgis/ProjectGuiPropertiesTest.php
  tests/units/classes/Project/Qgis/ProjectInfoTest.php
  tests/units/classes/Project/Qgis/ProjectPropertiesTest.php
  tests/units/classes/Project/Qgis/ProjectRelationTest.php
  tests/units/classes/Project/Qgis/ProjectVariablesTest.php
  tests/units/classes/Project/Qgis/ProjectVisibilityPresetTest.php
  tests/units/classes/Project/Qgis/RasterLayerPipeTest.php
  tests/units/classes/Project/Qgis/RasterLayerTest.php
  tests/units/classes/Project/Qgis/RendererV2Test.php
  tests/units/classes/Project/Qgis/SpatialRefSysTest.php
  tests/units/classes/Project/Qgis/VectorLayerConstraintExpressionTest.php
  tests/units/classes/Project/Qgis/VectorLayerConstraintTest.php
  tests/units/classes/Project/Qgis/VectorLayerEditWidgetTest.php
  tests/units/classes/Project/Qgis/VectorLayerFieldTest.php
  tests/units/classes/Project/Qgis/VectorLayerTest.php
  tests/units/classes/Project/QgisProjectTest.php
  tests/units/classes/Request/OGCRequestTest.php
  tests/units/classes/Request/ProxyTest.php
  tests/units/classes/Request/QgisServerMetadataRequestMatcherTest.php
  tests/units/classes/Request/WFSRequestTest.php
  tests/units/classes/Request/WMSRequestTest.php
  tests/units/classes/Request/WMTSRequestTest.php
  tests/units/classes/lizmapRepositoryTest.php
  tests/units/classes/lizmapServicesTest.php
  tests/units/classes/lizmapWktTest.php
  tests/units/classes/qgisExpressionUtilsTest.php
  tests/units/edition/qgisAttributeFormTest.php
  tests/units/edition/qgisVectorLayerDatasourceTest.php
  tests/units/rector.php
Labels: php, backport release_3_9

#5435 Tests - Do not upgrade embed_child.qgs to a newer version because of FlagDontResolveLayers
  tests/qgis-server-plugins/upgrade_projects.py
Labels: tests, run end2end, backport release_3_8, backport release_3_9

#5427 [Admin] Add anchors to repositories page
  lizmap/modules/admin/controllers/maps.classic.php
  lizmap/modules/admin/templates/config_section.tpl
  lizmap/modules/admin/templates/maps.tpl
  lizmap/www/assets/css/admin.css
  tests/end2end/playwright/maps-management.spec.js
Labels: user interface, administration pages, run end2end, backport release_3_9

#5304 API - Retrieve invalid layers between GetCapabilities en CFG file
  assets/src/modules/Config.js
  assets/src/modules/State.js
  assets/src/modules/config/LayerTree.js
  tests/js-units/node/config/baselayer.test.js
  tests/js-units/node/config/layerTree.test.js
  tests/js-units/node/config/layersOrder.test.js
  tests/js-units/node/state/baselayer.test.js
  tests/js-units/node/state/externallayertree.test.js
  tests/js-units/node/state/externalmaplayer.test.js
  tests/js-units/node/state/layer.test.js
  tests/js-units/node/state/layerTree.test.js
  tests/js-units/node/state/maplayer.test.js
Labels: administration pages, javascript, run end2end, backport release_3_8, backport release_3_9

#5436 Makefile - remove PHP-CS-Fixer command installed on the local machine
  Makefile
Labels: tests, php, backport release_3_8, backport release_3_9

#5449 Tests - Add helper to retrieve the QGS file path on the file system
  tests/end2end/playwright/globals.js
  tests/end2end/playwright/pages/project.js
Labels: tests, backport release_3_8, backport release_3_9

#5448 Tests - Improve debug when the length is not the same
  .github/workflows/e2e_tests.yml
  tests/end2end/playwright/globals.js
  tests/end2end/playwright/print.spec.js
Labels: run end2end, backport release_3_8, backport release_3_9

#5453 Tests - Improve debug when the length is not the same
  .github/workflows/e2e_tests.yml
  tests/end2end/playwright/globals.js
  tests/end2end/playwright/print.spec.js
Labels: tests, run end2end, backport release_3_8

#5454 Tests - Improve debug when the length is not the same
  .github/workflows/e2e_tests.yml
  tests/end2end/playwright/globals.js
  tests/end2end/playwright/print.spec.js
Labels: tests, run end2end

#5420 Refactoring - Review Digitizing.js to split attributes in HTML
  assets/src/components/Digitizing.js
Labels: javascript, run end2end, backport release_3_9

#5455 ESLint to 290 line length
  assets/src/components/FeatureToolbar.js
  assets/src/components/Geolocation.js
  assets/src/components/Snapping.js
  eslint.config.mjs
Labels: run end2end, backport release_3_9

#5456 [Backport release_3_9] Refactoring - Review Digitizing.js to split attributes in HTML
  assets/src/components/Digitizing.js
Labels: refactoring, javascript, run end2end

#5461 Change the PHP namespace for JSON Machine
  lizmap/modules/dataviz/classes/datavizPlot.class.php
Labels: refactoring, run end2end, php, backport release_3_9

#5459 [Backport] Max line length to 290 in JS
  assets/src/components/FeatureToolbar.js
  assets/src/components/Geolocation.js
  assets/src/components/Snapping.js
  eslint.config.mjs
Labels: run end2end

#5447 Fix: JS error if `pivotAttributeLayerConf` is undefined
  assets/src/legacy/edition.js
Labels: editing form, javascript, run end2end, backport release_3_8, backport release_3_9

#5458 [Refactoring] Rely on relation id for children popup positioning
  assets/src/legacy/map.js
Labels: sponsored development, refactoring, javascript, run end2end, backport release_3_8, backport release_3_9

#5463 [Fix] Distance constraint in the measure tool is not correctly interpreted in the map
  assets/src/modules/Digitizing.js
Labels: user interface, map viewer, javascript, run end2end

#5470 Tests - Skip Lizmap warning when loading the map about outdated CFG if needed in tests
  assets/src/modules/ExecuteJSFromServer.js
  lizmap/modules/view/controllers/lizMap.classic.php
  tests/end2end/playwright/filter-layer-by-user.spec.js
  tests/end2end/playwright/pages/project.js
  tests/end2end/playwright/project_load_warning.spec.js
Labels: tests, run end2end, backport release_3_8, backport release_3_9

#5471 [Fix JS] mainLizmap may not be ready when configs are loaded
  assets/src/legacy/map.js
Labels: javascript, run end2end, backport release_3_8, backport release_3_9

#5479 [Bugfix] Multiple calls of editableFeatures method breaks php
  lizmap/modules/lizmap/classes/qgisVectorLayer.class.php
  lizmap/modules/lizmap/lib/Request/WMSRequest.php
Labels: QGIS Server, user interface, sponsored development, run end2end, php, backport release_3_8, backport release_3_9

#5477 [Backport] Tests - Skip Lizmap warning when loading the map about outdated CFG if needed in tests
  assets/src/modules/ExecuteJSFromServer.js
  lizmap/modules/view/controllers/lizMap.classic.php
  tests/end2end/playwright/filter-layer-by-user.spec.js
  tests/end2end/playwright/pages/project.js
  tests/end2end/playwright/project_load_warning.spec.js
Labels: tests, run end2end
